workflows/[Main] KinCIR - Rédacteur de Programme R&D.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Assistant": {
      "main": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "Get Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHERCHEUR SCIENTIFIQUE": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Acquéreur de Citations": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur d'Etudes": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Documents": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur de Document": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ScratchPad": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur de Programme R&D": {
      "main": [
        [
          {
            "node": "nouveau message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-19T11:20:32.807Z",
  "id": "ge5mVvCJ8IYHSUQz",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Main] KinCIR - Rédacteur de Programme R&D",
  "nodes": [
    {
      "parameters": {},
      "id": "0f866cc8-b054-4139-b97b-a70261af57fe",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        3000,
        720
      ]
    },
    {
      "parameters": {},
      "id": "ae1a514f-d6f7-44f0-90f7-05f22aac60cc",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        3000,
        520
      ]
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('message').item.json[\"producteurId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "94a11890-4203-40ca-b060-6972dd9709fa",
      "name": "Get Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3500,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# ENTREE STANDARD",
        "height": 640.6189249242677,
        "width": 536.692184943248
      },
      "id": "1d620929-6871-4863-b3d5-8e2513f340cf",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "uM0Ul7juoL7DAqRB"
      },
      "id": "b09db201-c93e-47b7-ac9c-a0066d258a3a",
      "name": "message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3240,
        720
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_K25pMgsChtj1PKEenv0pM8LZ",
        "text": "=# Documents disponibles\n\n{{ $node[\"message\"].json.documentsDisponibles }}\n\n# Contexte\n\n{{ $node[\"message\"].json.contexte }}\n\n# Intention d'Usage\n\n{{ $node[\"message\"].json.intentionDUsage }}\n\n# Demande\n\n{{ $node[\"message\"].json[\"demandeurId\"] }} : {{ $node[\"message\"].json[\"demandeur\"] }} :\n``\n{{ $node[\"message\"].json[\"demande\"] }}\n``",
        "nativeTools": [
          "code_interpreter"
        ],
        "options": {}
      },
      "id": "30193135-bee0-497c-97bc-df5424b9c892",
      "name": "Rédacteur de Programme R&D",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        3800,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "redacteur_de_document",
        "description": "Rédige une version améliorée d'un passage du document demandé à partir d'une demande détaillée",
        "workflowId": "0T67aHjuqQEnrTN0",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "c21b061c-147c-486d-8f3d-63804cfc6fc4",
      "name": "Rédacteur de Document",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4420,
        1220
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "questionneur_de_documents",
        "description": "Donne une réponse précise issue du document demandé à partir d'un besoin informationnel.",
        "workflowId": "ebLHEt0swZVT9tks",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "fa36a288-6ed7-45fc-bc70-6d8510fcf877",
      "name": "Questionneur de Documents",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4280,
        1220
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "scratchpad",
        "description": "Crée une copie temporaire de toi même, sans les accès aux fonctions, afin de pouvoir répondre aux demandes de génération textuelles et de reflexion (exemples : prendre le temps de rédiger, faire plusieurs itérations pour améliorer un texte, etc.), à partir d'une demande précise et détaillée donnée en entrée.",
        "workflowId": "wTbd0CgnGrumh0qf",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "609be484-1af5-48ab-a0a2-61beb9781256",
      "name": "ScratchPad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4560,
        1220
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# OUTILS STANDARD",
        "height": 224.32004875594802,
        "width": 447.22204993824914
      },
      "id": "f655b0e7-78f0-467c-9830-39751b534ce5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        1140
      ]
    },
    {
      "parameters": {
        "name": "questionneur_d_etudes",
        "description": "Retourne des citations précises issues d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle.",
        "workflowId": "yQ79P9nuVKhkwZpD",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "9127f9ad-f895-4414-9a24-2071fd174cfe",
      "name": "Questionneur d'Etudes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4020,
        1340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "acquereur_de_citations",
        "description": "Retourne des citations précises issues d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle.",
        "workflowId": "It2FPpnGNxaxojxY",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $node[\"message\"].json.contexte }}"
            }
          ]
        }
      },
      "id": "6ffb3ff7-9bf0-4180-8d68-97f0114bdac8",
      "name": "Acquéreur de Citations",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3860,
        1340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# OUTILS SPECIFIQUES",
        "height": 413.4919569863578,
        "width": 468.47826732357714
      },
      "id": "65746ee1-263b-4c8c-8bc7-11181a0bef6d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3740,
        1140
      ]
    },
    {
      "parameters": {
        "content": "# COLLABORATEURS",
        "height": 224.32004875594802,
        "width": 355.66820106337036
      },
      "id": "e71f3439-a84e-4121-b3c7-4656344a7547",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3360,
        1140
      ]
    },
    {
      "parameters": {
        "name": "chercheur_scientifique",
        "description": "Donne une réponse précise issues d'études pertinentes à partir d'une demande informationnelle.",
        "workflowId": "f4z3JUKhsFgmKRgZ",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "8dd8f659-6aa5-4742-a689-55f3c90e0f54",
      "name": "CHERCHEUR SCIENTIFIQUE",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3400,
        1220
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Accès DB Etudes",
        "height": 272.5167132732499,
        "width": 391.3636040958942
      },
      "id": "0df49170-aa34-46f2-ba0b-84ccb6e6f225",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3780,
        1240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let message = $node[\"message\"].json;\n\nif (Object.keys($json).length == 1) {\n  message.demande = $json[Object.keys($json)[0]];\n} else {\n  message.demande = JSON.stringify($json);\n}\n\nreturn {\"message\":JSON.stringify(message)};"
      },
      "id": "88092f14-b57f-42d5-aa21-60749ee73b33",
      "name": "nouveau message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        720
      ]
    },
    {
      "parameters": {
        "content": "# SORTIE STANDARD",
        "height": 273.96047817628465,
        "width": 382.2960085494244
      },
      "id": "e9d6bea6-a6c0-4c5d-ae0f-61f92bb3f457",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4360,
        620
      ]
    }
  ],
  "pinData": {
    "On new manual Chat Message": [
      {
        "json": {
          "chat_input": "L’entreprise DurableFashion est spécialisée dans la MODE DURABLE ET ÉTHIQUE.\nActivité : Elle identifie et certifie des fabricants d’articles de mode durable et éthique, fait la promotion de leurs articles soulignant l’aspect durable et éthique, et commercialise leurs articles via internet et ses boutiques.\nLe but de l’entreprise est d’augmenter la part de mode durable et éthique dans la mode.\nLe principal objectif de recherche est de parvenir à influencer la consommation, et la production, d’articles de mode responsable et éthique.\nLes objectifs de recherche sont :\nParvenir à influencer les consommateurs à réaliser des achats de vêtements provenant de marques responsables et éthiques.\nParvenir à influencer les marques à produire des vêtements responsables et éthiques.\nParvenir à montrer l’impact des actions sur la consommation de biens de mode et mesurer cet impact sur l’environnement.\n"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        14
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-21T09:40:49.894Z",
      "updatedAt": "2024-01-21T09:40:49.894Z",
      "id": "HH1XeBJSkgxMCPd3",
      "name": "legacy"
    },
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2024-01-21T09:42:27.000Z",
  "versionId": "f6b1124b-9723-44fc-b362-c1afc8d9e9f3"
}