workflows/Account Manager.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Assistant": {
      "main": [
        [
          {
            "node": "ACCOUNT MANAGER : Gestionnaire de la relation client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "Get Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Documents": {
      "ai_tool": [
        [
          {
            "node": "ACCOUNT MANAGER : Gestionnaire de la relation client",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur de Document": {
      "ai_tool": [
        [
          {
            "node": "ACCOUNT MANAGER : Gestionnaire de la relation client",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ScratchPad": {
      "ai_tool": [
        [
          {
            "node": "ACCOUNT MANAGER : Gestionnaire de la relation client",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-17T21:34:00.231Z",
  "id": "hC7WoWW2uTYj0lot",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Account Manager",
  "nodes": [
    {
      "parameters": {
        "assistantId": "asst_usns6lJ8oyA82LlY5kcC3lOh",
        "text": "=# Documents disponibles via les Outils Questionneur et Rédacteur de Document\n\n{{ $node[\"Documents\"].json.documentsDisponibles }}\n\n{{ $node[\"messageddd\"].json.message }}",
        "nativeTools": [
          "code_interpreter",
          "retrieval"
        ],
        "options": {}
      },
      "id": "79a6cd5e-ae79-4f06-a50f-dd10c332bc79",
      "name": "ACCOUNT MANAGER : Gestionnaire de la relation client",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1420,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b135f5e2-682b-46f0-9b75-53859aa818e4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        720,
        460
      ]
    },
    {
      "parameters": {},
      "id": "d5d8f1e1-a5b6-4c68-bf27-30ed8787fa0b",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        260
      ]
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('message').item.json[\"producteurId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9fdc6931-5524-4806-b386-5637f5c84a95",
      "name": "Get Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# ENTREE STANDARD",
        "height": 640.6189249242677,
        "width": 536.692184943248
      },
      "id": "c9c3377d-efc6-40b9-9944-3999cfe2b678",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        40
      ]
    },
    {
      "parameters": {
        "workflowId": "uM0Ul7juoL7DAqRB"
      },
      "id": "20add3b4-293f-4cca-b7fc-1682f9ec9072",
      "name": "message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        460
      ]
    },
    {
      "parameters": {
        "name": "redacteur_de_document",
        "description": "Rédige une version améliorée d'un passage du document demandé à partir d'une demande détaillée",
        "workflowId": "0T67aHjuqQEnrTN0",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "f6b40894-0404-4d00-b85f-97857a4e2f0f",
      "name": "Rédacteur de Document",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        920
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_documents",
        "description": "Donne une réponse précise issue du document demandé à partir d'un besoin informationnel.",
        "workflowId": "ebLHEt0swZVT9tks",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "1f544201-561f-4d6a-b525-c82df0279e85",
      "name": "Questionneur de Documents",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1860,
        920
      ]
    },
    {
      "parameters": {
        "name": "scratchpad",
        "description": "Crée une copie temporaire de toi même, sans les accès aux fonctions, afin de pouvoir répondre aux demandes de génération textuelles et de reflexion (exemples : prendre le temps de rédiger, faire plusieurs itérations pour améliorer un texte, etc.), à partir d'une demande précise et détaillée donnée en entrée.",
        "workflowId": "wTbd0CgnGrumh0qf",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "e1ff5138-d55a-4809-9e3e-b1988c5a5102",
      "name": "ScratchPad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2140,
        920
      ]
    },
    {
      "parameters": {
        "content": "# OUTILS STANDARD",
        "height": 224.32004875594802,
        "width": 447.22204993824914
      },
      "id": "e6b69a0b-af0f-47e0-83f0-bfcfeb3f0271",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        840
      ]
    },
    {
      "parameters": {
        "content": "# OUTILS SPECIFIQUES",
        "height": 413.4919569863578,
        "width": 468.47826732357714
      },
      "id": "972a31ea-c64a-49f6-8f9a-3dab9f7d7b1a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        840
      ]
    },
    {
      "parameters": {
        "content": "# COLLABORATEURS",
        "height": 224.32004875594802,
        "width": 355.66820106337036
      },
      "id": "a1d40c94-6276-494a-a5dd-0f8a16847574",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        840
      ]
    },
    {
      "parameters": {
        "content": "# SORTIE STANDARD",
        "height": 273.96047817628465,
        "width": 382.2960085494244
      },
      "id": "7620a662-5499-4f4a-bf3b-95666ae5e289",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let message = $node[\"message\"].json;\n\nif (Object.keys($json).length == 1) {\n  message.demande = $json[Object.keys($json)[0]];\n} else {\n  message.demande = JSON.stringify($json);\n}\n\nreturn {\"message\":JSON.stringify(message)};"
      },
      "id": "9cb75887-c303-424c-b135-037540f0fe0d",
      "name": "nouveau message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": {
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1703084102,
      "possibleDuplicates": [
        "18c87b9130373ab0"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-21T09:40:49.894Z",
      "updatedAt": "2024-01-21T09:40:49.894Z",
      "id": "HH1XeBJSkgxMCPd3",
      "name": "legacy"
    },
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-01-21T09:42:08.000Z",
  "versionId": "2db4444d-3f08-4f2e-8f1a-fb7bcec89a08"
}