workflows/Admin Commands.json
{
  "active": true,
  "connections": {
    "entree": {
      "main": [
        [
          {
            "node": "defaultEmbedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "set status TODO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set status TODO": {
      "main": [
        [
          {
            "node": "Upsert mission todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert mission todo": {
      "main": [
        [
          {
            "node": "Send Instructions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defaultEmbedding": {
      "main": [
        [
          {
            "node": "Switch Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set on": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set off": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch onoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch onoff": {
      "main": [
        [
          {
            "node": "If on",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If on": {
      "main": [
        [
          {
            "node": "restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ALL non done missions": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete all missions": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "set status TODO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set status TODO1": {
      "main": [
        [
          {
            "node": "Upsert mission todo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert mission todo1": {
      "main": [
        [
          {
            "node": "Send Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Commands": {
      "main": [
        [
          {
            "node": "Get ALL non done missions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete all missions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set on",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set off",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ALL error/exceptions missions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restart": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ALL error/exceptions missions": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instructions": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instructions1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRUD Mission1": {
      "ai_tool": [
        [
          {
            "node": "kinmanager1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-31T10:02:38.129Z",
  "id": "MGND8ynCD26RRnsW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Admin Commands",
  "nodes": [
    {
      "parameters": {},
      "id": "905fa1ec-8ef7-4217-afe7-3d063c507048",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1900,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\nif (json.json) {\n json = {\n   ...JSON.parse(json.json),\n   ...json\n }; \n}\n\nif (json.chatInput) {\n  json.query = json.chatInput;\n  json.kinDemandeur = \"Un humain\";\n}\n\n// Cas fonction GPT : Trouver le bon Kin\nif (json.query) {\n  \n  // Détecter la commande\n  let regexCommand = /^\\/[a-zA-Z]+/i;\n  json.command = json.query;\n  if (regexCommand.test(json.query)) {\n      json.command = json.query.match(regexCommand)[0];\n  }\n}\n\nreturn {\"json\": json};"
      },
      "id": "252ffeaa-852f-422c-b5c9-a284d6ec4c85",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1720,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "=IJeSapyzv0Y9koZ9",
        "options": {}
      },
      "id": "e040d41f-b64a-43ed-9f8b-a5365a34e750",
      "name": "defaultEmbedding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1480,
        660
      ]
    },
    {
      "parameters": {
        "content": "# /reset Transfer missions in pipeline to todo",
        "height": 298.13044544905085,
        "width": 1320.5858121453357
      },
      "id": "baa57bfc-a4de-473e-8fdc-386e6990f9a8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        60
      ]
    },
    {
      "parameters": {
        "content": "# /reinitialize Delete all missions",
        "height": 287.746042686389,
        "width": 619.2817266129762
      },
      "id": "20a87a72-c72d-4b70-bbf1-04769bdd191e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        440
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e2ebb500-c7db-4d51-8663-c1b0002b65c1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        840,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "matches",
        "options": {}
      },
      "id": "8320339d-cd4d-4082-b1ff-d0d99684ad5c",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -20,
        160
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let matches = $json;\n\nmatches.metadata.status = \"todo\";\nmatches.metadata.execution = \"todo\";\n\nreturn {\"json\": {\"matches\": matches}};"
      },
      "id": "b9851f09-80c8-43f5-b855-9f0179037b2e",
      "name": "set status TODO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"vectors\": {\n  \"id\": \"{{ $json.matches[\"id\"] }}\",\n  \"metadata\": {{ JSON.stringify($json.matches.metadata) }},\n  \"values\": {{ JSON.stringify($item(0).$node[\"defaultEmbedding\"].json.defaultEmbedding) }}\n  }\n}",
        "options": {}
      },
      "id": "ec40ddcd-fea8-4f90-a0ce-c0af5e12cf8e",
      "name": "Upsert mission todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        420,
        160
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let entree = $item(0).$node[\"entree\"].json;\n\nlet result = \"command \" + entree.command + \", \" + (entree.kin?entree.kin:\"\") + \" : effectuée avec succès !\";\n\nif (entree.chatInput != null) {\n  return {\"output\": result};\n}\n\nreturn {\"json\":{\"response\": result}};"
      },
      "id": "effbeed5-10d4-44f9-afa0-e0700ac1ca1f",
      "name": "response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let result = \"no command \\\"\" + $node[\"entree\"].json.command + \"\\\" available.\";\n\nif ($node[\"entree\"].json.chatInput != null) {\n  return {\"output\": result};\n}\n\nreturn {\"json\":{\"response\": result}};"
      },
      "id": "e83e9e59-6196-45e7-9215-0b40e539cbde",
      "name": "response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        1360
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "La fonction \"actionneur_de_production\" effectue des commandes sur les missions. Permet de lancer, arrêter, ou compléter des missions.\n\nCommande disponible :\n- /status todo/doing/waiting/done : Modifie le statut d'une mission. ex : '/status todo' kinName\n\nFormat d'appel \"query\" : \"[INSTRUCTION - /status todo kinname]\\n\\nTODOLIST et Prochaine action à réaliser\\n\\n[/INSTRUCTION - /status todo kinname]\\n\\n---\\n\\n\"",
        "options": {
          "inputPlaceholder": "/reset",
          "responseMode": "lastNode",
          "subtitle": "=La fonction \"actionneur_de_production\" effectue des commandes sur les missions. Permet de lancer, arrêter, ou compléter des missions.\n\nCommande disponible :\n- /status todo/doing/waiting/done : Modifie le statut d'une mission. ex : '/status todo' kinName\n\nFormat d'appel \"query\" : \"[INSTRUCTION - /status todo kinname]\\n\\nTODOLIST et Prochaine action à réaliser\\n\\n[/INSTRUCTION - /status todo kinname]\\n\\n---\\n\\n\"",
          "title": "={{ $workflow.name }}"
        }
      },
      "id": "f618e165-6b72-4433-9331-563d77bb718e",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -1900,
        140
      ],
      "webhookId": "23e3d6d0-ed2f-4e19-a091-faed1d8ddf14",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "09102e6b-66f0-4cf2-9b4f-f116c15166aa",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1200,
        760
      ]
    },
    {
      "parameters": {},
      "id": "14f24a1e-a687-45fd-a357-2232e2d704af",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1420,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"onoff\",\n  \"vectors\": {\n  \"id\": \"onoff\",\n  \"metadata\": {\"value\": \"off\"},\n  \"values\": {{ JSON.stringify($json.defaultEmbedding) }}\n  }\n}",
        "options": {}
      },
      "id": "d81eb2dd-3dd3-4a34-a257-38b2dbe89ee7",
      "name": "Set off",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8,
        1048
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"onoff\",\n  \"vectors\": {\n  \"id\": \"onoff\",\n  \"metadata\": {\"value\": \"on\"},\n  \"values\": {{ JSON.stringify($json.defaultEmbedding) }}\n  }\n}",
        "options": {}
      },
      "id": "d7a2756e-9ebf-4a70-9c67-c39585cab6ff",
      "name": "Set on",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8,
        848
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## INTERRUPTEUR GENERAL",
        "height": 450.6106722474352,
        "width": 503.86735885043214
      },
      "id": "20f5b273-a2c4-4726-aeb0-afaa5e87b1f4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        780
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "a311c6d4-c148-471b-a838-0e208fb982f7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2660,
        500
      ]
    },
    {
      "parameters": {},
      "id": "22b1085a-747a-4638-813d-9d6eb6df55e3",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2080,
        660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/fetch",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"onoff\",\n  \"ids\": [\"onoff\"]\n}",
        "options": {}
      },
      "id": "cab555c4-504b-4b68-a56d-593f428d24ca",
      "name": "Fetch onoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2420,
        500
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "026b34bb-7dfa-4fa4-af16-d78a4e166711",
              "leftValue": "={{ $json.vectors.onoff.metadata.value }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e7f2900-c9f1-4b2b-98f6-7edecfcbc3e8",
      "name": "If on",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2200,
        500
      ]
    },
    {
      "parameters": {
        "content": "# /deletetudes",
        "height": 287.746042686389,
        "width": 619.2817266129762
      },
      "id": "2b63752b-6292-4e97-a5d3-16e6842f015f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"etudes\",\n  \"deleteAll\": true\n}",
        "options": {}
      },
      "id": "5798863c-25f1-42d6-ad31-4ab01b953363",
      "name": "Delete all etudes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -260,
        -560
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"includeMetadata\": true,\n  \"topK\": 100,\n  \"filter\" : {\"status\": { \"$nin\": [\"done\"] }},\n  \"vector\": {{ JSON.stringify($node[\"defaultEmbedding\"].json.defaultEmbedding) }}\n}",
        "options": {}
      },
      "id": "dfb81d90-80ae-4dac-8fbd-610f6cb4fd62",
      "name": "Get ALL non done missions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        160
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"deleteAll\" : true\n}",
        "options": {}
      },
      "id": "dd68468e-9b5d-462e-ab2a-bcc2e73e6905",
      "name": "Delete all missions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -240,
        540
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# /restart Transfer missions status error/exceptions  to todo",
        "height": 298.13044544905085,
        "width": 1320.5858121453357
      },
      "id": "79312132-d204-44cd-8846-7f2403eb204a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -280
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "5ec84892-5678-47bb-83f0-e1ce95b6abce",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        840,
        -180
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "matches",
        "options": {}
      },
      "id": "a8845b65-94f9-40ad-b64f-98cbbaa4978b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -20,
        -180
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let mission = $json.metadata;\n\nmission.status = \"todo\";\nmission.execution = \"todo\";\n\nreturn {\"json\": mission};"
      },
      "id": "5aa91b1c-691d-4139-9013-81fece0c4389",
      "name": "set status TODO1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"vectors\": {\n  \"id\": \"{{ $json.missionId }}\",\n  \"metadata\": {{ JSON.stringify($json) }},\n  \"values\": {{ JSON.stringify($item(0).$node[\"defaultEmbedding\"].json.defaultEmbedding) }}\n  }\n}",
        "options": {}
      },
      "id": "0d34e1da-d715-4c0f-b162-65b6e660409c",
      "name": "Upsert mission todo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        420,
        -180
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "5545edd7-2310-4f6e-b1ea-fe581a9f33dc",
                    "leftValue": "={{ $node[\"entree\"].json.command }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "12f3aded-2002-4d38-b61e-59ed3f9c53bb",
                    "leftValue": "={{ $node[\"entree\"].json.command }}",
                    "rightValue": "/reinitialize",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "12f3aded-2002-4d38-b61e-59ed3f9c53bb",
                    "leftValue": "={{ $node[\"entree\"].json.command == \"/on\" || $node[\"entree\"].json.command == \"/start\" }}",
                    "rightValue": "/reinitialize",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "0fde2de7-994c-45df-b036-aec80e1f4d7d",
                    "leftValue": "={{ $node[\"entree\"].json.command == \"/off\" || $node[\"entree\"].json.command == \"/stop\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "8a1ad161-5d9b-426e-bc57-188daf740892",
                    "leftValue": "={{ $node[\"entree\"].json.command }}",
                    "rightValue": "/restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "looseTypeValidation": true
        }
      },
      "id": "023842a3-4c2f-48e4-a42c-9cc989e7a0e5",
      "name": "Switch Commands",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1220,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Trigger by\nHuman Feedback by Message : https://kins.app.n8n.cloud/workflow/xMV42ELBz1pvvDDt",
        "height": 117.22196735097269,
        "width": 250.71967654986526
      },
      "id": "a5d836ab-7188-4ec4-8f61-df15974ef679",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2180,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Get defaultEmbedding\nhttps://kins.app.n8n.cloud/workflow/IJeSapyzv0Y9koZ9",
        "height": 274.5517166627047,
        "width": 250.71967654986526
      },
      "id": "af94a6f6-5422-4892-8488-fcf10191f3d8",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        540
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\njson.query = \"/restart\";\njson.command = \"/restart\";\n\nreturn {\"json\": json};"
      },
      "id": "109e119c-879f-4864-947c-a8ae7041b133",
      "name": "restart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1900,
        500
      ]
    },
    {
      "parameters": {
        "content": "## TODO :delete a mission (using find?)"
      },
      "id": "350868ac-5384-4e0c-8e74-99417af92acf",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"includeMetadata\": true,\n  \"topK\": 100,\n  \"filter\" : {\"status\": { \"$in\": [\"error\", \"exception\"] }},\n  \"vector\": {{ JSON.stringify($node[\"defaultEmbedding\"].json.defaultEmbedding) }}\n}",
        "options": {}
      },
      "id": "77702974-fdec-4adf-a214-fd555fa5cfde",
      "name": "Get ALL error/exceptions missions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        -180
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-4155607972",
        "text": "=Restarted mission {{ $node[\"set status TODO1\"].json.missionId }} : {{ $node[\"set status TODO1\"].json.threadSubject }} ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "2549322b-9522-4897-95e0-e7f489b24fe9",
      "name": "Send Instructions",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        640,
        -180
      ],
      "credentials": {
        "telegramApi": {
          "id": "ZycPeiDd8w3TWjiS",
          "name": "digitalkin_bot Telegram"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "-4155607972",
        "text": "=Restarted mission {{ $node[\"set status TODO\"].json.matches.metadata.missionId }} : {{ $node[\"set status TODO\"].json.matches.metadata.threadSubject }} ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "6dedb13d-30c5-407f-b5c4-d88425f36b58",
      "name": "Send Instructions1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        640,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "ZycPeiDd8w3TWjiS",
          "name": "digitalkin_bot Telegram"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assistantId": "asst_NRJfqzvKf73U2CjrI4bqMSf5",
        "text": "=INSTRUCTION : Appelle crud mission avec la query suivante :\n/crud_mission/update/execution todo",
        "options": {}
      },
      "id": "52801ed4-699c-4569-95bf-6318dbfa11a8",
      "name": "kinmanager1",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1100,
        -700
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "crud_mission",
        "description": "La fonction \"crud_mission\" permet au Manager d'effectuer des actions sur les missions. Permet de lancer, arrêter, ou modifier la mission en cours d'exécution.\n\nAppels disponibles :\n   - Pour **continuer la boucle de production**, si l'analyse montre que la mission est sur la bonne voie et qu'il suffit de poursuivre selon le plan établi :\n     ```\n     /crud_mission/update/execution todo\n     ```\n   - Pour **gérer une exception**, si un obstacle imprévu se présente nécessitant une action corrective ou une adaptation :\n     ```\n     /crud_mission/update/status exception\n     ```\n   - Pour **formuler une demande spécifique**, lorsqu'une expertise, une action, ou une ressource spécifique d'un autre Kin est nécessaire pour poursuivre :\n     ```\n     - /crud_mission/create/nomdukindemandé <Description détaillée de la nouvelle mission, y compris le contexte de la mission, l'objectif spécifique de cette demande, et son importance pour l'avancée de la mission du demandeur>.\n     ```\n   - Pour **conclure la mission**, lorsque tous les objectifs sont atteints et que la mission peut être considérée comme terminée :\n     ```\n     /crud_mission/update/status done\n     ```",
        "workflowId": "HLDDZOmG8kuk2zTi",
        "fields": {
          "values": [
            {
              "name": "missionId",
              "stringValue": "=kindev-ameliorationContinue"
            },
            {
              "name": "responseFormat",
              "stringValue": "=response"
            }
          ]
        }
      },
      "id": "f20bacff-0825-4c19-a789-d2e285227923",
      "name": "CRUD Mission1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1220,
        -440
      ]
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2024-02-09T20:00:00.005+01:00",
          "Readable date": "February 9th 2024, 8:00:00 pm",
          "Readable time": "8:00:00 pm",
          "Day of week": "Friday",
          "Year": "2024",
          "Month": "February",
          "Day of month": "09",
          "Hour": "20",
          "Minute": "00",
          "Second": "00",
          "Timezone": "CET +01:00"
        }
      }
    ],
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "/reset"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-12-17T10:07:55.424Z",
      "updatedAt": "2023-12-20T20:25:13.009Z",
      "id": "DzuSxffpFOEBRhld",
      "name": "outil"
    },
    {
      "createdAt": "2024-01-07T11:05:17.438Z",
      "updatedAt": "2024-01-07T11:05:17.438Z",
      "id": "g3tbWolPRHSWqvlU",
      "name": "QoL"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-12T19:42:42.000Z",
  "versionId": "6cbc0daf-efa6-434a-bd4f-9408b7df8740"
}