workflows/AP - Acquéreur du Plan de Document de Sortie.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "Get Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document": {
      "main": [
        [
          {
            "node": "Convert to/from binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data": {
      "main": [
        [
          {
            "node": "Reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-17T17:07:37.490Z",
  "id": "Tv0klBXOw7sc9kaW",
  "meta": null,
  "name": "AP - Acquéreur du Plan de Document de Sortie",
  "nodes": [
    {
      "parameters": {},
      "id": "5caf04ac-b77d-453f-bb0c-63eb15d293b5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"json\":{\"response\":$json.documentContent}};"
      },
      "id": "5fa32ca2-79de-4400-b1af-a396ede72367",
      "name": "Reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        180
      ]
    },
    {
      "parameters": {},
      "id": "56a632bf-39c7-4d18-a0ed-231a6ba1c113",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "entree",
              "stringValue": "={{ $json.entree }}{{ $json.query }}"
            },
            {
              "name": "kinName",
              "stringValue": "={{ $json.kinName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "376cd014-f5b0-4c7e-8572-42ed1aa106de",
      "name": "entree",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1920,
        180
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kinCIR",
          "mode": "list",
          "cachedResultName": "kinCIR",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kinCIR"
        },
        "filePath": "=plan-du-document-de-sortie.md",
        "additionalParameters": {}
      },
      "id": "406f8817-e157-4024-99fd-e9353bf2ab23",
      "name": "Get Document",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2120,
        180
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "documentContent",
        "options": {}
      },
      "id": "614540b3-f6ac-440f-b4f1-e8895a273c7b",
      "name": "Convert to/from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        2320,
        180
      ]
    }
  ],
  "pinData": {
    "When clicking \"Execute Workflow\"": [
      {
        "json": {
          "entree": "est-ce que la partie 1.2.2 est rédigée?",
          "kinName": "kincir_dynergie"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:07:55.424Z",
      "updatedAt": "2023-12-17T10:07:55.424Z",
      "id": "DzuSxffpFOEBRhld",
      "name": "fonction"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-12-17T19:23:55.000Z",
  "versionId": "499b6576-c434-4d55-8310-a3f21bc86aaa"
}