workflows/ARCHITECTE - Cartographe des Connexions et Communications des Kins.json
{
  "active": false,
  "connections": {
    "Get Assistant": {
      "main": [
        [
          {
            "node": "ARCHITECTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "Get Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Documents": {
      "ai_tool": [
        [
          {
            "node": "ARCHITECTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur de Document": {
      "ai_tool": [
        [
          {
            "node": "ARCHITECTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ScratchPad": {
      "ai_tool": [
        [
          {
            "node": "ARCHITECTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RESSOURCES IA": {
      "ai_tool": [
        [
          {
            "node": "ARCHITECTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ARCHITECTE": {
      "main": [
        [
          {
            "node": "nouveau message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-18T02:35:42.810Z",
  "id": "bfK26nrTMV5n0oJU",
  "meta": null,
  "name": "ARCHITECTE - Cartographe des Connexions et Communications des Kins",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('message').item.json[\"producteurId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "6ec91c32-0e56-4187-b0f9-0435df6d3785",
      "name": "Get Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        675
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "964587b5-5223-4852-935d-2062d1333f9d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1040,
        675
      ]
    },
    {
      "parameters": {
        "content": "# ENTREE STANDARD",
        "height": 502.1983041497628,
        "width": 536.692184943248
      },
      "id": "b375d654-2fc6-4337-9be6-b0f0756efffc",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": "uM0Ul7juoL7DAqRB"
      },
      "id": "24f3e48c-9316-4dba-9fe4-57d3df927587",
      "name": "message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1280,
        675
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_DmyiImiG1C8rJ3kpYsTgWncy",
        "text": "=# Documents disponibles\n\n{{ $node[\"message\"].json.documentsDisponibles }}\n\n# Contexte\n\n{{ $node[\"message\"].json.contexte }}\n\n# Intention d'Usage\n\n{{ $node[\"message\"].json.intentionDUsage }}\n\n# Demande\n\n{{ $node[\"message\"].json[\"demandeurId\"] }} : {{ $node[\"message\"].json[\"demandeur\"] }} :\n``\n{{ $node[\"message\"].json[\"demande\"] }}\n``",
        "nativeTools": [
          "code_interpreter",
          "retrieval"
        ],
        "options": {}
      },
      "id": "fa43b1d7-2e2e-43bc-bdfd-a9c1fc7cf221",
      "name": "ARCHITECTE",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1780,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "redacteur_de_document",
        "description": "Rédige une version améliorée d'un passage du document demandé à partir d'une demande détaillée",
        "workflowId": "0T67aHjuqQEnrTN0",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "fae2eae2-22b2-4826-9c23-f4fec3abc3da",
      "name": "Rédacteur de Document",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2380,
        1180
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_documents",
        "description": "Donne une réponse précise issue du document demandé à partir d'un besoin informationnel.",
        "workflowId": "ebLHEt0swZVT9tks",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "55a65beb-73b5-4186-899e-581210692ced",
      "name": "Questionneur de Documents",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2240,
        1180
      ]
    },
    {
      "parameters": {
        "name": "scratchpad",
        "description": "Crée une copie temporaire de toi même, sans les accès aux fonctions, afin de pouvoir répondre aux demandes de génération textuelles et de reflexion (exemples : prendre le temps de rédiger, faire plusieurs itérations pour améliorer un texte, etc.), à partir d'une demande précise et détaillée donnée en entrée.",
        "workflowId": "wTbd0CgnGrumh0qf",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "e0d97420-68a2-42ce-8076-5b6b06f42c27",
      "name": "ScratchPad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2520,
        1180
      ]
    },
    {
      "parameters": {
        "content": "# OUTILS STANDARD",
        "height": 224.32004875594802,
        "width": 447.22204993824914
      },
      "id": "ab3f8427-6a21-4e21-afa6-60b2d8f9c612",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2200,
        1100
      ]
    },
    {
      "parameters": {
        "content": "# OUTILS SPECIFIQUES",
        "height": 413.4919569863578,
        "width": 468.47826732357714
      },
      "id": "122e5184-fff7-44d7-9622-dff833a47810",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        1100
      ]
    },
    {
      "parameters": {
        "content": "# COLLABORATEURS",
        "height": 224.32004875594802,
        "width": 355.66820106337036
      },
      "id": "f743e4a3-94e0-43bc-b641-333ac7ab3a22",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        1100
      ]
    },
    {
      "parameters": {
        "name": "ressources_ia",
        "description": "Aide à résoudre les problèmes de performances des assistants.",
        "workflowId": "imN4HxXd5zhpJoyV",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "1376cb26-7e4d-42d6-a45d-8dc7cac23813",
      "name": "RESSOURCES IA",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1520,
        1200
      ]
    },
    {
      "parameters": {
        "content": "# SORTIE STANDARD",
        "height": 273.96047817628465,
        "width": 382.2960085494244
      },
      "id": "f151fd6e-1c9e-4dcc-b4cc-a729767aab85",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2360,
        580
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let message = $node[\"message\"].json;\n\nif (Object.keys($json).length == 1) {\n  message.demande = $json[Object.keys($json)[0]];\n} else {\n  message.demande = JSON.stringify($json);\n}\n\nreturn {\"message\":JSON.stringify(message)};"
      },
      "id": "8d418e95-52cb-4150-b1e9-f32c1ec5805f",
      "name": "nouveau message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        680
      ]
    },
    {
      "parameters": {},
      "id": "51d2a96c-890a-4e9d-9e5e-777212ec0d43",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        1040,
        900
      ]
    }
  ],
  "pinData": {
    "On new manual Chat Message": [
      {
        "json": {
          "chat_input": "demande au ressources AI ta performance actuelle"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-12-20T17:15:29.000Z",
  "versionId": "37d998a3-b8f6-4cf3-a084-346cdf2890f3"
}