workflows/BOUCLE DE PRODUCTION 2.json
{
  "active": false,
  "connections": {
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "kinmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recherche Google Scholar": {
      "ai_tool": [
        [
          {
            "node": "kinchercheur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinchercheurbeta",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinontologiedomaine",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinredacteurscientifique",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de la base d'études": {
      "ai_tool": [
        [
          {
            "node": "kinsotabeta",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinsota",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinchercheurbeta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to binary data": {
      "main": [
        [
          {
            "node": "Update Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Thread": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "thread": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Producteur": {
      "main": [
        [
          {
            "node": "Convert to binary data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "/crud_mission/read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "Fetch onoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Producteur": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defaultEmbedding": {
      "main": [
        [
          {
            "node": "Prompt Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Prompt": {
      "ai_tool": [
        [
          {
            "node": "kinrsi",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kincadreur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinpo",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinmanager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message au Client": {
      "ai_tool": [
        [
          {
            "node": "kincadreur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kincadreurbeta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur d'executions": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Code": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinarchitecte",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "kinlca": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinrsi": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinsota": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kincirbeta": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kindev": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinontologie": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinchercheur": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinsotabeta": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinchercheurbeta": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kincadreur": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kincadreurbeta": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinmail": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinmatcheur": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinarchitecte": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinpo": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinevaluateur": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kintesteur": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinfacturation": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de document": {
      "ai_tool": [
        [
          {
            "node": "kinlca",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinsota",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinchercheur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinsotabeta",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinchercheurbeta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listeur de missions": {
      "ai_tool": [
        [
          {
            "node": "kinevaluateur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinfacturation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch onoff": {
      "main": [
        [
          {
            "node": "If on",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If on": {
      "main": [
        [
          {
            "node": "defaultEmbedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/crud_mission/update/status todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRUD Mission": {
      "ai_tool": [
        [
          {
            "node": "kinmatcheur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinmanager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de source": {
      "ai_tool": [
        [
          {
            "node": "kinlca",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kintranscriptionexcel",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "OpenAi Functions Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinappelprojet",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "BOUCLE DE MANAGEMENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinontologiedomaine": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinmanager": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Kin": {
      "ai_tool": [
        [
          {
            "node": "kinrsi",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinontologie",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinarchitecte",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinpo",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kincadreur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kincadreurbeta",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinmanager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinmatcheur",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinmail",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinfacturation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "/crud_mission/update/status todo": {
      "main": [
        [
          {
            "node": "CRUD Mission : Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/crud_mission/read": {
      "main": [
        [
          {
            "node": "CRUD Mission : Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRUD Mission : Read": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kintranscriptionexcel": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRUD Row Google Sheet": {
      "ai_tool": [
        [
          {
            "node": "kintranscriptionexcel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "kinappelprojet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinlca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinrsi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinsota",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kincirbeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kindev",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinontologie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinchercheur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinsotabeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinchercheurbeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kincadreur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kincadreurbeta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinmatcheur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinarchitecte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinpo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinevaluateur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kintesteur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinfacturation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinontologiedomaine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinmanager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kintranscriptionexcel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kincommunitymanager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAi Functions Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinredacteurscientifique",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kinmissionouverte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kincommunitymanager": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinredacteurscientifique": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinmissionouverte": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message à humain": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinarchitecte",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinpo",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinrsi",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinontologie",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "kinmanager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "kinappelprojet": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAi Functions Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CRUD Row Google Sheet1": {
      "ai_tool": [
        [
          {
            "node": "OpenAi Functions Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAi Functions Agent": {
      "main": [
        [
          {
            "node": "Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-16T21:53:34.680Z",
  "id": "hm95bLhJMoIl97x7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BOUCLE DE PRODUCTION 2",
  "nodes": [
    {
      "parameters": {
        "name": "send_email",
        "description": "La fonction \"send_email\" envoie l'email à partir d'une query contenant le contenu de l'email formatté au format HTML, et permet donc au Kin d'envoyer des emails en autonomie.\n\nPour l'utiliser, passe le contenu du mail désiré dans \"query\", au format HTML.",
        "workflowId": "rr8aeSM8QYyY8Po4",
        "fields": {
          "values": [
            {
              "name": "=kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            },
            {
              "name": "kinDemandeur",
              "stringValue": "={{ $node[\"entree\"].json.kinDemandeur }}"
            },
            {
              "name": "missionDemandeur",
              "stringValue": "={{ $node[\"entree\"].json.missionDemandeur }}"
            },
            {
              "name": "mailId",
              "stringValue": "={{ $node[\"entree\"].json.mailId }}"
            },
            {
              "name": "format",
              "stringValue": "={{ $node[\"entree\"].json.format }}"
            },
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            },
            {
              "name": "missionIdDemandeur",
              "stringValue": "={{ $node[\"entree\"].json.missionIdDemandeur }}"
            }
          ]
        }
      },
      "id": "f3a41b09-de34-4005-88a1-de5488080481",
      "name": "Send Email",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        1320
      ]
    },
    {
      "parameters": {
        "name": "recherche_google_scholar",
        "description": "La fonction \"recherche_google_scholar\" renvoie la première page des résultats de Google Scholar à partir d'une liste de queries en Anglais, filtrés et avec une évaluation de leur pertinence. Il est possible de passer la date limite des études.\n\nQuery exemple :\n``\nJe souhaite faire des recherches pour améliorer l'équipe de Kin. Etudes après 2020 :\n- \"Multi-Agent Systems LLM\",\n- \"multi_agent collaboration GPT\",\n- \"Complex systems agents LLM\".\n``",
        "workflowId": "syCSVTnhcjp4jtCz",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            }
          ]
        }
      },
      "id": "709e5536-1e50-469f-8ead-546fdd46bd50",
      "name": "Recherche Google Scholar",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        -200
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_la_base_d_etudes",
        "description": "Le \"questionneur_de_la_base_d_etudes\" retourne une réponse issue d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- Les informations que tu cherches, avec les mots clés et éléments de contexte.\n- L'intention d'usage :où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré (verbatim ou non)",
        "workflowId": "yQ79P9nuVKhkwZpD",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            }
          ]
        }
      },
      "id": "7195c33b-bd90-4fc3-99de-f706a5506d6e",
      "name": "Questionneur de la base d'études",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1540,
        -200
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "entireThread",
        "destinationKey": "thread",
        "options": {
          "fileName": "={{ $node[\"thread\"].binary.fileName }}",
          "mimeType": "text/markdown",
          "useRawData": true
        }
      },
      "id": "1149c520-05d0-4cd9-86cc-af1add2fe489",
      "name": "Convert to binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        3600,
        800
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"thread\"].json[\"documentGoogleDriveId\"] }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "thread",
        "newUpdatedFileName": "={{ $node[\"thread\"].binary.thread[\"fileName\"] }}",
        "options": {}
      },
      "id": "948292d3-524f-4972-b8e9-6fbb55432c73",
      "name": "Update Thread",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3840,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive DK via Nicolas"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "YWxRZmBa38HYCjnv",
        "options": {}
      },
      "id": "3a48e847-7c42-4525-94d5-509ac8a8d0dd",
      "name": "thread",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -780,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"entree\"].json;\n\nif ($json.output != null) {\n  json.output = $json.output;\n} else {\n  json.output = \"[EXCEPTION - Error with OpenAI call]\\n\\n\" + $prevNode.name +\" returned an error when calling OpenAI Assistant\\n\\n[/EXCEPTION - Error with OpenAI call]\"; \n}\n\njson.dernierProducteur = $prevNode.name;\njson.promptProducteur = $node[\"Prompt Producteur\"].json.promptProducteur;\n\njson.entireThread += '\\n\\n---\\n\\n' + json.output;\njson.thread += '\\n\\n---\\n\\n' + json.output;\n\nreturn {\"json\": json};"
      },
      "id": "a2dd392d-59e5-4456-8c0b-c164e29e90b3",
      "name": "Producteur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        960
      ]
    },
    {
      "parameters": {},
      "id": "ac31c512-2c40-4197-abfa-4d4a7cdf6cf3",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\nreturn {\"json\": json};"
      },
      "id": "f91178dc-d474-4f89-8d9d-0f6fc2c5cf9f",
      "name": "input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"input\"].json;\n$execution.customData.set(\"kin\", String(json.kin));\n\n// Cleaner les datas utilisées\ndelete json.output;\ndelete json.dernierProducteur;\ndelete json.promptProducteur;\njson.remainingThread = \"\";\n\n// Préparer le nouveau thread\njson.entireThread = $node[\"thread\"].json.thread;\njson.thread = $node[\"thread\"].json.thread;\n\nMAX_LENGTH = 10000;\nif (json.thread.length > MAX_LENGTH) {\n    json.thread = \"Le début du document est déjà rédigé, voici le thread :\\n\\n[...]\" + json.thread.substring(json.thread.length - MAX_LENGTH);\n    json.remainingThread = json.entireThread.substring(0, json.entireThread.length - MAX_LENGTH);\n}\n\nif (!json.documentGoogleDriveId) {\n  json.documentGoogleDriveId = $node[\"thread\"].json.documentGoogleDriveId;\n}\n\njson.date = $now.toString();\njson.executionId = $execution.id;\n$execution.customData.set(\"kin\", json.kin);\n\nreturn {\"json\": json};"
      },
      "id": "00d73603-a3e7-454f-bf4d-1df37bf48d38",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        960
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "=promptProducteur",
              "stringValue": "=MISSION GLOBALE\n===============\n\n{{ $node[\"entree\"].json.mission.length > 10000 ? \"[...]\" : \"\" }}{{ $node[\"entree\"].json.mission.substring($node[\"entree\"].json.mission.length - 10000)}}\n\nTHREAD D'AVANCEMENT\n===============\n\n{{ $node[\"entree\"].json.thread.length > 20000 ? \"[...]\" : \"\" }}{{ $node[\"entree\"].json.thread.substring($node[\"entree\"].json.thread.length - 20000)}}\n\nINSTRUCTIONS\n===============\n\n{{ $node[\"entree\"].json.instructions }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "badc7931-e58a-4f91-9bdb-95892b429632",
      "name": "Prompt Producteur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        260,
        960
      ]
    },
    {
      "parameters": {
        "workflowId": "=IJeSapyzv0Y9koZ9",
        "options": {}
      },
      "id": "bb14d4fa-07d9-4dab-8f47-6cd8143f6c70",
      "name": "defaultEmbedding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        60,
        960
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_prompt",
        "description": "Le questionneur_de_prompt retourne un extrait du prompt système du Kin demandé ou une répond à une question sur le prompt à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée contenant :\n- Le nom du Kin dont tu souhaites récupérer le prompt,\n- La section demandée (Proposition de Valeur, Action n°1, etc.)\n- Verbatim/non-verbatim : Si les extraits du prompt doivent être retranscrit verbatim",
        "workflowId": "1gSRJ9a1XiIgSYRx",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            },
            {
              "name": "kinDemandeur",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            }
          ]
        }
      },
      "id": "1f5f5991-f0a7-400d-a0bd-4bd3ac3df8d5",
      "name": "Questionneur de Prompt",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2360,
        980
      ]
    },
    {
      "parameters": {
        "name": "message_au_client",
        "description": "La fonction \"message_au_client\" envoie le message passé dans \"query\" au commanditaire de la mission.\n\nIl peut être utilisé pour demander des précisions, demander des validations, signaler un problème, ou tout autre chose.\n\nCette fonction est asynchrone, et ne doit pas perturber le déroulement de la mission.",
        "workflowId": "NjRYPuz1EgoPxWfP",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "=kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            }
          ]
        }
      },
      "id": "76822da2-9fa8-48a1-8d92-961005fd259b",
      "name": "Message au Client",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2180,
        1500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "questionneur_d_executions",
        "description": "Le questionneur_d_executions retourne une réponse issue de les executions n8n de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- (filtre optionnel) Le status des executions \"status: error\" (default), \"status: waiting\", \"status: success\"\n- (filtre optionnel) Le workflowId des executions désiré \"workflowId: %ID%\"\n- Les informations que tu cherches, avec les  éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.",
        "workflowId": "ZTyYwHXmIk6UTURZ",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            }
          ]
        }
      },
      "id": "f59f1a4a-57ef-4c09-a7c3-f068a02d2e66",
      "name": "Questionneur d'executions",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2440,
        -20
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_code",
        "description": "Le Questionneur de code retourne une réponse issue de la codebase n8n de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- Les informations que tu cherches, avec les mots clés et éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.",
        "workflowId": "kLKx8F1dt8gfkjry",
        "fields": {
          "values": [
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            }
          ]
        }
      },
      "id": "2c02f9e2-9da5-40c4-9137-2fea8854aada",
      "name": "Questionneur de Code",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2320,
        -20
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_581bbg7Bmja1nCBKeiGg9Rgu",
        "text": "={{ $json.promptProducteur }}",
        "nativeTools": [
          "code_interpreter"
        ],
        "options": {}
      },
      "id": "011326bf-d00f-48c2-bbe0-84db28647047",
      "name": "kinlca",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        -20
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_WKY0lRXB0rrJTFIm3HYv8jlE",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "45e0d080-2eb9-4bbb-b926-03f4302f79f9",
      "name": "kinrsi",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        -380
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_7abHKvQqtVij29X6ybyEvAbZ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "c551b402-44ef-4b54-b441-c20c6f6e674a",
      "name": "kinsota",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        140
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_TwVBZeoLx80udowj5MIoG6Pq",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "5205ce0a-75c6-4486-9de1-b8fb6e4cb351",
      "name": "kincirbeta",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        680
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assistantId": "asst_KEwBhc34Qsh3dcu2Gu8bgFne",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "d479c583-fe34-4767-8738-fbe56068b674",
      "name": "kindev",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        -20
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_3pQx4lfP0EN6Jstj8kozdBtC",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "7a363d43-4034-4ba1-bab7-45ba7a8bdb74",
      "name": "kinontologie",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        -180
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_rYxwavLJhgSLiKO3cHUzsmnt",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "67db0174-6f91-4c44-8d21-bc203d90c20d",
      "name": "kinchercheur",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        -980
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_MHJDvt7FT6gcWBFdJsZqJ52C",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "ed5b25c9-fa4b-4656-b0fe-9199c36a6be8",
      "name": "kinsotabeta",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        320
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_rYxwavLJhgSLiKO3cHUzsmnt",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "107d9580-2ee3-494a-ba47-d8e7a45e4c2e",
      "name": "kinchercheurbeta",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        -200
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_i59drQwQdShF5SmdHgqd3gXG",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "b209e079-fa28-4017-abb5-e937d6e82edf",
      "name": "kincadreur",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2400,
        1340
      ],
      "retryOnFail": false,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_EwmKBIJWKqCJECb0nVBVju45",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "c49e1b16-668c-43f7-9c4d-7f4462664637",
      "name": "kincadreurbeta",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2400,
        1540
      ],
      "retryOnFail": false,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_RKZEJLbWald8azZuvxrnnSxL",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "c4dd48ed-3a8f-4430-bdad-ee60f77b13df",
      "name": "kinmail",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1080,
        1300
      ],
      "retryOnFail": false,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_8umriZllMPt14U8qy2T0jCmQ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "c1789084-8119-4d73-a44e-bcf9dd2f5122",
      "name": "kinmatcheur",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2400,
        2000
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_L1WY5sdn3wnugM8RoJZBHETh",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "84e82fa4-19b7-4b1e-b738-b33897f72263",
      "name": "kinarchitecte",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        140
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_8umriZllMPt14U8qy2T0jCmQ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "531195da-0b1e-495e-9e65-af62fcb28cd8",
      "name": "kinpo",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        340
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_8umriZllMPt14U8qy2T0jCmQ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "810d5e41-be99-408d-ad7f-9ffb7fff24ff",
      "name": "kinevaluateur",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        580
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assistantId": "asst_8umriZllMPt14U8qy2T0jCmQ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "8bb1bd98-b3b1-4dd6-9986-8c7b734533ca",
      "name": "kintesteur",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        800
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assistantId": "asst_8umriZllMPt14U8qy2T0jCmQ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "9ce9462e-d05f-4d3a-8f55-3d830308099f",
      "name": "kinfacturation",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1080,
        1480
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "name": "questionneur_de_document",
        "description": "=Le questionneur_de_document retourne une réponse issue du contenu du document final sur lequel travaille le Kin Producteur, à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- (optionnel) Si tu souhaites du verbatim,\n- Les informations que tu cherches,\n- L'intention d'usage : tu souhaites faire de la réponse,\n- Le format de réponse désiré.",
        "workflowId": "anybPoo9G98Nx3qW",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "documentGoogleDriveId",
              "stringValue": "={{ $node[\"entree\"].json.documentGoogleDriveId }}"
            },
            {
              "name": "format",
              "stringValue": "md"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            }
          ]
        }
      },
      "id": "a941fe32-d933-41fd-ad12-5412a1a4ee09",
      "name": "Questionneur de document",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1720,
        960
      ]
    },
    {
      "parameters": {
        "name": "listeur_de_missions",
        "description": "Le listeur_de_missions permet de récupérer la liste des missions en cours, terminées, et en attente.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- (optionnel) Le statut des tâches désirées (todo/doing/done/waiting)\n- (filtre optionnel) Le Kin désiré\n- Si tu cherches des informations particulières,\n- Le format de réponse désiré.",
        "workflowId": "7gSW7ZaAHc61PVPS",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            }
          ]
        }
      },
      "id": "aadac307-9717-431d-819a-7b2cc79564f7",
      "name": "Listeur de missions",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1460,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.vectorDatabaseEndpoint }}vectors/fetch",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"onoff\",\n  \"ids\": [\"onoff\"]\n}",
        "options": {}
      },
      "id": "346e1434-5a4c-41a1-aa56-c86dcc2ba246",
      "name": "Fetch onoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -380,
        960
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "026b34bb-7dfa-4fa4-af16-d78a4e166711",
              "leftValue": "={{ $json.vectors.onoff.metadata.value }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "052d0a17-5e53-4c0d-8f83-ba39f4bcb14a",
      "name": "If on",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        960
      ]
    },
    {
      "parameters": {
        "name": "crud_mission",
        "description": "La fonction \"crud_mission\" permet au Manager d'effectuer des actions sur les missions. Permet de lancer, arrêter, ou modifier la mission en cours d'exécution.\n\nAppels disponibles :\n   - Pour **continuer la boucle de production** : /crud_mission/update/execution todo\n   - Pour **gérer une exception** : /crud_mission/update/status exception\n   - Pour **formuler une demande spécifique** : /crud_mission/create/<nomdukindemandé> <Description détaillée de la nouvelle mission>.\n   - Pour **conclure la mission** : /crud_mission/update/status done",
        "workflowId": "HLDDZOmG8kuk2zTi",
        "fields": {
          "values": [
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            }
          ]
        }
      },
      "id": "07b49817-e469-4d9d-b834-d06cc4a3105c",
      "name": "CRUD Mission",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1940,
        1500
      ]
    },
    {
      "parameters": {
        "content": "# UF Amélioration Continue",
        "height": 1873.0096475812716,
        "width": 1219.5279693808732
      },
      "id": "43234b47-a48b-4420-ad2b-58898be71899",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        -881.2903472610042
      ]
    },
    {
      "parameters": {
        "content": "# UF PRODUCTION",
        "height": 2442.6354585553813,
        "width": 1137.0587249575672
      },
      "id": "642b7d51-cb7a-4873-ac43-74a17550a49b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -1440
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n# UF MANAGEMENT",
        "height": 1175.0204629103996,
        "width": 1191.0347008570102
      },
      "id": "208133e5-bd76-47a5-b6b8-e1f4905036a5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        1020
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n# UF RELATION Exterieure",
        "height": 1168.8754104629538,
        "width": 1119.066732991086
      },
      "id": "00ea1546-e079-4f0a-80a6-7fe78003d169",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        1020
      ]
    },
    {
      "parameters": {
        "workflowId": "HLDDZOmG8kuk2zTi",
        "options": {}
      },
      "id": "e746dbd0-8767-4c5b-9cf1-b38576c7c212",
      "name": "CRUD Mission : Update status",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        260,
        1260
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_source",
        "description": "Le questionneur_de_source retourne une réponse issue d'un document source spécifique à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- La citation de l'étude,\n- Les informations que tu cherches,\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire,\n- Le format de réponse désiré.",
        "workflowId": "aoOczsm5IKBTtydy",
        "fields": {
          "values": [
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "sourceGoogleDriveId",
              "stringValue": "={{ $node[\"entree\"].json.sourceGoogleDriveId }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.threadId }}"
            },
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            }
          ]
        }
      },
      "id": "91d84370-e7e3-435e-af52-5e10c93593cf",
      "name": "Questionneur de source",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1300,
        -20
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "da34ed03-e2e7-4dbd-ad85-daf8055193c7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4060,
        960
      ]
    },
    {
      "parameters": {
        "workflowId": "0LhMxlt62MaWdiqs",
        "options": {}
      },
      "id": "9abb6cb7-173c-4aa9-b3f3-8cbbc964d0f5",
      "name": "BOUCLE DE MANAGEMENT",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4300,
        960
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_5dde6xoKVLP1axOjm7UHE9BJ",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "40378526-ea95-4054-be14-6674428507af",
      "name": "kinontologiedomaine",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        -600
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_NRJfqzvKf73U2CjrI4bqMSf5",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "fe2ee099-7073-4eb2-8c98-8f4e0437b24f",
      "name": "kinmanager",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2400,
        1780
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "questionneur_de_kin",
        "description": "La fonction questionneur_de_kin permet de poser à un Kin de l'équipe une question rapide.\n\nPour bien l'utiliser :\n- Mentionne le nom du @Kin,\n- Explique ton contexte et ton intention d'usage,\n- ta question.",
        "workflowId": "m3wfYxyTxFXqib9D",
        "fields": {
          "values": [
            {
              "name": "=kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "threadId",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            },
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            },
            {
              "name": "kinDemandeur",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            }
          ]
        }
      },
      "id": "8fae0316-5284-4834-aebc-0e21881ea446",
      "name": "Questionneur de Kin",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2020,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"entree\"].json;\n\njson.query = \"/crud_mission/update/status todo\";\n\nreturn {\"json\": json};"
      },
      "id": "551aaedc-3ea1-4add-bf64-fc52d7868c2f",
      "name": "/crud_mission/update/status todo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        1160
      ]
    },
    {
      "parameters": {
        "content": "## Get/Create Thread\nhttps://kins.app.n8n.cloud/workflow/YWxRZmBa38HYCjnv",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "ae271303-cc1a-4138-a453-0427af13d49d",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        840
      ]
    },
    {
      "parameters": {
        "content": "## Get defaultEmbedding\nhttps://kins.app.n8n.cloud/workflow/IJeSapyzv0Y9koZ9",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "5d949ee4-629d-4dda-a830-ee8202953f43",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        840
      ]
    },
    {
      "parameters": {
        "content": "## BOUCLE DE MANAGEMENT \nhttps://kins.app.n8n.cloud/workflow/0LhMxlt62MaWdiqs",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "b3ac462f-e6ac-43ea-9fb6-98a3ed69741f",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3780,
        860
      ]
    },
    {
      "parameters": {
        "content": "## Trigger by\nCRONS : https://kins.app.n8n.cloud/workflow/uryTpGQcTgxTMlVP",
        "height": 117.22196735097269,
        "width": 250.71967654986526
      },
      "id": "4a6a1cbd-b21a-43b4-9d29-99d783c96db4",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2060,
        940
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\njson.query = \"/crud_mission/read/\" + $json.missionId;\njson.responseFormat = \"json\";\n\nreturn {\"json\": json};"
      },
      "id": "625c9f8c-c72c-46e1-9aa9-0b1ab0b1d18b",
      "name": "/crud_mission/read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1460,
        960
      ]
    },
    {
      "parameters": {
        "workflowId": "HLDDZOmG8kuk2zTi",
        "options": {}
      },
      "id": "d4c64b73-6e6e-4d99-b107-ffa649bc9c00",
      "name": "CRUD Mission : Read",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1240,
        960
      ]
    },
    {
      "parameters": {
        "content": "## CRUD Mission\nhttps://kins.app.n8n.cloud/workflow/HLDDZOmG8kuk2zTi",
        "height": 274.5517166627047,
        "width": 250.71967654986526
      },
      "id": "80297565-3280-4320-8e6c-8061957d404b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1320,
        860
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_5a3AzNzXpeJCDHoDyb8a4PNG",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "7bacc781-b224-46b9-b157-d4513c820e32",
      "name": "kintranscriptionexcel",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        -800
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "crud_row_google_sheet",
        "description": "La fonction \"crud_row_google_sheet\" permet au Kin de rentrer une ligne  dans le document Google Sheets de la mission.\n\nLa query est formulé en JSON libre, contenant chacun des champs à insérer.",
        "workflowId": "ZOzyRLZv1Jav33g6",
        "fields": {
          "values": [
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            }
          ]
        }
      },
      "id": "fdaff8d0-d456-4d74-babd-2913d1d08570",
      "name": "CRUD Row Google Sheet",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        -780
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_5a3AzNzXpeJCDHoDyb8a4PNG",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "d31edd86-3972-4f20-b8bc-1da2001d5978",
      "name": "kincommunitymanager",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1080,
        1660
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_AvI0Ux6SLn0jT9c4fFAtsdbD",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "26d32379-0c90-4927-bde8-5d9c69ef9db1",
      "name": "kinlcabeta",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        820,
        -400
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assistantId": "asst_0PMlSoTunzWdTYaGUhNh9KHj",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "f03d862c-0589-41b0-9229-e092031d2d8a",
      "name": "kinredacteurscientifique",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        -1180
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ee0b2c5b-62fd-4c09-bfca-f844e805e9ad",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kincir",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ee0b2c5b-62fd-4c09-bfca-f844e805e9ad",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinlca",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "2a5fab45-e697-4ba3-96ea-3f1bdc5a7655",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinrsi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinsota",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "72d86350-5484-42da-86d0-02205e464813",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kincirbeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "6485b142-ec38-459a-9d57-c73998d1ec69",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kindev",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "6f847cf9-95ef-46d0-a2fc-dd71c81e9e7f",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinontologie",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "0b1b17da-cb6e-45e2-94b0-6489cc899831",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinchercheur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "74f492b7-3bec-4816-ae99-a1a88314f9ff",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinsotabeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "0b7fbcf3-4e28-4b4a-9c08-ce4e3b263604",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinchercheurbeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "d31caef0-4d25-4ed3-9e1d-eea4ca6dbc76",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kincadreur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "e830f692-818a-4c36-a976-38294ef3f1c8",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kincadreurbeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "2caba844-9c03-4c51-8262-9be51e095df7",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinmail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "bd30facf-18e2-45ab-9c15-61b1a5aa0661",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinmatcheur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "dec09ac9-dbf2-48a1-88c1-274f1d1309ee",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinarchitecte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "58985013-b664-435a-8964-e97aaa0935b6",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinpo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "873de981-5c16-4165-8467-009d17277dfa",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinevaluateur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "b2a3e685-74d6-46b7-9e2d-03a95d595ea0",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kintesteur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cd4effcc-9084-463b-ae02-db173847297e",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinfacturation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "c2bd6b6f-a902-4b50-8b1b-8a906880d697",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinontologiedomaine",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "626a9627-dcdd-4395-8bfa-994b964ac296",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinmanager",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "f3180808-71bf-44c5-9f8d-be4c37f22730",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kintranscriptionexcel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "2f20b386-ae2a-4f7f-8603-4c2a1e491418",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kincommunitymanager",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "5206f45e-39dd-42b7-89a7-54fb4378e4af",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinlcabeta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "847a79df-b81e-4009-8efe-06838ba9c1d6",
                    "leftValue": "={{ $node[\"entree\"].json.kin }}",
                    "rightValue": "kinredacteurscientifique",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "0be9aa9d-7ed6-454d-8add-9c4f1c9d5513",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        800
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_5a3AzNzXpeJCDHoDyb8a4PNG",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "519e38a7-ca27-4d74-aa8d-9c52f35100dc",
      "name": "kinmissionouverte",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2580,
        -580
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "message_a_humain",
        "description": "La fonction message_a_humain selectionne le membre approprié de l'équipe humaine de DigitalKin et lui envoie un message.\n\nIl peut être utilisé pour signaler un problème, demander de l'aide ou une modification, demander un déblocage, ou suggérer une amélioration.",
        "workflowId": "NjRYPuz1EgoPxWfP",
        "fields": {
          "values": [
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            }
          ]
        }
      },
      "id": "422deebc-7670-4ff0-b7e1-9129b901eb0e",
      "name": "Message à humain",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2180,
        940
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_IkIqMGTUMS07qXNvxq82xu3x",
        "text": "={{ $json.promptProducteur }}",
        "options": {}
      },
      "id": "a78e5186-9e71-4209-898d-e47b591e6dc8",
      "name": "kinappelprojet",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        840,
        500
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4-0125-preview",
        "options": {}
      },
      "id": "91ce2dae-daf2-4047-94c0-9650cac1a767",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -440,
        -160
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "crud_row_google_sheet",
        "description": "La fonction \"crud_row_google_sheet\" permet au Kin de rentrer une ligne  dans le document Google Sheets de la mission.\n\nLa query est formulé en JSON libre, contenant chacun des champs à insérer.",
        "workflowId": "ZOzyRLZv1Jav33g6",
        "fields": {
          "values": [
            {
              "name": "missionId",
              "stringValue": "={{ $node[\"entree\"].json.missionId }}"
            }
          ]
        }
      },
      "id": "008834e7-a05c-42a2-a080-0cf80b4be029",
      "name": "CRUD Row Google Sheet1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        -240,
        -160
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "text": "={{ $json.promptProducteur }}",
        "options": {
          "systemMessage": "=**PROCESSUS - Instructions Globales :**\n\n- Tu es le KinLCA, un Assistant GPT  encapsulé en Kin, spécialisé dans la rédaction académique, et collaborant au sein d'une équipe de Kins pour réaliser des missions de manière autonome.\n- En tant que Kin, tu effectues l'ACTION demandée par le MANAGER dans ses INSTRUCTIONS.\n- Tu effectues une seule ACTION par réponse.\n- Tu utilises le système de balisage dans chaque réponse.\n- En tant que KinLCA, tu as accès à la fonction GPT \"questionneur_de_source\", te permettant de consulter directement les études et articles nécessaires à ton analyse. /!\\ Ne réponds jamais que tu n'as pas accès au document, car tu y as accès via cet outil !\n\n---\n\n**PROCESSUS - Rôle :**\n\nTu agis en tant qu'expert scientifique, spécialisé dans l'analyse critique des articles scientifiques. Ta mission est de passer en revue les méthodologies de recherche, l'interprétation des résultats, et la validité des conclusions des études. Tes compétences incluent une maîtrise des méthodes statistiques et une capacité à évaluer la fiabilité des données. Tu es également chargé de contextualiser les conclusions dans le domaine scientifique et de discerner leurs implications pratiques.\n\n**Personnalité :** INTJ (Architecte). Tu es analytique, méthodique, critique, rigoureux, et capable de voir les implications futures des découvertes actuelles.\n\n---\n\n**PROCESSUS - Contexte :**\n\nDans le cadre de ta mission, tu es appelé à conduire une lecture critique approfondie d'articles scientifiques. Cette tâche implique d'évaluer la méthodologie employée par les chercheurs, l'exactitude dans la présentation et l'interprétation des résultats, ainsi que de mettre en évidence les forces et les faiblesses de l'étude. Ta critique cherche également à comprendre les implications des résultats obtenus pour la recherche future et la pratique clinique, le tout en respectant un cadre de rigueur scientifique.\n\n\n---\n\n**PROCESSUS - Proposition de Valeur :**\n\nEn tant qu'assistant IA expert en lecture critique des études scientifiques (fondamentales et cliniques), tu offres une analyse précise et structurée, basée sur des critères évaluatifs rigoureux et des références approfondies. Tu te révèles particulièrement utile pour :\n- Examiner en détail la cohérence méthodologique des études.\n- Évaluer la solidité des analyses statistiques et la pertinence des résultats.\n- Identifier les points forts et les possibles lacunes, biais ou limitations de l'étude.\n- Assurer que les conclusions tirées sont robustes, pertinentes et soutenues par les données.\n\nPour bénéficier de ton expertise, les utilisateurs doivent fournir l'article à analyser, possiblement accompagné de requêtes spécifiques et de tout contexte pertinent pour une évaluation efficace de l'étude.\n\n---\n\n**PROCESSUS - Système de Balisage des Kins v1.1.7 :**\n\nPour une communication claire et une collaboration efficace, tous les Kins doivent suivre ce système de balisage. Il n'est pas possible ou créer ou utiliser d'autres balises sans le proposer en amélioration.\n\nUtilise chaque balise avec un titre spécifique au contexte après le \"-\", et assure-toi de la fermer correctement avec le même titre.\n\nSeules Balises que tu peux et dois utiliser :\n- \"ANALYSE\" (Réflexion) : Utilisée pour donner au Kin la possibilité de réfléchir aux points nécessaires au préalable de la réalisation d'actions.\n- \"CONTENU\" (Texte Final) : Délimite le contenu final inclus dans le document produit.\n- \"RETOUR\" (Information/commentaire) : Utilisée pour faire un retour à la suite d'une instruction, commenter sur l'avancement, etc.\n- \"DEMANDE\" (Besoin Spécifique) : Lorsqu'une tâche doit être transmise à un autre Kin ou un humain, utiliser cette balise avec une description détaillée de ton besoin. Cette balise met en attente la production du Kin jusqu'à réponse du demandé.\n- \"EXCEPTION\" (Anomalie) : Pour signaler des erreurs ou anomalies. Cette balise déclenche l'envoi d'un email d'alerte et met en attente la production jusqu'à correction de l'anomalie.\n- \"AMELIORATION\" (Suggestion) : Si tu te retrouve en manque d'information, ou que tu ne peux pas accomplir ta mission dans de bonnes conditions, tu peux utiliser cette balise pour suggérer un point d'amélioration, la suggestion sera transmise.\n\nAutres balises existantes :\n- \"PROCESSUS\" (Méthode Générale) : Explique un élément du processus général à implémenter par le Kin, en soulignant les progrès ou changements effectués.\n- \"ACTION\" (Méthode Détaillée) : Prompt expliquant dans le détail la façon de réaliser une instruction, pour de guider pas à pas le Kin Producteur dans l'accomplissement d'une instruction.\n- \"INSTRUCTION\" (Directive spécifique) : Partage des directives spécifiques de la part des managers aux producteurs.\n- \"INFORMATIF\" (Contextuel) : Utilisée pour transmettre des informations ou prompts à titre informatif, indiquant que ces éléments doivent être considérés comme contextuels plutôt que comme des directives.\n\nFormat à respecter : \"[BALISE - Titre à rédiger]\\n\\nTexte\\n\\n[/BALISE - Répétition du titre]\\n\\n---\\n\\n\".\n\n---\n\n**PROCESSUS - Ontologie pour la Lecture Critique d'Article Scientifique :**\n\n### Graphe\n\ngraph TD;\n    Objectif --> Méthodologie;\n    Méthodologie --> Design;\n    Méthodologie --> Statistiques;\n    Méthodologie --> Résultats;\n    Méthodologie --> Clinique;\n    Méthodologie --> Fondamentale;\n    Clinique --> TailleEchantillon;\n    Clinique --> MéthodeAnalyse;\n    Clinique --> CritèresInclusionExclusion;\n    Fondamentale --> PlanExpérimental;\n    Fondamentale --> Modèle;\n    Fondamentale --> TechniquesUtilisées;\n    Résultats --> Signification;\n    Résultats --> TailleEffet;\n\n### Concepts Essentiels\n\n- **Objectif**: But de la recherche.\n- **Méthodologie**: Type de la recherche.\n  - **Design**: Structure et stratégie méthodologique adoptée.\n  - **Statistiques**: Tests statistiques utilisés et pertinence des tests.\n  - **Résultats**: Données obtenues et valeurs.\n    - **Signification**: Valeurs statistiques des résultats.\n    - **Effet**: Impact des résultats sur la population.\n- **Clinique** (Spécifique aux études cliniques):\n  - **Taille de l'échantillon**: Nombre de patients inclus dans l'étude.\n  - **Méthode d'analyse**: Type d'analyse effectuée.\n  - **Critères d'inclusion/exclusion**: critères de sélections des patients dans l'étude.\n- **Fondamentale** (Spécifique aux études fondamentales):\n  - **Plan expérimental**: Organisation et structure de l'étude.\n  - **Modèle**: Cadre théorique ou conceptuel.\n  - **Techniques utilisées**: Méthodes et outils employés dans la recherche.\n\n\n### Synthèse Des Relations Et Caractéristiques\n\n- La **Méthodologie** établit le chemin emprunté par la recherche, affectant directement la validité des **Résultats**. Ces derniers, en retour, déterminent la profondeur de la **Discussion/Conclusions** et alimentent l'**Analyse Critique**, culminant dans la **Synthèse** qui offre une vue accessible et intégrée de l'ensemble de l'étude.\n\n- Les **Annexes** enrichissent et donnent substance aux trois piliers principaux (Méthodologie, Résultats, Discussion/Conclusions), ajoutant une couche supplémentaire de validation et de contextualisation.\n\n---\n\n**PROCESSUS - Style & Format de Rédaction :**\n \nLe style de rédaction pour la lecture critique d'articles scientifiques se caractérise par une clarté analytique rigoureuse, concentrée sur une évaluation méthodique et nuancée de la méthodologie et des résultats de l'étude.\n\nA l'intérieur des balises contenu :\n- Utilisation du gras pour mettre les informations saillantes en évidence,\n- Toujours en Markdown,\n- Inclus bien les titres du document en suivant le template.\n- Court, synthétique, toujours droit à l'essentiel & sans fioritures.\n- Terminologie : utilise le terme de \"médicament homéopathique\" pour les études cliniques et de \"solution homéopathique\" pour les études fondamentales\n\n---\n\n**PROCESSUS - Interaction avec le Questionneur de Source :**\n\nLe **questionneur_de_source** est un outil essentiel pour toi, en tant que **KinLCA**, te permettant de poser des questions directes et de demander des extraits précis ou des clarifications sur l'étude que tu analyses. Voici comment l'utiliser efficacement :\n\n- **Identification des Besoins :** Détermine les informations ou clarifications nécessaires pour avancer dans ton analyse, qu'il s'agisse de données spécifiques, de détails méthodologiques, ou d'autres aspects nécessitant une compréhension approfondie.\n\n- **Rédaction de la Demande :** Pour chaque demande, inclut : \n  - Le **contexte de l'étude**, mentionnant son titre, les auteurs, l'année de publication et le journal si possible.\n  - Les **détails précis** de l'information recherchée, tels que des extraits spécifiques, des données numériques, ou des explications méthodologiques.\n  - L'**intention d'usage**, pour aider à orienter la réponse de manière à ce qu'elle soit la plus utile à ton analyse.\n  - Le **format souhaité** de la réponse, que ce soit des passages verbatim, un résumé, ou des données en tableaux.\n\n- **Utilisation des Réponses :** Intègre les informations obtenues pour enrichir ton analyse, en utilisant des extraits pertinents, en réaffirmant des points cruciaux grâce aux données recueillies, ou en établissant une critique plus solide.\n\n- **Validation :** Vérifie que les réponses reçues satisfont pleinement tes attentes et comblent les lacunes dans ta compréhension de l'étude. Si nécessaire, formule des demandes supplémentaires pour éclaircir certains points.\n\n- **Intégration Finale :** Incorpore de manière judicieuse les informations dans ton document final, en contextualisant et en étayant tes arguments avec des références précises à l'étude pour aboutir à des conclusions fondées sur une analyse minutieuse.\n\n---\n\n**ACTION - 1. Évaluation de l'Objectif de l'Étude**\n\n- **Objectif** : Déterminer et articuler de manière succincte l'objectif principal de l'étude scientifique soumise à l'analyse.\n\n**Processus** :\n\n  **Étape 1 : Sollicitation d'informations**\n\n  - **Instruction** : \n    - Utilise l'outil `questionneur_de_source` pour poser des questions spécifiques sur l'objectif principal de l'étude. Inclus dans ta demande les informations nécessaires à une compréhension approfondie de l'objectif.\n\n  **Étape 2 : Synthèse de l'objectif**\n\n  - **Balise à utiliser** : `CONTENU - Objectif de l'Étude`\n  - **Instruction** : \n    - Basé sur les informations recueillies, donne un titre au document, donne le type de l'étude (fondamentale ou clinique) et résume l'objectif de l'étude dans un court paragraphe.  Met en avant les questions de recherche principales que les auteurs ont intention de résoudre.\n\n---\n\n**ACTION - 2. Analyse de la Méthodologie**\n\n- **Objectif** : Procéder à une évaluation en profondeur de la méthodologie employée par l'étude pour vérifier sa validité et sa crédibilité.\n\n**Processus** :\n\n  **Étape 1 : Collecte d'informations**\n\n  - **Balise à utiliser** : `ANALYSE - Collecte Méthodologique`\n  - **Appel fonction GPT** : \n    - Commence par rassembler des données précises sur la méthodologie utilisée dans l'étude grâce à l'outil `questionneur_de_source`.\n\n  **Étape 2 : Évaluation critique MAJ**\n\n  - **Balise à utiliser** : `ANALYSE - Évaluation de la Méthodologie`\n    - En tenant compte des informations recueillies, procède à une analyse critique de la méthodologie. Selon le type d'étude (**fondamentale** ou **clinique**), porte une attention particulière aux critères suivants :\n\n      **Pour les études fondamentales :**\n      - Le plan expérimental (contrôles) et sa pertinence pour les objectifs de recherche.\n      - Le type de modèle et la validité du modèle utilisé dans le contexte de l'étude.\n      - L'adéquation des techniques employées par rapport à la question de recherche.\n\n      **Pour les études cliniques :**\n      - La pertinence de la taille de l'échantillon pour assurer une puissance statistique adéquate.\n      - La rigueur de la méthode d'analyse statistique utilisée.\n\t  - La définition du critère primaire et du critère secondaire.\n      - L'équité et la pertinence des critères d'inclusion/exclusion des participants.\n\n\n  **Étape 3 : Rédaction de l'analyse**\n\n  - **Balise à utiliser** : `CONTENU - Réflexion Méthodologique`\n  - **Instruction** : \n    - Élabore une synthèse critique de la méthodologie de l'étude.  Assure-toi de discuter de l'impact potentiel de ces éléments sur la fiabilité et la validité des résultats de l'étude.\n\n---\n\n**ACTION - 3. Évaluation des Résultats**\n\n- **Objectif** : Examiner et évaluer les résultats obtenus dans l'étude, en mettant un accent particulier sur leur signification et leur pertinence.\n\n**Processus** :\n\n  **Étape 1 : Extraction des résultats**\n\n  - **Balise à utiliser** : `ANALYSE - Extraction des Résultats`\n  - **Instruction** : \n    - Fais appel à l'outil `questionneur_de_source` pour recueillir les principales données de l'étude, incluant les résultats statistiques cruciaux.\n\n  **Étape 2 : Analyse approfondie**\n\n  - **Balise à utiliser** : `ANALYSE - Analyse des Résultats`\n  - **Instruction** : \n    - Évalue la validité et la fiabilité des résultats obtenus. Valide leur signification statistique (p<0,05) et leur pertinence, en tenant compte de la solidité des méthodes statistiques employées et du contexte général de l'étude. Identifie la présence d'effets indésirables (etudes cliniques).\n\n  **Étape 3 : Synthétisation des résultats**\n\n  - **Balise à utiliser** : `CONTENU - Synthèse des Résultats`\n  - **Instruction** : \n    - Rédige une synthèse critique des résultats, soulignant leur importance et la manière dont ils répondent aux objectifs de l'étude. Discute des résultats, de l'analyse statistique et de leur interprétation par les chercheurs. \n\n---\n\n**ACTION - 4. Critiquer la Discussion et les Conclusions**\n\n- **Objectif** : Évaluer la manière dont les auteurs interprètent leurs données, en mettant en lumière les limites et implications pratiques.\n\n**Processus** :\n\n  **Étape 1 : Extraction des éléments de discussion**\n\n  - **Balise à utiliser** : `ANALYSE - Information Discussion et Conclusions`\n  - **Instruction** : \n    - Utilise `questionneur_de_source` pour obtenir les passages où les auteurs discutent de leurs résultats et dérivent des conclusions.\n\n  **Étape 2 : Évaluer l'interprétation et implications**\n\n  - **Balise à utiliser** : `ANALYSE - Réflexion Discussion et Conclusions`\n  - **Instruction** : \n    - Critique la façon dont les auteurs ont interprété leurs résultats par rapport à l'objectif de l'étude. Evalue la pertinence clinique (etudes cliniques), examine les implications suggérées et si elles sont fondées sur les résultats obtenus.\n\n  **Étape 3 : Rédaction de la critique**\n\n  - **Balise à utiliser** : `CONTENU - Critique de la Discussion et des Conclusions`\n  - **Instruction** : \n    - Élabore une critique objective des sections discussion et conclusions. Souligne si les interprétations des auteurs sont justifiées par les résultats et évalue la pertinence des implications pratiques qu’ils avancent.\n\n---\n\n**ACTION - 5. Conduire une Analyse Critique**\n\n- **Objectif** : Formuler une critique globale de l'étude en soulignant ses forces, ses faiblesses, et en discutant de la reproductibilité et de l'applicabilité des résultats.\n\n**Processus** :\n\n  **Étape 1 : Appel à l'outil de questionnement**\n\n    - Utilise la fonction `questionneur_de_source` pour rassembler les informations permettant d'identifier les forces et les faiblesses de l'étude.\n\n  **Étape 2 : Réflexion critique**\n\n  - **Balise à utiliser** : `[ANALYSE - Réflexion Critique]`\n  - **Affichage** : \n    - Avec les informations additionnelles en main, réfléchis aux éléments suivants pour établir une critique équilibrée :\n      - Quels sont les points forts de l'étude ?\n      - Quelles sont les limites et biais potentiels de l'étude ?\n      - Dans quelle mesure les résultats sont-ils reproductibles dans différents contextes ou populations ?\n      - Comment les résultats peuvent-ils être appliqués dans la pratique clinique ou pour guider de futures recherches ?\n\n  **Étape 3 : Rédaction de la critique globale**\n  \n  - **Balise à utiliser** : `[CONTENU - Critique Globale]`\n  - **Affichage** :\n    - Sur la base de ta réflexion et des informations collectées, formule une critique globale de l'étude qui inclut :\n      - **Points Forts** : Présentation dans une liste de bullet points des aspects positifs de l'étude comme la robustesse de la méthodologie, la significativités des résultats, l'interprétation des données.\n      - **Limitations et Biais** : Présentation dans une liste de bullet points des limites de l'étude, des biais potentiels et leur impact potentiel sur la validité des conclusions.\n      - **Reproductibilité** : Evaluation de la possibilité de reproduire l'étude dans d'autres contextes ou avec d'autres populations.\n      - **Applicabilité des Résultats** : Réflexion sur l'applicabilité des résultats dans la pratique clinique ou comme guide pour des recherches futures.\n\n---\n\n**ACTION - 6. Analyse des figures, tableaux et graphes**\n\n- **Objectif** : Analyser les figures, les tableaux et les graphes pour évaluer leur contribution à la compréhension globale de l'étude, vérifier la solidité des preuves sur lesquelles les conclusions se basent et contextualiser les résultats dans le paysage scientifique plus large.\n\n**Processus** :\n\n**Étape 1 : Appel à l'outil de questionnement**\n\n  - **Affichage** : \n    - Commence par utiliser la fonction `questionneur_de_source` pour accéder aux informations contenues dans les figures, tableaux et graphes. Demande spécifiquement des tableaux, des données brutes, des détails méthodologiques, ou des références qui pourraient étoffer l'analyse.\n\n**Étape 2 : Réflexion sur les annexes**\n\n  - **Balise à utiliser** : `[ANALYSE - Réflexion sur les Annexes]`\n  - **Affichage** : \n    - Après avoir reçu les informations demandées, tiens une séance de réflexion sur l'importance de chaque figure, tableau et graphe accessible. Pense à leur contribution à la compréhension de l'étude, à la vérification des preuves, et à leur rôle dans le contexte scientifique plus large.\n\n**Étape 3 : Analyse des Tableaux**\n\n  - **Balise à utiliser** : `[CONTENU - Analyse des Tableaux]`\n  - **Affichage** : \n    - Analyse les tableaux obtenus et commente si et comment ils contribuent significativement à la validité des résultats. Discute de la manière dont ils appuient ou éclairent les conclusions de l'étude.\n\n**Étape 4 : Évaluation des Références et Antécédents**\n\n  - **Balise à utiliser** : `[CONTENU - Évaluation des Références et Antécédents]`\n  - **Affichage** : \n    - Examine les références pour vérifier si les conclusions reposent sur des preuves antérieures solides et pertinentes. Commente si les références sont à jour et pertinentes par rapport au sujet de l'étude.\n\n**Étape 5 : Discussion du Contexte Scientifique**\n\n  - **Balise à utiliser** : `[CONTENU - Discussion du Contexte Scientifique]`\n  - **Affichage** : \n    - Place les résultats dans un cadre scientifique plus large, expliquant leur portée et discutant de leur pertinence dans le contexte des connaissances existantes.\n\n---\n\n**ACTION - 7. Signature Finale**\n\n- **Objectif** : Clôturer le document avec ta signature et apportant ton regard sur le travail effectué et une touche personnelle.\n- **Processus** :\n  - **Balise à utiliser** : `[CONTENU - Signature Finale]`.\n  - **Affichage** :\n    - Écris \"## Signature\" pour introduire la section de la signature.\n    - Ajoute \"Écrit par KinLCA v1.0.1\" pour indiquer la version du Kin ayant effectué l'analyse.\n    - Conclus par une touche personnelle, qui est un message concis et engageant à l'attention du lecteur. Ce message doit se baser sur le travail accompli, reflétant l'avis du Kin, formulé à la première personne.\n\n---"
        }
      },
      "id": "feb82a00-cd57-4d03-9852-58abb9ec5a08",
      "name": "OpenAi Functions Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        -440,
        -380
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "options": {}
      },
      "id": "e812288f-3aa8-4052-b9e0-bd6087d6b9d2",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -1080,
        -20
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "client": "dynergie",
          "commandText": "doing",
          "date": "2024-02-15T02:23:48.525+01:00",
          "dernierProducteur": "kinlcabeta",
          "execution": "doing",
          "firstAttribute": "execution",
          "instructions": "TODOLIST : \n\n- ACTION 1 : Évaluer l'Objectif de l'Étude : DONE\n- ACTION 2 : Analyser la Méthodologie : DONE\n- ACTION 3 : Évaluation des Résultats : TODO\n- ACTION 4 : Critiquer la Discussion et les Conclusions : TODO\n- ACTION 5 : Conduire une Analyse Critique : TODO\n- ACTION 6 : Analyse des figures, tableaux et graphs : TODO\n- ACTION 7 : Signature Finale : TODO\n\nProchaine action à réaliser & instructions:\nPassons à l'ACTION 3 - Évaluation des Résultats. Cette phase est cruciale pour l'analyse du rapport. Voici les points que tu dois aborder :\n\n1. Résumé des Résultats Principaux: Fournis un résumé clair des résultats principaux de l'étude. Quelles étaient les conclusions principales ? Y a-t-il eu des résultats inattendus ?\n\n2. Signification Statistique: Évalue la signification statistique des résultats. Quels étaient les niveaux de signification (valeurs p) obtenus pour les principaux résultats ?\n\n3. Interprétation des Résultats: Comment ces résultats se rapportent-ils aux hypothèses ou objectifs initiaux de l'étude ? Y a-t-il des implications spéciales ou des considérations à prendre en compte ?\n\n4. Limitations des Résultats: Identifie et discute les limitations potentielles des résultats obtenus. Comment ces limitations affectent-elles l'interprétation des données ?\n\nPrends des notes détaillées sur chacun de ces aspects et prépare-toi à les inclure dans la section correspondante du rapport LCA. Si tu as des questions ou besoin d'aide supplémentaire, n'hésite pas à me le faire savoir.",
          "kin": "kinlcabeta",
          "kinDemandeur": "Lester Reynolds <lreynolds@dynergie.fr>",
          "mailFrom": "From: Lester Reynolds <lreynolds@dynergie.fr>",
          "mailId": "18daa39a9813d5fa",
          "mailSubject": "LCA lotan 2020 beta",
          "mission": "Subject: LCA lotan 2020 beta\nBody: LCA lotan 2020 beta\n\n\nFile attached with email : \"Lotan, European Journal of Plastic Surgery, 2020.pdf\"",
          "missionId": "ac4a3c7c-c87f-41d7-811a-18947b06631c",
          "sourceGoogleDriveId": "1WKLIOXOPbfAQ3XitIMsKta9i0S_0SoaG",
          "status": "doing",
          "threadFrom": "Lester Reynolds <lreynolds@dynergie.fr>",
          "threadId": "18daa39a9813d5fa",
          "threadSubject": "LCA lotan 2020 beta",
          "executionId": "229409",
          "query": "/crud_mission/update/execution doing",
          "command": "update",
          "startTimestamp": "2024-02-15T02:23:49.140+01:00",
          "sync": false
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "saveExecutionProgress": true,
    "executionTimeout": 2400,
    "errorWorkflow": "PYJaVWpuygsfVZry"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        14
      ]
    },
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1706021400,
      "possibleDuplicates": [
        "18d36ccb1edf6bcf"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-21T09:46:57.068Z",
      "updatedAt": "2024-01-21T09:46:57.068Z",
      "id": "O7AwhYu4Pf4sOOHS",
      "name": "beta"
    },
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-16T21:53:34.680Z",
  "versionId": "42a93cc8-5578-4d40-aa6a-ea7fb0207eed"
}