workflows/CHERCHEUR SCIENTIFIQUE -  Récupérateur d'études et extracteur d'informations.json
{
  "active": false,
  "connections": {
    "Get Assistant": {
      "main": [
        [
          {
            "node": "Chercheur Scientifique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "Get Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquéreur de Citations": {
      "ai_tool": [
        [
          {
            "node": "Chercheur Scientifique",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur d'Etudes": {
      "ai_tool": [
        [
          {
            "node": "Chercheur Scientifique",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Documents": {
      "ai_tool": [
        [
          {
            "node": "Chercheur Scientifique",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur de Document": {
      "ai_tool": [
        [
          {
            "node": "Chercheur Scientifique",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ScratchPad": {
      "ai_tool": [
        [
          {
            "node": "Chercheur Scientifique",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chercheur Scientifique": {
      "main": [
        [
          {
            "node": "nouveau message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-16T10:56:15.284Z",
  "id": "f4z3JUKhsFgmKRgZ",
  "meta": null,
  "name": "CHERCHEUR SCIENTIFIQUE -  Récupérateur d'études et extracteur d'informations",
  "nodes": [
    {
      "parameters": {
        "assistantId": "asst_hNyr1QuF0nptyuRJJAiOa1gV",
        "text": "=# Documents disponibles\n\n{{ $node[\"message\"].json.documentsDisponibles }}\n\n# Contexte\n\n{{ $node[\"message\"].json.contexte }}\n\n# Intention d'Usage\n\n{{ $node[\"message\"].json.intentionDUsage }}\n\n# Demande\n\n{{ $node[\"message\"].json[\"demandeurId\"] }} : {{ $node[\"message\"].json[\"demandeur\"] }} :\n``\n{{ $node[\"message\"].json[\"demande\"] }}\n``",
        "nativeTools": [
          "code_interpreter",
          "retrieval"
        ],
        "options": {}
      },
      "id": "7ef91002-99e3-47e2-b34b-06c01558dffd",
      "name": "Chercheur Scientifique",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        2960,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('message').item.json[\"producteurId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a822871b-6fcb-438c-9adc-88d780ff949f",
      "name": "Get Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2700,
        135
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e4cca7a1-261b-41d8-991e-e322fe0d0560",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2220,
        135
      ]
    },
    {
      "parameters": {},
      "id": "d97e6e5b-f91c-4177-a045-de03fac085e3",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        2220,
        -65
      ]
    },
    {
      "parameters": {
        "content": "# ENTREE STANDARD",
        "height": 536.060150033849,
        "width": 536.692184943248
      },
      "id": "99630865-7231-4a3a-bcab-afcd13436bed",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2100,
        -180
      ]
    },
    {
      "parameters": {
        "workflowId": "uM0Ul7juoL7DAqRB"
      },
      "id": "a4c1d32c-19f5-4e57-8b12-36accef0e5d0",
      "name": "message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2460,
        135
      ]
    },
    {
      "parameters": {
        "name": "redacteur_de_document",
        "description": "Rédige une version améliorée d'un passage du document demandé à partir d'une demande détaillée",
        "workflowId": "0T67aHjuqQEnrTN0",
        "responsePropertyName": "=message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "f9261b0e-9832-4c1a-8a3b-b4dad23c4df7",
      "name": "Rédacteur de Document",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3540,
        620
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_documents",
        "description": "Donne une réponse précise issue du document demandé à partir d'un besoin informationnel.",
        "workflowId": "ebLHEt0swZVT9tks",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "ce7f2610-06e8-463c-bcb4-261de4ce8398",
      "name": "Questionneur de Documents",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3400,
        620
      ]
    },
    {
      "parameters": {
        "name": "scratchpad",
        "description": "Crée une copie temporaire de toi même, sans les accès aux fonctions, afin de pouvoir répondre aux demandes de génération textuelles et de reflexion (exemples : prendre le temps de rédiger, faire plusieurs itérations pour améliorer un texte, etc.), à partir d'une demande précise et détaillée donnée en entrée.",
        "workflowId": "wTbd0CgnGrumh0qf",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "19fbf97a-6def-4e25-8f48-86ad566f1f06",
      "name": "ScratchPad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3680,
        620
      ]
    },
    {
      "parameters": {
        "content": "# OUTILS STANDARD",
        "height": 224.32004875594802,
        "width": 447.22204993824914
      },
      "id": "b94bb288-286d-4f03-95ed-1e9d0316db57",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3360,
        540
      ]
    },
    {
      "parameters": {
        "name": "questionneur_d_etudes",
        "description": "Retourne des citations précises issues d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle.",
        "workflowId": "yQ79P9nuVKhkwZpD",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"message\"].json) }}"
            }
          ]
        }
      },
      "id": "8a858ac5-da9f-4dde-9838-290d2f29435a",
      "name": "Questionneur d'Etudes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3140,
        740
      ]
    },
    {
      "parameters": {
        "name": "acquereur_de_citations",
        "description": "Retourne des citations précises issues d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle.",
        "workflowId": "It2FPpnGNxaxojxY",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $node[\"message\"].json.contexte }}"
            }
          ]
        }
      },
      "id": "ca9dd2ca-4628-4f47-ab93-866c59259150",
      "name": "Acquéreur de Citations",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        2980,
        740
      ]
    },
    {
      "parameters": {
        "content": "# OUTILS SPECIFIQUES",
        "height": 413.4919569863578,
        "width": 468.47826732357714
      },
      "id": "28caf69c-7cbe-4a71-bea1-6747240e9740",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2860,
        540
      ]
    },
    {
      "parameters": {
        "content": "# COLLABORATEURS",
        "height": 224.32004875594802,
        "width": 355.66820106337036
      },
      "id": "32ff50e3-2553-4976-ad51-2577f0457b62",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Accès DB Etudes",
        "height": 272.5167132732499,
        "width": 391.3636040958942
      },
      "id": "6ae7ef41-22f0-4efb-9c92-741a2c4ef01d",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2900,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let message = $node[\"message\"].json;\n\nif (Object.keys($json).length == 1) {\n  message.demande = $json[Object.keys($json)[0]];\n} else {\n  message.demande = JSON.stringify($json);\n}\n\nreturn {\"message\":JSON.stringify(message)};"
      },
      "id": "2f7dd2a4-b92f-4c59-a988-2f1235cdc2c1",
      "name": "nouveau message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        140
      ]
    },
    {
      "parameters": {
        "content": "# SORTIE STANDARD",
        "height": 273.96047817628465,
        "width": 382.2960085494244
      },
      "id": "7bc12f29-fb9d-4f53-a736-846bc38a87e8",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3600,
        40
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-12-21T14:52:21.000Z",
  "versionId": "c4a8c123-bde3-4928-a8d2-dff89d59c056"
}