workflows/Convert thread to document.json
{
  "active": true,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "document": {
      "main": [
        [
          {
            "node": "return json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-02T09:31:06.550Z",
  "id": "xyhDvFnHl8aCE9hV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Convert thread to document",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let thread = $node[\"entree\"].json.thread;\n\nfunction extractDynamicContent(thread) {\n    let extractedContent = \"\";\n    const contentPattern = /\\[CONTENU[\\s\\S]*?][\\s\\S]*?\\[\\/CONTENU[\\s\\S]*?\\]/gi;\n\n    let matches;\n    while ((matches = contentPattern.exec(thread)) !== null) {\n        // Ajoute chaque contenu trouvé au texte final\n        extractedContent += matches[0] + \"\\n\\n\";\n    }\n\n    return extractedContent.trim();\n}\n\n// Fonction pour retirer les occurrences\nfunction removeOccurrences(document, pattern) {\n    return document.replace(pattern, '');\n}\n\n// Garder le CONTENU\nlet document = extractDynamicContent(thread);\n\n// Expression régulière pour identifier les occurrences à retirer\nconst pattern = /\\n{0,2}\\[\\/?CONTENU.*?\\]\\n{0,2}/gi;\n\n// Application de la fonction au document\ndocument = removeOccurrences(document, pattern);\n\ndocument = document.replace(/---/g, \"\\n\");\n\nif (document == \"\") {\n    document = \"[INFORMATIF - Pas de contenu]\\n\\nLe document est vide pour le moment (pas de baslises CONTENU trouvées dans le thread).\\n\\n[/NIFORMATIF - Pas de contenu]\\n\\n---\\n\\n\" ;\n}\n\nreturn {\"json\":{\"document\":document}};"
      },
      "id": "b955f73d-e030-4db3-a60f-0a37c521fc16",
      "name": "document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {},
      "id": "eeb9e3bc-dfd4-48a5-8612-10bf23d5c1a9",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        780,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\nif (json.chatInput) {\n  json.thread = json.chatInput;\n  json.kinDemandeur = \"Un humain\";\n}\n\nreturn {\"json\": json};"
      },
      "id": "43f24a5a-e1be-42da-a5ec-e1e8ed0ca8f4",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"entree\"].json;\n\njson.document =  $node[\"document\"].json.document;\n\nif ($node[\"entree\"].json.chatInput != null) {\n  return {\"output\": json.document};\n}\n\nreturn {\"json\": json};"
      },
      "id": "b84f0612-c01c-4ad4-b6e0-27e0459ca576",
      "name": "return json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Le fonction \"convert_thread_to_document\" extrait tout ce qu'il y a entre balises \"CONTENU\", aka. le document final.",
        "options": {
          "inputPlaceholder": "[CONTENU - Le thread] Lorem Ipsum [/CONTENU - Le thread]",
          "responseMode": "lastNode",
          "subtitle": "Le fonction \"convert_thread_to_document\" extrait tout ce qu'il y a entre balises \"CONTENU\", aka. le document final.",
          "title": "={{ $workflow.name }}"
        }
      },
      "id": "ef131656-94ca-48c1-ba26-400e378742a7",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        780,
        300
      ],
      "webhookId": "2ed232a3-9f81-4322-bb68-a01a4c11ecea"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "thread": "[PROCESSUS - Modèle d'une demande de revue de littérature scientifique]\n\n**CONTEXTE DE LA REVUE**\n- **Sujet de la revue de littérature*** : Spécifiez le domaine précis ou la question de recherche que la revue de littérature vise à explorer.\n- **Objectifs spécifiques de la revue** : Définissez les objectifs détaillés de la revue.\n- **Questions de recherche principales** : Listez les questions spécifiques que la revue cherche à répondre.\n- **Domaines scientifiques concernés** : Identifiez les disciplines scientifiques impliquées dans la revue.\n\n**PROJET DE RECHERCHE**\n- **Utilisation prévue de la revue** : Précisez comment vous prévoyez d'utiliser cette revue de littérature.\n- **Description succincte des objectifs de recherche** : Fournissez un aperçu des buts généraux de la recherche menée par l'entité.\n\n**BESOINS ET EXIGENCES**\n- **Exigences sur les résultats attendus** : Précisez le format et le contenu attendus du rapport final de la revue, y compris toute analyse spécifique ou structure de rapport.\n\n[/PROCESSUS - Modèle d'une demande de revue de littérature scientifique]\n\n---\n\n[PROCESSUS - Etapes de rédaction d'une revue de littérature scientifique]\n\n- ACTION 1. *Vérification et reformulation de la Demande* : TODO\n- ACTION 2. *Génération des queries de recherche* : TODO\n- ACTION 3. *Réalisation  de la recherche sur Google Scholar* : TODO\n- Fin de mission (document intermédiaire)\n\n[/PROCESSUS - Etapes de rédaction d'une revue de littérature scientifique]\n\n---\n\n\n\n---\n\n[ANALYSE - Examen initial de la demande]\n\nLa demande reçue est bien structurée et fournit tous les détails nécessaires pour entamer la rédaction de la revue de littérature scientifique. Le sujet est clairement défini : \"Efficacité de l'homéopathie en santé animale à travers différentes espèces.\" Les objectifs spécifiques, les questions de recherche principales, et les domaines scientifiques concernés sont également énoncés de manière explicite, ce qui facilite la compréhension du champ d'étude. La description des méthodes de recherche envisagées indique une approche systématique de la revue, ce qui est conforme aux standards dans la rédaction scientifique. L'apport attendu de la revue pour le domaine de recherche est également clair. Les exigences sur les résultats attendus se concentrent sur le livrable intermédiaire : les résultats de recherches Google Scholar. Toutes les informations nécessaires pour débuter la mission sont présentes, il n'y a pas de besoin d'envoyer une demande de précisions supplémentaires au client à ce stade.\n\n[/ANALYSE - Examen initial de la demande]\n\n---\n\n[CONTENU - Reformulation de la demande]\n\nLa mission consiste à effectuer une revue de littérature sur \"L'efficacité de l'homéopathie en santé animale à travers différentes espèces.\" L'objectif est d'évaluer l'efficacité de l'homéopathie dans le traitement de diverses conditions chez les animaux de compagnie, d'élevage, et sauvages, en s'appuyant sur des études cliniques et fondamentales. Les questions de recherche visent à déterminer la preuve de l'efficacité de l'homéopathie dans le traitement des maladies chez différentes espèces animales et à examiner comment les résultats varient entre les animaux de compagnie, d'élevage, et sauvages. Les domaines scientifiques impliqués sont la médecine vétérinaire, la pharmacologie, la médecine alternative et complémentaire, ainsi que l'écologie. La méthode comprend une recherche et analyse systématique de la littérature académique, avec une sélection et évaluation rigoureuse des études. L'apport attendu est de clarifier l'état des connaissances sur l'efficacité de l'homéopathie en santé animale, d'identifier des tendances ou différences dans les résultats en fonction du type d'animaux, et de proposer des pistes pour les recherches futures. Le livrable intermédiaire attendu est le résultat des recherches Google Scholar.\n\n[/CONTENU - Reformulation de la demande]\n\n---\n\n---\n\n[PROCESSUS - Etapes de rédaction d'une revue de littérature scientifique]\n\n- ACTION 1. *Vérification et reformulation de la Demande* : **Terminé**\n- ACTION 2. *Génération des queries de recherche (études fondamentales)* : **À faire**\n- ACTION 3. *Réalisation de la recherche sur Google Scholar (études fondamentales)* : **À faire**\n- ACTION 4. *Génération des queries de recherche (études cliniques)*: **À faire**\n- ACTION 5. *Réalisation de la recherche sur Google Scholar (études cliniques)*: **À faire**\n- Fin de mission (document intermédiaire)\n\n[/PROCESSUS - Etapes de rédaction d'une revue de littérature scientifique]\n\n---\n\nLa prochaine étape est la génération des queries de recherche pour les études fondamentales.\n\n---\n\n[ANALYSE - Développement des Requêtes pour Études Cliniques]\n\nLa réalisation de l'étape suivante nécessite la génération de queries de recherche ciblées sur les études cliniques concernant l'efficacité de l'homéopathie en santé animale. Pour ce faire, il est essentiel de reformuler le sujet de la revue en anglais et d'identifier les mots clés pertinents relatifs à la recherche clinique dans ce domaine. La distinction entre les animaux de compagnie, d'élevage et sauvages doit également être considérée pour couvrir l'ensemble des objectifs de la revue.\n\nSujet de la revue en Anglais : \"Effectiveness of Homeopathy in Animal Health across Different Species\"\n\nMots Clés Principaux en Anglais (Recherche Clinique) :\n- Homeopathy\n- Animal Health\n- Clinical Trials\n- Pets\n- Livestock\n- Wildlife\n- Veterinary Medicine\n- Alternative Medicine\n\nEn se basant sur ces mots clés, les queries de recherche doivent être formulées de manière à capturer les études cliniques pertinentes, tout en tenant compte de la variété des espèces animales concernées.\n\n[/ANALYSE - Développement des Requêtes pour Études Cliniques]\n\n---\n\n[CONTENU - Formulation des Requêtes pour Études Cliniques]\n\nLes 3 formulations de queries les plus pertinentes pour la recherche d'études cliniques sur l'efficacité de l'homéopathie en santé animale sont :\n\n1. \"Homeopathy clinical trials in pets\"\n2. \"Homeopathy effectiveness in livestock veterinary medicine\"\n3. \"Wildlife animal health alternative medicine homeopathy\"\n\nCes requêtes englobent les principales catégories d'animaux mentionnées dans les objectifs de la revue et visent à localiser des études cliniques évaluant explicitement l'efficacité de l'homéopathie dans le domaine de la santé animale. La demande spécifie la recherche de publications ultérieures à une date non précisée dans les instructions. En l'absence de cette date, il serait prudent de se concentrer sur des recherches publiées dans les 10 dernières années pour assurer la pertinence et l'actualité des informations collectées.\n\n[/CONTENU - Formulation des Requêtes pour Études Cliniques]\n\n---\n\nLa prochaine étape consiste à réaliser la recherche sur Google Scholar avec les queries formulées pour les études cliniques.\n\n---\n\n[CONTENU - Revue de Littérature sur l'Efficacité de l'Homéopathie en Santé Animale]\n\n---\n### Sélection des Études Pertinentes sur l'Efficacité de l'Homéopathie en Santé Animale (Clinique)\n\nLa recherche Google Scholar a permis d'identifier plusieurs études cliniques qui évaluent l'efficacité de l'homéopathie dans le traitement de diverses conditions chez les animaux de compagnie, d'élevage et sauvages. Voici une synthèse des études sélectionnées les plus pertinentes :\n\n1. **Homeopathic preparations and separation anxiety in dogs: a pilot study.** Veterinary Integrative Sciences, 2022\n    - Cette étude explore l'usage de préparations homéopathiques pour le traitement de l'anxiété de séparation chez les chiens, soulignant l'absence de préparations spécifiques pour des conditions cliniques précises. Elle met en avant la diversité des réactions chez les chiots, ce qui suggère un potentiel pour l'homéopathie dans le traitement des conditions comportementales chez les animaux de compagnie.\n\n2. **USE OF A HOMEOPATHIC PRODUCT IN DOGS REDUCES THE NEGATIVE EFFECTS OF CANINE ATOPIC DERMATITIS.** Archives of Veterinary Science, 2022\n    - L'étude examine l'utilisation d'un produit homéopathique pour atténuer les effets négatifs de la dermatite atopique canine. Elle propose une approche potentiellement bénéfique pour minimiser ces effets, qui affectent lourdemment le bien-être des chiens.\n\n3. **Safety Assessment of Intravenous Application of the Homeopathic Medicine Viscum Album D3 in Dogs.** Asian Journal of Animal and Veterinary Advances, 2021\n    - Cette recherche évalue la sécurité de l'application intraveineuse de la médecine homéopathique Viscum Album D3 chez les chiens. Les résultats de sécurité sont essentiels pour justifier l'emploi de traitements homéopathiques.\n\n4. **A Systematic Review of Complementary and Alternative Veterinary Medicine: \"Miscellaneous Therapies\".** Animals: an Open Access Journal, 2021\n    - Cette revue systématique offre une synthèse de la recherche concernant l'homéopathie en médecine vétérinaire. Elle constitue une source importante pour éclairer l'état des connaissances sur l'efficacité de l'homéopathie.\n\n5. **Evaluation of the effectiveness of a BioBoi® homeopathic medicine on the incidence and prevalence of subclinical mastitis in dairy cows.** cabidigitallibrary.org, 2023\n    - L'étude évalue l'efficacité de la médecine homéopathique BioBoi® sur la mastite subclinique chez les vaches laitières. Les résultats indiquent une réduction de l'incidence et de la prévalence de cette condition, illustrant le potentiel de l'homéopathie dans le traitement de conditions spécifiques chez le bétail.\n\n6. **Homeopathic Treatment of Pododermatitis in Magellanic Penguins (Spheniscus magellanicus).** Homeopathy\n    - L'article analyse l'emploi de médicaments homéopathiques pour la pododermatite chez les pingouins de Magellan, démontrant une application prometteuse de l'homéopathie dans les soins aux animaux sauvages.\n\n7. **Evidence-based human homeopathy and veterinary homeopathy, and their potential to help overcome the problem of antibiotic resistance–an overview.** (Journal non spécifié)\n    - Cette revue aborde le rôle de l'homéopathie dans la gestion des infections chez les animaux de ferme, mettant en lumière son potentiel pour s'intégrer dans la médecine complémentaire et contribuer à surmonter le problème de la résistance aux antibiotiques.\n\nCes études fournissent des preuves importantes sur l'efficacité de l'homéopathie dans divers contextes de santé animale. Elles mettent en évidence l'application de l'homéopathie pour traiter des conditions spécifiques, y compris dans le contexte des animaux de compagnie, d'élevage et sauvages, et ouvrent des pistes pour de futures recherches dans ce domaine.\n\n---\n\n[/CONTENU - Revue de Littérature sur l'Efficacité de l'Homéopathie en Santé Animale]\n\n---\n\n[ANALYSE - Développement des Requêtes pour Études Fondamentales]\n\nLa prochaine étape consiste à élaborer des requêtes pour les études fondamentales sur l'efficacité de l'homéopathie en santé animale. Cette démarche nécessite une reformulation du sujet de l'étude en anglais et l'identification des mots-clés pertinents qui reflètent les domaines d'intérêt spécifiques aux études fondamentales, tels que les mécanismes d'action de l'homéopathie, les modèles animaux utilisés en recherche, et les résultats expérimentaux.\n\nSujet de la revue en Anglais pour les études Fondamentales : \"Homeopathy Mechanisms of Action in Animal Health across Different Species\".\n\nMots Clés Principaux en Anglais (Études Fondamentales) :\n- Homeopathy\n- Mechanisms of Action\n- Animal Health\n- Animal Models\n- Experimental Results\n- Veterinary Medicine\n- Pharmacodynamics\n- Biomedical Research\n\nGrâce à ces mots clés, il est possible de formuler des requêtes de recherche visant à identifier les études fondamentales pertinentes. Ces recherches devraient permettre de découvrir les études examinant les mécanismes sous-jacents par lesquels l'homéopathie pourrait influencer la santé animale, en se focalisant sur les résultats obtenus dans des modèles animaux divers.\n\n[/ANALYSE - Développement des Requêtes pour Études Fondamentales]\n\n---\n\n[CONTENU - Formulation des Requêtes pour Études Fondamentales]\n\nSur la base des mots clés identifiés, les trois formulations de requêtes les plus pertinentes pour mener à bien la recherche des études fondamentales concernant l'efficacité de l'homéopathie en santé animale sont :\n\n1. \"Animal health homeopathy mechanisms of action\"\n2. \"Homeopath veterinary medicine animal models\"\n3. \"Experimental results in biomedical research on homeopathy in animals\"\n\nCes requêtes couvrent les principaux aspects des études fondamentales liées à l'homéopathie en santé animale, incluant les mécanismes d'action, l'utilisation de modèles animaux en médecine vétérinaire, et les données expérimentales pertinentes. Afin d'assurer l'actualité et la pertinence des informations recueillies pour cette revue de littérature, la recherche se focalisera sur les publications des 10 dernières années.\n\n[/CONTENU - Formulation des Requêtes pour Études Fondamentales]\n\n---\n\nLa prochaine étape consistera à réaliser la recherche sur Google Scholar avec les requêtes formulées pour les études fondamentales.\n[CONTENU - Revue de Littérature sur l'Efficacité de l'Homéopathie en Santé Animale (Études Fondamentales)]\n\n---\n### Sélection des Études Fondamentales sur l'Efficacité de l'Homéopathie en Santé Animale\n\nLa recherche Google Scholar sur les études fondamentales a révélé plusieurs articles pertinents qui examinent les mécanismes d'action de l'homéopathie, utilisent des modèles animaux et rapportent des résultats expérimentaux. Ci-dessous, une synthèse des études les plus pertinentes identifiées :\n\n1. **High-dilution effects revisited. 2. Pharmacodynamic mechanisms**\n    - **Journal**: Thieme Connect\n    - **Résumé**: L'article examine les effets des dilutions élevées sur les remèdes homéopathiques à travers des études sur les animaux et in vitro, offrant des preuves expérimentales de ces effets.\n\n2. **A review of preclinical research on the effects of photodynamic therapy and homeopathic medicine on cancer cells**\n    - **Journal**: Altern Ther Health Med\n    - **Résumé**: Cet article passe en revue un essai montrant une réduction de la charge tumorale chez les animaux traités avec de l'homéopathie, démontrant son potentiel thérapeutique contre le cancer.\n\n3. **Homeopathy and biotherapy in Bothrops asper envenomation**\n    - **Journal**: Revista de Atención Primaria à la Salud (non spécifié si à comité de lecture)\n    - **Résumé**: Recherche sur les effets du médicament homéopathique Phosphorus sur l'envenimation par Bothrops asper, principalement sur des modèles de souris.\n\n4. **A review on animal‑based homoeopathic drugs and their applications in biomedicine**\n    - **Journal**: Non précisé\n    - **Résumé**: Une revue sur les médicaments homéopathiques basés sur les animaux et leurs utilisations en biomédecine, soulignant leur potentiel diversifié.\n\n5. **The preclinical studies of the stress-protective activity of “Tonus-aktiv” homeopathic granules**\n    - **Journal**: News of Pharmacy (non spécifié si à comité de lecture)\n    - **Résumé**: Cet article examine les effets protecteurs contre le stress des granules homéopathiques \"Tonus-aktiv\" sur des animaux expérimentaux, illustrant ses bénéfices potentiels.\n\n6. **Experimental pharmacology (animal testing): A homoeopathic glimpse**\n    - **Journal**: homoeopathicjournal.com (non spécifié si à comité de lecture)\n    - **Résumé**: Discussion sur l'importance des modèles animaux dans la recherche homéopathique, soulignant la nécessité de données de recherche animale avant les applications humaines.\n\n7. **Status of basic research in homeopathy**\n    - **Journal**: The Current State of Homeopathic Research\n    - **Résumé**: Examine l'état actuel de la recherche fondamentale en homéopathie, y compris les études d'oncologie expérimentale sur des animaux.\n\n8. **Significance of animal model research in homoeopathy**\n    - **Journal**: Indian Journal of Research in Homoeopathy\n    - **Résumé**: Exploration de l'importance de la recherche sur des modèles animaux en homéopathie, discutant des effets comportementaux de Lycopodium clavatum chez des animaux expérimentaux.\n\n9. **Homeopathic product in dog diets modulate blood cell responses**\n    - **Journal**: Arch Vet Sci\n    - **Résumé**: Étude sur la stimulation de la production de lymphocytes chez les chiens sains par un agent homéopathique, suggérant des avantages potentiels pour les animaux infectés.\n\n10. **Veterinary clinical research database for homeopathy: placebo-controlled trials**\n    - **Journal**: Complementary Therapies in Medicine\n    - **Résumé**: Vue d'ensemble de la base de données de recherche clinique vétérinaire pour l'homéopathie, mettant en avant l'importance des essais cliniques contrôlés par placebo dans la recherche homopathique.\n\nCes études montrent la diversité et l'approfondissement dans la recherche sur les mécanismes d'action de l'homéopathie en santé animale, utilisant divers modèles animaux. Elles apportent des preuves significatives sur le potentiel de l'homéopathie pour traiter diverses conditions de santé chez les animaux, contribuant ainsi à l'objectif global de la revue.\n\n---\n\n[/CONTENU - Revue de Littérature sur l'Efficacité de l'Homéopathie en Santé Animale (Études Fondamentales)]\n\n---\n\n[RETOUR - Fin de Mission]\n\nAvec la compilation des études cliniques et fondamentales sur l'efficacité de l'homéopathie en santé animale, la mission assignée pour la rédaction du document intermédiaire de cette revue de littérature est maintenant achevée. Les résultats de ces recherches fournissent une vue d'ensemble solide et argumentée sur l'état actuel de la recherche dans ce domaine, illuminant les mécanismes potentiels, les applications cliniques, et les bénéfices de l'homéopathie dans le traitement de différentes conditions chez les animaux de compagnie, d'élevage, et sauvages.\n\n[/RETOUR - Fin de Mission]\n\n---",
          "documentGoogleDriveId": "1oaqJR2YbtD00XutY6G0Y9eldzCN1z65V"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:32:35.457Z",
      "updatedAt": "2023-12-17T10:32:35.457Z",
      "id": "y4SS6pvxfLMwCsGn",
      "name": "service"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-02-14T21:52:03.000Z",
  "versionId": "ca8885ad-d96d-42cd-a5d0-aa11099cdc5a"
}