workflows/CRUD Documentation.json
{
  "active": false,
  "connections": {
    "entree": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "List items",
            "type": "main",
            "index": 0
          },
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If commandText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If create": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If create1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If read": {
      "main": [
        [
          {
            "node": "Get FILE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If update": {
      "main": [
        [
          {
            "node": "Edit FILE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If delete": {
      "main": [
        [
          {
            "node": "Delete FILE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FILE": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If create1": {
      "main": [
        [
          {
            "node": "Edit FILE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If update2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit FILE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get FILE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete FILE": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get FILE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If update2": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "return documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If FILE1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not List": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If not List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If FILE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If commandText": {
      "main": [
        [
          {
            "node": "return documentation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FILE1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-15T02:36:15.216Z",
  "id": "g3JPUsHyA5nXgkwx",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CRUD Documentation",
  "nodes": [
    {
      "parameters": {},
      "id": "4ca1e96b-8083-4552-989e-e9e92a04fb0b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1800,
        -1140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\nif (json.chatInput) {\n  json.query = json.chatInput;\n  json.kinDemandeur = \"Un humain\";\n}\n\njson.query = json.query.trim();\n\n// Détecter la commande\nlet regexCommand = /\\/crud\\_documentation\\/([a-zA-Z0-9\\_\\-]+)/i;\njson.command = \"\";\nlet matchCommand = json.query.match(regexCommand);\nif (matchCommand) {\n    json.command = matchCommand[1];\n}\n\nlet regexFirstAttribute = /\\/crud\\_documentation\\/[a-zA-Z0-9\\_\\-]+\\/([a-zA-Z0-9\\_\\-.]+)/i;\nlet matchFirstAttribute = json.query.match(regexFirstAttribute);\nif (matchFirstAttribute) {\n  json.firstAttribute = matchFirstAttribute[1];\n}\n\nlet regexAllCommand = /\\/\\S+ /;\njson.commandText = \"\";\nlet matchAllCommand = json.query.match(regexAllCommand);\nif (matchAllCommand) {\n  let startIndex = matchAllCommand[0].length;\n  json.commandText = json.query.substring(startIndex);\n}\n\njson.date = $now.toString();\n$execution.customData.set(\"kin\", String(json.kin));\n\nreturn {\"json\": json};"
      },
      "id": "22d2ebc3-9e6d-4c61-ac51-33cbbd03c90e",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        -1140
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "1850c337-4fe4-4a7d-9670-98af3306bccf",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -400,
        -740
      ]
    },
    {
      "parameters": {},
      "id": "92bd894a-b80b-4d55-ac7f-1979b81d464c",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        100,
        -1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $('entree').item.json.command }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b3ca7fd-d240-417e-8b81-187c530393a2",
              "leftValue": "={{ $node['Code'].json.docs }}",
              "rightValue": "={{ $json.firstAttribute }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "ce75585f-c6a8-403a-ab4f-abd16b2959bb",
      "name": "If create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        -540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $node[\"entree\"].json.command }}",
              "rightValue": "read",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8f29f700-476d-4d7f-8ca4-44a8de2f5a74",
              "leftValue": "={{ $node['Code'].json.docs }}",
              "rightValue": "={{ $json.firstAttribute }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "bbbc6e34-b7f6-4a38-8f2a-52261895f982",
      "name": "If read",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        -1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $node[\"entree\"].json.command }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "236945a2-ce21-48cd-9b53-05693c9d4f89",
              "leftValue": "={{ $node['Code'].json.docs }}",
              "rightValue": "={{ $json.firstAttribute }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "d1f424b6-e522-427e-97a1-5596fc3f86f2",
      "name": "If update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        -940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $node[\"entree\"].json.command }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e314dd0b-1987-49b4-b51c-0cb45f92c060",
              "leftValue": "={{ $node['Code'].json.docs }}",
              "rightValue": "={{ $json.firstAttribute }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "3b2552c0-8ead-4123-820e-ea2ba5e08c30",
      "name": "If delete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        -740
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/DigitalKin-ai/kindocs",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/DigitalKin-ai/kindocs",
          "mode": "url"
        },
        "filePath": "=docs/{{ $('entree').item.json.firstAttribute }}",
        "fileContent": "={{ $('entree').item.json.commandText }}",
        "commitMessage": "={{ `Update: ` + $('entree').item.json.firstAttribute }}"
      },
      "id": "0f5be76b-cc4a-49be-9cf1-f42616790aed",
      "name": "Edit FILE",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -660,
        -940
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/DigitalKin-ai/kindocs",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/DigitalKin-ai/kindocs",
          "mode": "url"
        },
        "filePath": "=docs/{{ $('entree').item.json.firstAttribute }}",
        "fileContent": "={{ $('entree').item.json.commandText }}",
        "commitMessage": "={{ `Create: ` + $('entree').item.json.firstAttribute }}"
      },
      "id": "bce41a6f-255e-453c-a111-b614735496c0",
      "name": "Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -660,
        -540
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "https://github.com/DigitalKin-ai/kindocs",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/DigitalKin-ai/kindocs",
          "mode": "url"
        },
        "filePath": "={{ `docs/` + $('entree').item.json.firstAttribute }}",
        "commitMessage": "={{ `Delete: ` + $('entree').item.json.firstAttribute }}"
      },
      "id": "455bc415-906d-49ec-a96d-65d58f6f48de",
      "name": "Delete FILE",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -660,
        -740
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "CRUD Doc error"
      },
      "id": "5a8abfb8-3830-4529-8448-19d97a8d2ecc",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -660,
        -360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kindocs",
          "mode": "list",
          "cachedResultName": "kindocs",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kindocs"
        },
        "filePath": "=docs/{{ $('entree').item.json.firstAttribute }}",
        "additionalParameters": {}
      },
      "id": "b4b08de7-2867-4b2a-8fd6-c4c421ad10c9",
      "name": "Get FILE",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -660,
        -1140
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "lNM7LCv7g0a8rDRT",
          "name": "Charlie Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $('entree').item.json.command }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b3ca7fd-d240-417e-8b81-187c530393a2",
              "leftValue": "={{ $node['Code'].json.docs }}",
              "rightValue": "={{ $json.firstAttribute }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "220eb953-2f06-4e31-9384-b5205c631c52",
      "name": "If create1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1140,
        -740
      ]
    },
    {
      "parameters": {
        "content": "# /crud_docs/%actionType%/%actionContent%",
        "height": 1014.6426644836935,
        "width": 1620.2062945085067
      },
      "id": "4ee8f25d-acf2-41fc-b430-db17c62f158f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1860,
        -1228.90763830907
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $('entree').item.json.command }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b3ca7fd-d240-417e-8b81-187c530393a2",
              "leftValue": "={{ $node['Code'].json.docs }}",
              "rightValue": "={{ $json.firstAttribute }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "aa7ccde8-139e-47a2-bde6-a004fd095f5d",
      "name": "If update2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1140,
        -540
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "docs",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "baca1a45-23a8-4ff6-bf16-f92941728731",
      "name": "Convert to JSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        500,
        -1040
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\ndelete json.query;\n\nreturn {\"json\":{\"response\": json.docs}};"
      },
      "id": "6d915ae7-f8e5-4d40-ac5b-5c310b0aa937",
      "name": "return documentation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -1140
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kindocs",
          "mode": "list",
          "cachedResultName": "kindocs",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kindocs"
        },
        "filePath": "=docs/"
      },
      "id": "8de1b887-d7ef-4b67-b5c5-5f5c48e95d73",
      "name": "List items",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1580,
        -940
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "lNM7LCv7g0a8rDRT",
          "name": "Charlie Github"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=.",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "93604729-2398-4366-b8b6-de4e388dc5c6",
      "name": "If FILE1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1580,
        -740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $json.query }}",
              "rightValue": "/crud_documentation/list",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "4276d8b4-e591-4f3d-87e6-48e65aee38cc",
      "name": "If not List",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1380,
        -360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kindocs",
          "mode": "list",
          "cachedResultName": "kindocs",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kindocs"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "405d699f-360a-417a-8516-fc28a2a17609",
      "name": "List items1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1380,
        -740
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "lNM7LCv7g0a8rDRT",
          "name": "Charlie Github"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=",
        "include": "specifiedFields",
        "fieldsToInclude": "query",
        "options": {}
      },
      "id": "3a5caf5b-e1c5-48cc-b6f5-8aa600ec117a",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1380,
        -540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5244985f-d439-4d8c-a4a9-ece15f994e9f",
              "name": "query",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1cb2fe73-49ad-46e0-8641-cabcf3c2aeaf",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1580,
        -540
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let vals = $json;\nlet json = {};\n\njson.docs = vals[\"\"].map(val => val.query).join(',')\n\nreturn json;"
      },
      "id": "aa3fd1d6-b3e7-413c-8cc9-5c2e277f3a11",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1580,
        -360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20b5652c-32a6-4e1c-b0c3-95e6c330be31",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1380,
        -940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f63273fd-4900-4799-9340-1f2de05a40c4",
              "leftValue": "={{ $node[\"entree\"].json.commandText }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "42234958-9409-4b0c-993e-e2992edc473c",
              "leftValue": "={{ $node[\"entree\"].json.commandText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "5654078f-e6de-401a-882a-dbefc36f2e89",
      "name": "If commandText",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        -1140
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "e642535a-b545-40b9-8051-359401b39f74",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1140,
        -940
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kindocs",
          "mode": "list",
          "cachedResultName": "kindocs",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kindocs"
        },
        "filePath": "=docs/{{ $('entree').item.json.firstAttribute }}",
        "additionalParameters": {}
      },
      "id": "9adcd943-289d-49d5-9c1e-a51ac0610189",
      "name": "Get FILE1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -400,
        -940
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "lNM7LCv7g0a8rDRT",
          "name": "Charlie Github"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "/crud_documentation/delete/test.md Test",
          "missionId": "71668b49-3a9c-4778-bfa3-8605d3a4fc71"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-12-17T10:07:55.424Z",
      "updatedAt": "2023-12-20T20:25:13.009Z",
      "id": "DzuSxffpFOEBRhld",
      "name": "outil"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-02-21T11:03:26.000Z",
  "versionId": "7f02174a-9267-45b5-85c4-d5ee5c6edb9a"
}