workflows/DOC Upload service.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "defaultEmbedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree pinecone": {
      "main": [
        [
          {
            "node": "Inserer le document dans Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sourceGoogleDriveId": {
      "main": [
        [
          {
            "node": "mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserer le document dans Pinecone": {
      "main": [
        [
          {
            "node": "sourceGoogleDriveId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nouvelleMission": {
      "main": [
        [
          {
            "node": "CRUD Mission : Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Source": {
      "main": [
        [
          {
            "node": "entree pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree source": {
      "main": [
        [
          {
            "node": "Upload Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mission": {
      "main": [
        [
          {
            "node": "nouvelleMission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kin mission": {
      "main": [
        [
          {
            "node": "IF mission not running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF mission not running": {
      "main": [
        [
          {
            "node": "IF Pièce Jointe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defaultEmbedding": {
      "main": [
        [
          {
            "node": "Get kin mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pièce Jointe": {
      "main": [
        [
          {
            "node": "entree source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sourceGoogleDriveId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-08T09:41:24.870Z",
  "id": "teBXUHMl5AIi70pR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DOC Upload service",
  "nodes": [
    {
      "parameters": {},
      "id": "b204fe4f-d958-462d-9ab2-e4af10d3e4c2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        520,
        340
      ]
    },
    {
      "parameters": {
        "content": "## TRIGGER BY MAIL/HTTP\nMail : https://kins.app.n8n.cloud/workflow/XJj8pXdTRJp9DrDI\nHttp : https://kins.app.n8n.cloud/workflow/pJPiOSio0nwCPuZv",
        "height": 303.55801312368527,
        "width": 296.17487470057233
      },
      "id": "d3679812-ac05-41d3-b098-483094143659",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messages = $json.query;\nlet emailThread = \"\";\nlet remainingEmailThread = \"\";\nconst MAX_LENGTH = 10000;\n\nmessages.forEach(message => {\n    let subject = 'n/a';\n    let from = 'n/a';\n    let to = 'n/a';\n\n    if (message.payload && message.payload.headers) {\n        const subjectHeader = message.payload.headers.find(header => header.name === 'Subject');\n        const fromHeader = message.payload.headers.find(header => header.name === 'From');\n        const toHeader = message.payload.headers.find(header => header.name === 'To');\n\n        if (subjectHeader) subject = subjectHeader.value;\n        if (fromHeader) from = fromHeader.value;\n        if (toHeader) to = toHeader.value;\n    }\n\n    const date = new Date(parseInt(message.internalDate));\n    const snippet = message.snippet;\n    emailThread += `Sujet: ${subject}\\nDe: ${from}\\nÀ: ${to}\\nDate: ${date.toLocaleString()}\\nExtrait: ${snippet}\\n\\n`;\n});\n\n\nif (emailThread.length > MAX_LENGTH) {\n    emailThread = \"Voici la fin du thread d'email :\\n[...]\" + emailThread.substring(emailThread.length - MAX_LENGTH);\n    remainingEmailThread = emailThread.substring(0, emailThread.length - MAX_LENGTH);\n} else {\n    remainingEmailThread = \"\";\n}\n\n\nreturn {\"json\" : {\"emailThread\": emailThread, \"remainingEmailThread\": remainingEmailThread}};"
      },
      "id": "c265d098-97ed-496d-9f8b-33cab8336a2b",
      "name": "emailThread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"Get Email\"].json;\n  \njson.mailId =  $node[\"Get Email\"].json.id;\n\nreturn {\"json\" : json, \"binary\": $node[\"Get Email\"].binary};"
      },
      "id": "fd14b0cb-da12-4908-a773-73b247420568",
      "name": "entree pinecone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "sourceGoogleDriveId",
              "stringValue": "={{ $json.documentGoogleDriveId?$json.documentGoogleDriveId:$json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d90f9ede-bfca-464d-854c-fb8187833c8b",
      "name": "sourceGoogleDriveId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1920,
        340
      ]
    },
    {
      "parameters": {
        "workflowId": "eRT6xb82oqCbX4u2",
        "options": {}
      },
      "id": "8b73e51a-84aa-47fc-a92a-22b9ee3684fa",
      "name": "Inserer le document dans Pinecone",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2480,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = {};\n\njson.client = $node[\"Execute Workflow Trigger\"].json.client;\n\njson.kin = $node[\"Execute Workflow Trigger\"].json.kin;\n\njson.sourceGoogleDriveId = $node[\"sourceGoogleDriveId\"].json.sourceGoogleDriveId;\n\njson.threadId = $node[\"Execute Workflow Trigger\"].json.threadId;\njson.threadSubject = $node[\"Execute Workflow Trigger\"].json.threadSubject;\njson.threadFrom = $json.client;\n\njson.query = \"/crud_mission/create/\" + json.kin  + \" \" + $node[\"mission\"].json.mission;\n\nreturn {\"json\": json};"
      },
      "id": "be415738-c5a4-4de9-b6d7-d305f7f6c0ad",
      "name": "nouvelleMission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "name": "={{ $binary[Object.keys($binary)].fileName }}",
        "parents": [
          "1E0oqQwRg93PO3_Ak_0lhcK0yyzTvKqL9"
        ],
        "options": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "mailId",
                "value": "={{ $json.mailId }}"
              },
              {
                "key": "threadId",
                "value": "={{ $json.threadId }}"
              }
            ]
          }
        }
      },
      "name": "Upload Source",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2100,
        140
      ],
      "typeVersion": 1,
      "id": "6ae498b7-7170-453f-80e1-9a1bae86c5d0",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive DK via Nicolas"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"Get Email\"].json;\n  \njson.threadId =  $node[\"Get Thread\"].json.id;\njson.mailId =  $node[\"Get Email\"].json.id;\n\nreturn {\"json\" : json, \"binary\": $node[\"Get Email\"].binary};"
      },
      "id": "16b07ee9-777b-43f5-add0-dc33ef7aeb2f",
      "name": "entree source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        140
      ]
    },
    {
      "parameters": {
        "workflowId": "HLDDZOmG8kuk2zTi",
        "options": {}
      },
      "id": "bad3dbb8-da82-4eb3-bc4c-86559a170fc2",
      "name": "CRUD Mission : Create",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2480,
        340
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ $node[\"Execute Workflow Trigger\"].json.mission.substring(0, 10000)}}{{ $node[\"Execute Workflow Trigger\"].json.mission.length > 10000 ? \"[...]\" : \"\" }}\n{{ $node[\"Execute Workflow Trigger\"].json.doc.binary? (\"\\nFile attached with request : \" + $node[\"Execute Workflow Trigger\"].json.doc.binary[Object.keys($node[\"Execute Workflow Trigger\"].json.doc.binary)].fileName):\"\" }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "af1b6086-017f-4f31-b0c6-d13d1c21fb55",
      "name": "mission",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2100,
        340
      ]
    },
    {
      "parameters": {
        "content": "## STOP IF MISSION ALREADY RUN\nhttps://kins-71e4f70.svc.eu-west4-gcp.pinecone.io/query",
        "height": 242.7443604667863,
        "width": 406.24025491686785
      },
      "id": "f6ed80ff-a79e-4e21-a3d4-7b029d237cd9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.vectorDatabaseEndpoint }}query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"includeMetadata\": true,\n  \"topK\": 1,\n  \"filter\": { \"threadId\" : \"{{ $node[\"Execute Workflow Trigger\"].json.threadId }}\", \"kin\": \"{{ $node[\"Execute Workflow Trigger\"].json.kin }}\"},\n  \"vector\": {{ JSON.stringify($node[\"defaultEmbedding\"].json.defaultEmbedding) }}\n}",
        "options": {}
      },
      "id": "5822e2eb-266e-4e51-84eb-bca6a2cd3362",
      "name": "Get kin mission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        340
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## TRIGGER BY MAIL/HTTP\nMail : https://kins.app.n8n.cloud/workflow/XJj8pXdTRJp9DrDI\nHttp : https://kins.app.n8n.cloud/workflow/pJPiOSio0nwCPuZv",
        "height": 332.2696157484222,
        "width": 296.17487470057233
      },
      "id": "470cf7e4-b902-410a-a0f3-9eb13e85a509",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2380,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json.matches).length > 0 }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "95efadb5-d637-4e56-b920-62e614741c47",
      "name": "IF mission not running",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        340
      ]
    },
    {
      "parameters": {
        "workflowId": "=IJeSapyzv0Y9koZ9",
        "options": {}
      },
      "id": "999cb400-8bc6-4438-a207-28274db9d633",
      "name": "defaultEmbedding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1020,
        340
      ]
    },
    {
      "parameters": {
        "content": "## GET DEFAULT EMBEDDING\nhttps://kins.app.n8n.cloud/workflow/IJeSapyzv0Y9koZ9",
        "height": 302.1555964477757,
        "width": 275.09433962264154
      },
      "id": "fa5abf94-d4e2-4ea5-8e21-84681052429f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        200
      ]
    },
    {
      "parameters": {
        "content": "## TODO\nDoc send by API",
        "height": 220.45581059896162
      },
      "id": "d6adea37-9d01-4c54-a818-afcaf03f1990",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($node[\"Execute Workflow Trigger\"].binary).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d7f64490-9422-4c13-a7e5-1af60696adf5",
      "name": "IF Pièce Jointe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1700,
        340
      ]
    },
    {
      "parameters": {
        "content": "## TODO\nIf already running, return text, not error\n\njson.role = \"Kin\";\njson.status = $node[\"CREATE RESPONSE - String to JSON\"].json.status;\njson.content = $node[\"CREATE RESPONSE - String to JSON\"].json.instructions;\njson.createdAt = $node[\"CREATE RESPONSE - String to JSON\"].json.date;\njson.id = $node[\"CREATE RESPONSE - String to JSON\"].json.executionId;\njson.originId = $node[\"CREATE RESPONSE - String to JSON\"].json.threadId;\njson.assignment = $node[\"CREATE RESPONSE - String to JSON\"].json.mission;\njson.model = $node[\"CREATE RESPONSE - String to JSON\"].json.kin;",
        "height": 438.536890137649,
        "width": 431.2957960111836
      },
      "id": "87ef7a7f-71e1-4cc7-a5c9-1cc6b82df0c0",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "let json = {};\n\njson.status = \"doing\";\njson.content = \"RUNNING : La mission est déjà en cours ! Merci de patienter.\";\njson.id = $node[\"Execute Workflow Trigger\"].json.threadId;\njson.originId = $node[\"Execute Workflow Trigger\"].json.client;\njson.assignment = $node[\"Execute Workflow Trigger\"].json.threadSubject;\njson.model = $node[\"Execute Workflow Trigger\"].json.kin;\njson.role = \"Kin\";\njson.createdAt = new Date();\n\nreturn json;"
      },
      "id": "bed0b146-2c51-45c1-96f3-a9d514e40a45",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        560
      ]
    },
    {
      "parameters": {
        "errorMessage": "Already running"
      },
      "id": "db43b5a7-bf3b-4cd2-8ab1-c1bea87d1e34",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1660,
        800
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromAList",
    "callerIds": "pJPiOSio0nwCPuZv"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:32:35.457Z",
      "updatedAt": "2023-12-17T10:32:35.457Z",
      "id": "y4SS6pvxfLMwCsGn",
      "name": "service"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-02-15T08:13:16.000Z",
  "versionId": "65effc63-a9d8-481d-ac75-ff4945d58b7f"
}