workflows/Email Trigger.json
{
  "active": true,
  "connections": {
    "Get Thread": {
      "main": [
        [
          {
            "node": "emailThread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Adresse Kin": {
      "main": [
        [
          {
            "node": "kinDemandeur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "main": [
        [
          {
            "node": "If from Kin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emailThread": {
      "main": [
        [
          {
            "node": "missionDemandeur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If from Kin1": {
      "main": [
        [],
        [
          {
            "node": "defaultEmbedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pièce Jointe": {
      "main": [
        [
          {
            "node": "entree pinecone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sourceGoogleDriveId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree pinecone": {
      "main": [
        [
          {
            "node": "Inserer le document dans Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sourceGoogleDriveId": {
      "main": [
        [
          {
            "node": "Get Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mission": {
      "main": [
        [
          {
            "node": "nouvelleMission matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Trigger": {
      "main": [
        [
          {
            "node": "If Adresse Kin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "defaultEmbedding": {
      "main": [
        [
          {
            "node": "Get kinmatcheur mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF mission": {
      "main": [
        [],
        [
          {
            "node": "IF Pièce Jointe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserer le document dans Pinecone": {
      "main": [
        [
          {
            "node": "sourceGoogleDriveId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kinmatcheur mission": {
      "main": [
        [
          {
            "node": "IF mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kinDemandeur": {
      "main": [
        [
          {
            "node": "Get Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "missionDemandeur": {
      "main": [
        [
          {
            "node": "If Kin Accès via Matcheur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nouvelleMission1": {
      "main": [
        [
          {
            "node": "Lancement Mission Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nouvelleMission matching": {
      "main": [
        [
          {
            "node": "Lancement Mission Matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Kin Accès via Matcheur": {
      "main": [
        [
          {
            "node": "mission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nouvelleMission1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-25T13:23:49.297Z",
  "id": "XJj8pXdTRJp9DrDI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email Trigger",
  "nodes": [
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $node[\"Get Email\"].json.threadId }}",
        "options": {}
      },
      "id": "ff3ebe13-7765-46cd-b043-ec4261d9d164",
      "name": "Get Thread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1040,
        620
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail Nicolas"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $node[\"Mail Trigger\"].json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "3d8b3b8d-ce0d-4f2a-b5f1-23ecc35c257c",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -700,
        60
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail Nicolas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bc0e8cdf-74fb-4bbd-9a00-4c184620a784",
              "leftValue": "={{ $node[\"Mail Trigger\"].json.headers.to.match(/kin[a-zA-Z]+@/i) }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9ea15363-c875-4c91-b5d4-7d89e650e935",
              "leftValue": "={{ $node[\"Mail Trigger\"].json.headers.cc.match(/kin[a-zA-Z]+@/i) }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "ee262ee2-8dc7-4c12-9113-fa62b04c17a9",
      "name": "If Adresse Kin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1140,
        60
      ]
    },
    {
      "parameters": {
        "content": "## Ne pas effectuer les missions en double",
        "height": 242.7443604667863,
        "width": 494.87172388888246
      },
      "id": "92df523c-1f78-4084-9f76-6aa075fd7486",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        321.8248751369445
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messages = $node[\"Get Thread\"].json.messages;\nlet emailThread = \"\";\nlet remainingEmailThread = \"\";\nconst MAX_LENGTH = 10000;\n\nmessages.forEach(message => {\n    let subject = 'n/a';\n    let from = 'n/a';\n    let to = 'n/a';\n\n    if (message.payload && message.payload.headers) {\n        const subjectHeader = message.payload.headers.find(header => header.name === 'Subject');\n        const fromHeader = message.payload.headers.find(header => header.name === 'From');\n        const toHeader = message.payload.headers.find(header => header.name === 'To');\n\n        if (subjectHeader) subject = subjectHeader.value;\n        if (fromHeader) from = fromHeader.value;\n        if (toHeader) to = toHeader.value;\n    }\n\n    const date = new Date(parseInt(message.internalDate));\n    const snippet = message.snippet;\n    emailThread += `Sujet: ${subject}\\nDe: ${from}\\nÀ: ${to}\\nDate: ${date.toLocaleString()}\\nExtrait: ${snippet}\\n\\n`;\n});\n\n\nif (emailThread.length > MAX_LENGTH) {\n    emailThread = \"Voici la fin du thread d'email :\\n[...]\" + emailThread.substring(emailThread.length - MAX_LENGTH);\n    remainingEmailThread = emailThread.substring(0, emailThread.length - MAX_LENGTH);\n} else {\n    remainingEmailThread = \"\";\n}\n\n\nreturn {\"json\" : {\"emailThread\": emailThread, \"remainingEmailThread\": remainingEmailThread}};"
      },
      "id": "65cf34cb-c40a-4a0e-a0f3-2c989845d33e",
      "name": "emailThread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a135e888-bcf9-47ab-acce-799a3d379a9c",
              "leftValue": "={{ $node[\"Get Email\"].json.headers.from }}",
              "rightValue": "=/kin\\w+/i",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "56688202-4437-40ea-8422-94e6fbf11510",
      "name": "If from Kin1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -500,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($node[\"Get Email\"].binary).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4ea5672b-851c-40a5-810d-8befe72640e7",
      "name": "IF Pièce Jointe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"Get Email\"].json;\n  \njson.mailId =  $node[\"Get Email\"].json.id;\n\nreturn {\"json\" : json, \"binary\": $node[\"Get Email\"].binary};"
      },
      "id": "c6675bc6-6d06-459e-8032-b07e4630db23",
      "name": "entree pinecone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        220
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "sourceGoogleDriveId",
              "stringValue": "={{ $json.documentGoogleDriveId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40951189-92e8-4014-879e-1753be78e267",
      "name": "sourceGoogleDriveId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        400,
        420
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ $json.missionDemandeur }}\n[PROCESSUS - Mission : Matching]\n\nTa mission est de trouver le Kin le plus adapté pour répondre au besoin du client, et de lancer le Kin approprié via la fonction GPT actionneur_de_production. \n\n[/PROCESSUS - Mission : Matching]\n\n---"
            }
          ]
        },
        "options": {}
      },
      "id": "bca53e20-6cbc-49c1-9fe3-5d5cf4f972c3",
      "name": "mission",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        0,
        620
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "800ce070-50a9-417b-bf6f-89da6a4331f6",
      "name": "Mail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1340,
        60
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail Nicolas"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "=IJeSapyzv0Y9koZ9",
        "options": {}
      },
      "id": "71fd663e-b985-4cee-abc6-2f01c4cd3b14",
      "name": "defaultEmbedding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1040,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json.matches).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f4b4cad8-e0b7-4cbd-b37e-02fe0a6e08f1",
      "name": "IF mission",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -600,
        380
      ]
    },
    {
      "parameters": {
        "workflowId": "eRT6xb82oqCbX4u2",
        "options": {}
      },
      "id": "dfb6dfd8-4bf7-4f55-9608-abb0903b3f02",
      "name": "Inserer le document dans Pinecone",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        200,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kinbase-71e4f70.svc.apw5-4e34-81fa.pinecone.io/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"missions\",\n  \"includeMetadata\": true,\n  \"topK\": 1,\n  \"filter\": { \"mailId\" : \"{{ $node[\"Get Email\"].json.id }}\", \"kin\": \"kinmatcheur\"},\n  \"vector\": {{ JSON.stringify($node[\"defaultEmbedding\"].json.defaultEmbedding) }}\n}",
        "options": {}
      },
      "id": "91dd0823-2367-463e-9d56-7c5bb0310126",
      "name": "Get kinmatcheur mission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -820,
        380
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "kinDemandeur",
              "stringValue": "={{ $node[\"Mail Trigger\"].json.headers.to.match(/kin[a-zA-Z]+@/i)[0].slice(0, -1) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "54c3ef2c-77d5-46a5-8337-84dcf38573d8",
      "name": "kinDemandeur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -900,
        60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "missionDemandeur",
              "stringValue": "=[INFORMATIF - Thread D'Emails]\n\n{{ $node[\"emailThread\"].json.emailThread.length > 10000 ? \"[...]\" : \"\" }}{{ $node[\"emailThread\"].json.emailThread.substring($node[\"emailThread\"].json.emailThread.length - 10000)}}\n\n[INFORMATIF - Thread D'Emails]\n\n---\n\n[FEEDBACK - Dernier email reçu]\n\n{{ $node[\"Get Email\"].json.text.substring(0, 10000)}}{{ $node[\"Get Email\"].json.text.length > 10000 ? \"[...]\" : \"\" }}\n\n[/FEEDBACK - Dernier email reçu]\n\n---"
            }
          ]
        },
        "options": {}
      },
      "id": "a56441c6-f01b-4157-ad0b-990f297eb2d6",
      "name": "missionDemandeur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -580,
        620
      ]
    },
    {
      "parameters": {
        "workflowId": "DXYPhavwlYlTKPqu",
        "options": {}
      },
      "id": "d61512a1-4f2c-44fe-8020-7b141574bd5b",
      "name": "Lancement Mission Matching",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        440,
        620
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = {};\n\njson.client = $node[\"Mail Trigger\"].json.from.value[0].address.match(/(?<=@)[^\\.]+/)[0];\n\njson.kin = $node[\"kinDemandeur\"].json.kinDemandeur;\njson.mission = $node[\"missionDemandeur\"].json.missionDemandeur;\n\njson.sourceGoogleDriveId = $node[\"sourceGoogleDriveId\"].json.sourceGoogleDriveId;\n\njson.threadId = $node[\"Get Thread\"].json.id;\njson.threadSubject = $node[\"Get Thread\"].json.messages[0].Subject;\njson.threadFrom = $node[\"Get Thread\"].json.messages[0].From;\n\njson.mailId = $node[\"Get Email\"].json.id;\njson.mailSubject = $node[\"Get Email\"].json.subject;\njson.mailFrom = $node[\"Get Email\"].json.headers.from;\n\nreturn {\"json\": json};"
      },
      "id": "ed5cd136-91d2-46e3-b5ca-1f34228d30ba",
      "name": "nouvelleMission1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "workflowId": "DXYPhavwlYlTKPqu",
        "options": {}
      },
      "id": "6cf75122-b4ca-4dba-80ed-156e3ec0d4ef",
      "name": "Lancement Mission Standard",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        220,
        800
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = {};\n\njson.client = $node[\"Mail Trigger\"].json.from.value[0].address.match(/(?<=@)[^\\.]+/)[0];\n\njson.kin = \"kinmatcheur\";\njson.kinDemandeur = $node[\"kinDemandeur\"].json.kinDemandeur;\njson.mission = $node[\"mission\"].json.mission;\njson.missionDemandeur = $node[\"missionDemandeur\"].json.missionDemandeur;\n\njson.sourceGoogleDriveId = $node[\"sourceGoogleDriveId\"].json.sourceGoogleDriveId;\n\njson.threadId = $node[\"Get Thread\"].json.id;\njson.threadSubject = $node[\"Get Thread\"].json.messages[0].Subject;\njson.threadFrom = $node[\"Get Thread\"].json.messages[0].From;\n\njson.mailId = $node[\"Get Email\"].json.id;\njson.mailSubject = $node[\"Get Email\"].json.subject;\njson.mailFrom = $node[\"Get Email\"].json.headers.from;\n\nreturn {\"json\": json};"
      },
      "id": "deead856-cb5a-4138-9a0d-65319c3911d8",
      "name": "nouvelleMission matching",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a135e888-bcf9-47ab-acce-799a3d379a9c",
              "leftValue": "={{ [/*\"kinlca\", \"kinchercheur\", \"kinchercheurbeta\",*/ \"kinsota\", \"kinsotabeta\", \"kincir\", \"kincirbeta\"] }}",
              "rightValue": "={{ $node[\"kinDemandeur\"].json.kinDemandeur in ['kin'] }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "f9b48cf7-5cd6-43c5-b3dc-0c20a00449fb",
      "name": "If Kin Accès via Matcheur",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -280,
        620
      ]
    }
  ],
  "pinData": {
    "Inserer le document dans Pinecone": [
      {
        "json": {
          "citation": "Hamre, H.J., Glockmann, A., von Ammon, K., Riley, D.S., & Kiene, H. (2023). Efficacy of homoeopathic treatment: Systematic review of meta-analyses of randomised placebo-controlled homoeopathy trials for any indication. Systematic Reviews, 12, Article 191. https://doi.org/10.1186/s13643-023-02313-2",
          "documentGoogleDriveId": "133Y79LwjWJL5EMU9_OQjSkxpar6WhwZc"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1706088137,
      "possibleDuplicates": [
        "18d3ac70312f4667"
      ]
    },
    "node:Seb reçoit un email": {
      "lastTimeChecked": 1706023258
    },
    "node:Kin Mail": {
      "lastTimeChecked": 1706305011,
      "possibleDuplicates": [
        "18d47b488e5cab95"
      ]
    },
    "node:Mail Trigger": {
      "lastTimeChecked": 1706741261,
      "possibleDuplicates": [
        "18d61b5153b2b2bf"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-23T15:32:23.987Z",
      "updatedAt": "2024-01-23T15:32:23.987Z",
      "id": "wt7Cl4Mt8mR1bDh4",
      "name": "admin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-31T22:48:39.000Z",
  "versionId": "76e74010-013c-4efc-a962-461aa745c85b"
}