workflows/Get Document.json
{
  "active": false,
  "connections": {
    "entree": {
      "main": [
        [
          {
            "node": "thread",
            "type": "main",
            "index": 0
          },
          {
            "node": "If sourceGoogleDriveId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to binary data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "If format pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If format pdf": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thread": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Convert thread to document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge binaries": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing document": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge binaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sourceGoogleDriveId": {
      "main": [
        [
          {
            "node": "Get existing document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "thread1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF1": {
      "main": [
        [
          {
            "node": "Download PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thread1": {
      "main": [
        [
          {
            "node": "document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "document1": {
      "main": [
        [
          {
            "node": "Convert to PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert thread to document": {
      "main": [
        [
          {
            "node": "Convert to binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-28T12:31:43.501Z",
  "id": "H3fxaSnxjZT6EGhc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get Document",
  "nodes": [
    {
      "parameters": {},
      "id": "810465a3-91d6-4d12-a678-921a80653553",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"Execute Workflow Trigger\"].json;\n\nreturn {\"json\": json};"
      },
      "id": "80059fdd-7f78-4e5c-a1d3-2e7ff3880b00",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        500
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "document",
        "destinationKey": "document",
        "options": {
          "fileName": "={{ $node[\"thread\"].binary.thread.fileName }}",
          "mimeType": "text/markdown",
          "useRawData": true
        }
      },
      "id": "50815c40-4410-4691-8a8c-30d2a040cb54",
      "name": "Convert to binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6834f38a-925c-420d-855f-15a8b07bdc5e",
              "leftValue": "={{ $node[\"entree\"].json.format }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "003c68f9-b07e-4f36-a6ed-ca16ff675d0d",
      "name": "If format pdf",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sync.api.cloudconvert.com/v2/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-my-file\": {\n      \"operation\": \"import/raw\",\n      \"filename\": {{ JSON.stringify($node[\"Convert to binary data\"].binary.document.fileName) }},\n      \"file\": {{ JSON.stringify($node[\"document\"].json.document) }}\n    },\n    \"convert-my-file\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-my-file\",\n      \"output_format\": \"pdf\"\n    },\n    \"export-my-file\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-my-file\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "f62ebc3f-8dac-496b-8729-4f4b4d8b5530",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "0dvNBbU8vvKoyenO",
          "name": "Cloud Convert Header AUTH"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.data.tasks[0].result.files[0].url }}",
        "options": {}
      },
      "id": "9dceb655-4e76-40e8-88f1-cf4f488f38f5",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        260
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "3a36baf8-1de8-44cb-9cc4-c383469dc691",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1440,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = {};\n\njson.document = $item(0).$node[\"Convert thread to document\"].json.document;\n\nreturn {\"json\": json, \"binary\": $binary};"
      },
      "id": "6e7fe0f3-611f-4ca2-aecb-e07ba0543805",
      "name": "response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": "YWxRZmBa38HYCjnv",
        "options": {}
      },
      "id": "db8615ea-60d9-450c-9267-5668de7999ee",
      "name": "thread",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -160,
        500
      ]
    },
    {
      "parameters": {},
      "id": "f3c98e4c-ae2e-44e9-95fb-e24263ca5d1b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1440,
        680
      ]
    },
    {
      "parameters": {
        "content": "## todo : fix format choice : re-choose format from Get Active Kins",
        "height": 331.2914642317718
      },
      "id": "dc1d0c98-5ebb-474c-b9e5-fad92683f6c7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let binaries = {}, binary_keys = [];\n\nfor([index, item] of items.entries()) {\n  if (item.binary) {\n        binaries[Object.keys(item.binary)[0]+`_${index}`] = item.binary[Object.keys(item.binary)[0]];\n    binary_keys.push(Object.keys(item.binary)[0] + `_${index}`);\n  }\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(',')\n    },\n    binary: binaries\n}];"
      },
      "id": "6232bd89-3074-452c-bf3f-3fd0ed93dc7f",
      "name": "Merge binaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        480
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.sourceGoogleDriveId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "source"
        }
      },
      "id": "6630018f-89ec-41f6-a6ce-3f3eec309d92",
      "name": "Get existing document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1180,
        780
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive DK via Nicolas"
        }
      }
    },
    {
      "parameters": {},
      "id": "e5c2daf1-0bf7-4d1a-910c-363f697b58be",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1440,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3b9d3f3b-af89-4188-ba23-093f7eccb8a8",
              "leftValue": "={{ $json.sourceGoogleDriveId != null }}",
              "rightValue": "=null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "de9bb8f4-3ce7-49c6-9018-d9d5aabba8ee",
              "leftValue": "={{ $json.sourceGoogleDriveId != \"null\"  }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cbe5b0d5-8487-4ac5-bf96-08fbb0809cb5",
      "name": "If sourceGoogleDriveId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        880
      ]
    },
    {
      "parameters": {},
      "id": "8644a313-b0c4-4966-b0a2-66be67c24d79",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        560,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sync.api.cloudconvert.com/v2/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-my-file\": {\n      \"operation\": \"import/raw\",\n      \"filename\": \"doc.md\",\n      \"file\": {{ JSON.stringify($json.document) }}\n    },\n    \"convert-my-file\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-my-file\",\n      \"output_format\": \"pdf\"\n    },\n    \"export-my-file\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-my-file\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "ff9a2ddf-4ba5-4506-9ea2-0d883c261701",
      "name": "Convert to PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        -180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "0dvNBbU8vvKoyenO",
          "name": "Cloud Convert Header AUTH"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.data.tasks[0].result.files[0].url }}",
        "options": {}
      },
      "id": "b0febc73-80be-4cd4-91f7-b7fce0bc3ef0",
      "name": "Download PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        -180
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "thread",
              "stringValue": "=[CONTENU]\n# LCA Medionni\n\nL'étude intitulée \"Benefits of Homeopathic Complementary Treatment in Patients With Breast Cancer: A Retrospective Cohort Study Based on the French Nationwide Healthcare Database\" dirigée par Jacques Medioni et ses collaborateurs, cherche à évaluer les avantages de l’utilisation de l’homéopathie comme traitement complémentaire chez les patients atteints de cancer du sein non métastatique. En particulier, l’étude vise à appréhender l’impact de l’homéopathie sur la Qualité de Vie liée à la Santé (Health-Related Quality of Life - HRQOL) à travers une approche rétrospective exploitant les données de la base de données nationale de santé française (SNDS). L’objectif principal déclaré est de \"évaluer les bénéfices du traitement homéopathique sur la HRQOL des patients atteints de cancer du sein non métastatique, prescrit en thérapie complémentaire postchirurgicale.\n\n### Design de l'Étude\n\nL'étude adopte un **design de cohorte rétrospective nationale**, une approche significative car elle exploite les données complètes de la SNDS, représentant presque intégralement la population française. Ce design minimise les biais d'échantillonnage et renforce la généralisabilité des résultats. \n\n### Méthode d’analyse\n\nPour la collecte de données, l'étude se concentre sur **l'exposition à l'homéopathie**, évaluée par le nombre de traitements dispensés, les critères de résultats étant substitué par l'utilisation de médicaments atténuant les effets secondaires (SEs) des traitements contre le cancer, incluant les médicaments pour les SEs, l'anxiété, la dépression et les troubles du sommeil. Les analyses statistiques utilisent le logiciel SAS et emploient divers modèles statistiques, notamment les **modèles mixtes de Poisson avec effets aléatoires** pour l'analyse de la consommation de médicaments et les **modèles mixtes linéaires** pour l'analyse des congés maladie.\n\n### Taille de l'Échantillon\n\nL'échantillon inclus dans l'étude comprend 98,009 patients, avec une moyenne d'âge de 61 ans, se concentrant sur les femmes ayant subi une mastectomie pour un cancer du sein nouvellement diagnostiqué entre 2012 et 2013.\n\n### Méthodes Statistiques\n\nLa méthodologie statistique appliquée inclut l'usage de modèles Poisson mixtes avec effets aléatoires pour l'analyse de la consommation de médicaments et des modèles mixtes linéaires pour l'analyse des congés maladie, permettant une compréhension nuancée des impacts du traitement homéopathique sur les patients tout en ajustant pour d'éventuels facteurs de confusion.\n\n### Critères d'Inclusion/Exclusion\n\nLes critères d'inclusion sont spécifiquement orientés vers les femmes avec un cancer du sein non métastatique ayant subi une mastectomie, excluant les patients avec un cancer du sein récurrent ou métastatique pour maintenir le focus sur des cas non métastatiques. \n\n### Considerations Éthiques\n\nL'étude a reçu l'approbation du comité d'éthique français CEREES et de l'autorité de protection des données CNIL, soulignant l'adhésion à des normes éthiques concernant l'utilisation des données des patients.### Présentation des Résultats\n\nLes résultats de l'étude sont communiqués à travers une approche analytique combinant tableaux, figures, et statistiques descriptives. La section met un accent particulier sur l'exploration de l'utilisation de l'homéopathie chez les patientes et les effets mesurables sur la consommation de médicaments destinés à atténuer les effets secondaires des traitements contre le cancer. Une observation notable est l'augmentation significative de l'adoption de l'homéopathie post-diagnostic, reflétant une tendance croissante vers l'acceptation de ce type de traitement complémentaire.\n\n### Signification Statistique\n\nLes conclusions statistiques majeures indiquent une réduction significative de la consommation de médicaments relatifs aux effets secondaires chez les patients ayant reçu de l'homéopathie. Parmi ces résultats, la diminution de l'utilisation d'immunostimulants (RR de 0.79, CI95% = 0.74-0.84) et d'antiémétiques (RR de 0.90, CI95% = 0.87-0.93) détient une importance clinique, suggérant que l'homéopathie peut jouer un rôle considérable dans la gestion des effets secondaires des traitements oncologiques.\n\n### Taille de l'Effet\n\nLa taille de l'effet observée, notamment la réduction relative des risques pour divers médicaments, révèle un impact cliniquement significatif de l'homéopathie sur la réduction de la consommation de médicaments chez les patientes atteintes de cancer du sein. Ce constat souligne le potentiel de l'homéopathie en tant que modalité de traitement complémentaire favorable au bien-être des patients durant leur traitement conventionnel.\n\n### Effets indésirables\n\nL'étude ne détaille pas directement les effets indésirables de l'homéopathie mais met en exergue sa capacité à diminuer le recours à des médicaments spécifiques pour les effets secondaires, ce qui pourrait, par implication, réduire les événements indésirables associés à ces médicaments. \n\n### Amélioration de la HRQOL\n\nBien que l'amélioration de la Qualité de Vie liée à la Santé (HRQOL) ne soit pas mesurée directement, les données suggérant une réduction significative de l'utilisation de médicaments pour les effets secondaires impliquent une possible amélioration de la HRQOL. Cette amélioration potentielle est hypothétisée sur la base d'une diminution de la nécessité de médicaments complémentaires et de la gestion des effets secondaires associés, contribuant à une meilleure qualité de vie durant le traitement.### Interprétation des Résultats\n\nLes auteurs interprètent leurs résultats comme un support aux avantages potentiels de l'utilisation de l'homéopathie pour réduire la consommation de médicaments destinés à combattre les effets secondaires dans le traitement du cancer du sein, implicite une amélioration de la Qualité de Vie (QOL) des patients. Bien qu'ils reconnaissent l'importance des soins de support en oncologie et l'intérêt croissant des patients pour la médecine complémentaire comme l'homéopathie, ils soulignent prudemment les limitations en termes de causalité dérivées de leur étude observationnelle et préconisent des essais contrôlés randomisés supplémentaires pour confirmer leurs constatations.\n\n### Limitations de l'Étude\n\nLa discussion des limitations est ouverte et nuancée, incluant les défis posés par l'utilisation de la base de données nationales de soins de santé française qui pourrait ne pas capturer toutes les données pertinentes, comme l'auto-médication ou les traitements non remboursés, et l'incapacité à suivre la conformité réelle des patients aux régimes homéopathiques. Une limitation critique mise en lumière est la nature observationnelle de l'étude, permettant l'association mais non la causalité.\n\n### Implications Pratiques\n\nLes auteurs envisagent un rôle significatif pour l'homéopathie dans la gestion des effets secondaires du traitement du cancer, soulignant l'amélioration de la communication entre oncologues, homéopathes et patients pour améliorer la QOL. Ils portent une attention particulière à la nécessité de davantage d'études pour consolider leur argument et suggèrent que leurs résultats pourraient inciter à une intégration plus approfondie de l'homéopathie dans la gestion des soins des patients atteints de cancer.\n\n### Reproductibilité\n\nL'invitation à mener des essais contrôlés randomisés supplémentaires adresse indirectement la reproductibilité de leurs résultats, démontrant la reconnaissance par les auteurs de la nécessité de résultats qui sont à la fois reproductibles et généralisables. La référence aux limitations et au contexte spécifique du système de soins de santé français met en évidence une connaissance des défis liés à la généralisation des résultats à d'autres settings. Les auteurs semblent ouverts à la recherche future dans différents contextes de soins de santé pour explorer le rôle de l'homéopathie dans les soins de support oncologique à plus grande échelle.\n[/CONTENU]"
            }
          ]
        },
        "options": {}
      },
      "id": "34a6bdb5-f934-4e8f-b226-4c599a9125ae",
      "name": "thread1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        780,
        -180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let thread = $json.thread;\n\nfunction extractDynamicContent(thread) {\n    let extractedContent = \"\";\n    const contentPattern = /\\[CONTENU[\\s\\S]*?][\\s\\S]*?\\[\\/CONTENU[\\s\\S]*?\\]/gi;\n\n    let matches;\n    while ((matches = contentPattern.exec(thread)) !== null) {\n        // Ajoute chaque contenu trouvé au texte final\n        extractedContent += matches[0] + \"\\n\\n\";\n    }\n\n    return extractedContent.trim();\n}\n\n// Fonction pour retirer les occurrences\nfunction removeOccurrences(document, pattern) {\n    return document.replace(pattern, '');\n}\n\n// Garder le CONTENU\nlet document = extractDynamicContent(thread);\n\n// Expression régulière pour identifier les occurrences à retirer\nconst pattern = /\\n{0,2}\\[\\/?CONTENU.*?\\]\\n{0,2}/gi;\n\n// Application de la fonction au document\ndocument = removeOccurrences(document, pattern);\n\nif (document == \"\") {\n  document = \"[EXCEPTION - Pas de contenu]\\n\\nPas de baslises DOCUMENT trouvées dans le thread !\\n\\n[/EXCEPTION - Pas de contenu]\\n\\n---\\n\\n\\n[INFORMATIF - Thread]\\n\\n\" + $json.thread + \"[/INFORMATIF - Pas de contenu]\\n\\n\";\n}\n\nreturn {\"json\":{\"document\":document}};"
      },
      "id": "3149453b-3510-4fef-940b-b1651a7b6434",
      "name": "document1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -180
      ]
    },
    {
      "parameters": {
        "content": "## Conversion Manuelle",
        "height": 295.608922766434,
        "width": 1183.4918669068904
      },
      "id": "d88e9739-e962-443b-bf5f-d637f0a31162",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        -273.83526033483116
      ]
    },
    {
      "parameters": {
        "workflowId": "xyhDvFnHl8aCE9hV",
        "options": {}
      },
      "id": "f66c7237-bd09-4858-97cd-5050023a85da",
      "name": "Convert thread to document",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        80,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1706088137,
      "possibleDuplicates": [
        "18d3ac70312f4667"
      ]
    },
    "node:Seb reçoit un email": {
      "lastTimeChecked": 1706023258
    },
    "node:Kin Mail": {
      "lastTimeChecked": 1706305011,
      "possibleDuplicates": [
        "18d47b488e5cab95"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-21T09:46:57.068Z",
      "updatedAt": "2024-01-21T09:46:57.068Z",
      "id": "O7AwhYu4Pf4sOOHS",
      "name": "beta"
    },
    {
      "createdAt": "2023-12-17T10:32:35.457Z",
      "updatedAt": "2023-12-17T10:32:35.457Z",
      "id": "y4SS6pvxfLMwCsGn",
      "name": "service"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-07T09:11:32.000Z",
  "versionId": "caf42b85-59b6-4911-93c3-6dfb13127ec3"
}