workflows/HTTP Routing - Triggers.json
{
  "active": true,
  "connections": {
    "POST - CREATE": {
      "main": [
        [
          {
            "node": "IF POST BODY + CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET - KIN LIST": {
      "main": [
        [
          {
            "node": "IF CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Kins Actifs": {
      "main": [
        [
          {
            "node": "IF KINS RETURN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST - REPLY": {
      "main": [
        [
          {
            "node": "IF REPLY BODY + CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CREDENTIAL": {
      "main": [
        [
          {
            "node": "Get Kins Actifs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RESPONSE": {
      "main": [
        [
          {
            "node": "RESPONSE CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RESPONSE 2": {
      "main": [
        [
          {
            "node": "RESPONSE REPLY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF KINS RETURN": {
      "main": [
        [
          {
            "node": "RESPONSE KINS LIST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF POST BODY + CREDENTIAL": {
      "main": [
        [
          {
            "node": "Get Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF REPLY BODY + CREDENTIAL": {
      "main": [
        [
          {
            "node": "Get Body1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Body": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Body1": {
      "main": [
        [
          {
            "node": "GET THREAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-30T15:29:49.496Z",
  "id": "pJPiOSio0nwCPuZv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "HTTP Routing - Triggers",
  "nodes": [
    {
      "parameters": {
        "content": "## [POST] Create Kin Response\ncurl -X 'POST' \\\n  'http://127.0.0.1:3000/api/neightn/createnewkinresponse' \\\n  -H 'accept: application/json'",
        "height": 322,
        "width": 269
      },
      "id": "5d8bee04-e2b7-4d35-a18e-3b361c4cd76a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -300
      ]
    },
    {
      "parameters": {
        "content": "## [POST] Reply Kin Thread\ncurl -X 'POST' \\\n  'http://127.0.0.1:3000/api/neightn/replykinresponse' \\\n  -H 'accept: application/json'",
        "height": 320,
        "width": 269
      },
      "id": "2f9109b9-3b6e-4aff-a713-0e420a4c50be",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        40
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "f95641c4-bed1-40a8-a9e4-9a72bd724471",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "025989e8-66f9-4763-b37c-523108ca8263",
      "name": "POST - CREATE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -120
      ],
      "webhookId": "f95641c4-bed1-40a8-a9e4-9a72bd724471",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXS8IBbuzoeffy3O",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "JSON invalid"
      },
      "id": "3086db36-0d8c-48b9-9aa8-157e46f66a96",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        660,
        -420
      ]
    },
    {
      "parameters": {
        "content": "## [GET] Get kins list\ncurl -X 'GET' \\\n  'http://127.0.0.1:3000/api/neightn/getlistofkins' \\\n  -H 'accept: application/json'",
        "height": 324,
        "width": 266
      },
      "id": "116c8d87-4841-46c1-9c81-ec4ed0a93f92",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "1706da1f-d8fd-4d6e-a236-913734d72bbf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1985a834-28b0-45aa-aa3c-2d12851d2de8",
      "name": "GET - KIN LIST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        560
      ],
      "webhookId": "f95641c4-bed1-40a8-a9e4-9a72bd724471",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXS8IBbuzoeffy3O",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "gdFeXvXoLRHkWsrB",
        "options": {}
      },
      "id": "05752c06-3a65-412f-82c1-429ea7b25653",
      "name": "Get Kins Actifs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "content": "## RESPONSE GET LIST",
        "height": 194.85444743935307,
        "width": 250.71967654986526
      },
      "id": "d46cb92a-95d0-44c7-8a57-b6a26ba99dbe",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {
        "content": "## RESPONSE CREATE",
        "height": 194.85444743935307,
        "width": 250.71967654986526
      },
      "id": "d4814ad0-c147-4456-bf48-ffde3f36b176",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        -180
      ]
    },
    {
      "parameters": {
        "content": "## RESPONSE REPLY",
        "height": 194.85444743935307,
        "width": 250.71967654986526
      },
      "id": "cdd96c22-2f88-44d6-89bd-d8d8544393a9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "75a1dc3b-9d65-4c5b-b7d2-cdbef621b316",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "1342c964-261d-4850-b49f-8ec27b6548a2",
      "name": "POST - REPLY",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        220
      ],
      "webhookId": "75a1dc3b-9d65-4c5b-b7d2-cdbef621b316",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXS8IBbuzoeffy3O",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ERROR BODY RETURN",
        "height": 222.85444743935307,
        "width": 250.71967654986526
      },
      "id": "07c47496-ed3e-438a-ac2f-469ef2420a54",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -500
      ]
    },
    {
      "parameters": {
        "errorMessage": "ERROR N8N WORKFLOW"
      },
      "id": "97038482-a290-4e09-a062-ac4818728c20",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1780,
        -440
      ]
    },
    {
      "parameters": {
        "content": "## ERROR WORKFLOW",
        "height": 224.62011290766145,
        "width": 250.71967654986526
      },
      "id": "2c438bdf-224b-431e-b949-4ef99b964298",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        -520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "abcfeb8c-c17d-4c6b-b6ed-74ba4a589f9f",
              "leftValue": "={{ $json.headers.credential }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8e956dc7-6ea9-45c7-b1c8-0dce4c791fed",
      "name": "IF CREDENTIAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "66b8a377-332a-4098-9295-84b9e44d8a76",
      "name": "IF RESPONSE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        -120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "22409333-6dfe-40db-aa32-c8f7dcc0c02a",
      "name": "IF RESPONSE 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "43e14e29-8a67-43d3-a596-3466f8e11100",
              "leftValue": "={{ $json.kin }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef1700ab-33a2-43f0-ae96-005dc3ab60ca",
      "name": "IF KINS RETURN",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Get/Create Thread\nhttps://kins.app.n8n.cloud/workflow/YWxRZmBa38HYCjnv",
        "height": 276.1083494686582,
        "width": 253.39598777998123
      },
      "id": "e599bf10-c80e-4773-ac05-19b6a5ab8619",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        -240
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "1c87ac55-d24e-46d0-9c62-cb1f5f8a7e60",
      "name": "RESPONSE CREATE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        -120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0b8cc0e-22d0-4468-a695-932ad2468665",
      "name": "RESPONSE REPLY",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "79fbc539-d8a2-4860-9306-a15f1ecfa700",
      "name": "RESPONSE KINS LIST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        560
      ]
    },
    {
      "parameters": {
        "content": "## GET KINS LIST\nhttps://kins.app.n8n.cloud/workflow/gdFeXvXoLRHkWsrB",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "34b73d5d-eca5-4a53-bcb0-73a0f5201a37",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "01eae990-a41c-4cb2-a165-0fe76cd46c05",
              "leftValue": "={{ $json.body.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1ddaad2-75d8-4760-9145-1199c0543590",
              "leftValue": "={{ $json.body.mission }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ce4f71c9-5ffb-4434-bdee-03d5b05811b5",
              "leftValue": "={{ $json.body.kin }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "03610b83-44d7-46b5-a5d8-020756a9c255",
              "leftValue": "={{ $json.headers.credential }}",
              "rightValue": "__n8n_BLANK_VALUE_e5362baf-c777-4d57-a609-6eaf1f9e87f6",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73a99b5c-1701-4531-b4d9-08b27ce252cc",
      "name": "IF POST BODY + CREDENTIAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        -120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b580ec8f-8af6-452d-a8d3-39c93419ec57",
      "name": "IF REPLY BODY + CREDENTIAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        220
      ]
    },
    {
      "parameters": {
        "content": "## REPLY\nhttps://kins.app.n8n.cloud/workflow/NjRYPuz1EgoPxWfP",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "603a4fc8-c73e-43df-bd88-96cbff86647e",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "YWxRZmBa38HYCjnv",
        "options": {}
      },
      "id": "d4130bdd-ce99-47fd-816d-ecfc31c754ce",
      "name": "CREATE THREAD",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1280,
        -120
      ]
    },
    {
      "parameters": {
        "workflowId": "NjRYPuz1EgoPxWfP",
        "options": {}
      },
      "id": "33d3f25c-bd5a-4459-ac84-655c918ad499",
      "name": "GET THREAD",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "workflowId": "NjRYPuz1EgoPxWfP",
        "options": {}
      },
      "id": "24edb41f-f002-4de9-a9e0-7ac136a40518",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        980,
        -120
      ]
    },
    {
      "parameters": {
        "content": "## Message à Humain\nhttps://kins.app.n8n.cloud/workflow/NjRYPuz1EgoPxWfP",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "a5daf3bf-abc6-4587-8325-8d71fbcded22",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Clean request",
        "height": 276.1083494686582,
        "width": 253.39598777998123
      },
      "id": "118b257b-0f1a-414f-9c40-08e23d5f3d5a",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Clean request",
        "height": 276.1083494686582,
        "width": 253.39598777998123
      },
      "id": "109820dc-2c09-4433-a847-ca2afa5f5fa6",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        100
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "include": "selected",
        "includeFields": "sync, kin, mission, query, threadId",
        "options": {}
      },
      "id": "1fe1d11e-8457-4db6-a25c-b835664e831c",
      "name": "Get Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        660,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "include": "selected",
        "includeFields": "kin, client, sourceGoogleDriveId, threadId, threadSubject, firstAttribute, commandText, mission, missionId, status, format",
        "options": {}
      },
      "id": "43ccc814-fdc6-4c69-8177-ab2caaaa8ffe",
      "name": "Get Body1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        660,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "none"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-02-08T07:43:20.723Z",
      "updatedAt": "2024-02-08T07:43:20.723Z",
      "id": "tAICFpjAZClScQQ8",
      "name": "HTTP"
    },
    {
      "createdAt": "2024-02-08T07:43:14.093Z",
      "updatedAt": "2024-02-08T07:43:14.093Z",
      "id": "tktck4E3jQW5h1aX",
      "name": "Routing"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2024-02-08T16:50:32.000Z",
  "versionId": "bfa841d7-5c59-44fd-bd42-3a3a51eb5de3"
}