workflows/HTTP Routing - Triggers.json
{
  "active": true,
  "connections": {
    "POST - CREATE": {
      "main": [
        [
          {
            "node": "IF POST BODY + CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET - KIN LIST": {
      "main": [
        [
          {
            "node": "IF CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Kins Actifs": {
      "main": [
        [
          {
            "node": "IF KINS RETURN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST - REPLY": {
      "main": [
        [
          {
            "node": "IF REPLY BODY + CREDENTIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CREDENTIAL": {
      "main": [
        [
          {
            "node": "Get Kins Actifs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RESPONSE": {
      "main": [
        [
          {
            "node": "CREATE RESPONSE - String to JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RESPONSE 2": {
      "main": [
        [
          {
            "node": "REPLY RESPONSE - String to JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF KINS RETURN": {
      "main": [
        [
          {
            "node": "RESPONSE KINS LIST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF POST BODY + CREDENTIAL": {
      "main": [
        [
          {
            "node": "POST - CREATE - Clean json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF REPLY BODY + CREDENTIAL": {
      "main": [
        [
          {
            "node": "POST - REPLY - Clean json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOC Upload service": {
      "main": [
        [
          {
            "node": "IF RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST - CREATE - Clean json": {
      "main": [
        [
          {
            "node": "DOC Upload service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE RESPONSE - String to JSON": {
      "main": [
        [
          {
            "node": "Response formating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response formating": {
      "main": [
        [
          {
            "node": "Store responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-30T15:29:49.496Z",
  "id": "pJPiOSio0nwCPuZv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "HTTP Routing - Triggers",
  "nodes": [
    {
      "parameters": {
        "content": "## [POST] Create Kin Response\ncurl -X 'POST' \\\n  'http://127.0.0.1:3000/api/neightn/createnewkinresponse' \\\n  -H 'accept: application/json'",
        "height": 322,
        "width": 269
      },
      "id": "5d8bee04-e2b7-4d35-a18e-3b361c4cd76a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -300
      ]
    },
    {
      "parameters": {
        "content": "## [POST] Reply Kin Thread\ncurl -X 'POST' \\\n  'http://127.0.0.1:3000/api/neightn/replykinresponse' \\\n  -H 'accept: application/json'",
        "height": 320,
        "width": 269
      },
      "id": "2f9109b9-3b6e-4aff-a713-0e420a4c50be",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        40
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "f95641c4-bed1-40a8-a9e4-9a72bd724471",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "025989e8-66f9-4763-b37c-523108ca8263",
      "name": "POST - CREATE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -120
      ],
      "webhookId": "f95641c4-bed1-40a8-a9e4-9a72bd724471",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXS8IBbuzoeffy3O",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "JSON invalid"
      },
      "id": "3086db36-0d8c-48b9-9aa8-157e46f66a96",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        660,
        -420
      ]
    },
    {
      "parameters": {
        "content": "## [GET] Get kins list\ncurl -X 'GET' \\\n  'http://127.0.0.1:3000/api/neightn/getlistofkins' \\\n  -H 'accept: application/json'",
        "height": 324,
        "width": 266
      },
      "id": "116c8d87-4841-46c1-9c81-ec4ed0a93f92",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "1706da1f-d8fd-4d6e-a236-913734d72bbf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1985a834-28b0-45aa-aa3c-2d12851d2de8",
      "name": "GET - KIN LIST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        560
      ],
      "webhookId": "f95641c4-bed1-40a8-a9e4-9a72bd724471",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXS8IBbuzoeffy3O",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "gdFeXvXoLRHkWsrB",
        "options": {}
      },
      "id": "05752c06-3a65-412f-82c1-429ea7b25653",
      "name": "Get Kins Actifs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "content": "## CREATE RESPONSE",
        "height": 218.48769913876487,
        "width": 253.05970747287114
      },
      "id": "d4814ad0-c147-4456-bf48-ffde3f36b176",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        -180
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "75a1dc3b-9d65-4c5b-b7d2-cdbef621b316",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "1342c964-261d-4850-b49f-8ec27b6548a2",
      "name": "POST - REPLY",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        180,
        220
      ],
      "webhookId": "75a1dc3b-9d65-4c5b-b7d2-cdbef621b316",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXS8IBbuzoeffy3O",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ERROR BODY RETURN",
        "height": 222.85444743935307,
        "width": 250.71967654986526
      },
      "id": "07c47496-ed3e-438a-ac2f-469ef2420a54",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -500
      ]
    },
    {
      "parameters": {
        "errorMessage": "ERROR N8N WORKFLOW"
      },
      "id": "97038482-a290-4e09-a062-ac4818728c20",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1460,
        -420
      ]
    },
    {
      "parameters": {
        "content": "## ERROR WORKFLOW",
        "height": 224.62011290766145,
        "width": 250.71967654986526
      },
      "id": "2c438bdf-224b-431e-b949-4ef99b964298",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        -500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "abcfeb8c-c17d-4c6b-b6ed-74ba4a589f9f",
              "leftValue": "={{ $json.headers.credential }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8e956dc7-6ea9-45c7-b1c8-0dce4c791fed",
      "name": "IF CREDENTIAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ccc3707-4087-4f58-a778-2a68a2d97375",
              "leftValue": "={{ $json.response }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66b8a377-332a-4098-9295-84b9e44d8a76",
      "name": "IF RESPONSE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b46b87c9-f864-4dbc-ab27-a8025271ebe2",
              "leftValue": "{{ $json.response }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22409333-6dfe-40db-aa32-c8f7dcc0c02a",
      "name": "IF RESPONSE 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "43e14e29-8a67-43d3-a596-3466f8e11100",
              "leftValue": "={{ $json.kin }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef1700ab-33a2-43f0-ae96-005dc3ab60ca",
      "name": "IF KINS RETURN",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "79fbc539-d8a2-4860-9306-a15f1ecfa700",
      "name": "RESPONSE KINS LIST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1460,
        560
      ]
    },
    {
      "parameters": {
        "content": "## GET KINS LIST\nhttps://kins.app.n8n.cloud/workflow/gdFeXvXoLRHkWsrB",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "34b73d5d-eca5-4a53-bcb0-73a0f5201a37",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "01eae990-a41c-4cb2-a165-0fe76cd46c05",
              "leftValue": "={{ $json.body.threadSubject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1ddaad2-75d8-4760-9145-1199c0543590",
              "leftValue": "={{ $json.body.mission }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ce4f71c9-5ffb-4434-bdee-03d5b05811b5",
              "leftValue": "={{ $json.body.kin }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "03610b83-44d7-46b5-a5d8-020756a9c255",
              "leftValue": "={{ $json.headers.credential }}",
              "rightValue": "__n8n_BLANK_VALUE_e5362baf-c777-4d57-a609-6eaf1f9e87f6",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73a99b5c-1701-4531-b4d9-08b27ce252cc",
      "name": "IF POST BODY + CREDENTIAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        -120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b580ec8f-8af6-452d-a8d3-39c93419ec57",
      "name": "IF REPLY BODY + CREDENTIAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        220
      ]
    },
    {
      "parameters": {
        "content": "## REPLY\nhttps://kins.app.n8n.cloud/workflow/NjRYPuz1EgoPxWfP",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "603a4fc8-c73e-43df-bd88-96cbff86647e",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "NjRYPuz1EgoPxWfP",
        "options": {}
      },
      "id": "33d3f25c-bd5a-4459-ac84-655c918ad499",
      "name": "GET THREAD",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Upload service\nhttps://kins.app.n8n.cloud/workflow/teBXUHMl5AIi70pR",
        "height": 276.1083494686582,
        "width": 250.71967654986526
      },
      "id": "a5daf3bf-abc6-4587-8325-8d71fbcded22",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Clean request",
        "height": 276.1083494686582,
        "width": 253.39598777998123
      },
      "id": "118b257b-0f1a-414f-9c40-08e23d5f3d5a",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Clean request",
        "height": 276.1083494686582,
        "width": 253.39598777998123
      },
      "id": "109820dc-2c09-4433-a847-ca2afa5f5fa6",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "teBXUHMl5AIi70pR",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "24edb41f-f002-4de9-a9e0-7ac136a40518",
      "name": "DOC Upload service",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        980,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "function stringToJson(str) {\n  try {\n    return JSON.parse(str);\n  } catch (e) {\n    console.error(\"Invalid JSON string\", e);\n    return null;\n  }\n}\n\nlet jsonString = $node[\"DOC Upload service\"].json.response;\n\nlet jsonObject = stringToJson(jsonString);\nreturn jsonObject;"
      },
      "id": "773765c9-fa94-4fd4-abf5-b0c10855c2e0",
      "name": "CREATE RESPONSE - String to JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -120
      ]
    },
    {
      "parameters": {
        "content": "## REPLY RESPONSE",
        "height": 218.48769913876487,
        "width": 250.71967654986526
      },
      "id": "d700a37b-4b1b-491d-963e-c3107b1c1158",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        160
      ]
    },
    {
      "parameters": {
        "content": "## GET LIST RESPONSE",
        "height": 218.48769913876487,
        "width": 250.71967654986526
      },
      "id": "fb23218d-0d04-442d-9c22-2884fb4dcead",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "$execution.customData.set(\"command\", \"httpcreate\");\n\nlet json = $node[\"POST - CREATE\"].json.body;\n\nreturn {\"json\": json};"
      },
      "id": "dd78b52f-72f1-4643-83df-be9eaa5ad73d",
      "name": "POST - CREATE - Clean json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "$execution.customData.set(\"command\", \"httpreply\");\n\nlet json = $node[\"POST - REPLY\"].json.body;\n\nreturn {\"json\": json};"
      },
      "id": "4c60ed67-05cc-4882-8774-37d027c0f595",
      "name": "POST - REPLY - Clean json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function stringToJson(str) {\n  try {\n    return JSON.parse(str);\n  } catch (e) {\n    console.error(\"Invalid JSON string\", e);\n    return null;\n  }\n}\n\nlet jsonString = $node[\"DOC Upload service\"].json.response;\n\nlet jsonObject = stringToJson(jsonString);\nreturn jsonObject;"
      },
      "id": "7acae7f6-8062-4abc-912d-7407b5fe908e",
      "name": "REPLY RESPONSE - String to JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        220
      ]
    },
    {
      "parameters": {
        "projectId": "kincir-9369f-default-rtdb",
        "path": "={{ \"conversations/\" + $node[\"Response formating\"].json.originId + \"/responses/\" + $node[\"Response formating\"].json.id }}",
        "attributes": "id, originId, assignment, role, status, model, content, createdAt"
      },
      "id": "94ad5d4b-7c21-4ea1-9655-8119675f864e",
      "name": "Store responses",
      "type": "n8n-nodes-base.googleFirebaseRealtimeDatabase",
      "typeVersion": 1,
      "position": [
        1980,
        -120
      ],
      "credentials": {
        "googleFirebaseRealtimeDatabaseOAuth2Api": {
          "id": "OVSbgNbwKqSqujMP",
          "name": "Google Firebase Realtime Database account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RESPONSE KIN PROCESS ",
        "height": 220.28236521985798,
        "width": 415.58981732456584
      },
      "id": "5d6e3981-eec3-46be-b0f5-c1d6e00a2013",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        -181.05389483057945
      ]
    },
    {
      "parameters": {
        "jsCode": "let json = {};\n\njson.role = \"Kin\";\njson.status = $node[\"CREATE RESPONSE - String to JSON\"].json.status;\njson.content = $node[\"CREATE RESPONSE - String to JSON\"].json.instructions;\njson.createdAt = $node[\"CREATE RESPONSE - String to JSON\"].json.date;\njson.id = $node[\"CREATE RESPONSE - String to JSON\"].json.executionId;\njson.originId = $node[\"CREATE RESPONSE - String to JSON\"].json.threadId;\njson.assignment = $node[\"CREATE RESPONSE - String to JSON\"].json.mission;\njson.model = $node[\"CREATE RESPONSE - String to JSON\"].json.kin;\n\nreturn json;"
      },
      "id": "552bdef0-0894-49ba-987f-7394b9c01bb4",
      "name": "Response formating",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        -120
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "none"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-02-08T07:43:20.723Z",
      "updatedAt": "2024-02-08T07:43:20.723Z",
      "id": "tAICFpjAZClScQQ8",
      "name": "HTTP"
    },
    {
      "createdAt": "2024-02-08T07:43:14.093Z",
      "updatedAt": "2024-02-08T07:43:14.093Z",
      "id": "tktck4E3jQW5h1aX",
      "name": "Routing"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2024-02-14T10:50:21.000Z",
  "versionId": "7d731d2b-0af8-404c-bc67-43846046d9d6"
}