workflows/Kin Dev v1.0.json
{
  "active": true,
  "connections": {
    "Escape Markdown": {
      "main": [
        [
          {
            "node": "Envoi de notification Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nico reçoit un email": {
      "main": [
        [
          {
            "node": "IF est une commande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF est une commande": {
      "main": [
        [
          {
            "node": "Get existing document (init)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data1": {
      "main": [
        [
          {
            "node": "thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thread": {
      "main": [
        [
          {
            "node": "KinDev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sortie": {
      "main": [
        [
          {
            "node": "Convert to binary data",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF MISSION ACCOMPLIE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree email": {
      "main": [
        [
          {
            "node": "Rédacteur d'Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing document": {
      "main": [
        [
          {
            "node": "Get Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Document n'existe pas": {
      "main": [
        [
          {
            "node": "Get InitEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF MISSION ACCOMPLIE": {
      "main": [
        [
          {
            "node": "entree email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mission": {
      "main": [
        [
          {
            "node": "Get Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "missionInit": {
      "main": [
        [
          {
            "node": "Convert from binary data",
            "type": "main",
            "index": 0
          },
          {
            "node": "task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "main": [
        [
          {
            "node": "Get existing document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get InitEmail": {
      "main": [
        [
          {
            "node": "missionInit",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Pièce Jointe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document": {
      "main": [
        [
          {
            "node": "Convert to/from binary data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing document (init)": {
      "main": [
        [
          {
            "node": "IF Document n'existe pas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to binary data": {
      "main": [
        [
          {
            "node": "Update Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert from binary data": {
      "main": [
        [
          {
            "node": "Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get body": {
      "main": [
        [
          {
            "node": "mission",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UUID": {
      "main": [
        [
          {
            "node": "Upsert task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get ALL DOING Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task": {
      "main": [
        [
          {
            "node": "IF Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tasks": {
      "main": [
        [
          {
            "node": "get body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete task": {
      "main": [
        [
          {
            "node": "Upsert task DOING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document": {
      "main": [
        [
          {
            "node": "Delete task  DOING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "task": {
      "main": [
        [
          {
            "node": "Generate UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ALL DOING Tasks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upsert task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert task1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Delete task DOING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pièce Jointe": {
      "main": [
        [
          {
            "node": "Inserer l'étude dans Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de logs": {
      "ai_tool": [
        [
          {
            "node": "KinDev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de code": {
      "ai_tool": [
        [
          {
            "node": "KinDev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de prompt": {
      "ai_tool": [
        [
          {
            "node": "Manager Général",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manager Général": {
      "main": [
        [
          {
            "node": "sortie",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escape Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KinDev": {
      "main": [
        [
          {
            "node": "Escape Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "Manager Général",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-21T09:45:40.076Z",
  "id": "tktGqPOt1kvBvEJa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Kin Dev v1.0",
  "nodes": [
    {
      "parameters": {
        "chatId": "=-1002105587743",
        "text": "={{ $json.escapedText.substring($json.escapedText.length - 3900) }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "fbf09b4c-536f-4fc2-9657-22bf84aeba73",
      "name": "Envoi de notification Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5040,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "lCt7ijUIUZl2RYIR",
          "name": "KinCIR Dynergie"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function escapeMarkdownV2(text) {\n    return text.replace(/[_*\\[\\]()~`>#\\+=\\-{}\\.!|]/g, match => '\\\\' + match)\n               .replace(/(\\n```)([a-z]*\\n[\\s\\S]+?\\n```)/g, (match, p1, p2) => p1.replace('\\n', '') + p2);\n}\n\nlet originalText = '';\nif ($json.output != null) {\n  originalText = $json.output;\n} else {\n  originalText = $json.text;\n}\n\noriginalText = $node[\"Get existing document\"].json.name + \"\\n\\n\" + originalText\n\nconst escapedText = escapeMarkdownV2(originalText);\n\nreturn {\"json\":{\"escapedText\":escapedText}};\n"
      },
      "id": "ea58e2b7-2600-4cb7-93f4-54f41539c2ee",
      "name": "Escape Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4820,
        240
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 3,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "dd409b5c-24f8-4a49-84bd-01fbe2963382",
      "name": "Nico reçoit un email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        4020,
        -380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.to.value[0].address }}",
              "operation": "contains",
              "value2": "kindev@digitalkin.ai"
            },
            {
              "value1": "={{ $json.from.value[0].address }}",
              "operation": "notEqual",
              "value2": "=l.reynolds@digitalkin.ai"
            },
            {
              "value1": "={{ $json.headers['in-reply-to'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "28bc4548-efd0-4cd6-b1c4-88229f690d8d",
      "name": "IF est une commande",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4280,
        -380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Get existing document\"].json.id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "thread",
        "options": {}
      },
      "id": "1af9e030-4712-4589-870e-cd3fbf4450a0",
      "name": "Update Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5360,
        420
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "19b02633-89d8-4af0-91ab-8d2435c18600",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2280,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": "rr8aeSM8QYyY8Po4"
      },
      "id": "157cbc63-e860-45d4-9317-2463807d1fa9",
      "name": "Rédacteur d'Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5900,
        600
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "thread",
        "destinationKey": "thread",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "8c6583d2-ab1c-4609-909c-aaf34aed3739",
      "name": "Convert to/from binary data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        3980,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let entireThread = $json.thread;\nlet thread = $json.thread;\nlet instructions = $json.instructions?$json.instructions:$node[\"mission\"].json.instructions;\nconst MAX_LENGTH = 15000;\n\nthread = thread.replace(/.*Prochaine étape.*$/gmi, '');\nthread = thread.replace(/.*Étape suivante.*$/gmi, '');\nthread = thread.replace(/^.*niveau de boucle.*$/gmi, '');\nthread = thread.replace(/```.*```/gmi, '');\nthread = thread.replace(/``.*``/gmi, '');\nthread = thread.replace(/^[\\r\\n]+|[\\r\\n]+$/g, '');\n\nif (thread.length > MAX_LENGTH) {\n    thread = \"Le début du document est déjà rédigé, voici les denières parties rédigées :\\n[...]\" + thread.substring(thread.length - MAX_LENGTH);\n    remainingThread = entireThread.substring(0, entireThread.length - MAX_LENGTH);\n} else {\n    remainingThread = \"\"; // Aucun contenu restant si la longueur du fil est inférieure à MAX_LENGTH\n}\n\nreturn {\"thread\": thread, \"entireThread\": entireThread, \"remainingThread\": remainingThread, \"instructions\": instructions};"
      },
      "id": "8e1988ae-15c6-456e-baac-d2515aed775e",
      "name": "thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let entireThread = $node[\"thread\"].json.entireThread;\nlet thread = $node[\"thread\"].json.entireThread;\nlet output = $node[\"KinDev\"].json.output;\n\nentireThread += '\\n\\n' + output;\nentireThread = entireThread.replace(/^[\\r\\n]+|[\\r\\n]+$/g, '');\n\nreturn {\"mission\": $node[\"mission\"].json.mission, \"thread\":entireThread, \"instructions\" : $json.output, \"mailId\": $node[\"Get Email\"].json.id};"
      },
      "id": "8e3a3b8f-d3c8-4083-9a69-989fb20363d3",
      "name": "sortie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4820,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let infosMail = $node[\"Get Email\"].json;\nlet createdDocument = $node[\"Get existing document\"].json;\nlet sortie = $node[\"sortie\"].json;\n\n\nreturn {\n  \"infosMail\": infosMail,\n  \"createdDocument\": createdDocument,\n  \"sortie\": sortie\n};"
      },
      "id": "76882dd1-8741-46e5-9447-07404a0ef03a",
      "name": "entree email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5660,
        600
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "=properties has { key='mailId' and value='{{ $json.id }}' }",
        "limit": 1,
        "options": {}
      },
      "name": "Get existing document",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3500,
        140
      ],
      "typeVersion": 1,
      "id": "ad0a05d9-d606-440e-bca9-e6140a6d606f",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json).length === 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3a874325-a469-4e4a-9aac-42c0be520916",
      "name": "IF Document n'existe pas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4760,
        -380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.thread.toLowerCase() }}",
              "operation": "contains",
              "value2": "[mission accomplie]"
            },
            {
              "value1": "={{ $node[\"KinDev\"].json.output.toLowerCase() }}",
              "operation": "contains",
              "value2": "[mission accomplie]"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "74c914b4-b6f0-45b8-8b01-f7ffa556021d",
      "name": "IF MISSION ACCOMPLIE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5360,
        620
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "instructions",
        "name": "={{ $node[\"missionInit\"].json.titre.replace(/[\\\\/:*?\"<>|\\x00-\\x1F]/g, '-') }}_{{ new Intl.DateTimeFormat('fr-FR', { dateStyle: 'full', timeStyle: 'long' }).format($now) }}.md",
        "parents": [
          "1PFOpdripUGox5KdYPQUbw7MxIA5C9a0F"
        ],
        "options": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "mailId",
                "value": "={{ $json.mailId?$json.mailId:$node[\"Nico reçoit un email\"].json.id }}"
              }
            ]
          }
        }
      },
      "name": "Create Document",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        5680,
        -380
      ],
      "typeVersion": 1,
      "id": "05f31eb5-f274-429c-9379-0d4399004d21",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ $json.mission }}"
            },
            {
              "name": "instructions",
              "stringValue": "={{ $json.instructions }}"
            },
            {
              "name": "mailId",
              "stringValue": "={{ $json.mailId }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "d268fce1-6fdb-4bdd-9cf5-5fe5f2f57186",
      "name": "mission",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3040,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "titre",
              "stringValue": "={{ $json.subject.replace(/[\\\\/:*?\"<>|\\x00-\\x1F]/g, '-') }}"
            },
            {
              "name": "instructions",
              "stringValue": "=``Accomplis la mission à partir du début.``"
            },
            {
              "name": "mailId",
              "stringValue": "={{ $json.mailId?$json.mailId:$node[\"Nico reçoit un email\"].json.id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1920d471-4756-4109-b8ca-6d7b23a9aaf5",
      "name": "missionInit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        5220,
        -380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.mailId }}",
        "simple": false,
        "options": {}
      },
      "id": "4c6e5ba7-51aa-48da-ba53-c2960e9ec67a",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3260,
        140
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.mailId?$json.mailId:$node[\"Nico reçoit un email\"].json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "0ba9abbd-0f18-4a0f-b34b-bb5af04a061d",
      "name": "Get InitEmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4980,
        -380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Get existing document\"].json.id }}",
          "mode": "id"
        },
        "binaryPropertyName": "thread",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/rtf"
            }
          }
        }
      },
      "name": "Get Document",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3760,
        140
      ],
      "typeVersion": 1,
      "id": "9e9d9c05-2915-4d31-816a-ef4103411044",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "=properties has { key='mailId' and value='{{ $json.id }}' }",
        "limit": 1,
        "options": {}
      },
      "name": "Get existing document (init)",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4520,
        -380
      ],
      "typeVersion": 1,
      "id": "26e71713-ed28-46c4-81d2-81a44c66e2cb",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $node[\"Get InitEmail\"].json[\"id\"] }}",
        "message": "=Bonjour,\n\nMission bien reçue, je m'y mets immédiatement.\n\nAutomatiquement vôtre,\n\nKinCIR",
        "options": {
          "replyToSenderOnly": true
        }
      },
      "id": "931e2d6d-13a9-4c30-b9f9-401e19cf5e20",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5920,
        -380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "thread",
        "destinationKey": "thread",
        "options": {
          "fileName": "kinCIR.md",
          "mimeType": "text/markdown",
          "useRawData": true
        }
      },
      "id": "e960db52-7324-4204-87d5-895f325e0fba",
      "name": "Convert to binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        5140,
        420
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "instructions",
        "destinationKey": "instructions",
        "options": {
          "fileName": "={{ $json.titre }}.md",
          "mimeType": "text/markdown",
          "useRawData": true
        }
      },
      "id": "778aa1b8-2840-4070-9026-6de2f5f5eca7",
      "name": "Convert from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        5460,
        -380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"json\": $json.matches[0].metadata};"
      },
      "id": "d9270469-992d-438e-bfcb-ab6bb4d7359e",
      "name": "get body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        -80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 110
            }
          ]
        }
      },
      "id": "7253f843-0270-48fd-883e-367558260b65",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        2280,
        -80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "id"
      },
      "id": "4fe772b1-ccfb-4c5e-94ad-f2ff77f5e238",
      "name": "Generate UUID",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        5900,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"tasks-dev\",\n  \"vector\": \n[\n-0.008432496,\n-0.0070715337,\n0.012426477,\n-0.012146077,\n-0.0033117894,\n0.00042059895,\n-0.03356585,\n0.0024329768,\n0.0025270132,\n-0.031377368,\n0.018807271,\n-0.0015857948,\n-0.0025577887,\n0.01178361,\n0.011188616,\n-0.0024500745,\n-0.0005684925,\n-0.010949251,\n0.015962243,\n-0.018013947,\n0.004349609,\n0.021597587,\n-0.013527557,\n0.017029129,\n-0.005279714,\n-0.0041239215,\n0.018561067,\n-0.02921624,\n0.021419771,\n0.007310899,\n0.042784832,\n-0.019286001,\n0.0025902742,\n-0.0172343,\n-0.007858019,\n-0.0036622884,\n-0.004968539,\n-0.0027048276,\n-0.0010053341,\n-0.010853505,\n0.007899053,\n0.021269314,\n0.011407465,\n-0.017740386,\n-0.010552589,\n0.023170557,\n0.011968263,\n0.0031784289,\n-0.023143202,\n-0.012289696,\n0.006042263,\n0.0019679244,\n-0.01116126,\n-0.03865407,\n0.0036417716,\n0.017877165,\n0.0068458463,\n0.025960872,\n-0.008692378,\n-0.009314728,\n-0.018848306,\n0.009034329,\n-0.020544378,\n0.014826968,\n-0.0020705096,\n-0.004168375,\n-0.01957324,\n0.013110378,\n-0.007297221,\n0.0007428872,\n0.033182863,\n0.014129389,\n0.03419504,\n-0.0026278887,\n0.03107645,\n-0.012857334,\n-0.0006898849,\n-0.0094515085,\n0.021611264,\n0.0042641214,\n0.014156746,\n-0.02349883,\n-0.03479687,\n0.025714668,\n0.012959919,\n0.03728627,\n0.023170557,\n0.0017678834,\n-0.009697713,\n0.00010151652,\n-0.005187387,\n0.02935302,\n0.039994515,\n0.02907946,\n0.008630827,\n0.030283125,\n-0.0066782907,\n0.025263295,\n-0.0033203382,\n-0.022514014,\n-0.012392282,\n0.006941593,\n-0.015223631,\n-0.0055156597,\n-0.049022008,\n-0.010593623,\n0.038271084,\n-0.009253177,\n0.023676643,\n-0.017562572,\n-0.016263159,\n0.022650793,\n-0.00029771053,\n-0.00165333,\n-0.0039050733,\n-0.00031010626,\n0.0022449042,\n-0.017671995,\n-0.007228831,\n-0.02742442,\n0.013698532,\n0.02590616,\n0.02604294,\n-0.02191218,\n0.0097729415,\n0.0025116254,\n0.008035834,\n-0.0017815614,\n0.00027099566,\n-0.0065449304,\n0.024565715,\n0.005772122,\n0.0058336733,\n0.0023833942,\n-0.0154835135,\n0.0035528643,\n-0.01887566,\n-0.00006112363,\n-0.013684854,\n-0.021474484,\n0.00889071,\n0.025386397,\n-0.02211735,\n-0.0044487743,\n-0.0028894807,\n0.01274791,\n0.020216106,\n0.0001625333,\n-0.007276704,\n0.013048827,\n0.000475311,\n-0.01130488,\n0.021132533,\n-0.0006787715,\n-0.0021765141,\n-0.009054846,\n0.0152920205,\n0.016618788,\n0.015442479,\n-0.013055665,\n0.017453147,\n-0.0039803023,\n0.0083435895,\n0.0053173285,\n0.009649839,\n0.03534399,\n0.02479824,\n0.007269865,\n-0.005967034,\n-0.00861031,\n-0.0022192579,\n0.025112836,\n-0.03578169,\n0.026822587,\n0.00544385,\n0.006001229,\n0.0028723832,\n0.010894539,\n-0.032772522,\n-0.0017524956,\n-0.010094375,\n0.0040692096,\n0.0159896,\n0.025687313,\n-0.0036999031,\n-0.0048215003,\n0.029024748,\n-0.025167547,\n0.010361097,\n0.0037033225,\n0.023088489,\n0.021187246,\n0.030064277,\n-0.008555599,\n-0.6574201,\n-0.010374774,\n-0.008863354,\n0.013493362,\n0.019874156,\n0.02549582,\n-0.0020072488,\n0.0121802725,\n-0.0077485954,\n-0.0071057286,\n-0.015305699,\n0.024428936,\n0.022541368,\n-0.0134591665,\n-0.013035148,\n-0.0075981375,\n0.006216658,\n-0.018178081,\n0.018246472,\n0.0083435895,\n-0.020653803,\n0.013199285,\n0.0007176683,\n-0.0057037324,\n0.0013814796,\n-0.008097385,\n0.006069619,\n-0.0028775125,\n0.002164546,\n0.01564765,\n-0.0015524547,\n0.018520033,\n0.0088565145,\n0.01122965,\n0.05318012,\n0.0066030617,\n-0.02501709,\n0.030009566,\n0.018793592,\n0.032280117,\n-0.008090546,\n0.0047838856,\n0.012262341,\n0.007406645,\n0.008172614,\n0.009102719,\n0.035426058,\n-0.010456842,\n0.0064389254,\n0.01122965,\n0.019299679,\n-0.03597318,\n-0.0029989048,\n0.009136914,\n-0.004486389,\n-0.004705237,\n0.018779915,\n-0.015387767,\n-0.008439335,\n0.007905893,\n-0.024784563,\n-0.0034981524,\n-0.029052105,\n-0.028970037,\n-0.020968396,\n-0.008323072,\n-0.012843656,\n-0.02046231,\n0.01467651,\n-0.03258103,\n-0.000774945,\n0.0013062505,\n-0.02998221,\n-0.000747589,\n0.0301737,\n0.0039939806,\n0.034769513,\n-0.0008993295,\n0.004099985,\n0.020216106,\n0.021761721,\n0.0038742977,\n-0.013055665,\n0.008637667,\n0.02459307,\n0.0042230873,\n-0.001901244,\n-0.02431951,\n0.01674189,\n-0.0020328949,\n0.021173567,\n0.0077144005,\n-0.0037170006,\n0.004424838,\n0.02157023,\n-0.0015447608,\n-0.0077144005,\n-0.011017641,\n0.033593204,\n-0.022418266,\n-0.0081315795,\n0.009834493,\n0.023389407,\n0.014416628,\n0.02397756,\n0.0024859793,\n-0.00861031,\n0.0022722601,\n0.025331683,\n-0.021693332,\n-0.005221582,\n-0.019203933,\n-0.011940907,\n-0.0007843487,\n0.004954861,\n-0.03107645,\n0.008993295,\n0.012064009,\n0.013486523,\n-0.0027578298,\n0.008329911,\n-0.003528928,\n0.010525232,\n-0.014334559,\n-0.004777047,\n0.02624811,\n-0.030611398,\n-0.021925857,\n0.006808232,\n-0.015729718,\n-0.001853371,\n-0.030638754,\n0.02322527,\n-0.0068184906,\n0.00633976,\n-0.010737242,\n-0.0055566938,\n0.011106548,\n0.027711658,\n-0.0014874841,\n-0.019600596,\n-0.0041820533,\n0.004017917,\n-0.017603606,\n-0.005796059,\n-0.036629725,\n-0.0052933916,\n0.0018362735,\n-0.0011421143,\n0.0068116514,\n-0.0020636704,\n-0.022924352,\n-0.027246606,\n0.006380794,\n0.002453494,\n-0.0014866292,\n0.02479824,\n-0.010990285,\n-0.035644908,\n-0.009287372,\n0.009971273,\n0.004346189,\n-0.014690188,\n0.005245519,\n-0.0048215003,\n-0.013766922,\n0.002610791,\n0.012959919,\n-0.008302555,\n-0.03665708,\n0.0024723012,\n-0.003080973,\n-0.02626179,\n0.013937897,\n0.014498696,\n-0.004954861,\n0.002956161,\n-0.017548893,\n0.014895358,\n0.02136506,\n-0.00096857443,\n0.010039663,\n-0.0052694553,\n0.014430306,\n0.004127341,\n-0.008377784,\n0.015223631,\n0.032088622,\n-0.016167413,\n0.016810281,\n0.009472026,\n0.0053583626,\n0.011031319,\n0.00008185437,\n0.008528243,\n0.011749415,\n-0.0077075614,\n-0.0077075614,\n0.013999448,\n0.010422647,\n0.034359172,\n-0.007987961,\n0.0140336435,\n-0.018848306,\n0.0079948,\n-0.025988229,\n-0.008801803,\n-0.008288877,\n0.012146077,\n0.0053925575,\n-0.0006492783,\n-0.02300642,\n-0.014854324,\n0.015141563,\n0.007858019,\n0.03326493,\n0.022568725,\n-0.0074203233,\n0.007263026,\n0.013725888,\n0.007338255,\n-0.005775542,\n0.016112702,\n-0.020243462,\n-0.016263159,\n-0.010798793,\n0.013862669,\n0.007892215,\n0.008555599,\n-0.0026193399,\n-0.0037682932,\n-0.019190256,\n0.0009591708,\n0.006264531,\n0.017261654,\n-0.0005740492,\n0.019381747,\n-0.02281493,\n0.017056486,\n0.0026706324,\n-0.00668513,\n0.019190256,\n0.013124055,\n-0.007358772,\n0.019162899,\n-0.004099985,\n0.041006688,\n0.035097785,\n-0.010361097,\n0.0019901511,\n-0.017179586,\n-0.014430306,\n-0.013165089,\n-0.015346733,\n-0.013069344,\n-0.030556686,\n0.0037170006,\n0.003108329,\n0.014703866,\n0.011400625,\n0.027821083,\n0.008747091,\n0.022076316,\n-0.0013113797,\n0.017384756,\n-0.014785934,\n-0.0068800417,\n-0.014102033,\n-0.008842837,\n-0.0041512777,\n-0.019586917,\n-0.012276018,\n0.0014866292,\n-0.023266304,\n0.0076870443,\n0.0066611934,\n-0.009082202,\n-0.0052352604,\n0.016564077,\n0.010053341,\n-0.009636162,\n-0.009636162,\n0.003727259,\n0.02466146,\n-0.008589793,\n0.0018516612,\n0.009102719,\n-0.0030501974,\n-0.010019146,\n0.008001639,\n0.008733412,\n0.017808776,\n0.010203799,\n0.0015327926,\n-0.027369708,\n-0.018848306,\n0.01563397,\n-0.025577888,\n-0.0041854726,\n-0.0058063176,\n0.01102448,\n0.010053341,\n-0.009143753,\n-0.012529062,\n0.011598957,\n0.025687313,\n0.0032194627,\n-0.015907532,\n0.016769247,\n0.0062132385,\n-0.015565581,\n0.009177948,\n0.026576383,\n-0.033866767,\n0.0016140058,\n-0.009335245,\n-0.011386948,\n-0.017480504,\n0.00365203,\n0.016112702,\n-0.023266304,\n-0.02626179,\n-0.009157431,\n0.016632466,\n-0.0015045817,\n0.0040965653,\n0.0140336435,\n0.02749281,\n-0.005071124,\n-0.016810281,\n-0.022650793,\n-0.026152365,\n0.006257692,\n-0.004038434,\n0.0012062299,\n0.016181093,\n0.008931744,\n0.00006481028,\n0.03728627,\n-0.0058473516,\n-0.009813976,\n-0.005327587,\n0.02211735,\n-0.0028296395,\n-0.0029527415,\n-0.012228145,\n0.024415256,\n0.0149500705,\n0.025304329,\n-0.0002701408,\n0.00723567,\n0.008213648,\n0.008111062,\n-0.0044692913,\n-0.013787439,\n0.0038708784,\n-0.0030484877,\n0.009143753,\n-0.021665975,\n0.01171522,\n0.004759949,\n0.030994382,\n0.040541638,\n0.014498696,\n0.010326901,\n0.021871146,\n-0.008993295,\n0.0063431794,\n0.021296669,\n-0.026535349,\n-0.025536854,\n0.02853234,\n-0.026234433,\n-0.0077212397,\n0.019655308,\n0.008596633,\n-0.025167547,\n-0.03178771,\n-0.0026706324,\n0.012535901,\n-0.021132533,\n0.00017856222,\n0.005464367,\n-0.021296669,\n-0.0063705356,\n-0.03638352,\n0.021187246,\n-0.0064389254,\n0.007180958,\n-0.016358906,\n0.00014041338,\n-0.019381747,\n-0.033620562,\n0.002376555,\n0.007816985,\n0.0012566677,\n-0.03238954,\n0.015510869,\n0.016632466,\n-0.005864449,\n0.0023611675,\n0.0033083698,\n0.008282038,\n0.02515387,\n-0.024647783,\n-0.027752692,\n-0.0016003278,\n-0.036711793,\n-0.0009010392,\n0.015743395,\n0.020161394,\n-0.0105389105,\n-0.007139924,\n0.019860478,\n0.007604976,\n0.006257692,\n0.01826015,\n-0.026275467,\n0.019272324,\n-0.006449184,\n-0.0052147433,\n0.01605799,\n-0.009643001,\n0.0009839622,\n-0.0021970312,\n-0.04913143,\n0.007324577,\n-0.012529062,\n-0.010620979,\n0.003610996,\n0.00034878938,\n0.02266447,\n0.0044761305,\n0.0034536987,\n0.033182863,\n-0.018766237,\n0.0038127466,\n0.008774446,\n-0.023950204,\n0.018178081,\n-0.014498696,\n0.024032272,\n0.0022996163,\n-0.019901512,\n0.01006018,\n-0.0198468,\n0.011899873,\n0.016577754,\n-0.0030416485,\n0.004168375,\n0.02466146,\n-0.030365193,\n0.013937897,\n0.01612638,\n-0.0005159176,\n0.0041581164,\n-0.001199391,\n-0.011345914,\n-0.021748044,\n0.014703866,\n-0.008829159,\n0.0312953,\n-0.010703047,\n-0.01687867,\n-0.008295716,\n-0.0057413466,\n-0.027137183,\n0.00095489644,\n-0.020653803,\n-0.039502107,\n-0.011708381,\n0.0029236758,\n-0.005823415,\n0.030693466,\n0.019532206,\n0.012494867,\n-0.0066235787,\n-0.0023321016,\n0.00168838,\n-0.017589927,\n-0.023033777,\n-0.024702495,\n0.0030467778,\n0.03383941,\n0.025892483,\n-0.00028766575,\n0.022719182,\n-0.021118855,\n0.01130488,\n0.014156746,\n-0.016181093,\n-0.0032844334,\n-0.014102033,\n-0.026097653,\n0.0075502642,\n-0.00051933713,\n-0.002562918,\n-0.022896998,\n-0.025536854,\n-0.005775542,\n-0.0009959305,\n-0.0045240032,\n-0.014389272,\n-0.014430306,\n-0.0068048127,\n0.01639994,\n0.0013147992,\n-0.005023251,\n-0.013076182,\n0.018478999,\n0.0049377633,\n0.009868688,\n0.04010394,\n-0.007946927,\n0.022131028,\n-0.015250986,\n0.03225276,\n0.0010549169,\n0.01888934,\n-0.012604291,\n0.0049172463,\n-0.037505116,\n-0.018096013,\n0.019299679,\n0.004253863,\n0.005286553,\n-0.005105319,\n-0.005149773,\n-0.02025714,\n0.013657498,\n0.0038777173,\n-0.0059020636,\n-0.0076528494,\n-0.009041168,\n-0.011222811,\n-0.008842837,\n0.0048283394,\n-0.027109826,\n0.020804262,\n0.011838322,\n-0.015551903,\n0.02680891,\n-0.017562572,\n0.0028997392,\n-0.0009489123,\n-0.019381747,\n0.04844753,\n0.02674052,\n0.039310616,\n0.015333055,\n0.0069894656,\n-0.04314046,\n-0.01563397,\n-0.010292706,\n0.0010361096,\n0.021761721,\n0.013589108,\n-0.0014703866,\n-0.0021337704,\n0.015333055,\n0.0026689228,\n-0.028997391,\n-0.030310482,\n0.010648334,\n0.020106683,\n0.01583914,\n-0.010737242,\n0.010169604,\n-0.006986046,\n0.040131297,\n-0.02803993,\n-0.0013276223,\n-0.01157844,\n-0.024086984,\n-0.0089591,\n-0.0033853087,\n0.0010412389,\n0.011585278,\n0.015716039,\n-0.017330045,\n0.0031134582,\n-0.011756254,\n-0.020010935,\n0.02025714,\n0.004106824,\n0.022979066,\n0.005002734,\n-0.009766103,\n0.0048898906,\n0.0049856366,\n-0.005132675,\n0.0026381472,\n0.027684303,\n0.030283125,\n-0.011359591,\n-0.0069894656,\n0.01233073,\n-0.021406094,\n0.023512509,\n0.0052694553,\n-0.0025509498,\n0.0005334426,\n-0.03424975,\n-0.010901378,\n0.011147582,\n-0.0038195858,\n0.0005394267,\n-0.009540415,\n-0.00475653,\n-0.029790716,\n-0.013165089,\n-0.011051836,\n0.003935849,\n-0.013185606,\n-0.021515518,\n-0.018861983,\n-0.01846532,\n0.010641496,\n0.0055498546,\n-0.000100341065,\n0.026918333,\n0.017507859,\n-0.023485152,\n0.026932012,\n-0.002226097,\n0.0049309246,\n-0.015223631,\n0.0060730386,\n-0.0006817636,\n-0.02894268,\n0.022363555,\n-0.022869641,\n-0.051648185,\n0.008104224,\n0.005050607,\n-0.009752424,\n-0.023704,\n-0.02515387,\n0.035508126,\n0.012276018,\n0.0055703716,\n-0.00565244,\n-0.032006554,\n-0.0023936527,\n-0.011448499,\n-0.00078819564,\n0.013725888,\n0.004736013,\n-0.0077144005,\n0.009608805,\n-0.0033511138,\n0.007864859,\n-0.033401713,\n0.0057447664,\n-0.009663518,\n0.003658869,\n-0.030091632,\n0.0048044026,\n-0.010251672,\n-0.0071262456,\n-0.00034173665,\n-0.008056351,\n-0.008083707,\n0.013431811,\n-0.02066748,\n-0.008056351,\n-0.014211457,\n-0.004831759,\n-0.013247157,\n-0.011393786,\n-0.023731356,\n0.0061174924,\n-0.038900275,\n-0.03843522,\n-0.0092600165,\n0.020653803,\n0.029763361,\n-0.021105178,\n-0.02136506,\n0.0039495267,\n-0.043660223,\n-0.015004783,\n0.005621664,\n0.0041102436,\n0.015675005,\n0.0057652835,\n0.011339075,\n0.020831617,\n-0.0032433993,\n0.01778142,\n-0.008405141,\n0.017808776,\n0.017754063,\n-0.022172062,\n0.016523043,\n-0.018588422,\n-0.026371213,\n-0.038353153,\n0.026932012,\n0.016714534,\n0.0011874227,\n0.019149221,\n-0.02535904,\n-0.013493362,\n-0.024360545,\n0.013903703,\n-0.04201886,\n0.013062504,\n-0.011339075,\n-0.013883186,\n-0.0016721373,\n0.017453147,\n-0.0026022424,\n-0.008384624,\n0.01694706,\n0.013910541,\n-0.023033777,\n0.014211457,\n-0.0224593,\n-0.0034092453,\n-0.0061858823,\n-0.03479687,\n0.007899053,\n-0.017808776,\n-0.033620562,\n0.017589927,\n-0.009478864,\n0.011106548,\n-0.003672547,\n0.0071672797,\n-0.030118989,\n0.0005590889,\n0.00599439,\n-0.016782925,\n0.0030758437,\n-0.013110378,\n0.022158384,\n-0.02583777,\n0.009998629,\n-0.01447134,\n-0.011380108,\n-0.03996716,\n0.0045650373,\n-0.0077691125,\n-0.027041435,\n-0.02659006,\n-0.0068184906,\n0.009157431,\n0.0039734636,\n-0.033647917,\n0.004168375,\n-0.01687867,\n-0.00031160229,\n-0.020708514,\n-0.022226775,\n0.014909036,\n-0.030775534,\n-0.025646279,\n0.0054130745,\n-0.009116397,\n0.24182731,\n-0.009410474,\n0.013124055,\n0.014690188,\n-0.010525232,\n0.037231557,\n0.0044419356,\n-0.004927505,\n0.0010711595,\n0.030009566,\n-0.00045650374,\n-0.025400074,\n-0.012617969,\n-0.003956366,\n-0.0067569395,\n-0.015661327,\n-0.0172343,\n-0.03219805,\n-0.039939802,\n-0.03315551,\n0.014580764,\n0.010121731,\n-0.011181777,\n-0.019135542,\n0.014225136,\n-0.009704552,\n-0.011551084,\n-0.0007317738,\n0.03526192,\n0.020489667,\n-0.011913551,\n-0.013671176,\n0.019272324,\n0.0013387357,\n-0.012214468,\n-0.010559428,\n0.013445489,\n-0.015825463,\n0.016249482,\n0.034304462,\n0.0036486106,\n-0.025523176,\n-0.007427162,\n-0.012426477,\n0.0019987,\n0.032964017,\n-0.00916427,\n-0.017371079,\n-0.011366431,\n0.014922715,\n-0.015250986,\n-0.0103679355,\n0.029818073,\n0.019162899,\n0.003754615,\n0.0046129106,\n0.018985085,\n-0.000102317965,\n-0.0017593347,\n0.013397615,\n-0.0008343589,\n0.01936807,\n-0.014868002,\n0.031322654,\n-0.009554094,\n-0.0027527006,\n-0.02479824,\n0.004253863,\n0.030310482,\n-0.012440154,\n0.005796059,\n-0.022144707,\n0.017193265,\n0.0032844334,\n-0.0066406764,\n-0.008035834,\n0.020804262,\n0.007269865,\n0.030146345,\n0.03646559,\n-0.019244967,\n0.007119407,\n-0.0061003948,\n-0.031322654,\n0.0037853906,\n-0.022514014,\n-0.0019833122,\n-0.0058028977,\n-0.016030634,\n-0.011831483,\n0.003012583,\n-0.030255768,\n-0.022582402,\n0.02266447,\n0.021105178,\n0.039037056,\n-0.0062953066,\n0.0039461073,\n-0.012966759,\n-0.0053720404,\n-0.023471475,\n0.05547803,\n0.014389272,\n0.009649839,\n-0.01653672,\n-0.000118507174,\n0.006493638,\n0.010080697,\n0.00074716157,\n-0.017699352,\n-0.0041581164,\n-0.02659006,\n0.0014985976,\n-0.010450004,\n-0.0205307,\n-0.0077485954,\n-0.014635476,\n0.0027544103,\n-0.008035834,\n-0.009889205,\n0.014361916,\n-0.021898502,\n-0.010450004,\n-0.0055566938,\n0.0020311852,\n-0.014703866,\n0.0014977426,\n0.0077622733,\n0.01212556,\n-0.045848705,\n0.0040692096,\n-0.020366564,\n0.010805632,\n-0.0083641065,\n-0.0048009832,\n0.00096088054,\n0.0013216382,\n0.01653672,\n-0.012467511,\n-0.007871698,\n0.014840647,\n-0.0005616535,\n0.026234433,\n-0.0034348916,\n-0.0067432616,\n-0.0058028977,\n0.0050950604,\n0.004168375,\n-0.024538359,\n-0.028723832,\n-0.028067287,\n0.000916427,\n0.0030946508,\n-0.005153192,\n0.028149355,\n-0.022336198,\n-0.0053139087,\n-0.022281487,\n0.012022975,\n0.010395291,\n-0.001571262,\n-0.03176035,\n0.0018995344,\n0.00022461865,\n-0.030584041,\n-0.0075981375,\n-0.17912729,\n0.03457802,\n0.020175071,\n-0.011079192,\n0.009205304,\n-0.018355897,\n0.01061414,\n-0.008309394,\n-0.000025592848,\n-0.00889071,\n0.022541368,\n0.00009291433,\n-0.03646559,\n-0.0050471877,\n-0.018506354,\n0.022035282,\n0.017453147,\n0.035535485,\n0.043496087,\n0.017959233,\n0.022308843,\n-0.015346733,\n-0.0006078168,\n0.00041888922,\n-0.0005253213,\n-0.0047873054,\n-0.00083777844,\n0.040568992,\n0.003012583,\n-0.018656813,\n-0.019860478,\n-0.002494528,\n0.0027373128,\n0.009342085,\n-0.0015003072,\n-0.011106548,\n-0.0000883728,\n-0.01578443,\n0.004253863,\n0.024141697,\n0.01578443,\n0.0396936,\n0.022719182,\n0.021173567,\n0.012077687,\n0.018232794,\n0.019477494,\n-0.040705774,\n-0.0140336435,\n-0.031322654,\n0.0147585785,\n-0.034687445,\n-0.016974417,\n0.00792641,\n0.030474618,\n0.0033733405,\n0.018342217,\n-0.007447679,\n0.017343722,\n0.0017866907,\n-0.007174119,\n-0.014963749,\n0.00454794,\n0.0045103254,\n-0.007023661,\n-0.006124331,\n-0.031322654,\n0.018629456,\n-0.0074613574,\n-0.0054267524,\n-0.027739014,\n0.014580764,\n-0.0022996163,\n-0.005050607,\n0.02136506,\n-0.003727259,\n-0.019833121,\n0.006264531,\n0.007858019,\n-0.007290382,\n-0.0056250836,\n0.0351525,\n-0.028450271,\n0.02184379,\n0.0071672797,\n0.016618788,\n-0.004975378,\n-0.00978662,\n-0.0059089023,\n0.0020089585,\n0.05479413,\n-0.0023440698,\n-0.020544378,\n-0.023416761,\n0.012535901,\n0.027041435,\n-0.0054199137,\n-0.023662966,\n0.0020910266,\n-0.0166735,\n-0.010402131,\n0.01164683,\n-0.0013130894,\n-0.0019593756,\n0.010641496,\n0.0064799595,\n0.022582402,\n0.02998221,\n0.012570096,\n-0.016181093,\n-0.0036349325,\n0.013329226,\n-0.004141019,\n0.014047322,\n0.00025240213,\n0.033948835,\n-0.010778276,\n-0.0063363407,\n0.031049093,\n0.008562437,\n0.048256036,\n-0.024483647,\n-0.011065514,\n0.017206943,\n-0.00737245,\n-0.019354392,\n-0.035617553,\n0.0006933044,\n0.0009890915,\n0.01977841,\n-0.02295171,\n0.041581165,\n-0.005057446,\n0.014006288,\n-0.011270684,\n0.018725203,\n-0.011852,\n-0.028559696,\n-0.024100663,\n-0.0019183416,\n0.039392684,\n0.005553274,\n-0.013247157,\n-0.006107234,\n0.005423333,\n0.018766237,\n0.0038127466,\n-0.03416768,\n-0.0094309915,\n-0.045711927,\n-0.033018727,\n0.009978112,\n-0.022828607,\n0.023416761,\n0.0042572822,\n-0.0076938835,\n-0.0071057286,\n0.0015866498,\n0.021282991,\n-0.014293525,\n-0.00090445875,\n0.017042806,\n-0.0067022275,\n-0.0058541903,\n-0.007276704,\n-0.014293525,\n0.0065825447,\n-0.00530707,\n-0.004004239,\n-0.021748044,\n-0.0071877968,\n-0.019737376,\n0.002144029,\n0.011017641,\n0.014635476,\n-0.022240452,\n0.009725069,\n-0.014143067,\n-0.011865678,\n-0.011414303,\n0.020380242,\n0.00220387,\n0.010826149,\n-0.0064867986,\n-0.008220487,\n0.0011463886,\n-0.012686359,\n0.0021713849,\n0.019805767,\n0.023061134,\n0.016290516,\n0.010251672,\n-0.028860612,\n-0.010839827,\n0.010299546,\n-0.011975102,\n-0.012453833,\n0.025126513,\n-0.021556552,\n0.03225276,\n-0.014977426,\n-0.018137047,\n-0.0046334276,\n-0.01742579,\n0.020995753,\n-0.004575296,\n-0.024770886,\n-0.025550531,\n-0.006025166,\n-0.006401311,\n0.015045816,\n0.015415123,\n0.003217753,\n-0.0017328336,\n-0.011708381,\n-0.020380242,\n0.004681301,\n0.019956224,\n0.021064144,\n-0.02066748,\n-0.001082273,\n0.00020068213,\n-0.0039050733,\n0.00806319,\n0.010634657,\n0.02211735,\n-0.03444124,\n-0.02211735,\n-0.0902749,\n0.020735871,\n-0.0064594424,\n-0.036575012,\n-0.010402131,\n0.018930374,\n0.011804127,\n-0.002087607,\n0.0014276428,\n0.011099709,\n-0.024333188,\n0.0004415434,\n-0.0063431794,\n-0.013609625,\n-0.009636162,\n-0.0022158385,\n0.03189713,\n0.022431945,\n0.013883186,\n0.028559696,\n0.016030634,\n-0.008699218,\n-0.001184858,\n0.014963749,\n-0.008665022,\n0.026425924,\n-0.00441116,\n0.024702495,\n-0.007488713,\n-0.01798659,\n0.018451642,\n-0.0074613574,\n0.006606481,\n0.01943646,\n-0.008213648,\n-0.009547254,\n-0.03126794,\n0.011557923,\n0.0076460103,\n-0.0016293935,\n-0.019190256,\n-0.027410742,\n0.0059567755,\n-0.046204336,\n-0.007987961,\n-0.013773761,\n-0.00440774,\n0.01453973,\n0.0076460103,\n-0.009389957,\n0.028887969,\n0.023444118,\n-0.012098204,\n-0.010778276,\n0.025181226,\n-0.017699352,\n0.03575433,\n0.008001639,\n-0.0033511138,\n-0.015716039,\n0.039009698,\n0.016249482,\n0.027506487,\n-0.020735871,\n0.014635476,\n-0.0024346868,\n-0.010422647,\n-0.0055464352,\n0.010559428,\n-0.02446997,\n-0.044836532,\n-0.006285048,\n-0.0070099826,\n0.015196275,\n-0.0044179987,\n0.030228414,\n-0.0008001639,\n0.013951575,\n0.0026672129,\n0.02191218,\n0.020175071,\n-0.0075981375,\n-0.025085479,\n0.012597452,\n0.0172343,\n-0.003481055,\n-0.018410608,\n-0.0085145645,\n-0.022650793,\n-0.007563942,\n-0.05788536,\n0.011386948,\n-0.008740252,\n-0.0050608655,\n0.0012686359,\n0.011380108,\n-0.017193265,\n0.009608805,\n0.0042265067,\n0.010443164,\n-0.005129256,\n0.008165775,\n0.01337026,\n-0.013855829,\n-0.0017148812,\n0.002162836,\n-0.025304329,\n-0.0042265067,\n0.012966759,\n0.0045376816,\n-0.006862944,\n0.0042675408,\n-0.0004505196,\n0.012583774,\n-0.038626716,\n0.0043803845,\n-0.0070920507,\n0.001315654,\n-0.03121323,\n0.013192445,\n0.0030587462,\n0.023061134,\n0.027191894,\n0.0037101617,\n0.03452331,\n-0.018287506,\n-0.013520718,\n-0.026166042,\n-0.0032912723,\n-0.010019146,\n-0.033128154,\n0.0085145645,\n-0.030884959,\n-0.012891529,\n-0.0070646945,\n-0.0032074945,\n0.02143345,\n0.010210638,\n-0.009177948,\n0.098974116,\n0.014936392,\n0.00014575635,\n0.004541101,\n0.0055703716,\n0.0067501003,\n0.019532206,\n0.01391738,\n-0.016427295,\n-0.00065312523,\n0.014129389,\n0.014320882,\n-0.0020773485,\n-0.019874156,\n-0.028669119,\n-0.023211591,\n-0.002915127,\n0.008056351,\n-0.013931058,\n-0.0011190326,\n0.007078373,\n0.010381614,\n-0.010901378,\n0.00791957,\n-0.031623572,\n-0.022445623,\n0.030201057,\n0.004736013,\n0.0017901103,\n-0.058049496,\n0.016591432,\n0.007365611,\n-0.017945556,\n-0.0110928705,\n-0.0027800566,\n0.0016764117,\n-0.013978931,\n-0.004773627,\n-0.008863354,\n0.0033220479,\n-0.0053173285,\n-0.003983722,\n-0.024278477,\n-0.0048898906,\n-0.01689235,\n0.003190397,\n-0.007604976,\n0.00058559,\n-0.007468196\n],\n  \"includeMetadata\": true,\n  \"topK\": 1\n}",
        "options": {}
      },
      "id": "75bcc850-9067-4ce2-9cc1-06d073bc9939",
      "name": "Get Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2560,
        -80
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json.matches).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a9613596-ea59-41d5-a4da-f2204c3cee12",
      "name": "IF Tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2760,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"namespace\": \"tasks-dev\",\n\"vectors\": {\n\"id\": \"{{ $node[\"Generate UUID\"].json[\"id\"] }}\",\n\"values\": \n[\n-0.008432496,\n-0.0070715337,\n0.012426477,\n-0.012146077,\n-0.0033117894,\n0.00042059895,\n-0.03356585,\n0.0024329768,\n0.0025270132,\n-0.031377368,\n0.018807271,\n-0.0015857948,\n-0.0025577887,\n0.01178361,\n0.011188616,\n-0.0024500745,\n-0.0005684925,\n-0.010949251,\n0.015962243,\n-0.018013947,\n0.004349609,\n0.021597587,\n-0.013527557,\n0.017029129,\n-0.005279714,\n-0.0041239215,\n0.018561067,\n-0.02921624,\n0.021419771,\n0.007310899,\n0.042784832,\n-0.019286001,\n0.0025902742,\n-0.0172343,\n-0.007858019,\n-0.0036622884,\n-0.004968539,\n-0.0027048276,\n-0.0010053341,\n-0.010853505,\n0.007899053,\n0.021269314,\n0.011407465,\n-0.017740386,\n-0.010552589,\n0.023170557,\n0.011968263,\n0.0031784289,\n-0.023143202,\n-0.012289696,\n0.006042263,\n0.0019679244,\n-0.01116126,\n-0.03865407,\n0.0036417716,\n0.017877165,\n0.0068458463,\n0.025960872,\n-0.008692378,\n-0.009314728,\n-0.018848306,\n0.009034329,\n-0.020544378,\n0.014826968,\n-0.0020705096,\n-0.004168375,\n-0.01957324,\n0.013110378,\n-0.007297221,\n0.0007428872,\n0.033182863,\n0.014129389,\n0.03419504,\n-0.0026278887,\n0.03107645,\n-0.012857334,\n-0.0006898849,\n-0.0094515085,\n0.021611264,\n0.0042641214,\n0.014156746,\n-0.02349883,\n-0.03479687,\n0.025714668,\n0.012959919,\n0.03728627,\n0.023170557,\n0.0017678834,\n-0.009697713,\n0.00010151652,\n-0.005187387,\n0.02935302,\n0.039994515,\n0.02907946,\n0.008630827,\n0.030283125,\n-0.0066782907,\n0.025263295,\n-0.0033203382,\n-0.022514014,\n-0.012392282,\n0.006941593,\n-0.015223631,\n-0.0055156597,\n-0.049022008,\n-0.010593623,\n0.038271084,\n-0.009253177,\n0.023676643,\n-0.017562572,\n-0.016263159,\n0.022650793,\n-0.00029771053,\n-0.00165333,\n-0.0039050733,\n-0.00031010626,\n0.0022449042,\n-0.017671995,\n-0.007228831,\n-0.02742442,\n0.013698532,\n0.02590616,\n0.02604294,\n-0.02191218,\n0.0097729415,\n0.0025116254,\n0.008035834,\n-0.0017815614,\n0.00027099566,\n-0.0065449304,\n0.024565715,\n0.005772122,\n0.0058336733,\n0.0023833942,\n-0.0154835135,\n0.0035528643,\n-0.01887566,\n-0.00006112363,\n-0.013684854,\n-0.021474484,\n0.00889071,\n0.025386397,\n-0.02211735,\n-0.0044487743,\n-0.0028894807,\n0.01274791,\n0.020216106,\n0.0001625333,\n-0.007276704,\n0.013048827,\n0.000475311,\n-0.01130488,\n0.021132533,\n-0.0006787715,\n-0.0021765141,\n-0.009054846,\n0.0152920205,\n0.016618788,\n0.015442479,\n-0.013055665,\n0.017453147,\n-0.0039803023,\n0.0083435895,\n0.0053173285,\n0.009649839,\n0.03534399,\n0.02479824,\n0.007269865,\n-0.005967034,\n-0.00861031,\n-0.0022192579,\n0.025112836,\n-0.03578169,\n0.026822587,\n0.00544385,\n0.006001229,\n0.0028723832,\n0.010894539,\n-0.032772522,\n-0.0017524956,\n-0.010094375,\n0.0040692096,\n0.0159896,\n0.025687313,\n-0.0036999031,\n-0.0048215003,\n0.029024748,\n-0.025167547,\n0.010361097,\n0.0037033225,\n0.023088489,\n0.021187246,\n0.030064277,\n-0.008555599,\n-0.6574201,\n-0.010374774,\n-0.008863354,\n0.013493362,\n0.019874156,\n0.02549582,\n-0.0020072488,\n0.0121802725,\n-0.0077485954,\n-0.0071057286,\n-0.015305699,\n0.024428936,\n0.022541368,\n-0.0134591665,\n-0.013035148,\n-0.0075981375,\n0.006216658,\n-0.018178081,\n0.018246472,\n0.0083435895,\n-0.020653803,\n0.013199285,\n0.0007176683,\n-0.0057037324,\n0.0013814796,\n-0.008097385,\n0.006069619,\n-0.0028775125,\n0.002164546,\n0.01564765,\n-0.0015524547,\n0.018520033,\n0.0088565145,\n0.01122965,\n0.05318012,\n0.0066030617,\n-0.02501709,\n0.030009566,\n0.018793592,\n0.032280117,\n-0.008090546,\n0.0047838856,\n0.012262341,\n0.007406645,\n0.008172614,\n0.009102719,\n0.035426058,\n-0.010456842,\n0.0064389254,\n0.01122965,\n0.019299679,\n-0.03597318,\n-0.0029989048,\n0.009136914,\n-0.004486389,\n-0.004705237,\n0.018779915,\n-0.015387767,\n-0.008439335,\n0.007905893,\n-0.024784563,\n-0.0034981524,\n-0.029052105,\n-0.028970037,\n-0.020968396,\n-0.008323072,\n-0.012843656,\n-0.02046231,\n0.01467651,\n-0.03258103,\n-0.000774945,\n0.0013062505,\n-0.02998221,\n-0.000747589,\n0.0301737,\n0.0039939806,\n0.034769513,\n-0.0008993295,\n0.004099985,\n0.020216106,\n0.021761721,\n0.0038742977,\n-0.013055665,\n0.008637667,\n0.02459307,\n0.0042230873,\n-0.001901244,\n-0.02431951,\n0.01674189,\n-0.0020328949,\n0.021173567,\n0.0077144005,\n-0.0037170006,\n0.004424838,\n0.02157023,\n-0.0015447608,\n-0.0077144005,\n-0.011017641,\n0.033593204,\n-0.022418266,\n-0.0081315795,\n0.009834493,\n0.023389407,\n0.014416628,\n0.02397756,\n0.0024859793,\n-0.00861031,\n0.0022722601,\n0.025331683,\n-0.021693332,\n-0.005221582,\n-0.019203933,\n-0.011940907,\n-0.0007843487,\n0.004954861,\n-0.03107645,\n0.008993295,\n0.012064009,\n0.013486523,\n-0.0027578298,\n0.008329911,\n-0.003528928,\n0.010525232,\n-0.014334559,\n-0.004777047,\n0.02624811,\n-0.030611398,\n-0.021925857,\n0.006808232,\n-0.015729718,\n-0.001853371,\n-0.030638754,\n0.02322527,\n-0.0068184906,\n0.00633976,\n-0.010737242,\n-0.0055566938,\n0.011106548,\n0.027711658,\n-0.0014874841,\n-0.019600596,\n-0.0041820533,\n0.004017917,\n-0.017603606,\n-0.005796059,\n-0.036629725,\n-0.0052933916,\n0.0018362735,\n-0.0011421143,\n0.0068116514,\n-0.0020636704,\n-0.022924352,\n-0.027246606,\n0.006380794,\n0.002453494,\n-0.0014866292,\n0.02479824,\n-0.010990285,\n-0.035644908,\n-0.009287372,\n0.009971273,\n0.004346189,\n-0.014690188,\n0.005245519,\n-0.0048215003,\n-0.013766922,\n0.002610791,\n0.012959919,\n-0.008302555,\n-0.03665708,\n0.0024723012,\n-0.003080973,\n-0.02626179,\n0.013937897,\n0.014498696,\n-0.004954861,\n0.002956161,\n-0.017548893,\n0.014895358,\n0.02136506,\n-0.00096857443,\n0.010039663,\n-0.0052694553,\n0.014430306,\n0.004127341,\n-0.008377784,\n0.015223631,\n0.032088622,\n-0.016167413,\n0.016810281,\n0.009472026,\n0.0053583626,\n0.011031319,\n0.00008185437,\n0.008528243,\n0.011749415,\n-0.0077075614,\n-0.0077075614,\n0.013999448,\n0.010422647,\n0.034359172,\n-0.007987961,\n0.0140336435,\n-0.018848306,\n0.0079948,\n-0.025988229,\n-0.008801803,\n-0.008288877,\n0.012146077,\n0.0053925575,\n-0.0006492783,\n-0.02300642,\n-0.014854324,\n0.015141563,\n0.007858019,\n0.03326493,\n0.022568725,\n-0.0074203233,\n0.007263026,\n0.013725888,\n0.007338255,\n-0.005775542,\n0.016112702,\n-0.020243462,\n-0.016263159,\n-0.010798793,\n0.013862669,\n0.007892215,\n0.008555599,\n-0.0026193399,\n-0.0037682932,\n-0.019190256,\n0.0009591708,\n0.006264531,\n0.017261654,\n-0.0005740492,\n0.019381747,\n-0.02281493,\n0.017056486,\n0.0026706324,\n-0.00668513,\n0.019190256,\n0.013124055,\n-0.007358772,\n0.019162899,\n-0.004099985,\n0.041006688,\n0.035097785,\n-0.010361097,\n0.0019901511,\n-0.017179586,\n-0.014430306,\n-0.013165089,\n-0.015346733,\n-0.013069344,\n-0.030556686,\n0.0037170006,\n0.003108329,\n0.014703866,\n0.011400625,\n0.027821083,\n0.008747091,\n0.022076316,\n-0.0013113797,\n0.017384756,\n-0.014785934,\n-0.0068800417,\n-0.014102033,\n-0.008842837,\n-0.0041512777,\n-0.019586917,\n-0.012276018,\n0.0014866292,\n-0.023266304,\n0.0076870443,\n0.0066611934,\n-0.009082202,\n-0.0052352604,\n0.016564077,\n0.010053341,\n-0.009636162,\n-0.009636162,\n0.003727259,\n0.02466146,\n-0.008589793,\n0.0018516612,\n0.009102719,\n-0.0030501974,\n-0.010019146,\n0.008001639,\n0.008733412,\n0.017808776,\n0.010203799,\n0.0015327926,\n-0.027369708,\n-0.018848306,\n0.01563397,\n-0.025577888,\n-0.0041854726,\n-0.0058063176,\n0.01102448,\n0.010053341,\n-0.009143753,\n-0.012529062,\n0.011598957,\n0.025687313,\n0.0032194627,\n-0.015907532,\n0.016769247,\n0.0062132385,\n-0.015565581,\n0.009177948,\n0.026576383,\n-0.033866767,\n0.0016140058,\n-0.009335245,\n-0.011386948,\n-0.017480504,\n0.00365203,\n0.016112702,\n-0.023266304,\n-0.02626179,\n-0.009157431,\n0.016632466,\n-0.0015045817,\n0.0040965653,\n0.0140336435,\n0.02749281,\n-0.005071124,\n-0.016810281,\n-0.022650793,\n-0.026152365,\n0.006257692,\n-0.004038434,\n0.0012062299,\n0.016181093,\n0.008931744,\n0.00006481028,\n0.03728627,\n-0.0058473516,\n-0.009813976,\n-0.005327587,\n0.02211735,\n-0.0028296395,\n-0.0029527415,\n-0.012228145,\n0.024415256,\n0.0149500705,\n0.025304329,\n-0.0002701408,\n0.00723567,\n0.008213648,\n0.008111062,\n-0.0044692913,\n-0.013787439,\n0.0038708784,\n-0.0030484877,\n0.009143753,\n-0.021665975,\n0.01171522,\n0.004759949,\n0.030994382,\n0.040541638,\n0.014498696,\n0.010326901,\n0.021871146,\n-0.008993295,\n0.0063431794,\n0.021296669,\n-0.026535349,\n-0.025536854,\n0.02853234,\n-0.026234433,\n-0.0077212397,\n0.019655308,\n0.008596633,\n-0.025167547,\n-0.03178771,\n-0.0026706324,\n0.012535901,\n-0.021132533,\n0.00017856222,\n0.005464367,\n-0.021296669,\n-0.0063705356,\n-0.03638352,\n0.021187246,\n-0.0064389254,\n0.007180958,\n-0.016358906,\n0.00014041338,\n-0.019381747,\n-0.033620562,\n0.002376555,\n0.007816985,\n0.0012566677,\n-0.03238954,\n0.015510869,\n0.016632466,\n-0.005864449,\n0.0023611675,\n0.0033083698,\n0.008282038,\n0.02515387,\n-0.024647783,\n-0.027752692,\n-0.0016003278,\n-0.036711793,\n-0.0009010392,\n0.015743395,\n0.020161394,\n-0.0105389105,\n-0.007139924,\n0.019860478,\n0.007604976,\n0.006257692,\n0.01826015,\n-0.026275467,\n0.019272324,\n-0.006449184,\n-0.0052147433,\n0.01605799,\n-0.009643001,\n0.0009839622,\n-0.0021970312,\n-0.04913143,\n0.007324577,\n-0.012529062,\n-0.010620979,\n0.003610996,\n0.00034878938,\n0.02266447,\n0.0044761305,\n0.0034536987,\n0.033182863,\n-0.018766237,\n0.0038127466,\n0.008774446,\n-0.023950204,\n0.018178081,\n-0.014498696,\n0.024032272,\n0.0022996163,\n-0.019901512,\n0.01006018,\n-0.0198468,\n0.011899873,\n0.016577754,\n-0.0030416485,\n0.004168375,\n0.02466146,\n-0.030365193,\n0.013937897,\n0.01612638,\n-0.0005159176,\n0.0041581164,\n-0.001199391,\n-0.011345914,\n-0.021748044,\n0.014703866,\n-0.008829159,\n0.0312953,\n-0.010703047,\n-0.01687867,\n-0.008295716,\n-0.0057413466,\n-0.027137183,\n0.00095489644,\n-0.020653803,\n-0.039502107,\n-0.011708381,\n0.0029236758,\n-0.005823415,\n0.030693466,\n0.019532206,\n0.012494867,\n-0.0066235787,\n-0.0023321016,\n0.00168838,\n-0.017589927,\n-0.023033777,\n-0.024702495,\n0.0030467778,\n0.03383941,\n0.025892483,\n-0.00028766575,\n0.022719182,\n-0.021118855,\n0.01130488,\n0.014156746,\n-0.016181093,\n-0.0032844334,\n-0.014102033,\n-0.026097653,\n0.0075502642,\n-0.00051933713,\n-0.002562918,\n-0.022896998,\n-0.025536854,\n-0.005775542,\n-0.0009959305,\n-0.0045240032,\n-0.014389272,\n-0.014430306,\n-0.0068048127,\n0.01639994,\n0.0013147992,\n-0.005023251,\n-0.013076182,\n0.018478999,\n0.0049377633,\n0.009868688,\n0.04010394,\n-0.007946927,\n0.022131028,\n-0.015250986,\n0.03225276,\n0.0010549169,\n0.01888934,\n-0.012604291,\n0.0049172463,\n-0.037505116,\n-0.018096013,\n0.019299679,\n0.004253863,\n0.005286553,\n-0.005105319,\n-0.005149773,\n-0.02025714,\n0.013657498,\n0.0038777173,\n-0.0059020636,\n-0.0076528494,\n-0.009041168,\n-0.011222811,\n-0.008842837,\n0.0048283394,\n-0.027109826,\n0.020804262,\n0.011838322,\n-0.015551903,\n0.02680891,\n-0.017562572,\n0.0028997392,\n-0.0009489123,\n-0.019381747,\n0.04844753,\n0.02674052,\n0.039310616,\n0.015333055,\n0.0069894656,\n-0.04314046,\n-0.01563397,\n-0.010292706,\n0.0010361096,\n0.021761721,\n0.013589108,\n-0.0014703866,\n-0.0021337704,\n0.015333055,\n0.0026689228,\n-0.028997391,\n-0.030310482,\n0.010648334,\n0.020106683,\n0.01583914,\n-0.010737242,\n0.010169604,\n-0.006986046,\n0.040131297,\n-0.02803993,\n-0.0013276223,\n-0.01157844,\n-0.024086984,\n-0.0089591,\n-0.0033853087,\n0.0010412389,\n0.011585278,\n0.015716039,\n-0.017330045,\n0.0031134582,\n-0.011756254,\n-0.020010935,\n0.02025714,\n0.004106824,\n0.022979066,\n0.005002734,\n-0.009766103,\n0.0048898906,\n0.0049856366,\n-0.005132675,\n0.0026381472,\n0.027684303,\n0.030283125,\n-0.011359591,\n-0.0069894656,\n0.01233073,\n-0.021406094,\n0.023512509,\n0.0052694553,\n-0.0025509498,\n0.0005334426,\n-0.03424975,\n-0.010901378,\n0.011147582,\n-0.0038195858,\n0.0005394267,\n-0.009540415,\n-0.00475653,\n-0.029790716,\n-0.013165089,\n-0.011051836,\n0.003935849,\n-0.013185606,\n-0.021515518,\n-0.018861983,\n-0.01846532,\n0.010641496,\n0.0055498546,\n-0.000100341065,\n0.026918333,\n0.017507859,\n-0.023485152,\n0.026932012,\n-0.002226097,\n0.0049309246,\n-0.015223631,\n0.0060730386,\n-0.0006817636,\n-0.02894268,\n0.022363555,\n-0.022869641,\n-0.051648185,\n0.008104224,\n0.005050607,\n-0.009752424,\n-0.023704,\n-0.02515387,\n0.035508126,\n0.012276018,\n0.0055703716,\n-0.00565244,\n-0.032006554,\n-0.0023936527,\n-0.011448499,\n-0.00078819564,\n0.013725888,\n0.004736013,\n-0.0077144005,\n0.009608805,\n-0.0033511138,\n0.007864859,\n-0.033401713,\n0.0057447664,\n-0.009663518,\n0.003658869,\n-0.030091632,\n0.0048044026,\n-0.010251672,\n-0.0071262456,\n-0.00034173665,\n-0.008056351,\n-0.008083707,\n0.013431811,\n-0.02066748,\n-0.008056351,\n-0.014211457,\n-0.004831759,\n-0.013247157,\n-0.011393786,\n-0.023731356,\n0.0061174924,\n-0.038900275,\n-0.03843522,\n-0.0092600165,\n0.020653803,\n0.029763361,\n-0.021105178,\n-0.02136506,\n0.0039495267,\n-0.043660223,\n-0.015004783,\n0.005621664,\n0.0041102436,\n0.015675005,\n0.0057652835,\n0.011339075,\n0.020831617,\n-0.0032433993,\n0.01778142,\n-0.008405141,\n0.017808776,\n0.017754063,\n-0.022172062,\n0.016523043,\n-0.018588422,\n-0.026371213,\n-0.038353153,\n0.026932012,\n0.016714534,\n0.0011874227,\n0.019149221,\n-0.02535904,\n-0.013493362,\n-0.024360545,\n0.013903703,\n-0.04201886,\n0.013062504,\n-0.011339075,\n-0.013883186,\n-0.0016721373,\n0.017453147,\n-0.0026022424,\n-0.008384624,\n0.01694706,\n0.013910541,\n-0.023033777,\n0.014211457,\n-0.0224593,\n-0.0034092453,\n-0.0061858823,\n-0.03479687,\n0.007899053,\n-0.017808776,\n-0.033620562,\n0.017589927,\n-0.009478864,\n0.011106548,\n-0.003672547,\n0.0071672797,\n-0.030118989,\n0.0005590889,\n0.00599439,\n-0.016782925,\n0.0030758437,\n-0.013110378,\n0.022158384,\n-0.02583777,\n0.009998629,\n-0.01447134,\n-0.011380108,\n-0.03996716,\n0.0045650373,\n-0.0077691125,\n-0.027041435,\n-0.02659006,\n-0.0068184906,\n0.009157431,\n0.0039734636,\n-0.033647917,\n0.004168375,\n-0.01687867,\n-0.00031160229,\n-0.020708514,\n-0.022226775,\n0.014909036,\n-0.030775534,\n-0.025646279,\n0.0054130745,\n-0.009116397,\n0.24182731,\n-0.009410474,\n0.013124055,\n0.014690188,\n-0.010525232,\n0.037231557,\n0.0044419356,\n-0.004927505,\n0.0010711595,\n0.030009566,\n-0.00045650374,\n-0.025400074,\n-0.012617969,\n-0.003956366,\n-0.0067569395,\n-0.015661327,\n-0.0172343,\n-0.03219805,\n-0.039939802,\n-0.03315551,\n0.014580764,\n0.010121731,\n-0.011181777,\n-0.019135542,\n0.014225136,\n-0.009704552,\n-0.011551084,\n-0.0007317738,\n0.03526192,\n0.020489667,\n-0.011913551,\n-0.013671176,\n0.019272324,\n0.0013387357,\n-0.012214468,\n-0.010559428,\n0.013445489,\n-0.015825463,\n0.016249482,\n0.034304462,\n0.0036486106,\n-0.025523176,\n-0.007427162,\n-0.012426477,\n0.0019987,\n0.032964017,\n-0.00916427,\n-0.017371079,\n-0.011366431,\n0.014922715,\n-0.015250986,\n-0.0103679355,\n0.029818073,\n0.019162899,\n0.003754615,\n0.0046129106,\n0.018985085,\n-0.000102317965,\n-0.0017593347,\n0.013397615,\n-0.0008343589,\n0.01936807,\n-0.014868002,\n0.031322654,\n-0.009554094,\n-0.0027527006,\n-0.02479824,\n0.004253863,\n0.030310482,\n-0.012440154,\n0.005796059,\n-0.022144707,\n0.017193265,\n0.0032844334,\n-0.0066406764,\n-0.008035834,\n0.020804262,\n0.007269865,\n0.030146345,\n0.03646559,\n-0.019244967,\n0.007119407,\n-0.0061003948,\n-0.031322654,\n0.0037853906,\n-0.022514014,\n-0.0019833122,\n-0.0058028977,\n-0.016030634,\n-0.011831483,\n0.003012583,\n-0.030255768,\n-0.022582402,\n0.02266447,\n0.021105178,\n0.039037056,\n-0.0062953066,\n0.0039461073,\n-0.012966759,\n-0.0053720404,\n-0.023471475,\n0.05547803,\n0.014389272,\n0.009649839,\n-0.01653672,\n-0.000118507174,\n0.006493638,\n0.010080697,\n0.00074716157,\n-0.017699352,\n-0.0041581164,\n-0.02659006,\n0.0014985976,\n-0.010450004,\n-0.0205307,\n-0.0077485954,\n-0.014635476,\n0.0027544103,\n-0.008035834,\n-0.009889205,\n0.014361916,\n-0.021898502,\n-0.010450004,\n-0.0055566938,\n0.0020311852,\n-0.014703866,\n0.0014977426,\n0.0077622733,\n0.01212556,\n-0.045848705,\n0.0040692096,\n-0.020366564,\n0.010805632,\n-0.0083641065,\n-0.0048009832,\n0.00096088054,\n0.0013216382,\n0.01653672,\n-0.012467511,\n-0.007871698,\n0.014840647,\n-0.0005616535,\n0.026234433,\n-0.0034348916,\n-0.0067432616,\n-0.0058028977,\n0.0050950604,\n0.004168375,\n-0.024538359,\n-0.028723832,\n-0.028067287,\n0.000916427,\n0.0030946508,\n-0.005153192,\n0.028149355,\n-0.022336198,\n-0.0053139087,\n-0.022281487,\n0.012022975,\n0.010395291,\n-0.001571262,\n-0.03176035,\n0.0018995344,\n0.00022461865,\n-0.030584041,\n-0.0075981375,\n-0.17912729,\n0.03457802,\n0.020175071,\n-0.011079192,\n0.009205304,\n-0.018355897,\n0.01061414,\n-0.008309394,\n-0.000025592848,\n-0.00889071,\n0.022541368,\n0.00009291433,\n-0.03646559,\n-0.0050471877,\n-0.018506354,\n0.022035282,\n0.017453147,\n0.035535485,\n0.043496087,\n0.017959233,\n0.022308843,\n-0.015346733,\n-0.0006078168,\n0.00041888922,\n-0.0005253213,\n-0.0047873054,\n-0.00083777844,\n0.040568992,\n0.003012583,\n-0.018656813,\n-0.019860478,\n-0.002494528,\n0.0027373128,\n0.009342085,\n-0.0015003072,\n-0.011106548,\n-0.0000883728,\n-0.01578443,\n0.004253863,\n0.024141697,\n0.01578443,\n0.0396936,\n0.022719182,\n0.021173567,\n0.012077687,\n0.018232794,\n0.019477494,\n-0.040705774,\n-0.0140336435,\n-0.031322654,\n0.0147585785,\n-0.034687445,\n-0.016974417,\n0.00792641,\n0.030474618,\n0.0033733405,\n0.018342217,\n-0.007447679,\n0.017343722,\n0.0017866907,\n-0.007174119,\n-0.014963749,\n0.00454794,\n0.0045103254,\n-0.007023661,\n-0.006124331,\n-0.031322654,\n0.018629456,\n-0.0074613574,\n-0.0054267524,\n-0.027739014,\n0.014580764,\n-0.0022996163,\n-0.005050607,\n0.02136506,\n-0.003727259,\n-0.019833121,\n0.006264531,\n0.007858019,\n-0.007290382,\n-0.0056250836,\n0.0351525,\n-0.028450271,\n0.02184379,\n0.0071672797,\n0.016618788,\n-0.004975378,\n-0.00978662,\n-0.0059089023,\n0.0020089585,\n0.05479413,\n-0.0023440698,\n-0.020544378,\n-0.023416761,\n0.012535901,\n0.027041435,\n-0.0054199137,\n-0.023662966,\n0.0020910266,\n-0.0166735,\n-0.010402131,\n0.01164683,\n-0.0013130894,\n-0.0019593756,\n0.010641496,\n0.0064799595,\n0.022582402,\n0.02998221,\n0.012570096,\n-0.016181093,\n-0.0036349325,\n0.013329226,\n-0.004141019,\n0.014047322,\n0.00025240213,\n0.033948835,\n-0.010778276,\n-0.0063363407,\n0.031049093,\n0.008562437,\n0.048256036,\n-0.024483647,\n-0.011065514,\n0.017206943,\n-0.00737245,\n-0.019354392,\n-0.035617553,\n0.0006933044,\n0.0009890915,\n0.01977841,\n-0.02295171,\n0.041581165,\n-0.005057446,\n0.014006288,\n-0.011270684,\n0.018725203,\n-0.011852,\n-0.028559696,\n-0.024100663,\n-0.0019183416,\n0.039392684,\n0.005553274,\n-0.013247157,\n-0.006107234,\n0.005423333,\n0.018766237,\n0.0038127466,\n-0.03416768,\n-0.0094309915,\n-0.045711927,\n-0.033018727,\n0.009978112,\n-0.022828607,\n0.023416761,\n0.0042572822,\n-0.0076938835,\n-0.0071057286,\n0.0015866498,\n0.021282991,\n-0.014293525,\n-0.00090445875,\n0.017042806,\n-0.0067022275,\n-0.0058541903,\n-0.007276704,\n-0.014293525,\n0.0065825447,\n-0.00530707,\n-0.004004239,\n-0.021748044,\n-0.0071877968,\n-0.019737376,\n0.002144029,\n0.011017641,\n0.014635476,\n-0.022240452,\n0.009725069,\n-0.014143067,\n-0.011865678,\n-0.011414303,\n0.020380242,\n0.00220387,\n0.010826149,\n-0.0064867986,\n-0.008220487,\n0.0011463886,\n-0.012686359,\n0.0021713849,\n0.019805767,\n0.023061134,\n0.016290516,\n0.010251672,\n-0.028860612,\n-0.010839827,\n0.010299546,\n-0.011975102,\n-0.012453833,\n0.025126513,\n-0.021556552,\n0.03225276,\n-0.014977426,\n-0.018137047,\n-0.0046334276,\n-0.01742579,\n0.020995753,\n-0.004575296,\n-0.024770886,\n-0.025550531,\n-0.006025166,\n-0.006401311,\n0.015045816,\n0.015415123,\n0.003217753,\n-0.0017328336,\n-0.011708381,\n-0.020380242,\n0.004681301,\n0.019956224,\n0.021064144,\n-0.02066748,\n-0.001082273,\n0.00020068213,\n-0.0039050733,\n0.00806319,\n0.010634657,\n0.02211735,\n-0.03444124,\n-0.02211735,\n-0.0902749,\n0.020735871,\n-0.0064594424,\n-0.036575012,\n-0.010402131,\n0.018930374,\n0.011804127,\n-0.002087607,\n0.0014276428,\n0.011099709,\n-0.024333188,\n0.0004415434,\n-0.0063431794,\n-0.013609625,\n-0.009636162,\n-0.0022158385,\n0.03189713,\n0.022431945,\n0.013883186,\n0.028559696,\n0.016030634,\n-0.008699218,\n-0.001184858,\n0.014963749,\n-0.008665022,\n0.026425924,\n-0.00441116,\n0.024702495,\n-0.007488713,\n-0.01798659,\n0.018451642,\n-0.0074613574,\n0.006606481,\n0.01943646,\n-0.008213648,\n-0.009547254,\n-0.03126794,\n0.011557923,\n0.0076460103,\n-0.0016293935,\n-0.019190256,\n-0.027410742,\n0.0059567755,\n-0.046204336,\n-0.007987961,\n-0.013773761,\n-0.00440774,\n0.01453973,\n0.0076460103,\n-0.009389957,\n0.028887969,\n0.023444118,\n-0.012098204,\n-0.010778276,\n0.025181226,\n-0.017699352,\n0.03575433,\n0.008001639,\n-0.0033511138,\n-0.015716039,\n0.039009698,\n0.016249482,\n0.027506487,\n-0.020735871,\n0.014635476,\n-0.0024346868,\n-0.010422647,\n-0.0055464352,\n0.010559428,\n-0.02446997,\n-0.044836532,\n-0.006285048,\n-0.0070099826,\n0.015196275,\n-0.0044179987,\n0.030228414,\n-0.0008001639,\n0.013951575,\n0.0026672129,\n0.02191218,\n0.020175071,\n-0.0075981375,\n-0.025085479,\n0.012597452,\n0.0172343,\n-0.003481055,\n-0.018410608,\n-0.0085145645,\n-0.022650793,\n-0.007563942,\n-0.05788536,\n0.011386948,\n-0.008740252,\n-0.0050608655,\n0.0012686359,\n0.011380108,\n-0.017193265,\n0.009608805,\n0.0042265067,\n0.010443164,\n-0.005129256,\n0.008165775,\n0.01337026,\n-0.013855829,\n-0.0017148812,\n0.002162836,\n-0.025304329,\n-0.0042265067,\n0.012966759,\n0.0045376816,\n-0.006862944,\n0.0042675408,\n-0.0004505196,\n0.012583774,\n-0.038626716,\n0.0043803845,\n-0.0070920507,\n0.001315654,\n-0.03121323,\n0.013192445,\n0.0030587462,\n0.023061134,\n0.027191894,\n0.0037101617,\n0.03452331,\n-0.018287506,\n-0.013520718,\n-0.026166042,\n-0.0032912723,\n-0.010019146,\n-0.033128154,\n0.0085145645,\n-0.030884959,\n-0.012891529,\n-0.0070646945,\n-0.0032074945,\n0.02143345,\n0.010210638,\n-0.009177948,\n0.098974116,\n0.014936392,\n0.00014575635,\n0.004541101,\n0.0055703716,\n0.0067501003,\n0.019532206,\n0.01391738,\n-0.016427295,\n-0.00065312523,\n0.014129389,\n0.014320882,\n-0.0020773485,\n-0.019874156,\n-0.028669119,\n-0.023211591,\n-0.002915127,\n0.008056351,\n-0.013931058,\n-0.0011190326,\n0.007078373,\n0.010381614,\n-0.010901378,\n0.00791957,\n-0.031623572,\n-0.022445623,\n0.030201057,\n0.004736013,\n0.0017901103,\n-0.058049496,\n0.016591432,\n0.007365611,\n-0.017945556,\n-0.0110928705,\n-0.0027800566,\n0.0016764117,\n-0.013978931,\n-0.004773627,\n-0.008863354,\n0.0033220479,\n-0.0053173285,\n-0.003983722,\n-0.024278477,\n-0.0048898906,\n-0.01689235,\n0.003190397,\n-0.007604976,\n0.00058559,\n-0.007468196\n],\n\"metadata\": {{ JSON.stringify($node[\"task\"].json) }}\n}\n}",
        "options": {}
      },
      "id": "37a6f77f-4d8a-40da-8918-81cd88668c49",
      "name": "Upsert task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6120,
        20
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"namespace\": \"tasks-dev\",\n\"ids\": [\"{{ $node[\"IF Tasks\"].json[\"matches\"][0][\"id\"] }}\"]\n}",
        "options": {}
      },
      "id": "4300625a-3d72-4ef1-9229-5da898e2fcd4",
      "name": "Delete task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3260,
        -80
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"namespace\": \"tasks-dev-doing\",\n\"vectors\": {\n\"id\": \"{{ $node[\"IF Tasks\"].json[\"matches\"][0][\"id\"] }}\",\n\"values\": \n[\n-0.008432496,\n-0.0070715337,\n0.012426477,\n-0.012146077,\n-0.0033117894,\n0.00042059895,\n-0.03356585,\n0.0024329768,\n0.0025270132,\n-0.031377368,\n0.018807271,\n-0.0015857948,\n-0.0025577887,\n0.01178361,\n0.011188616,\n-0.0024500745,\n-0.0005684925,\n-0.010949251,\n0.015962243,\n-0.018013947,\n0.004349609,\n0.021597587,\n-0.013527557,\n0.017029129,\n-0.005279714,\n-0.0041239215,\n0.018561067,\n-0.02921624,\n0.021419771,\n0.007310899,\n0.042784832,\n-0.019286001,\n0.0025902742,\n-0.0172343,\n-0.007858019,\n-0.0036622884,\n-0.004968539,\n-0.0027048276,\n-0.0010053341,\n-0.010853505,\n0.007899053,\n0.021269314,\n0.011407465,\n-0.017740386,\n-0.010552589,\n0.023170557,\n0.011968263,\n0.0031784289,\n-0.023143202,\n-0.012289696,\n0.006042263,\n0.0019679244,\n-0.01116126,\n-0.03865407,\n0.0036417716,\n0.017877165,\n0.0068458463,\n0.025960872,\n-0.008692378,\n-0.009314728,\n-0.018848306,\n0.009034329,\n-0.020544378,\n0.014826968,\n-0.0020705096,\n-0.004168375,\n-0.01957324,\n0.013110378,\n-0.007297221,\n0.0007428872,\n0.033182863,\n0.014129389,\n0.03419504,\n-0.0026278887,\n0.03107645,\n-0.012857334,\n-0.0006898849,\n-0.0094515085,\n0.021611264,\n0.0042641214,\n0.014156746,\n-0.02349883,\n-0.03479687,\n0.025714668,\n0.012959919,\n0.03728627,\n0.023170557,\n0.0017678834,\n-0.009697713,\n0.00010151652,\n-0.005187387,\n0.02935302,\n0.039994515,\n0.02907946,\n0.008630827,\n0.030283125,\n-0.0066782907,\n0.025263295,\n-0.0033203382,\n-0.022514014,\n-0.012392282,\n0.006941593,\n-0.015223631,\n-0.0055156597,\n-0.049022008,\n-0.010593623,\n0.038271084,\n-0.009253177,\n0.023676643,\n-0.017562572,\n-0.016263159,\n0.022650793,\n-0.00029771053,\n-0.00165333,\n-0.0039050733,\n-0.00031010626,\n0.0022449042,\n-0.017671995,\n-0.007228831,\n-0.02742442,\n0.013698532,\n0.02590616,\n0.02604294,\n-0.02191218,\n0.0097729415,\n0.0025116254,\n0.008035834,\n-0.0017815614,\n0.00027099566,\n-0.0065449304,\n0.024565715,\n0.005772122,\n0.0058336733,\n0.0023833942,\n-0.0154835135,\n0.0035528643,\n-0.01887566,\n-0.00006112363,\n-0.013684854,\n-0.021474484,\n0.00889071,\n0.025386397,\n-0.02211735,\n-0.0044487743,\n-0.0028894807,\n0.01274791,\n0.020216106,\n0.0001625333,\n-0.007276704,\n0.013048827,\n0.000475311,\n-0.01130488,\n0.021132533,\n-0.0006787715,\n-0.0021765141,\n-0.009054846,\n0.0152920205,\n0.016618788,\n0.015442479,\n-0.013055665,\n0.017453147,\n-0.0039803023,\n0.0083435895,\n0.0053173285,\n0.009649839,\n0.03534399,\n0.02479824,\n0.007269865,\n-0.005967034,\n-0.00861031,\n-0.0022192579,\n0.025112836,\n-0.03578169,\n0.026822587,\n0.00544385,\n0.006001229,\n0.0028723832,\n0.010894539,\n-0.032772522,\n-0.0017524956,\n-0.010094375,\n0.0040692096,\n0.0159896,\n0.025687313,\n-0.0036999031,\n-0.0048215003,\n0.029024748,\n-0.025167547,\n0.010361097,\n0.0037033225,\n0.023088489,\n0.021187246,\n0.030064277,\n-0.008555599,\n-0.6574201,\n-0.010374774,\n-0.008863354,\n0.013493362,\n0.019874156,\n0.02549582,\n-0.0020072488,\n0.0121802725,\n-0.0077485954,\n-0.0071057286,\n-0.015305699,\n0.024428936,\n0.022541368,\n-0.0134591665,\n-0.013035148,\n-0.0075981375,\n0.006216658,\n-0.018178081,\n0.018246472,\n0.0083435895,\n-0.020653803,\n0.013199285,\n0.0007176683,\n-0.0057037324,\n0.0013814796,\n-0.008097385,\n0.006069619,\n-0.0028775125,\n0.002164546,\n0.01564765,\n-0.0015524547,\n0.018520033,\n0.0088565145,\n0.01122965,\n0.05318012,\n0.0066030617,\n-0.02501709,\n0.030009566,\n0.018793592,\n0.032280117,\n-0.008090546,\n0.0047838856,\n0.012262341,\n0.007406645,\n0.008172614,\n0.009102719,\n0.035426058,\n-0.010456842,\n0.0064389254,\n0.01122965,\n0.019299679,\n-0.03597318,\n-0.0029989048,\n0.009136914,\n-0.004486389,\n-0.004705237,\n0.018779915,\n-0.015387767,\n-0.008439335,\n0.007905893,\n-0.024784563,\n-0.0034981524,\n-0.029052105,\n-0.028970037,\n-0.020968396,\n-0.008323072,\n-0.012843656,\n-0.02046231,\n0.01467651,\n-0.03258103,\n-0.000774945,\n0.0013062505,\n-0.02998221,\n-0.000747589,\n0.0301737,\n0.0039939806,\n0.034769513,\n-0.0008993295,\n0.004099985,\n0.020216106,\n0.021761721,\n0.0038742977,\n-0.013055665,\n0.008637667,\n0.02459307,\n0.0042230873,\n-0.001901244,\n-0.02431951,\n0.01674189,\n-0.0020328949,\n0.021173567,\n0.0077144005,\n-0.0037170006,\n0.004424838,\n0.02157023,\n-0.0015447608,\n-0.0077144005,\n-0.011017641,\n0.033593204,\n-0.022418266,\n-0.0081315795,\n0.009834493,\n0.023389407,\n0.014416628,\n0.02397756,\n0.0024859793,\n-0.00861031,\n0.0022722601,\n0.025331683,\n-0.021693332,\n-0.005221582,\n-0.019203933,\n-0.011940907,\n-0.0007843487,\n0.004954861,\n-0.03107645,\n0.008993295,\n0.012064009,\n0.013486523,\n-0.0027578298,\n0.008329911,\n-0.003528928,\n0.010525232,\n-0.014334559,\n-0.004777047,\n0.02624811,\n-0.030611398,\n-0.021925857,\n0.006808232,\n-0.015729718,\n-0.001853371,\n-0.030638754,\n0.02322527,\n-0.0068184906,\n0.00633976,\n-0.010737242,\n-0.0055566938,\n0.011106548,\n0.027711658,\n-0.0014874841,\n-0.019600596,\n-0.0041820533,\n0.004017917,\n-0.017603606,\n-0.005796059,\n-0.036629725,\n-0.0052933916,\n0.0018362735,\n-0.0011421143,\n0.0068116514,\n-0.0020636704,\n-0.022924352,\n-0.027246606,\n0.006380794,\n0.002453494,\n-0.0014866292,\n0.02479824,\n-0.010990285,\n-0.035644908,\n-0.009287372,\n0.009971273,\n0.004346189,\n-0.014690188,\n0.005245519,\n-0.0048215003,\n-0.013766922,\n0.002610791,\n0.012959919,\n-0.008302555,\n-0.03665708,\n0.0024723012,\n-0.003080973,\n-0.02626179,\n0.013937897,\n0.014498696,\n-0.004954861,\n0.002956161,\n-0.017548893,\n0.014895358,\n0.02136506,\n-0.00096857443,\n0.010039663,\n-0.0052694553,\n0.014430306,\n0.004127341,\n-0.008377784,\n0.015223631,\n0.032088622,\n-0.016167413,\n0.016810281,\n0.009472026,\n0.0053583626,\n0.011031319,\n0.00008185437,\n0.008528243,\n0.011749415,\n-0.0077075614,\n-0.0077075614,\n0.013999448,\n0.010422647,\n0.034359172,\n-0.007987961,\n0.0140336435,\n-0.018848306,\n0.0079948,\n-0.025988229,\n-0.008801803,\n-0.008288877,\n0.012146077,\n0.0053925575,\n-0.0006492783,\n-0.02300642,\n-0.014854324,\n0.015141563,\n0.007858019,\n0.03326493,\n0.022568725,\n-0.0074203233,\n0.007263026,\n0.013725888,\n0.007338255,\n-0.005775542,\n0.016112702,\n-0.020243462,\n-0.016263159,\n-0.010798793,\n0.013862669,\n0.007892215,\n0.008555599,\n-0.0026193399,\n-0.0037682932,\n-0.019190256,\n0.0009591708,\n0.006264531,\n0.017261654,\n-0.0005740492,\n0.019381747,\n-0.02281493,\n0.017056486,\n0.0026706324,\n-0.00668513,\n0.019190256,\n0.013124055,\n-0.007358772,\n0.019162899,\n-0.004099985,\n0.041006688,\n0.035097785,\n-0.010361097,\n0.0019901511,\n-0.017179586,\n-0.014430306,\n-0.013165089,\n-0.015346733,\n-0.013069344,\n-0.030556686,\n0.0037170006,\n0.003108329,\n0.014703866,\n0.011400625,\n0.027821083,\n0.008747091,\n0.022076316,\n-0.0013113797,\n0.017384756,\n-0.014785934,\n-0.0068800417,\n-0.014102033,\n-0.008842837,\n-0.0041512777,\n-0.019586917,\n-0.012276018,\n0.0014866292,\n-0.023266304,\n0.0076870443,\n0.0066611934,\n-0.009082202,\n-0.0052352604,\n0.016564077,\n0.010053341,\n-0.009636162,\n-0.009636162,\n0.003727259,\n0.02466146,\n-0.008589793,\n0.0018516612,\n0.009102719,\n-0.0030501974,\n-0.010019146,\n0.008001639,\n0.008733412,\n0.017808776,\n0.010203799,\n0.0015327926,\n-0.027369708,\n-0.018848306,\n0.01563397,\n-0.025577888,\n-0.0041854726,\n-0.0058063176,\n0.01102448,\n0.010053341,\n-0.009143753,\n-0.012529062,\n0.011598957,\n0.025687313,\n0.0032194627,\n-0.015907532,\n0.016769247,\n0.0062132385,\n-0.015565581,\n0.009177948,\n0.026576383,\n-0.033866767,\n0.0016140058,\n-0.009335245,\n-0.011386948,\n-0.017480504,\n0.00365203,\n0.016112702,\n-0.023266304,\n-0.02626179,\n-0.009157431,\n0.016632466,\n-0.0015045817,\n0.0040965653,\n0.0140336435,\n0.02749281,\n-0.005071124,\n-0.016810281,\n-0.022650793,\n-0.026152365,\n0.006257692,\n-0.004038434,\n0.0012062299,\n0.016181093,\n0.008931744,\n0.00006481028,\n0.03728627,\n-0.0058473516,\n-0.009813976,\n-0.005327587,\n0.02211735,\n-0.0028296395,\n-0.0029527415,\n-0.012228145,\n0.024415256,\n0.0149500705,\n0.025304329,\n-0.0002701408,\n0.00723567,\n0.008213648,\n0.008111062,\n-0.0044692913,\n-0.013787439,\n0.0038708784,\n-0.0030484877,\n0.009143753,\n-0.021665975,\n0.01171522,\n0.004759949,\n0.030994382,\n0.040541638,\n0.014498696,\n0.010326901,\n0.021871146,\n-0.008993295,\n0.0063431794,\n0.021296669,\n-0.026535349,\n-0.025536854,\n0.02853234,\n-0.026234433,\n-0.0077212397,\n0.019655308,\n0.008596633,\n-0.025167547,\n-0.03178771,\n-0.0026706324,\n0.012535901,\n-0.021132533,\n0.00017856222,\n0.005464367,\n-0.021296669,\n-0.0063705356,\n-0.03638352,\n0.021187246,\n-0.0064389254,\n0.007180958,\n-0.016358906,\n0.00014041338,\n-0.019381747,\n-0.033620562,\n0.002376555,\n0.007816985,\n0.0012566677,\n-0.03238954,\n0.015510869,\n0.016632466,\n-0.005864449,\n0.0023611675,\n0.0033083698,\n0.008282038,\n0.02515387,\n-0.024647783,\n-0.027752692,\n-0.0016003278,\n-0.036711793,\n-0.0009010392,\n0.015743395,\n0.020161394,\n-0.0105389105,\n-0.007139924,\n0.019860478,\n0.007604976,\n0.006257692,\n0.01826015,\n-0.026275467,\n0.019272324,\n-0.006449184,\n-0.0052147433,\n0.01605799,\n-0.009643001,\n0.0009839622,\n-0.0021970312,\n-0.04913143,\n0.007324577,\n-0.012529062,\n-0.010620979,\n0.003610996,\n0.00034878938,\n0.02266447,\n0.0044761305,\n0.0034536987,\n0.033182863,\n-0.018766237,\n0.0038127466,\n0.008774446,\n-0.023950204,\n0.018178081,\n-0.014498696,\n0.024032272,\n0.0022996163,\n-0.019901512,\n0.01006018,\n-0.0198468,\n0.011899873,\n0.016577754,\n-0.0030416485,\n0.004168375,\n0.02466146,\n-0.030365193,\n0.013937897,\n0.01612638,\n-0.0005159176,\n0.0041581164,\n-0.001199391,\n-0.011345914,\n-0.021748044,\n0.014703866,\n-0.008829159,\n0.0312953,\n-0.010703047,\n-0.01687867,\n-0.008295716,\n-0.0057413466,\n-0.027137183,\n0.00095489644,\n-0.020653803,\n-0.039502107,\n-0.011708381,\n0.0029236758,\n-0.005823415,\n0.030693466,\n0.019532206,\n0.012494867,\n-0.0066235787,\n-0.0023321016,\n0.00168838,\n-0.017589927,\n-0.023033777,\n-0.024702495,\n0.0030467778,\n0.03383941,\n0.025892483,\n-0.00028766575,\n0.022719182,\n-0.021118855,\n0.01130488,\n0.014156746,\n-0.016181093,\n-0.0032844334,\n-0.014102033,\n-0.026097653,\n0.0075502642,\n-0.00051933713,\n-0.002562918,\n-0.022896998,\n-0.025536854,\n-0.005775542,\n-0.0009959305,\n-0.0045240032,\n-0.014389272,\n-0.014430306,\n-0.0068048127,\n0.01639994,\n0.0013147992,\n-0.005023251,\n-0.013076182,\n0.018478999,\n0.0049377633,\n0.009868688,\n0.04010394,\n-0.007946927,\n0.022131028,\n-0.015250986,\n0.03225276,\n0.0010549169,\n0.01888934,\n-0.012604291,\n0.0049172463,\n-0.037505116,\n-0.018096013,\n0.019299679,\n0.004253863,\n0.005286553,\n-0.005105319,\n-0.005149773,\n-0.02025714,\n0.013657498,\n0.0038777173,\n-0.0059020636,\n-0.0076528494,\n-0.009041168,\n-0.011222811,\n-0.008842837,\n0.0048283394,\n-0.027109826,\n0.020804262,\n0.011838322,\n-0.015551903,\n0.02680891,\n-0.017562572,\n0.0028997392,\n-0.0009489123,\n-0.019381747,\n0.04844753,\n0.02674052,\n0.039310616,\n0.015333055,\n0.0069894656,\n-0.04314046,\n-0.01563397,\n-0.010292706,\n0.0010361096,\n0.021761721,\n0.013589108,\n-0.0014703866,\n-0.0021337704,\n0.015333055,\n0.0026689228,\n-0.028997391,\n-0.030310482,\n0.010648334,\n0.020106683,\n0.01583914,\n-0.010737242,\n0.010169604,\n-0.006986046,\n0.040131297,\n-0.02803993,\n-0.0013276223,\n-0.01157844,\n-0.024086984,\n-0.0089591,\n-0.0033853087,\n0.0010412389,\n0.011585278,\n0.015716039,\n-0.017330045,\n0.0031134582,\n-0.011756254,\n-0.020010935,\n0.02025714,\n0.004106824,\n0.022979066,\n0.005002734,\n-0.009766103,\n0.0048898906,\n0.0049856366,\n-0.005132675,\n0.0026381472,\n0.027684303,\n0.030283125,\n-0.011359591,\n-0.0069894656,\n0.01233073,\n-0.021406094,\n0.023512509,\n0.0052694553,\n-0.0025509498,\n0.0005334426,\n-0.03424975,\n-0.010901378,\n0.011147582,\n-0.0038195858,\n0.0005394267,\n-0.009540415,\n-0.00475653,\n-0.029790716,\n-0.013165089,\n-0.011051836,\n0.003935849,\n-0.013185606,\n-0.021515518,\n-0.018861983,\n-0.01846532,\n0.010641496,\n0.0055498546,\n-0.000100341065,\n0.026918333,\n0.017507859,\n-0.023485152,\n0.026932012,\n-0.002226097,\n0.0049309246,\n-0.015223631,\n0.0060730386,\n-0.0006817636,\n-0.02894268,\n0.022363555,\n-0.022869641,\n-0.051648185,\n0.008104224,\n0.005050607,\n-0.009752424,\n-0.023704,\n-0.02515387,\n0.035508126,\n0.012276018,\n0.0055703716,\n-0.00565244,\n-0.032006554,\n-0.0023936527,\n-0.011448499,\n-0.00078819564,\n0.013725888,\n0.004736013,\n-0.0077144005,\n0.009608805,\n-0.0033511138,\n0.007864859,\n-0.033401713,\n0.0057447664,\n-0.009663518,\n0.003658869,\n-0.030091632,\n0.0048044026,\n-0.010251672,\n-0.0071262456,\n-0.00034173665,\n-0.008056351,\n-0.008083707,\n0.013431811,\n-0.02066748,\n-0.008056351,\n-0.014211457,\n-0.004831759,\n-0.013247157,\n-0.011393786,\n-0.023731356,\n0.0061174924,\n-0.038900275,\n-0.03843522,\n-0.0092600165,\n0.020653803,\n0.029763361,\n-0.021105178,\n-0.02136506,\n0.0039495267,\n-0.043660223,\n-0.015004783,\n0.005621664,\n0.0041102436,\n0.015675005,\n0.0057652835,\n0.011339075,\n0.020831617,\n-0.0032433993,\n0.01778142,\n-0.008405141,\n0.017808776,\n0.017754063,\n-0.022172062,\n0.016523043,\n-0.018588422,\n-0.026371213,\n-0.038353153,\n0.026932012,\n0.016714534,\n0.0011874227,\n0.019149221,\n-0.02535904,\n-0.013493362,\n-0.024360545,\n0.013903703,\n-0.04201886,\n0.013062504,\n-0.011339075,\n-0.013883186,\n-0.0016721373,\n0.017453147,\n-0.0026022424,\n-0.008384624,\n0.01694706,\n0.013910541,\n-0.023033777,\n0.014211457,\n-0.0224593,\n-0.0034092453,\n-0.0061858823,\n-0.03479687,\n0.007899053,\n-0.017808776,\n-0.033620562,\n0.017589927,\n-0.009478864,\n0.011106548,\n-0.003672547,\n0.0071672797,\n-0.030118989,\n0.0005590889,\n0.00599439,\n-0.016782925,\n0.0030758437,\n-0.013110378,\n0.022158384,\n-0.02583777,\n0.009998629,\n-0.01447134,\n-0.011380108,\n-0.03996716,\n0.0045650373,\n-0.0077691125,\n-0.027041435,\n-0.02659006,\n-0.0068184906,\n0.009157431,\n0.0039734636,\n-0.033647917,\n0.004168375,\n-0.01687867,\n-0.00031160229,\n-0.020708514,\n-0.022226775,\n0.014909036,\n-0.030775534,\n-0.025646279,\n0.0054130745,\n-0.009116397,\n0.24182731,\n-0.009410474,\n0.013124055,\n0.014690188,\n-0.010525232,\n0.037231557,\n0.0044419356,\n-0.004927505,\n0.0010711595,\n0.030009566,\n-0.00045650374,\n-0.025400074,\n-0.012617969,\n-0.003956366,\n-0.0067569395,\n-0.015661327,\n-0.0172343,\n-0.03219805,\n-0.039939802,\n-0.03315551,\n0.014580764,\n0.010121731,\n-0.011181777,\n-0.019135542,\n0.014225136,\n-0.009704552,\n-0.011551084,\n-0.0007317738,\n0.03526192,\n0.020489667,\n-0.011913551,\n-0.013671176,\n0.019272324,\n0.0013387357,\n-0.012214468,\n-0.010559428,\n0.013445489,\n-0.015825463,\n0.016249482,\n0.034304462,\n0.0036486106,\n-0.025523176,\n-0.007427162,\n-0.012426477,\n0.0019987,\n0.032964017,\n-0.00916427,\n-0.017371079,\n-0.011366431,\n0.014922715,\n-0.015250986,\n-0.0103679355,\n0.029818073,\n0.019162899,\n0.003754615,\n0.0046129106,\n0.018985085,\n-0.000102317965,\n-0.0017593347,\n0.013397615,\n-0.0008343589,\n0.01936807,\n-0.014868002,\n0.031322654,\n-0.009554094,\n-0.0027527006,\n-0.02479824,\n0.004253863,\n0.030310482,\n-0.012440154,\n0.005796059,\n-0.022144707,\n0.017193265,\n0.0032844334,\n-0.0066406764,\n-0.008035834,\n0.020804262,\n0.007269865,\n0.030146345,\n0.03646559,\n-0.019244967,\n0.007119407,\n-0.0061003948,\n-0.031322654,\n0.0037853906,\n-0.022514014,\n-0.0019833122,\n-0.0058028977,\n-0.016030634,\n-0.011831483,\n0.003012583,\n-0.030255768,\n-0.022582402,\n0.02266447,\n0.021105178,\n0.039037056,\n-0.0062953066,\n0.0039461073,\n-0.012966759,\n-0.0053720404,\n-0.023471475,\n0.05547803,\n0.014389272,\n0.009649839,\n-0.01653672,\n-0.000118507174,\n0.006493638,\n0.010080697,\n0.00074716157,\n-0.017699352,\n-0.0041581164,\n-0.02659006,\n0.0014985976,\n-0.010450004,\n-0.0205307,\n-0.0077485954,\n-0.014635476,\n0.0027544103,\n-0.008035834,\n-0.009889205,\n0.014361916,\n-0.021898502,\n-0.010450004,\n-0.0055566938,\n0.0020311852,\n-0.014703866,\n0.0014977426,\n0.0077622733,\n0.01212556,\n-0.045848705,\n0.0040692096,\n-0.020366564,\n0.010805632,\n-0.0083641065,\n-0.0048009832,\n0.00096088054,\n0.0013216382,\n0.01653672,\n-0.012467511,\n-0.007871698,\n0.014840647,\n-0.0005616535,\n0.026234433,\n-0.0034348916,\n-0.0067432616,\n-0.0058028977,\n0.0050950604,\n0.004168375,\n-0.024538359,\n-0.028723832,\n-0.028067287,\n0.000916427,\n0.0030946508,\n-0.005153192,\n0.028149355,\n-0.022336198,\n-0.0053139087,\n-0.022281487,\n0.012022975,\n0.010395291,\n-0.001571262,\n-0.03176035,\n0.0018995344,\n0.00022461865,\n-0.030584041,\n-0.0075981375,\n-0.17912729,\n0.03457802,\n0.020175071,\n-0.011079192,\n0.009205304,\n-0.018355897,\n0.01061414,\n-0.008309394,\n-0.000025592848,\n-0.00889071,\n0.022541368,\n0.00009291433,\n-0.03646559,\n-0.0050471877,\n-0.018506354,\n0.022035282,\n0.017453147,\n0.035535485,\n0.043496087,\n0.017959233,\n0.022308843,\n-0.015346733,\n-0.0006078168,\n0.00041888922,\n-0.0005253213,\n-0.0047873054,\n-0.00083777844,\n0.040568992,\n0.003012583,\n-0.018656813,\n-0.019860478,\n-0.002494528,\n0.0027373128,\n0.009342085,\n-0.0015003072,\n-0.011106548,\n-0.0000883728,\n-0.01578443,\n0.004253863,\n0.024141697,\n0.01578443,\n0.0396936,\n0.022719182,\n0.021173567,\n0.012077687,\n0.018232794,\n0.019477494,\n-0.040705774,\n-0.0140336435,\n-0.031322654,\n0.0147585785,\n-0.034687445,\n-0.016974417,\n0.00792641,\n0.030474618,\n0.0033733405,\n0.018342217,\n-0.007447679,\n0.017343722,\n0.0017866907,\n-0.007174119,\n-0.014963749,\n0.00454794,\n0.0045103254,\n-0.007023661,\n-0.006124331,\n-0.031322654,\n0.018629456,\n-0.0074613574,\n-0.0054267524,\n-0.027739014,\n0.014580764,\n-0.0022996163,\n-0.005050607,\n0.02136506,\n-0.003727259,\n-0.019833121,\n0.006264531,\n0.007858019,\n-0.007290382,\n-0.0056250836,\n0.0351525,\n-0.028450271,\n0.02184379,\n0.0071672797,\n0.016618788,\n-0.004975378,\n-0.00978662,\n-0.0059089023,\n0.0020089585,\n0.05479413,\n-0.0023440698,\n-0.020544378,\n-0.023416761,\n0.012535901,\n0.027041435,\n-0.0054199137,\n-0.023662966,\n0.0020910266,\n-0.0166735,\n-0.010402131,\n0.01164683,\n-0.0013130894,\n-0.0019593756,\n0.010641496,\n0.0064799595,\n0.022582402,\n0.02998221,\n0.012570096,\n-0.016181093,\n-0.0036349325,\n0.013329226,\n-0.004141019,\n0.014047322,\n0.00025240213,\n0.033948835,\n-0.010778276,\n-0.0063363407,\n0.031049093,\n0.008562437,\n0.048256036,\n-0.024483647,\n-0.011065514,\n0.017206943,\n-0.00737245,\n-0.019354392,\n-0.035617553,\n0.0006933044,\n0.0009890915,\n0.01977841,\n-0.02295171,\n0.041581165,\n-0.005057446,\n0.014006288,\n-0.011270684,\n0.018725203,\n-0.011852,\n-0.028559696,\n-0.024100663,\n-0.0019183416,\n0.039392684,\n0.005553274,\n-0.013247157,\n-0.006107234,\n0.005423333,\n0.018766237,\n0.0038127466,\n-0.03416768,\n-0.0094309915,\n-0.045711927,\n-0.033018727,\n0.009978112,\n-0.022828607,\n0.023416761,\n0.0042572822,\n-0.0076938835,\n-0.0071057286,\n0.0015866498,\n0.021282991,\n-0.014293525,\n-0.00090445875,\n0.017042806,\n-0.0067022275,\n-0.0058541903,\n-0.007276704,\n-0.014293525,\n0.0065825447,\n-0.00530707,\n-0.004004239,\n-0.021748044,\n-0.0071877968,\n-0.019737376,\n0.002144029,\n0.011017641,\n0.014635476,\n-0.022240452,\n0.009725069,\n-0.014143067,\n-0.011865678,\n-0.011414303,\n0.020380242,\n0.00220387,\n0.010826149,\n-0.0064867986,\n-0.008220487,\n0.0011463886,\n-0.012686359,\n0.0021713849,\n0.019805767,\n0.023061134,\n0.016290516,\n0.010251672,\n-0.028860612,\n-0.010839827,\n0.010299546,\n-0.011975102,\n-0.012453833,\n0.025126513,\n-0.021556552,\n0.03225276,\n-0.014977426,\n-0.018137047,\n-0.0046334276,\n-0.01742579,\n0.020995753,\n-0.004575296,\n-0.024770886,\n-0.025550531,\n-0.006025166,\n-0.006401311,\n0.015045816,\n0.015415123,\n0.003217753,\n-0.0017328336,\n-0.011708381,\n-0.020380242,\n0.004681301,\n0.019956224,\n0.021064144,\n-0.02066748,\n-0.001082273,\n0.00020068213,\n-0.0039050733,\n0.00806319,\n0.010634657,\n0.02211735,\n-0.03444124,\n-0.02211735,\n-0.0902749,\n0.020735871,\n-0.0064594424,\n-0.036575012,\n-0.010402131,\n0.018930374,\n0.011804127,\n-0.002087607,\n0.0014276428,\n0.011099709,\n-0.024333188,\n0.0004415434,\n-0.0063431794,\n-0.013609625,\n-0.009636162,\n-0.0022158385,\n0.03189713,\n0.022431945,\n0.013883186,\n0.028559696,\n0.016030634,\n-0.008699218,\n-0.001184858,\n0.014963749,\n-0.008665022,\n0.026425924,\n-0.00441116,\n0.024702495,\n-0.007488713,\n-0.01798659,\n0.018451642,\n-0.0074613574,\n0.006606481,\n0.01943646,\n-0.008213648,\n-0.009547254,\n-0.03126794,\n0.011557923,\n0.0076460103,\n-0.0016293935,\n-0.019190256,\n-0.027410742,\n0.0059567755,\n-0.046204336,\n-0.007987961,\n-0.013773761,\n-0.00440774,\n0.01453973,\n0.0076460103,\n-0.009389957,\n0.028887969,\n0.023444118,\n-0.012098204,\n-0.010778276,\n0.025181226,\n-0.017699352,\n0.03575433,\n0.008001639,\n-0.0033511138,\n-0.015716039,\n0.039009698,\n0.016249482,\n0.027506487,\n-0.020735871,\n0.014635476,\n-0.0024346868,\n-0.010422647,\n-0.0055464352,\n0.010559428,\n-0.02446997,\n-0.044836532,\n-0.006285048,\n-0.0070099826,\n0.015196275,\n-0.0044179987,\n0.030228414,\n-0.0008001639,\n0.013951575,\n0.0026672129,\n0.02191218,\n0.020175071,\n-0.0075981375,\n-0.025085479,\n0.012597452,\n0.0172343,\n-0.003481055,\n-0.018410608,\n-0.0085145645,\n-0.022650793,\n-0.007563942,\n-0.05788536,\n0.011386948,\n-0.008740252,\n-0.0050608655,\n0.0012686359,\n0.011380108,\n-0.017193265,\n0.009608805,\n0.0042265067,\n0.010443164,\n-0.005129256,\n0.008165775,\n0.01337026,\n-0.013855829,\n-0.0017148812,\n0.002162836,\n-0.025304329,\n-0.0042265067,\n0.012966759,\n0.0045376816,\n-0.006862944,\n0.0042675408,\n-0.0004505196,\n0.012583774,\n-0.038626716,\n0.0043803845,\n-0.0070920507,\n0.001315654,\n-0.03121323,\n0.013192445,\n0.0030587462,\n0.023061134,\n0.027191894,\n0.0037101617,\n0.03452331,\n-0.018287506,\n-0.013520718,\n-0.026166042,\n-0.0032912723,\n-0.010019146,\n-0.033128154,\n0.0085145645,\n-0.030884959,\n-0.012891529,\n-0.0070646945,\n-0.0032074945,\n0.02143345,\n0.010210638,\n-0.009177948,\n0.098974116,\n0.014936392,\n0.00014575635,\n0.004541101,\n0.0055703716,\n0.0067501003,\n0.019532206,\n0.01391738,\n-0.016427295,\n-0.00065312523,\n0.014129389,\n0.014320882,\n-0.0020773485,\n-0.019874156,\n-0.028669119,\n-0.023211591,\n-0.002915127,\n0.008056351,\n-0.013931058,\n-0.0011190326,\n0.007078373,\n0.010381614,\n-0.010901378,\n0.00791957,\n-0.031623572,\n-0.022445623,\n0.030201057,\n0.004736013,\n0.0017901103,\n-0.058049496,\n0.016591432,\n0.007365611,\n-0.017945556,\n-0.0110928705,\n-0.0027800566,\n0.0016764117,\n-0.013978931,\n-0.004773627,\n-0.008863354,\n0.0033220479,\n-0.0053173285,\n-0.003983722,\n-0.024278477,\n-0.0048898906,\n-0.01689235,\n0.003190397,\n-0.007604976,\n0.00058559,\n-0.007468196\n],\n\"metadata\": {{ JSON.stringify($node[\"IF Tasks\"].json[\"matches\"][0][\"metadata\"]) }}\n}\n}",
        "options": {}
      },
      "id": "c1764510-a7c8-427c-8668-7ac3cf97125e",
      "name": "Upsert task DOING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3500,
        -80
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"namespace\": \"tasks-dev-doing\",\n\"ids\": [\"{{ $node[\"IF Tasks\"].json[\"matches\"][0][\"id\"] }}\"]\n}",
        "options": {}
      },
      "id": "8e7f4c04-899d-4b95-822c-efaa7346fec9",
      "name": "Delete task  DOING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5600,
        420
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"mission\": $json.mission,\"instructions\" : $json.instructions, \"mailId\": $json.mailId, \"date\":$now.toString()};"
      },
      "id": "e1528bdf-bb4c-4a65-aff5-80448d3dcc38",
      "name": "task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5680,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"namespace\": \"tasks-dev-doing\",\n\"deleteAll\": true\n}",
        "options": {}
      },
      "id": "76e8a7f4-4609-4e9b-b5a9-13837f8b2ed5",
      "name": "Delete task DOING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3443,
        -575
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"namespace\": \"tasks-dev\",\n\"vectors\": {\n\"id\": \"{{ $json[\"id\"] }}\",\n\"values\": \n[\n-0.008432496,\n-0.0070715337,\n0.012426477,\n-0.012146077,\n-0.0033117894,\n0.00042059895,\n-0.03356585,\n0.0024329768,\n0.0025270132,\n-0.031377368,\n0.018807271,\n-0.0015857948,\n-0.0025577887,\n0.01178361,\n0.011188616,\n-0.0024500745,\n-0.0005684925,\n-0.010949251,\n0.015962243,\n-0.018013947,\n0.004349609,\n0.021597587,\n-0.013527557,\n0.017029129,\n-0.005279714,\n-0.0041239215,\n0.018561067,\n-0.02921624,\n0.021419771,\n0.007310899,\n0.042784832,\n-0.019286001,\n0.0025902742,\n-0.0172343,\n-0.007858019,\n-0.0036622884,\n-0.004968539,\n-0.0027048276,\n-0.0010053341,\n-0.010853505,\n0.007899053,\n0.021269314,\n0.011407465,\n-0.017740386,\n-0.010552589,\n0.023170557,\n0.011968263,\n0.0031784289,\n-0.023143202,\n-0.012289696,\n0.006042263,\n0.0019679244,\n-0.01116126,\n-0.03865407,\n0.0036417716,\n0.017877165,\n0.0068458463,\n0.025960872,\n-0.008692378,\n-0.009314728,\n-0.018848306,\n0.009034329,\n-0.020544378,\n0.014826968,\n-0.0020705096,\n-0.004168375,\n-0.01957324,\n0.013110378,\n-0.007297221,\n0.0007428872,\n0.033182863,\n0.014129389,\n0.03419504,\n-0.0026278887,\n0.03107645,\n-0.012857334,\n-0.0006898849,\n-0.0094515085,\n0.021611264,\n0.0042641214,\n0.014156746,\n-0.02349883,\n-0.03479687,\n0.025714668,\n0.012959919,\n0.03728627,\n0.023170557,\n0.0017678834,\n-0.009697713,\n0.00010151652,\n-0.005187387,\n0.02935302,\n0.039994515,\n0.02907946,\n0.008630827,\n0.030283125,\n-0.0066782907,\n0.025263295,\n-0.0033203382,\n-0.022514014,\n-0.012392282,\n0.006941593,\n-0.015223631,\n-0.0055156597,\n-0.049022008,\n-0.010593623,\n0.038271084,\n-0.009253177,\n0.023676643,\n-0.017562572,\n-0.016263159,\n0.022650793,\n-0.00029771053,\n-0.00165333,\n-0.0039050733,\n-0.00031010626,\n0.0022449042,\n-0.017671995,\n-0.007228831,\n-0.02742442,\n0.013698532,\n0.02590616,\n0.02604294,\n-0.02191218,\n0.0097729415,\n0.0025116254,\n0.008035834,\n-0.0017815614,\n0.00027099566,\n-0.0065449304,\n0.024565715,\n0.005772122,\n0.0058336733,\n0.0023833942,\n-0.0154835135,\n0.0035528643,\n-0.01887566,\n-0.00006112363,\n-0.013684854,\n-0.021474484,\n0.00889071,\n0.025386397,\n-0.02211735,\n-0.0044487743,\n-0.0028894807,\n0.01274791,\n0.020216106,\n0.0001625333,\n-0.007276704,\n0.013048827,\n0.000475311,\n-0.01130488,\n0.021132533,\n-0.0006787715,\n-0.0021765141,\n-0.009054846,\n0.0152920205,\n0.016618788,\n0.015442479,\n-0.013055665,\n0.017453147,\n-0.0039803023,\n0.0083435895,\n0.0053173285,\n0.009649839,\n0.03534399,\n0.02479824,\n0.007269865,\n-0.005967034,\n-0.00861031,\n-0.0022192579,\n0.025112836,\n-0.03578169,\n0.026822587,\n0.00544385,\n0.006001229,\n0.0028723832,\n0.010894539,\n-0.032772522,\n-0.0017524956,\n-0.010094375,\n0.0040692096,\n0.0159896,\n0.025687313,\n-0.0036999031,\n-0.0048215003,\n0.029024748,\n-0.025167547,\n0.010361097,\n0.0037033225,\n0.023088489,\n0.021187246,\n0.030064277,\n-0.008555599,\n-0.6574201,\n-0.010374774,\n-0.008863354,\n0.013493362,\n0.019874156,\n0.02549582,\n-0.0020072488,\n0.0121802725,\n-0.0077485954,\n-0.0071057286,\n-0.015305699,\n0.024428936,\n0.022541368,\n-0.0134591665,\n-0.013035148,\n-0.0075981375,\n0.006216658,\n-0.018178081,\n0.018246472,\n0.0083435895,\n-0.020653803,\n0.013199285,\n0.0007176683,\n-0.0057037324,\n0.0013814796,\n-0.008097385,\n0.006069619,\n-0.0028775125,\n0.002164546,\n0.01564765,\n-0.0015524547,\n0.018520033,\n0.0088565145,\n0.01122965,\n0.05318012,\n0.0066030617,\n-0.02501709,\n0.030009566,\n0.018793592,\n0.032280117,\n-0.008090546,\n0.0047838856,\n0.012262341,\n0.007406645,\n0.008172614,\n0.009102719,\n0.035426058,\n-0.010456842,\n0.0064389254,\n0.01122965,\n0.019299679,\n-0.03597318,\n-0.0029989048,\n0.009136914,\n-0.004486389,\n-0.004705237,\n0.018779915,\n-0.015387767,\n-0.008439335,\n0.007905893,\n-0.024784563,\n-0.0034981524,\n-0.029052105,\n-0.028970037,\n-0.020968396,\n-0.008323072,\n-0.012843656,\n-0.02046231,\n0.01467651,\n-0.03258103,\n-0.000774945,\n0.0013062505,\n-0.02998221,\n-0.000747589,\n0.0301737,\n0.0039939806,\n0.034769513,\n-0.0008993295,\n0.004099985,\n0.020216106,\n0.021761721,\n0.0038742977,\n-0.013055665,\n0.008637667,\n0.02459307,\n0.0042230873,\n-0.001901244,\n-0.02431951,\n0.01674189,\n-0.0020328949,\n0.021173567,\n0.0077144005,\n-0.0037170006,\n0.004424838,\n0.02157023,\n-0.0015447608,\n-0.0077144005,\n-0.011017641,\n0.033593204,\n-0.022418266,\n-0.0081315795,\n0.009834493,\n0.023389407,\n0.014416628,\n0.02397756,\n0.0024859793,\n-0.00861031,\n0.0022722601,\n0.025331683,\n-0.021693332,\n-0.005221582,\n-0.019203933,\n-0.011940907,\n-0.0007843487,\n0.004954861,\n-0.03107645,\n0.008993295,\n0.012064009,\n0.013486523,\n-0.0027578298,\n0.008329911,\n-0.003528928,\n0.010525232,\n-0.014334559,\n-0.004777047,\n0.02624811,\n-0.030611398,\n-0.021925857,\n0.006808232,\n-0.015729718,\n-0.001853371,\n-0.030638754,\n0.02322527,\n-0.0068184906,\n0.00633976,\n-0.010737242,\n-0.0055566938,\n0.011106548,\n0.027711658,\n-0.0014874841,\n-0.019600596,\n-0.0041820533,\n0.004017917,\n-0.017603606,\n-0.005796059,\n-0.036629725,\n-0.0052933916,\n0.0018362735,\n-0.0011421143,\n0.0068116514,\n-0.0020636704,\n-0.022924352,\n-0.027246606,\n0.006380794,\n0.002453494,\n-0.0014866292,\n0.02479824,\n-0.010990285,\n-0.035644908,\n-0.009287372,\n0.009971273,\n0.004346189,\n-0.014690188,\n0.005245519,\n-0.0048215003,\n-0.013766922,\n0.002610791,\n0.012959919,\n-0.008302555,\n-0.03665708,\n0.0024723012,\n-0.003080973,\n-0.02626179,\n0.013937897,\n0.014498696,\n-0.004954861,\n0.002956161,\n-0.017548893,\n0.014895358,\n0.02136506,\n-0.00096857443,\n0.010039663,\n-0.0052694553,\n0.014430306,\n0.004127341,\n-0.008377784,\n0.015223631,\n0.032088622,\n-0.016167413,\n0.016810281,\n0.009472026,\n0.0053583626,\n0.011031319,\n0.00008185437,\n0.008528243,\n0.011749415,\n-0.0077075614,\n-0.0077075614,\n0.013999448,\n0.010422647,\n0.034359172,\n-0.007987961,\n0.0140336435,\n-0.018848306,\n0.0079948,\n-0.025988229,\n-0.008801803,\n-0.008288877,\n0.012146077,\n0.0053925575,\n-0.0006492783,\n-0.02300642,\n-0.014854324,\n0.015141563,\n0.007858019,\n0.03326493,\n0.022568725,\n-0.0074203233,\n0.007263026,\n0.013725888,\n0.007338255,\n-0.005775542,\n0.016112702,\n-0.020243462,\n-0.016263159,\n-0.010798793,\n0.013862669,\n0.007892215,\n0.008555599,\n-0.0026193399,\n-0.0037682932,\n-0.019190256,\n0.0009591708,\n0.006264531,\n0.017261654,\n-0.0005740492,\n0.019381747,\n-0.02281493,\n0.017056486,\n0.0026706324,\n-0.00668513,\n0.019190256,\n0.013124055,\n-0.007358772,\n0.019162899,\n-0.004099985,\n0.041006688,\n0.035097785,\n-0.010361097,\n0.0019901511,\n-0.017179586,\n-0.014430306,\n-0.013165089,\n-0.015346733,\n-0.013069344,\n-0.030556686,\n0.0037170006,\n0.003108329,\n0.014703866,\n0.011400625,\n0.027821083,\n0.008747091,\n0.022076316,\n-0.0013113797,\n0.017384756,\n-0.014785934,\n-0.0068800417,\n-0.014102033,\n-0.008842837,\n-0.0041512777,\n-0.019586917,\n-0.012276018,\n0.0014866292,\n-0.023266304,\n0.0076870443,\n0.0066611934,\n-0.009082202,\n-0.0052352604,\n0.016564077,\n0.010053341,\n-0.009636162,\n-0.009636162,\n0.003727259,\n0.02466146,\n-0.008589793,\n0.0018516612,\n0.009102719,\n-0.0030501974,\n-0.010019146,\n0.008001639,\n0.008733412,\n0.017808776,\n0.010203799,\n0.0015327926,\n-0.027369708,\n-0.018848306,\n0.01563397,\n-0.025577888,\n-0.0041854726,\n-0.0058063176,\n0.01102448,\n0.010053341,\n-0.009143753,\n-0.012529062,\n0.011598957,\n0.025687313,\n0.0032194627,\n-0.015907532,\n0.016769247,\n0.0062132385,\n-0.015565581,\n0.009177948,\n0.026576383,\n-0.033866767,\n0.0016140058,\n-0.009335245,\n-0.011386948,\n-0.017480504,\n0.00365203,\n0.016112702,\n-0.023266304,\n-0.02626179,\n-0.009157431,\n0.016632466,\n-0.0015045817,\n0.0040965653,\n0.0140336435,\n0.02749281,\n-0.005071124,\n-0.016810281,\n-0.022650793,\n-0.026152365,\n0.006257692,\n-0.004038434,\n0.0012062299,\n0.016181093,\n0.008931744,\n0.00006481028,\n0.03728627,\n-0.0058473516,\n-0.009813976,\n-0.005327587,\n0.02211735,\n-0.0028296395,\n-0.0029527415,\n-0.012228145,\n0.024415256,\n0.0149500705,\n0.025304329,\n-0.0002701408,\n0.00723567,\n0.008213648,\n0.008111062,\n-0.0044692913,\n-0.013787439,\n0.0038708784,\n-0.0030484877,\n0.009143753,\n-0.021665975,\n0.01171522,\n0.004759949,\n0.030994382,\n0.040541638,\n0.014498696,\n0.010326901,\n0.021871146,\n-0.008993295,\n0.0063431794,\n0.021296669,\n-0.026535349,\n-0.025536854,\n0.02853234,\n-0.026234433,\n-0.0077212397,\n0.019655308,\n0.008596633,\n-0.025167547,\n-0.03178771,\n-0.0026706324,\n0.012535901,\n-0.021132533,\n0.00017856222,\n0.005464367,\n-0.021296669,\n-0.0063705356,\n-0.03638352,\n0.021187246,\n-0.0064389254,\n0.007180958,\n-0.016358906,\n0.00014041338,\n-0.019381747,\n-0.033620562,\n0.002376555,\n0.007816985,\n0.0012566677,\n-0.03238954,\n0.015510869,\n0.016632466,\n-0.005864449,\n0.0023611675,\n0.0033083698,\n0.008282038,\n0.02515387,\n-0.024647783,\n-0.027752692,\n-0.0016003278,\n-0.036711793,\n-0.0009010392,\n0.015743395,\n0.020161394,\n-0.0105389105,\n-0.007139924,\n0.019860478,\n0.007604976,\n0.006257692,\n0.01826015,\n-0.026275467,\n0.019272324,\n-0.006449184,\n-0.0052147433,\n0.01605799,\n-0.009643001,\n0.0009839622,\n-0.0021970312,\n-0.04913143,\n0.007324577,\n-0.012529062,\n-0.010620979,\n0.003610996,\n0.00034878938,\n0.02266447,\n0.0044761305,\n0.0034536987,\n0.033182863,\n-0.018766237,\n0.0038127466,\n0.008774446,\n-0.023950204,\n0.018178081,\n-0.014498696,\n0.024032272,\n0.0022996163,\n-0.019901512,\n0.01006018,\n-0.0198468,\n0.011899873,\n0.016577754,\n-0.0030416485,\n0.004168375,\n0.02466146,\n-0.030365193,\n0.013937897,\n0.01612638,\n-0.0005159176,\n0.0041581164,\n-0.001199391,\n-0.011345914,\n-0.021748044,\n0.014703866,\n-0.008829159,\n0.0312953,\n-0.010703047,\n-0.01687867,\n-0.008295716,\n-0.0057413466,\n-0.027137183,\n0.00095489644,\n-0.020653803,\n-0.039502107,\n-0.011708381,\n0.0029236758,\n-0.005823415,\n0.030693466,\n0.019532206,\n0.012494867,\n-0.0066235787,\n-0.0023321016,\n0.00168838,\n-0.017589927,\n-0.023033777,\n-0.024702495,\n0.0030467778,\n0.03383941,\n0.025892483,\n-0.00028766575,\n0.022719182,\n-0.021118855,\n0.01130488,\n0.014156746,\n-0.016181093,\n-0.0032844334,\n-0.014102033,\n-0.026097653,\n0.0075502642,\n-0.00051933713,\n-0.002562918,\n-0.022896998,\n-0.025536854,\n-0.005775542,\n-0.0009959305,\n-0.0045240032,\n-0.014389272,\n-0.014430306,\n-0.0068048127,\n0.01639994,\n0.0013147992,\n-0.005023251,\n-0.013076182,\n0.018478999,\n0.0049377633,\n0.009868688,\n0.04010394,\n-0.007946927,\n0.022131028,\n-0.015250986,\n0.03225276,\n0.0010549169,\n0.01888934,\n-0.012604291,\n0.0049172463,\n-0.037505116,\n-0.018096013,\n0.019299679,\n0.004253863,\n0.005286553,\n-0.005105319,\n-0.005149773,\n-0.02025714,\n0.013657498,\n0.0038777173,\n-0.0059020636,\n-0.0076528494,\n-0.009041168,\n-0.011222811,\n-0.008842837,\n0.0048283394,\n-0.027109826,\n0.020804262,\n0.011838322,\n-0.015551903,\n0.02680891,\n-0.017562572,\n0.0028997392,\n-0.0009489123,\n-0.019381747,\n0.04844753,\n0.02674052,\n0.039310616,\n0.015333055,\n0.0069894656,\n-0.04314046,\n-0.01563397,\n-0.010292706,\n0.0010361096,\n0.021761721,\n0.013589108,\n-0.0014703866,\n-0.0021337704,\n0.015333055,\n0.0026689228,\n-0.028997391,\n-0.030310482,\n0.010648334,\n0.020106683,\n0.01583914,\n-0.010737242,\n0.010169604,\n-0.006986046,\n0.040131297,\n-0.02803993,\n-0.0013276223,\n-0.01157844,\n-0.024086984,\n-0.0089591,\n-0.0033853087,\n0.0010412389,\n0.011585278,\n0.015716039,\n-0.017330045,\n0.0031134582,\n-0.011756254,\n-0.020010935,\n0.02025714,\n0.004106824,\n0.022979066,\n0.005002734,\n-0.009766103,\n0.0048898906,\n0.0049856366,\n-0.005132675,\n0.0026381472,\n0.027684303,\n0.030283125,\n-0.011359591,\n-0.0069894656,\n0.01233073,\n-0.021406094,\n0.023512509,\n0.0052694553,\n-0.0025509498,\n0.0005334426,\n-0.03424975,\n-0.010901378,\n0.011147582,\n-0.0038195858,\n0.0005394267,\n-0.009540415,\n-0.00475653,\n-0.029790716,\n-0.013165089,\n-0.011051836,\n0.003935849,\n-0.013185606,\n-0.021515518,\n-0.018861983,\n-0.01846532,\n0.010641496,\n0.0055498546,\n-0.000100341065,\n0.026918333,\n0.017507859,\n-0.023485152,\n0.026932012,\n-0.002226097,\n0.0049309246,\n-0.015223631,\n0.0060730386,\n-0.0006817636,\n-0.02894268,\n0.022363555,\n-0.022869641,\n-0.051648185,\n0.008104224,\n0.005050607,\n-0.009752424,\n-0.023704,\n-0.02515387,\n0.035508126,\n0.012276018,\n0.0055703716,\n-0.00565244,\n-0.032006554,\n-0.0023936527,\n-0.011448499,\n-0.00078819564,\n0.013725888,\n0.004736013,\n-0.0077144005,\n0.009608805,\n-0.0033511138,\n0.007864859,\n-0.033401713,\n0.0057447664,\n-0.009663518,\n0.003658869,\n-0.030091632,\n0.0048044026,\n-0.010251672,\n-0.0071262456,\n-0.00034173665,\n-0.008056351,\n-0.008083707,\n0.013431811,\n-0.02066748,\n-0.008056351,\n-0.014211457,\n-0.004831759,\n-0.013247157,\n-0.011393786,\n-0.023731356,\n0.0061174924,\n-0.038900275,\n-0.03843522,\n-0.0092600165,\n0.020653803,\n0.029763361,\n-0.021105178,\n-0.02136506,\n0.0039495267,\n-0.043660223,\n-0.015004783,\n0.005621664,\n0.0041102436,\n0.015675005,\n0.0057652835,\n0.011339075,\n0.020831617,\n-0.0032433993,\n0.01778142,\n-0.008405141,\n0.017808776,\n0.017754063,\n-0.022172062,\n0.016523043,\n-0.018588422,\n-0.026371213,\n-0.038353153,\n0.026932012,\n0.016714534,\n0.0011874227,\n0.019149221,\n-0.02535904,\n-0.013493362,\n-0.024360545,\n0.013903703,\n-0.04201886,\n0.013062504,\n-0.011339075,\n-0.013883186,\n-0.0016721373,\n0.017453147,\n-0.0026022424,\n-0.008384624,\n0.01694706,\n0.013910541,\n-0.023033777,\n0.014211457,\n-0.0224593,\n-0.0034092453,\n-0.0061858823,\n-0.03479687,\n0.007899053,\n-0.017808776,\n-0.033620562,\n0.017589927,\n-0.009478864,\n0.011106548,\n-0.003672547,\n0.0071672797,\n-0.030118989,\n0.0005590889,\n0.00599439,\n-0.016782925,\n0.0030758437,\n-0.013110378,\n0.022158384,\n-0.02583777,\n0.009998629,\n-0.01447134,\n-0.011380108,\n-0.03996716,\n0.0045650373,\n-0.0077691125,\n-0.027041435,\n-0.02659006,\n-0.0068184906,\n0.009157431,\n0.0039734636,\n-0.033647917,\n0.004168375,\n-0.01687867,\n-0.00031160229,\n-0.020708514,\n-0.022226775,\n0.014909036,\n-0.030775534,\n-0.025646279,\n0.0054130745,\n-0.009116397,\n0.24182731,\n-0.009410474,\n0.013124055,\n0.014690188,\n-0.010525232,\n0.037231557,\n0.0044419356,\n-0.004927505,\n0.0010711595,\n0.030009566,\n-0.00045650374,\n-0.025400074,\n-0.012617969,\n-0.003956366,\n-0.0067569395,\n-0.015661327,\n-0.0172343,\n-0.03219805,\n-0.039939802,\n-0.03315551,\n0.014580764,\n0.010121731,\n-0.011181777,\n-0.019135542,\n0.014225136,\n-0.009704552,\n-0.011551084,\n-0.0007317738,\n0.03526192,\n0.020489667,\n-0.011913551,\n-0.013671176,\n0.019272324,\n0.0013387357,\n-0.012214468,\n-0.010559428,\n0.013445489,\n-0.015825463,\n0.016249482,\n0.034304462,\n0.0036486106,\n-0.025523176,\n-0.007427162,\n-0.012426477,\n0.0019987,\n0.032964017,\n-0.00916427,\n-0.017371079,\n-0.011366431,\n0.014922715,\n-0.015250986,\n-0.0103679355,\n0.029818073,\n0.019162899,\n0.003754615,\n0.0046129106,\n0.018985085,\n-0.000102317965,\n-0.0017593347,\n0.013397615,\n-0.0008343589,\n0.01936807,\n-0.014868002,\n0.031322654,\n-0.009554094,\n-0.0027527006,\n-0.02479824,\n0.004253863,\n0.030310482,\n-0.012440154,\n0.005796059,\n-0.022144707,\n0.017193265,\n0.0032844334,\n-0.0066406764,\n-0.008035834,\n0.020804262,\n0.007269865,\n0.030146345,\n0.03646559,\n-0.019244967,\n0.007119407,\n-0.0061003948,\n-0.031322654,\n0.0037853906,\n-0.022514014,\n-0.0019833122,\n-0.0058028977,\n-0.016030634,\n-0.011831483,\n0.003012583,\n-0.030255768,\n-0.022582402,\n0.02266447,\n0.021105178,\n0.039037056,\n-0.0062953066,\n0.0039461073,\n-0.012966759,\n-0.0053720404,\n-0.023471475,\n0.05547803,\n0.014389272,\n0.009649839,\n-0.01653672,\n-0.000118507174,\n0.006493638,\n0.010080697,\n0.00074716157,\n-0.017699352,\n-0.0041581164,\n-0.02659006,\n0.0014985976,\n-0.010450004,\n-0.0205307,\n-0.0077485954,\n-0.014635476,\n0.0027544103,\n-0.008035834,\n-0.009889205,\n0.014361916,\n-0.021898502,\n-0.010450004,\n-0.0055566938,\n0.0020311852,\n-0.014703866,\n0.0014977426,\n0.0077622733,\n0.01212556,\n-0.045848705,\n0.0040692096,\n-0.020366564,\n0.010805632,\n-0.0083641065,\n-0.0048009832,\n0.00096088054,\n0.0013216382,\n0.01653672,\n-0.012467511,\n-0.007871698,\n0.014840647,\n-0.0005616535,\n0.026234433,\n-0.0034348916,\n-0.0067432616,\n-0.0058028977,\n0.0050950604,\n0.004168375,\n-0.024538359,\n-0.028723832,\n-0.028067287,\n0.000916427,\n0.0030946508,\n-0.005153192,\n0.028149355,\n-0.022336198,\n-0.0053139087,\n-0.022281487,\n0.012022975,\n0.010395291,\n-0.001571262,\n-0.03176035,\n0.0018995344,\n0.00022461865,\n-0.030584041,\n-0.0075981375,\n-0.17912729,\n0.03457802,\n0.020175071,\n-0.011079192,\n0.009205304,\n-0.018355897,\n0.01061414,\n-0.008309394,\n-0.000025592848,\n-0.00889071,\n0.022541368,\n0.00009291433,\n-0.03646559,\n-0.0050471877,\n-0.018506354,\n0.022035282,\n0.017453147,\n0.035535485,\n0.043496087,\n0.017959233,\n0.022308843,\n-0.015346733,\n-0.0006078168,\n0.00041888922,\n-0.0005253213,\n-0.0047873054,\n-0.00083777844,\n0.040568992,\n0.003012583,\n-0.018656813,\n-0.019860478,\n-0.002494528,\n0.0027373128,\n0.009342085,\n-0.0015003072,\n-0.011106548,\n-0.0000883728,\n-0.01578443,\n0.004253863,\n0.024141697,\n0.01578443,\n0.0396936,\n0.022719182,\n0.021173567,\n0.012077687,\n0.018232794,\n0.019477494,\n-0.040705774,\n-0.0140336435,\n-0.031322654,\n0.0147585785,\n-0.034687445,\n-0.016974417,\n0.00792641,\n0.030474618,\n0.0033733405,\n0.018342217,\n-0.007447679,\n0.017343722,\n0.0017866907,\n-0.007174119,\n-0.014963749,\n0.00454794,\n0.0045103254,\n-0.007023661,\n-0.006124331,\n-0.031322654,\n0.018629456,\n-0.0074613574,\n-0.0054267524,\n-0.027739014,\n0.014580764,\n-0.0022996163,\n-0.005050607,\n0.02136506,\n-0.003727259,\n-0.019833121,\n0.006264531,\n0.007858019,\n-0.007290382,\n-0.0056250836,\n0.0351525,\n-0.028450271,\n0.02184379,\n0.0071672797,\n0.016618788,\n-0.004975378,\n-0.00978662,\n-0.0059089023,\n0.0020089585,\n0.05479413,\n-0.0023440698,\n-0.020544378,\n-0.023416761,\n0.012535901,\n0.027041435,\n-0.0054199137,\n-0.023662966,\n0.0020910266,\n-0.0166735,\n-0.010402131,\n0.01164683,\n-0.0013130894,\n-0.0019593756,\n0.010641496,\n0.0064799595,\n0.022582402,\n0.02998221,\n0.012570096,\n-0.016181093,\n-0.0036349325,\n0.013329226,\n-0.004141019,\n0.014047322,\n0.00025240213,\n0.033948835,\n-0.010778276,\n-0.0063363407,\n0.031049093,\n0.008562437,\n0.048256036,\n-0.024483647,\n-0.011065514,\n0.017206943,\n-0.00737245,\n-0.019354392,\n-0.035617553,\n0.0006933044,\n0.0009890915,\n0.01977841,\n-0.02295171,\n0.041581165,\n-0.005057446,\n0.014006288,\n-0.011270684,\n0.018725203,\n-0.011852,\n-0.028559696,\n-0.024100663,\n-0.0019183416,\n0.039392684,\n0.005553274,\n-0.013247157,\n-0.006107234,\n0.005423333,\n0.018766237,\n0.0038127466,\n-0.03416768,\n-0.0094309915,\n-0.045711927,\n-0.033018727,\n0.009978112,\n-0.022828607,\n0.023416761,\n0.0042572822,\n-0.0076938835,\n-0.0071057286,\n0.0015866498,\n0.021282991,\n-0.014293525,\n-0.00090445875,\n0.017042806,\n-0.0067022275,\n-0.0058541903,\n-0.007276704,\n-0.014293525,\n0.0065825447,\n-0.00530707,\n-0.004004239,\n-0.021748044,\n-0.0071877968,\n-0.019737376,\n0.002144029,\n0.011017641,\n0.014635476,\n-0.022240452,\n0.009725069,\n-0.014143067,\n-0.011865678,\n-0.011414303,\n0.020380242,\n0.00220387,\n0.010826149,\n-0.0064867986,\n-0.008220487,\n0.0011463886,\n-0.012686359,\n0.0021713849,\n0.019805767,\n0.023061134,\n0.016290516,\n0.010251672,\n-0.028860612,\n-0.010839827,\n0.010299546,\n-0.011975102,\n-0.012453833,\n0.025126513,\n-0.021556552,\n0.03225276,\n-0.014977426,\n-0.018137047,\n-0.0046334276,\n-0.01742579,\n0.020995753,\n-0.004575296,\n-0.024770886,\n-0.025550531,\n-0.006025166,\n-0.006401311,\n0.015045816,\n0.015415123,\n0.003217753,\n-0.0017328336,\n-0.011708381,\n-0.020380242,\n0.004681301,\n0.019956224,\n0.021064144,\n-0.02066748,\n-0.001082273,\n0.00020068213,\n-0.0039050733,\n0.00806319,\n0.010634657,\n0.02211735,\n-0.03444124,\n-0.02211735,\n-0.0902749,\n0.020735871,\n-0.0064594424,\n-0.036575012,\n-0.010402131,\n0.018930374,\n0.011804127,\n-0.002087607,\n0.0014276428,\n0.011099709,\n-0.024333188,\n0.0004415434,\n-0.0063431794,\n-0.013609625,\n-0.009636162,\n-0.0022158385,\n0.03189713,\n0.022431945,\n0.013883186,\n0.028559696,\n0.016030634,\n-0.008699218,\n-0.001184858,\n0.014963749,\n-0.008665022,\n0.026425924,\n-0.00441116,\n0.024702495,\n-0.007488713,\n-0.01798659,\n0.018451642,\n-0.0074613574,\n0.006606481,\n0.01943646,\n-0.008213648,\n-0.009547254,\n-0.03126794,\n0.011557923,\n0.0076460103,\n-0.0016293935,\n-0.019190256,\n-0.027410742,\n0.0059567755,\n-0.046204336,\n-0.007987961,\n-0.013773761,\n-0.00440774,\n0.01453973,\n0.0076460103,\n-0.009389957,\n0.028887969,\n0.023444118,\n-0.012098204,\n-0.010778276,\n0.025181226,\n-0.017699352,\n0.03575433,\n0.008001639,\n-0.0033511138,\n-0.015716039,\n0.039009698,\n0.016249482,\n0.027506487,\n-0.020735871,\n0.014635476,\n-0.0024346868,\n-0.010422647,\n-0.0055464352,\n0.010559428,\n-0.02446997,\n-0.044836532,\n-0.006285048,\n-0.0070099826,\n0.015196275,\n-0.0044179987,\n0.030228414,\n-0.0008001639,\n0.013951575,\n0.0026672129,\n0.02191218,\n0.020175071,\n-0.0075981375,\n-0.025085479,\n0.012597452,\n0.0172343,\n-0.003481055,\n-0.018410608,\n-0.0085145645,\n-0.022650793,\n-0.007563942,\n-0.05788536,\n0.011386948,\n-0.008740252,\n-0.0050608655,\n0.0012686359,\n0.011380108,\n-0.017193265,\n0.009608805,\n0.0042265067,\n0.010443164,\n-0.005129256,\n0.008165775,\n0.01337026,\n-0.013855829,\n-0.0017148812,\n0.002162836,\n-0.025304329,\n-0.0042265067,\n0.012966759,\n0.0045376816,\n-0.006862944,\n0.0042675408,\n-0.0004505196,\n0.012583774,\n-0.038626716,\n0.0043803845,\n-0.0070920507,\n0.001315654,\n-0.03121323,\n0.013192445,\n0.0030587462,\n0.023061134,\n0.027191894,\n0.0037101617,\n0.03452331,\n-0.018287506,\n-0.013520718,\n-0.026166042,\n-0.0032912723,\n-0.010019146,\n-0.033128154,\n0.0085145645,\n-0.030884959,\n-0.012891529,\n-0.0070646945,\n-0.0032074945,\n0.02143345,\n0.010210638,\n-0.009177948,\n0.098974116,\n0.014936392,\n0.00014575635,\n0.004541101,\n0.0055703716,\n0.0067501003,\n0.019532206,\n0.01391738,\n-0.016427295,\n-0.00065312523,\n0.014129389,\n0.014320882,\n-0.0020773485,\n-0.019874156,\n-0.028669119,\n-0.023211591,\n-0.002915127,\n0.008056351,\n-0.013931058,\n-0.0011190326,\n0.007078373,\n0.010381614,\n-0.010901378,\n0.00791957,\n-0.031623572,\n-0.022445623,\n0.030201057,\n0.004736013,\n0.0017901103,\n-0.058049496,\n0.016591432,\n0.007365611,\n-0.017945556,\n-0.0110928705,\n-0.0027800566,\n0.0016764117,\n-0.013978931,\n-0.004773627,\n-0.008863354,\n0.0033220479,\n-0.0053173285,\n-0.003983722,\n-0.024278477,\n-0.0048898906,\n-0.01689235,\n0.003190397,\n-0.007604976,\n0.00058559,\n-0.007468196\n],\n\"metadata\": {{ JSON.stringify($json[\"metadata\"]) }}\n}\n}",
        "options": {}
      },
      "id": "2fdbe25e-ec59-4fee-b994-1a315d929b02",
      "name": "Upsert task1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3043,
        -575
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kins-71e4f70.svc.us-east1-gcp.pinecone.io/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"tasks-dev-doing\",\n  \"vector\": \n[\n-0.008432496,\n-0.0070715337,\n0.012426477,\n-0.012146077,\n-0.0033117894,\n0.00042059895,\n-0.03356585,\n0.0024329768,\n0.0025270132,\n-0.031377368,\n0.018807271,\n-0.0015857948,\n-0.0025577887,\n0.01178361,\n0.011188616,\n-0.0024500745,\n-0.0005684925,\n-0.010949251,\n0.015962243,\n-0.018013947,\n0.004349609,\n0.021597587,\n-0.013527557,\n0.017029129,\n-0.005279714,\n-0.0041239215,\n0.018561067,\n-0.02921624,\n0.021419771,\n0.007310899,\n0.042784832,\n-0.019286001,\n0.0025902742,\n-0.0172343,\n-0.007858019,\n-0.0036622884,\n-0.004968539,\n-0.0027048276,\n-0.0010053341,\n-0.010853505,\n0.007899053,\n0.021269314,\n0.011407465,\n-0.017740386,\n-0.010552589,\n0.023170557,\n0.011968263,\n0.0031784289,\n-0.023143202,\n-0.012289696,\n0.006042263,\n0.0019679244,\n-0.01116126,\n-0.03865407,\n0.0036417716,\n0.017877165,\n0.0068458463,\n0.025960872,\n-0.008692378,\n-0.009314728,\n-0.018848306,\n0.009034329,\n-0.020544378,\n0.014826968,\n-0.0020705096,\n-0.004168375,\n-0.01957324,\n0.013110378,\n-0.007297221,\n0.0007428872,\n0.033182863,\n0.014129389,\n0.03419504,\n-0.0026278887,\n0.03107645,\n-0.012857334,\n-0.0006898849,\n-0.0094515085,\n0.021611264,\n0.0042641214,\n0.014156746,\n-0.02349883,\n-0.03479687,\n0.025714668,\n0.012959919,\n0.03728627,\n0.023170557,\n0.0017678834,\n-0.009697713,\n0.00010151652,\n-0.005187387,\n0.02935302,\n0.039994515,\n0.02907946,\n0.008630827,\n0.030283125,\n-0.0066782907,\n0.025263295,\n-0.0033203382,\n-0.022514014,\n-0.012392282,\n0.006941593,\n-0.015223631,\n-0.0055156597,\n-0.049022008,\n-0.010593623,\n0.038271084,\n-0.009253177,\n0.023676643,\n-0.017562572,\n-0.016263159,\n0.022650793,\n-0.00029771053,\n-0.00165333,\n-0.0039050733,\n-0.00031010626,\n0.0022449042,\n-0.017671995,\n-0.007228831,\n-0.02742442,\n0.013698532,\n0.02590616,\n0.02604294,\n-0.02191218,\n0.0097729415,\n0.0025116254,\n0.008035834,\n-0.0017815614,\n0.00027099566,\n-0.0065449304,\n0.024565715,\n0.005772122,\n0.0058336733,\n0.0023833942,\n-0.0154835135,\n0.0035528643,\n-0.01887566,\n-0.00006112363,\n-0.013684854,\n-0.021474484,\n0.00889071,\n0.025386397,\n-0.02211735,\n-0.0044487743,\n-0.0028894807,\n0.01274791,\n0.020216106,\n0.0001625333,\n-0.007276704,\n0.013048827,\n0.000475311,\n-0.01130488,\n0.021132533,\n-0.0006787715,\n-0.0021765141,\n-0.009054846,\n0.0152920205,\n0.016618788,\n0.015442479,\n-0.013055665,\n0.017453147,\n-0.0039803023,\n0.0083435895,\n0.0053173285,\n0.009649839,\n0.03534399,\n0.02479824,\n0.007269865,\n-0.005967034,\n-0.00861031,\n-0.0022192579,\n0.025112836,\n-0.03578169,\n0.026822587,\n0.00544385,\n0.006001229,\n0.0028723832,\n0.010894539,\n-0.032772522,\n-0.0017524956,\n-0.010094375,\n0.0040692096,\n0.0159896,\n0.025687313,\n-0.0036999031,\n-0.0048215003,\n0.029024748,\n-0.025167547,\n0.010361097,\n0.0037033225,\n0.023088489,\n0.021187246,\n0.030064277,\n-0.008555599,\n-0.6574201,\n-0.010374774,\n-0.008863354,\n0.013493362,\n0.019874156,\n0.02549582,\n-0.0020072488,\n0.0121802725,\n-0.0077485954,\n-0.0071057286,\n-0.015305699,\n0.024428936,\n0.022541368,\n-0.0134591665,\n-0.013035148,\n-0.0075981375,\n0.006216658,\n-0.018178081,\n0.018246472,\n0.0083435895,\n-0.020653803,\n0.013199285,\n0.0007176683,\n-0.0057037324,\n0.0013814796,\n-0.008097385,\n0.006069619,\n-0.0028775125,\n0.002164546,\n0.01564765,\n-0.0015524547,\n0.018520033,\n0.0088565145,\n0.01122965,\n0.05318012,\n0.0066030617,\n-0.02501709,\n0.030009566,\n0.018793592,\n0.032280117,\n-0.008090546,\n0.0047838856,\n0.012262341,\n0.007406645,\n0.008172614,\n0.009102719,\n0.035426058,\n-0.010456842,\n0.0064389254,\n0.01122965,\n0.019299679,\n-0.03597318,\n-0.0029989048,\n0.009136914,\n-0.004486389,\n-0.004705237,\n0.018779915,\n-0.015387767,\n-0.008439335,\n0.007905893,\n-0.024784563,\n-0.0034981524,\n-0.029052105,\n-0.028970037,\n-0.020968396,\n-0.008323072,\n-0.012843656,\n-0.02046231,\n0.01467651,\n-0.03258103,\n-0.000774945,\n0.0013062505,\n-0.02998221,\n-0.000747589,\n0.0301737,\n0.0039939806,\n0.034769513,\n-0.0008993295,\n0.004099985,\n0.020216106,\n0.021761721,\n0.0038742977,\n-0.013055665,\n0.008637667,\n0.02459307,\n0.0042230873,\n-0.001901244,\n-0.02431951,\n0.01674189,\n-0.0020328949,\n0.021173567,\n0.0077144005,\n-0.0037170006,\n0.004424838,\n0.02157023,\n-0.0015447608,\n-0.0077144005,\n-0.011017641,\n0.033593204,\n-0.022418266,\n-0.0081315795,\n0.009834493,\n0.023389407,\n0.014416628,\n0.02397756,\n0.0024859793,\n-0.00861031,\n0.0022722601,\n0.025331683,\n-0.021693332,\n-0.005221582,\n-0.019203933,\n-0.011940907,\n-0.0007843487,\n0.004954861,\n-0.03107645,\n0.008993295,\n0.012064009,\n0.013486523,\n-0.0027578298,\n0.008329911,\n-0.003528928,\n0.010525232,\n-0.014334559,\n-0.004777047,\n0.02624811,\n-0.030611398,\n-0.021925857,\n0.006808232,\n-0.015729718,\n-0.001853371,\n-0.030638754,\n0.02322527,\n-0.0068184906,\n0.00633976,\n-0.010737242,\n-0.0055566938,\n0.011106548,\n0.027711658,\n-0.0014874841,\n-0.019600596,\n-0.0041820533,\n0.004017917,\n-0.017603606,\n-0.005796059,\n-0.036629725,\n-0.0052933916,\n0.0018362735,\n-0.0011421143,\n0.0068116514,\n-0.0020636704,\n-0.022924352,\n-0.027246606,\n0.006380794,\n0.002453494,\n-0.0014866292,\n0.02479824,\n-0.010990285,\n-0.035644908,\n-0.009287372,\n0.009971273,\n0.004346189,\n-0.014690188,\n0.005245519,\n-0.0048215003,\n-0.013766922,\n0.002610791,\n0.012959919,\n-0.008302555,\n-0.03665708,\n0.0024723012,\n-0.003080973,\n-0.02626179,\n0.013937897,\n0.014498696,\n-0.004954861,\n0.002956161,\n-0.017548893,\n0.014895358,\n0.02136506,\n-0.00096857443,\n0.010039663,\n-0.0052694553,\n0.014430306,\n0.004127341,\n-0.008377784,\n0.015223631,\n0.032088622,\n-0.016167413,\n0.016810281,\n0.009472026,\n0.0053583626,\n0.011031319,\n0.00008185437,\n0.008528243,\n0.011749415,\n-0.0077075614,\n-0.0077075614,\n0.013999448,\n0.010422647,\n0.034359172,\n-0.007987961,\n0.0140336435,\n-0.018848306,\n0.0079948,\n-0.025988229,\n-0.008801803,\n-0.008288877,\n0.012146077,\n0.0053925575,\n-0.0006492783,\n-0.02300642,\n-0.014854324,\n0.015141563,\n0.007858019,\n0.03326493,\n0.022568725,\n-0.0074203233,\n0.007263026,\n0.013725888,\n0.007338255,\n-0.005775542,\n0.016112702,\n-0.020243462,\n-0.016263159,\n-0.010798793,\n0.013862669,\n0.007892215,\n0.008555599,\n-0.0026193399,\n-0.0037682932,\n-0.019190256,\n0.0009591708,\n0.006264531,\n0.017261654,\n-0.0005740492,\n0.019381747,\n-0.02281493,\n0.017056486,\n0.0026706324,\n-0.00668513,\n0.019190256,\n0.013124055,\n-0.007358772,\n0.019162899,\n-0.004099985,\n0.041006688,\n0.035097785,\n-0.010361097,\n0.0019901511,\n-0.017179586,\n-0.014430306,\n-0.013165089,\n-0.015346733,\n-0.013069344,\n-0.030556686,\n0.0037170006,\n0.003108329,\n0.014703866,\n0.011400625,\n0.027821083,\n0.008747091,\n0.022076316,\n-0.0013113797,\n0.017384756,\n-0.014785934,\n-0.0068800417,\n-0.014102033,\n-0.008842837,\n-0.0041512777,\n-0.019586917,\n-0.012276018,\n0.0014866292,\n-0.023266304,\n0.0076870443,\n0.0066611934,\n-0.009082202,\n-0.0052352604,\n0.016564077,\n0.010053341,\n-0.009636162,\n-0.009636162,\n0.003727259,\n0.02466146,\n-0.008589793,\n0.0018516612,\n0.009102719,\n-0.0030501974,\n-0.010019146,\n0.008001639,\n0.008733412,\n0.017808776,\n0.010203799,\n0.0015327926,\n-0.027369708,\n-0.018848306,\n0.01563397,\n-0.025577888,\n-0.0041854726,\n-0.0058063176,\n0.01102448,\n0.010053341,\n-0.009143753,\n-0.012529062,\n0.011598957,\n0.025687313,\n0.0032194627,\n-0.015907532,\n0.016769247,\n0.0062132385,\n-0.015565581,\n0.009177948,\n0.026576383,\n-0.033866767,\n0.0016140058,\n-0.009335245,\n-0.011386948,\n-0.017480504,\n0.00365203,\n0.016112702,\n-0.023266304,\n-0.02626179,\n-0.009157431,\n0.016632466,\n-0.0015045817,\n0.0040965653,\n0.0140336435,\n0.02749281,\n-0.005071124,\n-0.016810281,\n-0.022650793,\n-0.026152365,\n0.006257692,\n-0.004038434,\n0.0012062299,\n0.016181093,\n0.008931744,\n0.00006481028,\n0.03728627,\n-0.0058473516,\n-0.009813976,\n-0.005327587,\n0.02211735,\n-0.0028296395,\n-0.0029527415,\n-0.012228145,\n0.024415256,\n0.0149500705,\n0.025304329,\n-0.0002701408,\n0.00723567,\n0.008213648,\n0.008111062,\n-0.0044692913,\n-0.013787439,\n0.0038708784,\n-0.0030484877,\n0.009143753,\n-0.021665975,\n0.01171522,\n0.004759949,\n0.030994382,\n0.040541638,\n0.014498696,\n0.010326901,\n0.021871146,\n-0.008993295,\n0.0063431794,\n0.021296669,\n-0.026535349,\n-0.025536854,\n0.02853234,\n-0.026234433,\n-0.0077212397,\n0.019655308,\n0.008596633,\n-0.025167547,\n-0.03178771,\n-0.0026706324,\n0.012535901,\n-0.021132533,\n0.00017856222,\n0.005464367,\n-0.021296669,\n-0.0063705356,\n-0.03638352,\n0.021187246,\n-0.0064389254,\n0.007180958,\n-0.016358906,\n0.00014041338,\n-0.019381747,\n-0.033620562,\n0.002376555,\n0.007816985,\n0.0012566677,\n-0.03238954,\n0.015510869,\n0.016632466,\n-0.005864449,\n0.0023611675,\n0.0033083698,\n0.008282038,\n0.02515387,\n-0.024647783,\n-0.027752692,\n-0.0016003278,\n-0.036711793,\n-0.0009010392,\n0.015743395,\n0.020161394,\n-0.0105389105,\n-0.007139924,\n0.019860478,\n0.007604976,\n0.006257692,\n0.01826015,\n-0.026275467,\n0.019272324,\n-0.006449184,\n-0.0052147433,\n0.01605799,\n-0.009643001,\n0.0009839622,\n-0.0021970312,\n-0.04913143,\n0.007324577,\n-0.012529062,\n-0.010620979,\n0.003610996,\n0.00034878938,\n0.02266447,\n0.0044761305,\n0.0034536987,\n0.033182863,\n-0.018766237,\n0.0038127466,\n0.008774446,\n-0.023950204,\n0.018178081,\n-0.014498696,\n0.024032272,\n0.0022996163,\n-0.019901512,\n0.01006018,\n-0.0198468,\n0.011899873,\n0.016577754,\n-0.0030416485,\n0.004168375,\n0.02466146,\n-0.030365193,\n0.013937897,\n0.01612638,\n-0.0005159176,\n0.0041581164,\n-0.001199391,\n-0.011345914,\n-0.021748044,\n0.014703866,\n-0.008829159,\n0.0312953,\n-0.010703047,\n-0.01687867,\n-0.008295716,\n-0.0057413466,\n-0.027137183,\n0.00095489644,\n-0.020653803,\n-0.039502107,\n-0.011708381,\n0.0029236758,\n-0.005823415,\n0.030693466,\n0.019532206,\n0.012494867,\n-0.0066235787,\n-0.0023321016,\n0.00168838,\n-0.017589927,\n-0.023033777,\n-0.024702495,\n0.0030467778,\n0.03383941,\n0.025892483,\n-0.00028766575,\n0.022719182,\n-0.021118855,\n0.01130488,\n0.014156746,\n-0.016181093,\n-0.0032844334,\n-0.014102033,\n-0.026097653,\n0.0075502642,\n-0.00051933713,\n-0.002562918,\n-0.022896998,\n-0.025536854,\n-0.005775542,\n-0.0009959305,\n-0.0045240032,\n-0.014389272,\n-0.014430306,\n-0.0068048127,\n0.01639994,\n0.0013147992,\n-0.005023251,\n-0.013076182,\n0.018478999,\n0.0049377633,\n0.009868688,\n0.04010394,\n-0.007946927,\n0.022131028,\n-0.015250986,\n0.03225276,\n0.0010549169,\n0.01888934,\n-0.012604291,\n0.0049172463,\n-0.037505116,\n-0.018096013,\n0.019299679,\n0.004253863,\n0.005286553,\n-0.005105319,\n-0.005149773,\n-0.02025714,\n0.013657498,\n0.0038777173,\n-0.0059020636,\n-0.0076528494,\n-0.009041168,\n-0.011222811,\n-0.008842837,\n0.0048283394,\n-0.027109826,\n0.020804262,\n0.011838322,\n-0.015551903,\n0.02680891,\n-0.017562572,\n0.0028997392,\n-0.0009489123,\n-0.019381747,\n0.04844753,\n0.02674052,\n0.039310616,\n0.015333055,\n0.0069894656,\n-0.04314046,\n-0.01563397,\n-0.010292706,\n0.0010361096,\n0.021761721,\n0.013589108,\n-0.0014703866,\n-0.0021337704,\n0.015333055,\n0.0026689228,\n-0.028997391,\n-0.030310482,\n0.010648334,\n0.020106683,\n0.01583914,\n-0.010737242,\n0.010169604,\n-0.006986046,\n0.040131297,\n-0.02803993,\n-0.0013276223,\n-0.01157844,\n-0.024086984,\n-0.0089591,\n-0.0033853087,\n0.0010412389,\n0.011585278,\n0.015716039,\n-0.017330045,\n0.0031134582,\n-0.011756254,\n-0.020010935,\n0.02025714,\n0.004106824,\n0.022979066,\n0.005002734,\n-0.009766103,\n0.0048898906,\n0.0049856366,\n-0.005132675,\n0.0026381472,\n0.027684303,\n0.030283125,\n-0.011359591,\n-0.0069894656,\n0.01233073,\n-0.021406094,\n0.023512509,\n0.0052694553,\n-0.0025509498,\n0.0005334426,\n-0.03424975,\n-0.010901378,\n0.011147582,\n-0.0038195858,\n0.0005394267,\n-0.009540415,\n-0.00475653,\n-0.029790716,\n-0.013165089,\n-0.011051836,\n0.003935849,\n-0.013185606,\n-0.021515518,\n-0.018861983,\n-0.01846532,\n0.010641496,\n0.0055498546,\n-0.000100341065,\n0.026918333,\n0.017507859,\n-0.023485152,\n0.026932012,\n-0.002226097,\n0.0049309246,\n-0.015223631,\n0.0060730386,\n-0.0006817636,\n-0.02894268,\n0.022363555,\n-0.022869641,\n-0.051648185,\n0.008104224,\n0.005050607,\n-0.009752424,\n-0.023704,\n-0.02515387,\n0.035508126,\n0.012276018,\n0.0055703716,\n-0.00565244,\n-0.032006554,\n-0.0023936527,\n-0.011448499,\n-0.00078819564,\n0.013725888,\n0.004736013,\n-0.0077144005,\n0.009608805,\n-0.0033511138,\n0.007864859,\n-0.033401713,\n0.0057447664,\n-0.009663518,\n0.003658869,\n-0.030091632,\n0.0048044026,\n-0.010251672,\n-0.0071262456,\n-0.00034173665,\n-0.008056351,\n-0.008083707,\n0.013431811,\n-0.02066748,\n-0.008056351,\n-0.014211457,\n-0.004831759,\n-0.013247157,\n-0.011393786,\n-0.023731356,\n0.0061174924,\n-0.038900275,\n-0.03843522,\n-0.0092600165,\n0.020653803,\n0.029763361,\n-0.021105178,\n-0.02136506,\n0.0039495267,\n-0.043660223,\n-0.015004783,\n0.005621664,\n0.0041102436,\n0.015675005,\n0.0057652835,\n0.011339075,\n0.020831617,\n-0.0032433993,\n0.01778142,\n-0.008405141,\n0.017808776,\n0.017754063,\n-0.022172062,\n0.016523043,\n-0.018588422,\n-0.026371213,\n-0.038353153,\n0.026932012,\n0.016714534,\n0.0011874227,\n0.019149221,\n-0.02535904,\n-0.013493362,\n-0.024360545,\n0.013903703,\n-0.04201886,\n0.013062504,\n-0.011339075,\n-0.013883186,\n-0.0016721373,\n0.017453147,\n-0.0026022424,\n-0.008384624,\n0.01694706,\n0.013910541,\n-0.023033777,\n0.014211457,\n-0.0224593,\n-0.0034092453,\n-0.0061858823,\n-0.03479687,\n0.007899053,\n-0.017808776,\n-0.033620562,\n0.017589927,\n-0.009478864,\n0.011106548,\n-0.003672547,\n0.0071672797,\n-0.030118989,\n0.0005590889,\n0.00599439,\n-0.016782925,\n0.0030758437,\n-0.013110378,\n0.022158384,\n-0.02583777,\n0.009998629,\n-0.01447134,\n-0.011380108,\n-0.03996716,\n0.0045650373,\n-0.0077691125,\n-0.027041435,\n-0.02659006,\n-0.0068184906,\n0.009157431,\n0.0039734636,\n-0.033647917,\n0.004168375,\n-0.01687867,\n-0.00031160229,\n-0.020708514,\n-0.022226775,\n0.014909036,\n-0.030775534,\n-0.025646279,\n0.0054130745,\n-0.009116397,\n0.24182731,\n-0.009410474,\n0.013124055,\n0.014690188,\n-0.010525232,\n0.037231557,\n0.0044419356,\n-0.004927505,\n0.0010711595,\n0.030009566,\n-0.00045650374,\n-0.025400074,\n-0.012617969,\n-0.003956366,\n-0.0067569395,\n-0.015661327,\n-0.0172343,\n-0.03219805,\n-0.039939802,\n-0.03315551,\n0.014580764,\n0.010121731,\n-0.011181777,\n-0.019135542,\n0.014225136,\n-0.009704552,\n-0.011551084,\n-0.0007317738,\n0.03526192,\n0.020489667,\n-0.011913551,\n-0.013671176,\n0.019272324,\n0.0013387357,\n-0.012214468,\n-0.010559428,\n0.013445489,\n-0.015825463,\n0.016249482,\n0.034304462,\n0.0036486106,\n-0.025523176,\n-0.007427162,\n-0.012426477,\n0.0019987,\n0.032964017,\n-0.00916427,\n-0.017371079,\n-0.011366431,\n0.014922715,\n-0.015250986,\n-0.0103679355,\n0.029818073,\n0.019162899,\n0.003754615,\n0.0046129106,\n0.018985085,\n-0.000102317965,\n-0.0017593347,\n0.013397615,\n-0.0008343589,\n0.01936807,\n-0.014868002,\n0.031322654,\n-0.009554094,\n-0.0027527006,\n-0.02479824,\n0.004253863,\n0.030310482,\n-0.012440154,\n0.005796059,\n-0.022144707,\n0.017193265,\n0.0032844334,\n-0.0066406764,\n-0.008035834,\n0.020804262,\n0.007269865,\n0.030146345,\n0.03646559,\n-0.019244967,\n0.007119407,\n-0.0061003948,\n-0.031322654,\n0.0037853906,\n-0.022514014,\n-0.0019833122,\n-0.0058028977,\n-0.016030634,\n-0.011831483,\n0.003012583,\n-0.030255768,\n-0.022582402,\n0.02266447,\n0.021105178,\n0.039037056,\n-0.0062953066,\n0.0039461073,\n-0.012966759,\n-0.0053720404,\n-0.023471475,\n0.05547803,\n0.014389272,\n0.009649839,\n-0.01653672,\n-0.000118507174,\n0.006493638,\n0.010080697,\n0.00074716157,\n-0.017699352,\n-0.0041581164,\n-0.02659006,\n0.0014985976,\n-0.010450004,\n-0.0205307,\n-0.0077485954,\n-0.014635476,\n0.0027544103,\n-0.008035834,\n-0.009889205,\n0.014361916,\n-0.021898502,\n-0.010450004,\n-0.0055566938,\n0.0020311852,\n-0.014703866,\n0.0014977426,\n0.0077622733,\n0.01212556,\n-0.045848705,\n0.0040692096,\n-0.020366564,\n0.010805632,\n-0.0083641065,\n-0.0048009832,\n0.00096088054,\n0.0013216382,\n0.01653672,\n-0.012467511,\n-0.007871698,\n0.014840647,\n-0.0005616535,\n0.026234433,\n-0.0034348916,\n-0.0067432616,\n-0.0058028977,\n0.0050950604,\n0.004168375,\n-0.024538359,\n-0.028723832,\n-0.028067287,\n0.000916427,\n0.0030946508,\n-0.005153192,\n0.028149355,\n-0.022336198,\n-0.0053139087,\n-0.022281487,\n0.012022975,\n0.010395291,\n-0.001571262,\n-0.03176035,\n0.0018995344,\n0.00022461865,\n-0.030584041,\n-0.0075981375,\n-0.17912729,\n0.03457802,\n0.020175071,\n-0.011079192,\n0.009205304,\n-0.018355897,\n0.01061414,\n-0.008309394,\n-0.000025592848,\n-0.00889071,\n0.022541368,\n0.00009291433,\n-0.03646559,\n-0.0050471877,\n-0.018506354,\n0.022035282,\n0.017453147,\n0.035535485,\n0.043496087,\n0.017959233,\n0.022308843,\n-0.015346733,\n-0.0006078168,\n0.00041888922,\n-0.0005253213,\n-0.0047873054,\n-0.00083777844,\n0.040568992,\n0.003012583,\n-0.018656813,\n-0.019860478,\n-0.002494528,\n0.0027373128,\n0.009342085,\n-0.0015003072,\n-0.011106548,\n-0.0000883728,\n-0.01578443,\n0.004253863,\n0.024141697,\n0.01578443,\n0.0396936,\n0.022719182,\n0.021173567,\n0.012077687,\n0.018232794,\n0.019477494,\n-0.040705774,\n-0.0140336435,\n-0.031322654,\n0.0147585785,\n-0.034687445,\n-0.016974417,\n0.00792641,\n0.030474618,\n0.0033733405,\n0.018342217,\n-0.007447679,\n0.017343722,\n0.0017866907,\n-0.007174119,\n-0.014963749,\n0.00454794,\n0.0045103254,\n-0.007023661,\n-0.006124331,\n-0.031322654,\n0.018629456,\n-0.0074613574,\n-0.0054267524,\n-0.027739014,\n0.014580764,\n-0.0022996163,\n-0.005050607,\n0.02136506,\n-0.003727259,\n-0.019833121,\n0.006264531,\n0.007858019,\n-0.007290382,\n-0.0056250836,\n0.0351525,\n-0.028450271,\n0.02184379,\n0.0071672797,\n0.016618788,\n-0.004975378,\n-0.00978662,\n-0.0059089023,\n0.0020089585,\n0.05479413,\n-0.0023440698,\n-0.020544378,\n-0.023416761,\n0.012535901,\n0.027041435,\n-0.0054199137,\n-0.023662966,\n0.0020910266,\n-0.0166735,\n-0.010402131,\n0.01164683,\n-0.0013130894,\n-0.0019593756,\n0.010641496,\n0.0064799595,\n0.022582402,\n0.02998221,\n0.012570096,\n-0.016181093,\n-0.0036349325,\n0.013329226,\n-0.004141019,\n0.014047322,\n0.00025240213,\n0.033948835,\n-0.010778276,\n-0.0063363407,\n0.031049093,\n0.008562437,\n0.048256036,\n-0.024483647,\n-0.011065514,\n0.017206943,\n-0.00737245,\n-0.019354392,\n-0.035617553,\n0.0006933044,\n0.0009890915,\n0.01977841,\n-0.02295171,\n0.041581165,\n-0.005057446,\n0.014006288,\n-0.011270684,\n0.018725203,\n-0.011852,\n-0.028559696,\n-0.024100663,\n-0.0019183416,\n0.039392684,\n0.005553274,\n-0.013247157,\n-0.006107234,\n0.005423333,\n0.018766237,\n0.0038127466,\n-0.03416768,\n-0.0094309915,\n-0.045711927,\n-0.033018727,\n0.009978112,\n-0.022828607,\n0.023416761,\n0.0042572822,\n-0.0076938835,\n-0.0071057286,\n0.0015866498,\n0.021282991,\n-0.014293525,\n-0.00090445875,\n0.017042806,\n-0.0067022275,\n-0.0058541903,\n-0.007276704,\n-0.014293525,\n0.0065825447,\n-0.00530707,\n-0.004004239,\n-0.021748044,\n-0.0071877968,\n-0.019737376,\n0.002144029,\n0.011017641,\n0.014635476,\n-0.022240452,\n0.009725069,\n-0.014143067,\n-0.011865678,\n-0.011414303,\n0.020380242,\n0.00220387,\n0.010826149,\n-0.0064867986,\n-0.008220487,\n0.0011463886,\n-0.012686359,\n0.0021713849,\n0.019805767,\n0.023061134,\n0.016290516,\n0.010251672,\n-0.028860612,\n-0.010839827,\n0.010299546,\n-0.011975102,\n-0.012453833,\n0.025126513,\n-0.021556552,\n0.03225276,\n-0.014977426,\n-0.018137047,\n-0.0046334276,\n-0.01742579,\n0.020995753,\n-0.004575296,\n-0.024770886,\n-0.025550531,\n-0.006025166,\n-0.006401311,\n0.015045816,\n0.015415123,\n0.003217753,\n-0.0017328336,\n-0.011708381,\n-0.020380242,\n0.004681301,\n0.019956224,\n0.021064144,\n-0.02066748,\n-0.001082273,\n0.00020068213,\n-0.0039050733,\n0.00806319,\n0.010634657,\n0.02211735,\n-0.03444124,\n-0.02211735,\n-0.0902749,\n0.020735871,\n-0.0064594424,\n-0.036575012,\n-0.010402131,\n0.018930374,\n0.011804127,\n-0.002087607,\n0.0014276428,\n0.011099709,\n-0.024333188,\n0.0004415434,\n-0.0063431794,\n-0.013609625,\n-0.009636162,\n-0.0022158385,\n0.03189713,\n0.022431945,\n0.013883186,\n0.028559696,\n0.016030634,\n-0.008699218,\n-0.001184858,\n0.014963749,\n-0.008665022,\n0.026425924,\n-0.00441116,\n0.024702495,\n-0.007488713,\n-0.01798659,\n0.018451642,\n-0.0074613574,\n0.006606481,\n0.01943646,\n-0.008213648,\n-0.009547254,\n-0.03126794,\n0.011557923,\n0.0076460103,\n-0.0016293935,\n-0.019190256,\n-0.027410742,\n0.0059567755,\n-0.046204336,\n-0.007987961,\n-0.013773761,\n-0.00440774,\n0.01453973,\n0.0076460103,\n-0.009389957,\n0.028887969,\n0.023444118,\n-0.012098204,\n-0.010778276,\n0.025181226,\n-0.017699352,\n0.03575433,\n0.008001639,\n-0.0033511138,\n-0.015716039,\n0.039009698,\n0.016249482,\n0.027506487,\n-0.020735871,\n0.014635476,\n-0.0024346868,\n-0.010422647,\n-0.0055464352,\n0.010559428,\n-0.02446997,\n-0.044836532,\n-0.006285048,\n-0.0070099826,\n0.015196275,\n-0.0044179987,\n0.030228414,\n-0.0008001639,\n0.013951575,\n0.0026672129,\n0.02191218,\n0.020175071,\n-0.0075981375,\n-0.025085479,\n0.012597452,\n0.0172343,\n-0.003481055,\n-0.018410608,\n-0.0085145645,\n-0.022650793,\n-0.007563942,\n-0.05788536,\n0.011386948,\n-0.008740252,\n-0.0050608655,\n0.0012686359,\n0.011380108,\n-0.017193265,\n0.009608805,\n0.0042265067,\n0.010443164,\n-0.005129256,\n0.008165775,\n0.01337026,\n-0.013855829,\n-0.0017148812,\n0.002162836,\n-0.025304329,\n-0.0042265067,\n0.012966759,\n0.0045376816,\n-0.006862944,\n0.0042675408,\n-0.0004505196,\n0.012583774,\n-0.038626716,\n0.0043803845,\n-0.0070920507,\n0.001315654,\n-0.03121323,\n0.013192445,\n0.0030587462,\n0.023061134,\n0.027191894,\n0.0037101617,\n0.03452331,\n-0.018287506,\n-0.013520718,\n-0.026166042,\n-0.0032912723,\n-0.010019146,\n-0.033128154,\n0.0085145645,\n-0.030884959,\n-0.012891529,\n-0.0070646945,\n-0.0032074945,\n0.02143345,\n0.010210638,\n-0.009177948,\n0.098974116,\n0.014936392,\n0.00014575635,\n0.004541101,\n0.0055703716,\n0.0067501003,\n0.019532206,\n0.01391738,\n-0.016427295,\n-0.00065312523,\n0.014129389,\n0.014320882,\n-0.0020773485,\n-0.019874156,\n-0.028669119,\n-0.023211591,\n-0.002915127,\n0.008056351,\n-0.013931058,\n-0.0011190326,\n0.007078373,\n0.010381614,\n-0.010901378,\n0.00791957,\n-0.031623572,\n-0.022445623,\n0.030201057,\n0.004736013,\n0.0017901103,\n-0.058049496,\n0.016591432,\n0.007365611,\n-0.017945556,\n-0.0110928705,\n-0.0027800566,\n0.0016764117,\n-0.013978931,\n-0.004773627,\n-0.008863354,\n0.0033220479,\n-0.0053173285,\n-0.003983722,\n-0.024278477,\n-0.0048898906,\n-0.01689235,\n0.003190397,\n-0.007604976,\n0.00058559,\n-0.007468196\n],\n  \"includeMetadata\": true,\n  \"topK\": 100\n}",
        "options": {}
      },
      "id": "2e91cf88-8e8f-4ace-9e58-9539ac77e383",
      "name": "Get ALL DOING Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2563,
        -575
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "matches",
        "options": {}
      },
      "id": "c6bce792-add0-4166-a03b-292378cae47e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2823,
        -575
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "4efd952e-e160-4e7d-9b8a-3026e9d9fff0",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3223,
        -575
      ]
    },
    {
      "parameters": {
        "content": "# RESET : Transfer DOING back to TASKS",
        "height": 443.53507014028037,
        "width": 1274.9899799599193
      },
      "id": "b1d45789-8eaf-4407-91e8-3296e4240a08",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2440,
        -740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $input.item.binary != undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b3f95676-725d-4586-8c72-e8721efd9fd8",
      "name": "IF Pièce Jointe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5220,
        -580
      ]
    },
    {
      "parameters": {
        "workflowId": "eRT6xb82oqCbX4u2"
      },
      "id": "c2e4073d-5832-4754-a08a-9531912d3fc9",
      "name": "Inserer l'étude dans Pinecone",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5460,
        -580
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "questionneur_de_logs",
        "description": "Le Questionneur de logs retourne une réponse issue des logs de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- Les informations que tu cherches, avec les mots clés et éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.",
        "workflowId": "kLKx8F1dt8gfkjry",
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ JSON.stringify($node[\"mission\"].json.mission) }}"
            }
          ]
        }
      },
      "id": "dbe9376a-999b-4ede-b469-823f5e4fc337",
      "name": "Questionneur de logs",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4180,
        480
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_code",
        "description": "Le Questionneur de code retourne une réponse issue de la codebase de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- Les informations que tu cherches, avec les mots clés et éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.",
        "workflowId": "kLKx8F1dt8gfkjry",
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ JSON.stringify($node[\"mission\"].json.mission) }}"
            }
          ]
        }
      },
      "id": "b14ab91a-c3f3-4be2-b565-9742d542c70a",
      "name": "Questionneur de code",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4000,
        480
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_prompt",
        "description": "Le Questionneur de prompt retourne une réponse issue du prompt de l'assistant à partir d'une demande détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée. Tu peux également demander le prompt en entier verbatim.",
        "workflowId": "anybPoo9G98Nx3qW",
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ JSON.stringify($node[\"mission\"].json.mission) }}"
            },
            {
              "name": "documentGoogleDriveId",
              "stringValue": "={{ $node[\"mission\"].json.documentGoogleDriveId }}"
            }
          ]
        }
      },
      "id": "9990d65c-32b5-4ef2-9831-bff611575507",
      "name": "Questionneur de prompt",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4580,
        740
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_NRJfqzvKf73U2CjrI4bqMSf5",
        "text": "=INSTRUCTIONS : MANAGER\n======\n\nEn tant que MANAGER, tu ne rédiges JAMAIS : tu annonces clairement la prochaine étape au rédacteur.\n\n- Quel travail vient d'être réalisé dans \"Rédaction réalisée\" ? Fais le point sur l'avancement en listant l'ensemble des Etapes, avec TODO/DONE. Les parties avant \"[...]\" sont toutes \"DONE\", et les parties doivent être exécutées dans l'ordre (pas de retour en arrière ou amélioration). Modèle :\n\n``\nTODOLIST :\n- Présentation de l'entreprise (TODO/DONE)\n- Contexte scientifique et économique (TODO/DONE)\n- Présentation des thématiques de recherche (TODO/DONE)\n- Périmètre des besoins de R&D Thématique A (TODO/DONE)\n- Tableau Thématique A (TODO/DONE)\n- Etat de l'art de Thématique A domaine 1 (TODO/DONE)\n- Etat de l'art de Thématique A domaine 2 (TODO/DONE)\n- Etat de l'art de Thématique A domaine 3 (TODO/DONE)\n- Incertitudes et verrous scientifiques et techniques Thématique A (TODO/DONE)\n- Travaux de R&D pour lever les verrous et incertitudes Thématique A (TODO/DONE)\n- Bibliographie Thématique A (TODO/DONE)\n- Périmètre des besoins de R&D Thématique B (TODO/DONE)\n- Tableau Thématique B (TODO/DONE)\n- Etat de l'art de Thématique B domaine 1 (TODO/DONE)\n- Etat de l'art de Thématique B domaine 2 (TODO/DONE)\n- Etat de l'art de Thématique B domaine 3 (TODO/DONE)\n- Incertitudes et verrous scientifiques et techniques Thématique B (TODO/DONE)\n- Travaux de R&D pour lever les verrous et incertitudes Thématique B (TODO/DONE)\n- Bibliographie Thématique B (TODO/DONE)\n- Périmètre des besoins de R&D Thématique C (TODO/DONE)\n- Tableau Thématique C (TODO/DONE)\n- Etat de l'art de Thématique C domaine 1 (TODO/DONE)\n- Etat de l'art de Thématique C domaine 2 (TODO/DONE)\n- Etat de l'art de Thématique C domaine 3 (TODO/DONE)\n- Incertitudes et verrous scientifiques et techniques Thématique C (TODO/DONE)\n- Travaux de R&D pour lever les verrous et incertitudes Thématique C (TODO/DONE)\n- Bibliographie Thématique C (TODO/DONE)\n- Signature (TODO/DONE)\n``\n\n- Puis choisis la prochaine étape : A partir de l'avancement données, explique en un court paragraphe l'avancement du travail, et donne prochaine étape à réaliser selon le processus, en expliquant ton raisonnement. Indique clairement au rédacteur la prochaine étape avec son numéro.\n\nMISSION GLOBALE\n======\n\n{{ $node[\"mission\"].json.mission }}\n\nAVANCEMENT\n======\n\n``\n{{ $node[\"thread\"].json.thread }}\n``\n\nDERNIER CONTENU REDIGÉ\n======\n\nDernières Instructions\n------\n\n``\n{{ $node[\"thread\"].json.instructions }}\n``\n\nRédaction réalisée\n------\n\n``\n{{ $json.output }}\n``\n\nINSTRUCTIONS : MANAGER\n======\n\nEn tant que MANAGER, tu ne rédiges JAMAIS : tu annonces clairement la prochaine étape au rédacteur.\n\n- Quel travail vient d'être réalisé dans \"Rédaction réalisée\" ? Fais le point sur l'avancement en listant l'ensemble des Etapes, avec TODO/DONE. Les parties avant \"[...]\" sont toutes \"DONE\", et les parties doivent être exécutées dans l'ordre (pas de retour en arrière ou amélioration). Modèle :\n\n``\nTODOLIST :\n- Présentation de l'entreprise (TODO/DONE)\n- Contexte scientifique et économique (TODO/DONE)\n- Présentation des thématiques de recherche (TODO/DONE)\n- Périmètre des besoins de R&D Thématique A (TODO/DONE)\n- Tableau Thématique A (TODO/DONE)\n- Etat de l'art de Thématique A domaine 1 (TODO/DONE)\n- Etat de l'art de Thématique A domaine 2 (TODO/DONE)\n- Etat de l'art de Thématique A domaine 3 (TODO/DONE)\n- Incertitudes et verrous scientifiques et techniques Thématique A (TODO/DONE)\n- Travaux de R&D pour lever les verrous et incertitudes Thématique A (TODO/DONE)\n- Bibliographie Thématique A (TODO/DONE)\n- Périmètre des besoins de R&D Thématique B (TODO/DONE)\n- Tableau Thématique B (TODO/DONE)\n- Etat de l'art de Thématique B domaine 1 (TODO/DONE)\n- Etat de l'art de Thématique B domaine 2 (TODO/DONE)\n- Etat de l'art de Thématique B domaine 3 (TODO/DONE)\n- Incertitudes et verrous scientifiques et techniques Thématique B (TODO/DONE)\n- Travaux de R&D pour lever les verrous et incertitudes Thématique B (TODO/DONE)\n- Bibliographie Thématique B (TODO/DONE)\n- Périmètre des besoins de R&D Thématique C (TODO/DONE)\n- Tableau Thématique C (TODO/DONE)\n- Etat de l'art de Thématique C domaine 1 (TODO/DONE)\n- Etat de l'art de Thématique C domaine 2 (TODO/DONE)\n- Etat de l'art de Thématique C domaine 3 (TODO/DONE)\n- Incertitudes et verrous scientifiques et techniques Thématique C (TODO/DONE)\n- Travaux de R&D pour lever les verrous et incertitudes Thématique C (TODO/DONE)\n- Bibliographie Thématique C (TODO/DONE)\n- Signature (TODO/DONE)\n``\n\n- Puis choisis la prochaine étape : A partir de l'avancement données, explique en un court paragraphe l'avancement du travail, et donne prochaine étape à réaliser selon le processus, en expliquant ton raisonnement. Indique clairement au rédacteur la prochaine étape avec son numéro.",
        "options": {}
      },
      "id": "85ec6557-eb87-4c11-be47-6c3b14112ee6",
      "name": "Manager Général",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        4400,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assistantId": "asst_KEwBhc34Qsh3dcu2Gu8bgFne",
        "text": "=INSTRUCTIONS : RÉDACTEUR\n======\n\nEn tant que RÉDACTEUR, tu effectue les étapes demandées par le MANAGER :\n{{ $json.instructions }}\n\nMISSION GLOBALE\n======\n\n{{ $node[\"mission\"].json.mission }}\n\nAVANCEMENT REALISE\n======\n\n{{ $json.thread }}\n\nTACHE\n======\n\nEn tant que RÉDACTEUR, tu effectue les étapes demandées par le MANAGER :\n{{ $json.instructions }}\n\nSuite du document :",
        "options": {}
      },
      "id": "d8323925-46fa-4783-b9bf-25f392b4f57b",
      "name": "KinDev",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        4400,
        140
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When clicking \"Execute Workflow\"": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "saveExecutionProgress": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        14
      ]
    },
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1705920636,
      "possibleDuplicates": [
        "18d30cb55a6ea154"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-21T09:46:57.068Z",
      "updatedAt": "2024-01-21T09:46:57.068Z",
      "id": "O7AwhYu4Pf4sOOHS",
      "name": "beta"
    },
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-22T10:51:20.000Z",
  "versionId": "e8989cd5-15cb-4e7c-ad95-0adfbbe65d8d"
}