workflows/QS - Questionneur du Document de Sortie.json
{
  "active": false,
  "connections": {
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT4": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "Synchroniser GitHub -> Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synchroniser GitHub -> Pinecone": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-16T08:55:44.175Z",
  "id": "ebLHEt0swZVT9tks",
  "meta": null,
  "name": "QS - Questionneur du Document de Sortie",
  "nodes": [
    {
      "parameters": {
        "query": "=# Intention d'usage\n\nNous souhaitons rédiger un Etat del'Art.\n\n# Rôle\n\nQuestionneur de document de sortie\n\n# Instructions\n\n1) Formule une requête pour répondre au besoin informationnel\n2) Formule une réponse détaillée au besoin informationnel, en citant des parties du document de sortie si besoin\n\n# Contexte\n\nTu disposes de parties du document de sortie en cours de rédaction.\n\n# Besoin Informationnel\n\n{{ $('entree').item.json.entree }}"
      },
      "id": "02bdc05e-db11-4b80-b80d-4fcb08e35dc1",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.1,
      "position": [
        2460,
        180
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-1106-preview",
          "mode": "list",
          "cachedResultName": "gpt-4-1106-preview"
        },
        "options": {}
      },
      "id": "51f54a40-410e-4cf7-befd-65271264788f",
      "name": "GPT4",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        2480,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "topK": 8
      },
      "id": "5e0c47be-75b5-400a-a699-8c48d3036e47",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2520,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "004dea75-52de-4dd1-8093-4781ee827a27",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2460,
        840
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d9f2e3aa-6b82-4fe7-a86e-5622ee6448c0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1680,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"json\":{\"response\":$json.response.text}};"
      },
      "id": "195e998b-3320-4b4e-a57a-999a77dd7042",
      "name": "Reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        180
      ]
    },
    {
      "parameters": {},
      "id": "800ba6ce-d965-4f91-bf45-f8234eadd192",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "entree",
              "stringValue": "={{ $json.entree }}{{ $json.query }}"
            },
            {
              "name": "kinName",
              "stringValue": "={{ $json.kinName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8c7e85ef-329b-4bba-86e0-abda4c578924",
      "name": "entree",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1920,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": "d6khXiG3YxUunViW"
      },
      "id": "afd0df33-67fb-4c5a-ae63-c9ae72992fe7",
      "name": "Synchroniser GitHub -> Pinecone",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2180,
        180
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "kins",
          "mode": "list",
          "cachedResultName": "kins"
        },
        "options": {
          "pineconeNamespace": "=sortie",
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "document-de-sortie.md"
              }
            ]
          }
        }
      },
      "id": "4f1dfeaa-2e5b-4dea-bce4-0ac5ab47afa8",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2460,
        700
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## - Questionneur de Document de Sortie : Donne une réponse précise issues du document de sortie en cours de rédaction à partir d'un besoin informationnel.",
        "height": 429.80439085591235,
        "width": 548.1198073088228
      },
      "id": "6d874bbb-799d-41da-accc-c5149f602988",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        -300
      ]
    }
  ],
  "pinData": {
    "When clicking \"Execute Workflow\"": [
      {
        "json": {
          "entree": "qu'est-ce que la partie 1.2.2?",
          "kinName": "kincir_dynergie"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:07:55.424Z",
      "updatedAt": "2023-12-17T10:07:55.424Z",
      "id": "DzuSxffpFOEBRhld",
      "name": "fonction"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-12-18T01:15:07.000Z",
  "versionId": "f0e501a5-cc38-46fa-be3d-3314d4b6ae3d"
}