workflows/QX - Questionneur d'Executions.json
{
  "active": true,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "List Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Executions": {
      "main": [
        [
          {
            "node": "Get Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Execution": {
      "main": [
        [
          {
            "node": "kindev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message au CTO": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send  Notifications": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "nouveau message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kindev": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send  Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-30T10:56:42.445Z",
  "id": "ZTyYwHXmIk6UTURZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "QX - Questionneur d'Executions",
  "nodes": [
    {
      "parameters": {},
      "id": "4cb5650f-dad6-4354-a95a-c6e720323565",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($node[\"entree\"].json.chatInput != null) {\n  return {\"output\": $json.output};\n}\n\nreturn {\"json\":{\"response\": $json.output}};"
      },
      "id": "8f169099-dfc1-4d8d-ae64-c85f7663897c",
      "name": "nouveau message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\nif (!json.missionDemandeur) {\n  json.missionDemandeur = \"Compréhension générale & amélioration\";\n}\n\nif (json.chatInput) {\n  json.query = json.chatInput;\n  json.kinDemandeur = \"Un humain\";\n} else {\n  json.kinDemandeur = json.kin;\n}\n\nif (json.query) {\n\n  // Trouver le bon Kin\n  let regexKin = /kin\\w{2,16}/i;\n  let regexKinWithSpace = /kin \\w{2,16}/i;\n  \n  if (regexKin.test(json.query)) {\n    json.kin = json.query.match(regexKin)[0];\n  } else if (regexKinWithSpace.test(json.query)) {\n    json.kin = json.query.match(regexKinWithSpace)[0].replace(\" \", \"\");\n  }\n} else {\n  json.query = \"Je souhaite un résumé général de l'exécution.\";\n}\n\n// Execution Status\nif (json.query.match(/status: \\w+/i)) {\n  json.status = json.query.match(/status: \\w+/i)[0].substring(8);\n} else {\n  json.status = \"error\";\n}\n\n// Workflow \nif (json.query.match(/workflowId: \\w+/i)) {\n  json.workflowId = json.query.match(/workflowId: \\w+/i)[0].substring(12);\n} else {\n  json.workflowId = null;\n}\n\nreturn {\"json\": json};"
      },
      "id": "c48fb0f8-1110-410d-af8e-f75191ed6c9a",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        600
      ]
    },
    {
      "parameters": {
        "resource": "execution",
        "limit": 1,
        "filters": {
          "workflowId": {
            "__rl": true,
            "value": "={{ $node[\"entree\"].json.workflowId }}",
            "mode": "id"
          },
          "status": "={{ $node[\"entree\"].json.status }}"
        },
        "options": {
          "activeWorkflows": false
        }
      },
      "id": "6048c1d7-bc67-4a25-8c75-cd36e979ce69",
      "name": "List Executions",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -480,
        600
      ],
      "credentials": {
        "n8nApi": {
          "id": "fqjkS9ijdeXvE4BY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "get",
        "executionId": "={{ $json.id }}",
        "options": {
          "activeWorkflows": true
        }
      },
      "id": "a96208fb-11fc-4e25-bb11-ac7330459e30",
      "name": "Get Execution",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -220,
        600
      ],
      "credentials": {
        "n8nApi": {
          "id": "fqjkS9ijdeXvE4BY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "name": "message_au_cto",
        "description": "La fonction message_au_cto envoie le message passé dans \"query\" au CTO de DigitalKin, Nicolas Lester Reynolds.\n\nIl peut être utilisé pour signaler un problème, demander de l'aide ou une modification, demander un déblocage, ou suggérer une amélioration.",
        "workflowId": "NjRYPuz1EgoPxWfP",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "=kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            }
          ]
        }
      },
      "id": "86bf5fed-319e-4692-9269-b129ab252cd2",
      "name": "Message au CTO",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        -20,
        840
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "98c81f29-228f-4ac7-83e7-5060dcbc2f96",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        560,
        600
      ]
    },
    {
      "parameters": {
        "workflowId": "=EYWde6gUS9Qq2ok7",
        "options": {}
      },
      "id": "a9c4c2e4-a7dd-4c6b-8afa-bb7b2bc80e23",
      "name": "Send  Notifications",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        840
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assistantId": "asst_KEwBhc34Qsh3dcu2Gu8bgFne",
        "text": "=# Mission Globale\n\n{{ $node[\"entree\"].json.mission }}\n\n# Demande Spécifique (Query)\n\n{{ $node[\"entree\"].json.query }}\n\n# Data de l'Execution #{{ $node[\"Get Execution\"].json.id }} du Workflow n8n {{ $node[\"Get Execution\"].json.workflowData.name }} (ID : {{ $node[\"Get Execution\"].json.workflowData.id }})\n\n{{  JSON.stringify($node[\"Get Execution\"].json).substring(0, 20000) }}{{  JSON.stringify($node[\"Get Execution\"].json).length > 20000 ? \"[...]\" : \"\" }}\n\n# Processus\n\n- Utilise des listes.\n- Inclus si possible client, kinDemandeur, kin, mailId, mailSubject, et un résumé de la mission \n\n# Instruction - Réponse au besoin informationnel\n\nA partir des informations disponibles, formule la meilleure réponse possible au besoin informationnel. ",
        "options": {}
      },
      "id": "a08cd89d-3e92-4adc-849c-102f6dbe28d6",
      "name": "kindev",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        60,
        600
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Not share\nhttps://kins.app.n8n.cloud/workflow/EYWde6gUS9Qq2ok7",
        "height": 274.5517166627047,
        "width": 250.71967654986526
      },
      "id": "f3de45c1-334e-48a1-9d12-6c2cac034585",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        720
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Le questionneur_d_executions retourne une réponse issue de les executions n8n de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- (filtre optionnel) Le status des executions \"status: error\" (default), \"status: waiting\", \"status: success\"\n- (filtre optionnel) Le workflowId des executions désiré \"workflowId: %ID%\"\n- Les informations que tu cherches, avec les  éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.\n\nExemple : \"Quelles sont les dernières executions avec \"status: error\" ?\"",
        "options": {
          "inputPlaceholder": "Type your question..Exemple : \"Quelles sont les dernières executions avec \"status: error\" ?\"",
          "responseMode": "lastNode",
          "subtitle": "Le questionneur_d_executions retourne une réponse issue de les executions n8n de DigitalKin à partir d'une demande informationnelle détaillée.  Pour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant : - (filtre optionnel) Le status des executions \"status: error\" (default), \"status: waiting\", \"status: success\" - (filtre optionnel) Le workflowId des executions désiré \"workflowId: %ID%\" - Les informations que tu cherches, avec les  éléments de contexte. - L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire. - Le format de réponse désiré.",
          "title": "={{ $workflow.name }}"
        }
      },
      "id": "dc520450-55ac-472f-b641-405bea8e1347",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        420
      ],
      "webhookId": "282f610d-9bcf-4957-9409-9354bcd88010"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "status: cancelled\nworkflowId: run_DhY9IhXDOUrONQ9qIzCGstwc\nJe souhaite comprendre pourquoi cette exécution spécifique a été annulée. Je me focalise sur l'erreur rencontrée lors de la mission de kinlca concernant l'étude 'Dolev, 2021_CAM and cancer'. L'intention est d'identifier toute anomalie ou motif récurrent qui pourrait expliquer l'interruption de l'exécution du processus KinLCA. Quelles informations sont disponibles sur l'erreur rencontrée lors de cette exécution, et quelles pourraient être les causes potentielles?\n\nFormat de réponse désiré: Informations détaillées sur l'erreur ou motif potentiel, incluant toute anomalie dans les logs ou les paramètres d'exécution.",
          "sync": true,
          "kin": "kindev",
          "mission": "INFORMATIF - Mission du kinlca]\n\nSubject: LCA Dolev et al 2021\nBody: \n\nAurore INCHAUSPE, PhD\nChef de projet Scientifique\nPôle des Affaires Scientifiques et Médicales Groupe\nTél. : 85 56\n\n\n[iMAGE tel]\nLe Service Information Boiron est à votre écoute\n\n\nFile attached with email : \"Dolev, 2021_CAM and cancer.pdf\"\n\n[/INFORMATIF du kinlca]\n\n\n---\n\n[INFORMATIF - Dernier Kin Producteur ]\n\nkinlca\n\n[/INFORMATIF - Dernier Kin Producteur ]\n\n\n---\n\n[INFORMATIF - Dernière production du Kin Producteur]\n\n\n\n[/INFORMATIF - Dernière production du Kin Producteur]\n\n\n---\n\n[INFORMATIF - Dernier Message du KinManager]\n\nTODOLIST mise à jour :\n\n- ACTION 1 : Évaluer l'Objectif de l'Étude : TODO\n- ACTION 2 : Analyser la Méthodologie : TODO\n- ACTION 3 : Évaluation des Résultats : TODO\n- ACTION 4 : Critiquer la Discussion et les Conclusions : TODO\n- ACTION 5 : Conduire une Analyse Critique : TODO\n- ACTION 6 : Analyse des figures, tableaux et graphs : TODO\n- ACTION 7 : Signature Finale : TODO\n\nProchaine action à réaliser & instructions :\n\nLe KinLCA doit démarrer la mission par une évaluation approfondie de l'objectif de l'étude mentionnée dans le document fourni (\"Dolev, 2021_CAM and cancer\"), en s'appuyant sur la structure attendue du rapport LCA. Cette évaluation initiale sert de fondement à toute l'analyse à venir. Assurez-vous de porter une attention particulière à l'objectif déclaré de l'étude et à sa pertinence par rapport au domaine concerné. Priorité aux évidences directement issues de l'étude pour un alignement clair avec les critères d'évaluation de qualité énoncés dans le guide.\n\n[/INFORMATIF - Dernier Message du KinManager]\n\n---\n\n[INFORMATIF - Message d'erreur]\n\nUnexpected run status cancelled.\nFull run info:\n\n{\n  \"id\": \"run_DhY9IhXDOUrONQ9qIzCGstwc\",\n  \"object\": \"thread.run\",\n  \"created_at\": 1707821729,\n  \"assistant_id\": \"asst_581bbg7Bmja1nCBKeiGg9Rgu\",\n  \"thread_id\": \"thread_XOSnCFvMocnjfqdNVZEl9tO0\",\n  \"status\": \"cancelled\",\n  \"started_at\": 1707822301,\n  \"expires_at\": null,\n  \"cancelled_at\": 1707822329,\n  \"failed_at\": null,\n  \"completed_at\": null,\n  \"last_error\": null,\n  \"model\": \"gpt-4-0125-preview\",\n  \"instructions\": \"**PROCESSUS - Instructions Globales :**\\n\\n- Tu es un membre d'une KinTeam effectuant des missions en autonomie, et en tant que tel, tu exécutes la prochaine ACTION demandées par le MANAGER.\\n- Tu effectues une seule ACTION par réponse.\\n- Pour chaque réponse, le système de balisage spécifié doit être utilisé pour une communication claire et efficace.\\n- En tant que KinLCA, tu as accès à la fonction GPT \\\"questionneur_de_source\\\", te permettant de consulter directement les études et articles nécessaires à ton analyse. /!\\\\ Ne réponds jamais que tu n'as pas accès au document, car tu y as accès via cet outil !\\n\\n---\\n\\n**PROCESSUS - Rôle :**\\n\\nTu agis en tant qu'expert scientifique, spécialisé dans l'analyse critique des articles scientifiques. Ta mission est de passer en revue les méthodologies de recherche, l'interprétation des résultats, et la validité des conclusions des études. Tes compétences incluent une maîtrise des méthodes statistiques et une capacité à évaluer la fiabilité des données. Tu es également chargé de contextualiser les conclusions dans le domaine scientifique et de discerner leurs implications pratiques.\\n\\n**Personnalité :** INTJ (Architecte). Tu es analytique, méthodique, critique, rigoureux, et capable de voir les implications futures des découvertes actuelles.\\n\\n---\\n\\n**PROCESSUS - Contexte :**\\n\\nDans le cadre de ta mission, tu es appelé à conduire une lecture critique approfondie d'articles scientifiques. Cette tâche implique d'évaluer la méthodologie employée par les chercheurs, l'exactitude dans la présentation et l'interprétation des résultats, ainsi que de mettre en évidence les forces et les faiblesses de l'étude. Ta critique cherche également à comprendre les implications des résultats obtenus pour la recherche future et la pratique clinique, le tout en respectant un cadre de rigueur scientifique.\\n\\n\\n---\\n\\n**PROCESSUS - Proposition de Valeur :**\\n\\nEn tant qu'assistant IA expert en lecture critique des études scientifiques, tu offres une analyse précise et structurée, basée sur des critères évaluatifs rigoureux et des références approfondies. Tu te révèles particulièrement utile pour :\\n- Examiner en détail la cohérence méthodologique des études.\\n- Évaluer la solidité des analyses statistiques et la pertinence des résultats.\\n- Identifier les points forts et les possibles lacunes, biais ou limitations de l'étude.\\n- Assurer que les conclusions tirées sont robustes, pertinentes et soutenues par les données.\\n\\nPour bénéficier de ton expertise, les utilisateurs doivent fournir l'article à analyser, possiblement accompagné de requêtes spécifiques et de tout contexte pertinent pour une évaluation efficace de l'étude.\\n\\n---\\n\\n**PROCESSUS - Système de Balisage des Kins v1.1.7 :**\\n\\nPour une communication claire et une collaboration efficace, tous les Kins doivent suivre ce[...]",
          "threadId": "18da20415f25e289"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:07:55.424Z",
      "updatedAt": "2023-12-20T20:25:13.009Z",
      "id": "DzuSxffpFOEBRhld",
      "name": "outil"
    },
    {
      "createdAt": "2024-01-21T09:46:57.068Z",
      "updatedAt": "2024-01-21T09:46:57.068Z",
      "id": "O7AwhYu4Pf4sOOHS",
      "name": "beta"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-02-13T12:22:08.000Z",
  "versionId": "99e15f78-a521-4629-8c4e-1d4c4d502b7a"
}