workflows/QX - Questionneur d'Executions.json
{
  "active": true,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "List Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Condenseur de code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "code": {
      "main": [
        [
          {
            "node": "Condenseur de code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kindev": {
      "main": [
        [
          {
            "node": "nouveau message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Executions": {
      "main": [
        [
          {
            "node": "Get Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Execution": {
      "main": [
        [
          {
            "node": "kindev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Code": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de production": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message au CTO": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Kin": {
      "ai_tool": [
        [
          {
            "node": "kindev",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-30T10:56:42.445Z",
  "id": "ZTyYwHXmIk6UTURZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "QX - Questionneur d'Executions",
  "nodes": [
    {
      "parameters": {},
      "id": "4cb5650f-dad6-4354-a95a-c6e720323565",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($node[\"entree\"].json.chatInput != null) {\n  return {\"output\": $json.output};\n}\n\nreturn {\"json\":{\"response\": $json.output}};"
      },
      "id": "8f169099-dfc1-4d8d-ae64-c85f7663897c",
      "name": "nouveau message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        580
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $json;\n\nif (!json.missionDemandeur) {\n  json.missionDemandeur = \"Compréhension générale & amélioration\";\n}\n\nif (json.chatInput) {\n  json.query = json.chatInput;\n  json.kinDemandeur = \"Un humain\";\n} else {\n  json.kinDemandeur = json.kin;\n}\n\nif (json.query) {\n  // Trouver le bon Kin\n  if (json.query.match(/kin\\w+/i)) {\n    json.kin = json.query.match(/kin\\w+/i)[0];\n  }\n} else {\n  json.query = \"Je souhaite un résumé général de l'exécution.\";\n}\n\n// Execution Status\nif (json.query.match(/status: \\w+/i)) {\n  json.status = json.query.match(/status: \\w+/i)[0].substring(8);\n} else {\n  json.status = \"error\";\n}\n\n// Workflow \nif (json.query.match(/workflowId: \\w+/i)) {\n  json.workflowId = json.query.match(/workflowId :\\w+/i)[0].substring(12);\n} else {\n  json.workflowId = null;\n}\n\nreturn {\"json\": json};"
      },
      "id": "c48fb0f8-1110-410d-af8e-f75191ed6c9a",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        600
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-0125-preview",
        "options": {
          "timeout": 600000
        }
      },
      "id": "2af4c475-21c5-4c07-8955-20b226755dde",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -140,
        180
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "code",
              "stringValue": "={{ JSON.stringify($node[\"Get Workflow\"].json)}}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "a476f4eb-fce5-4a5b-bbd9-005b87810622",
      "name": "code",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -360,
        -40
      ]
    },
    {
      "parameters": {
        "chunkSize": 20000,
        "chunkOverlap": 2000,
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=# Instructions du condenseur de code\n\nTon objectif est de répondre au mieux au besoin informationnel à partir des textes proposés issus du code d'un Workflow n8n.io (JSON).\nTa réponse doit être la plus détaillée possible.\n\n# Mission Globale\n\n{{ $node[\"entree\"].json.mission }}\n\n# Demande Spécifique (Query)\n\n{{ $node[\"entree\"].json.query }}\n\n# Extraits\n\n\"{text}\"",
              "prompt": "=# Instructions du condenseur de code\n\nTon objectif est de répondre au mieux au besoin informationnel à partir des textes proposés issus du code d'un Workflow n8n.io (JSON).\nTa réponse doit être la plus détaillée possible.\n\n# Mission Globale\n\n{{ $node[\"entree\"].json.mission }}\n\n# Demande Spécifique (Query)\n\n{{ $node[\"entree\"].json.query }}\n\n# Extraits\n\n\"{text}\""
            }
          }
        }
      },
      "id": "9afad53a-34fd-406f-9829-e31c0e8660ef",
      "name": "Condenseur de code",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        -140,
        -40
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assistantId": "asst_KEwBhc34Qsh3dcu2Gu8bgFne",
        "text": "=# Mission Globale\n\n{{ $node[\"entree\"].json.mission }}\n\n# Demande Spécifique (Query)\n\n{{ $node[\"entree\"].json.query }}\n\n# Data de l'Execution #{{ $node[\"Get Execution\"].json.id }} du Workflow n8n {{ $node[\"Get Execution\"].json.workflowData.name }} (ID : {{ $node[\"Get Execution\"].json.workflowData.id }})\n\n{{  JSON.stringify($node[\"Get Execution\"].json).substring(0, 20000) }}{{  JSON.stringify($node[\"Get Execution\"].json).length > 20000 ? \"[...]\" : \"\" }}\n\n# Instruction - Réponse au besoin informationnel\n\nA partir des informations disponibles, formule la meilleure réponse possible au besoin informationnel.",
        "options": {}
      },
      "id": "a08cd89d-3e92-4adc-849c-102f6dbe28d6",
      "name": "kindev",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        60,
        600
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "execution",
        "limit": 1,
        "filters": {
          "workflowId": {
            "__rl": true,
            "value": "={{ $node[\"entree\"].json.workflowId }}",
            "mode": "id"
          },
          "status": "={{ $node[\"entree\"].json.status }}"
        },
        "options": {
          "activeWorkflows": false
        }
      },
      "id": "6048c1d7-bc67-4a25-8c75-cd36e979ce69",
      "name": "List Executions",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -480,
        600
      ],
      "credentials": {
        "n8nApi": {
          "id": "fqjkS9ijdeXvE4BY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "get",
        "executionId": "={{ $json.id }}",
        "options": {
          "activeWorkflows": true
        }
      },
      "id": "a96208fb-11fc-4e25-bb11-ac7330459e30",
      "name": "Get Execution",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -220,
        600
      ],
      "credentials": {
        "n8nApi": {
          "id": "fqjkS9ijdeXvE4BY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Le questionneur_d_executions retourne une réponse issue de les executions n8n de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- (filtre optionnel) Le status des executions \"status: error\" (default), \"status: waiting\", \"status: success\"\n- (filtre optionnel) Le workflowId des executions désiré \"workflowId: %ID%\"\n- Les informations que tu cherches, avec les  éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.\n\nExemple : \"Quelles sont les dernières executions avec \"status: error\" ?\"",
        "options": {
          "inputPlaceholder": "Type your question..Exemple : \"Quelles sont les dernières executions avec \"status: error\" ?\"",
          "responseMode": "lastNode",
          "subtitle": "Le questionneur_d_executions retourne une réponse issue de les executions n8n de DigitalKin à partir d'une demande informationnelle détaillée.  Pour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant : - (filtre optionnel) Le status des executions \"status: error\" (default), \"status: waiting\", \"status: success\" - (filtre optionnel) Le workflowId des executions désiré \"workflowId: %ID%\" - Les informations que tu cherches, avec les  éléments de contexte. - L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire. - Le format de réponse désiré.",
          "title": "={{ $workflow.name }}"
        }
      },
      "id": "dc520450-55ac-472f-b641-405bea8e1347",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        420
      ],
      "webhookId": "282f610d-9bcf-4957-9409-9354bcd88010"
    },
    {
      "parameters": {
        "name": "questionneur_de_code",
        "description": "Le Questionneur de code retourne une réponse issue de la codebase n8n de DigitalKin à partir d'une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- Les informations que tu cherches, avec les mots clés et éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.",
        "workflowId": "kLKx8F1dt8gfkjry",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            }
          ]
        }
      },
      "id": "f0eb4b15-0b70-4310-8752-15b38087a841",
      "name": "Questionneur de Code",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        260,
        840
      ]
    },
    {
      "parameters": {
        "name": "message_au_cto",
        "description": "La fonction message_au_cto envoie le message passé dans \"query\" au CTO de DigitalKin, Nicolas Lester Reynolds.\n\nIl peut être utilisé pour signaler un problème, demander de l'aide ou une modification, demander un déblocage, ou suggérer une amélioration.",
        "workflowId": "NjRYPuz1EgoPxWfP",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "=kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            }
          ]
        }
      },
      "id": "86bf5fed-319e-4692-9269-b129ab252cd2",
      "name": "Message au CTO",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        -20,
        840
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_production",
        "description": "Le questionneur_de_production retourne une réponse issue de la base de données des tâches des Kins\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée, contenant :\n- (optionnel) Le statut des tâches désirées (TODO/DOING/DONE)\n- (filtre optionnel) Le Kin désiré\n- Les informations que tu cherches, avec les  éléments de contexte.\n- L'intention d'usage : où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.",
        "workflowId": "ZTyYwHXmIk6UTURZ",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            }
          ]
        }
      },
      "id": "9f78f389-fd62-4467-9e2e-3ff68e30d94f",
      "name": "Questionneur de production",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        120,
        840
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_kin",
        "description": "La fonction questionneur_de_kin permet de poser à un Kin de l'équipe une question rapide  qui n'est pas en rapport avec une mission spécifique.\n\nPour bien l'utiliser :\n- Mentionne le nom du @Kin,\n- Explique ton contexte et ton intention d'usage,\n- ta question.",
        "workflowId": "m3wfYxyTxFXqib9D",
        "fields": {
          "values": [
            {
              "name": "sync",
              "type": "booleanValue"
            },
            {
              "name": "=kin",
              "stringValue": "={{ $node[\"entree\"].json.kin }}"
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"entree\"].json.mission }}"
            }
          ]
        }
      },
      "id": "dd601638-2966-4e1b-9d13-9ef652744acd",
      "name": "Questionneur de Kin",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        840
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:07:55.424Z",
      "updatedAt": "2023-12-20T20:25:13.009Z",
      "id": "DzuSxffpFOEBRhld",
      "name": "outil"
    },
    {
      "createdAt": "2024-01-21T09:46:57.068Z",
      "updatedAt": "2024-01-21T09:46:57.068Z",
      "id": "O7AwhYu4Pf4sOOHS",
      "name": "beta"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-01-31T07:12:39.000Z",
  "versionId": "a598f0e2-8956-4677-bd92-70b82392b5cf"
}