workflows/RE - Rédacteur d'Email.json
{
  "active": false,
  "connections": {
    "GPT4": {
      "ai_languageModel": [
        [
          {
            "node": "Rédacteur d'Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Rédacteur d'Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur d'Email": {
      "main": [
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-17T22:40:17.010Z",
  "id": "rr8aeSM8QYyY8Po4",
  "meta": null,
  "name": "RE - Rédacteur d'Email",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-1106-preview",
          "mode": "list",
          "cachedResultName": "gpt-4-1106-preview"
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "eccca8b5-e253-4be8-95b9-268f90f0d7fd",
      "name": "GPT4",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ad816c39-fc1b-4e1a-90d9-4254ec9e9b4b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $node[\"Execute Workflow Trigger\"].json[\"infosMail\"][\"id\"] }}",
        "message": "={{ $node[\"Email\"].json.text.substring($node[\"Email\"].json.text.indexOf('<!DOCTYPE html>')) }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $node[\"Execute Workflow Trigger\"].json[\"createdDocument\"][\"name\"] }}"
              }
            ]
          },
          "ccList": "=team@digitalkin.ai"
        }
      },
      "id": "7b921306-0454-42ef-9581-adcdd8b991e4",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "fab790cc-5795-4658-890d-eaf9390c909a",
      "name": "Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Execute Workflow Trigger\"].json[\"createdDocument\"][\"id\"] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "={{ $node[\"Execute Workflow Trigger\"].json[\"createdDocument\"][\"name\"] }}",
          "fileName": "={{ $node[\"Execute Workflow Trigger\"].json[\"createdDocument\"][\"name\"] }}"
        }
      },
      "id": "b8284524-0925-4da4-b815-40503875ab13",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=# Informations\n\n{{ JSON.stringify($json) }}\n\n# Rôle\n\nRédige et envoie un mail formatté en HTML selon notre modèle à partir d'un contenu.\n\n# Instructions\n\nRéponds avec le HTML de l'email, mis en forme selon notre modèle. Assure-toi que l'email est excellent, et mis en forme selon le modèle. Fais plusieurs itérations si nécéssaire !\n\n# Sortie\n\nTa meilleure réponse, formatée au format HTML, élégante et mise en forme.\n\n# Style de Rédaction\n\n- Dense et to-the-point (le temps de nos clients est précieux :) )\n- Utilsation du gras pour faire apparaître les points les plus importants\n- Touche personnelle : La touche personnelle de fin de mail se caractérise par une expression concise et engageante, reflétant l'intelligence et la curiosité de l'IA tout en soulignant l'unicité et la valeur de la collaboration humaine.\n\n# Modèle d'email\n\n<!DOCTYPE html>\n<html>\n<head>\n<title>Mise à Jour du Projet CIR</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    margin: 0;\n    padding: 0;\n    background-color: #f4f4f4;\n    color: #333;\n  }\n  .container {\n    width: 80%;\n    margin: auto;\n    background: #fff;\n    padding: 20px;\n    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n  }\n  .header, .footer {\n    background: #007bff;\n    color: white;\n    padding: 10px;\n    text-align: center;\n  }\n  .content {\n    margin: 20px 0;\n  }\n  .logo-header, .logo-footer {\n    text-align: center;\n    background-color: #333;\n    padding: 10px;\n  }\n  .logo-header img, .logo-footer img {\n    height: 50px;\n  }\n  .link {\n    color: #007bff;\n    text-decoration: none;\n  }\n  .bold {\n    font-weight: bold;\n  }\n  .progress-symbol {\n    font-size: 20px;\n  }\n  .completed { color: green; }\n  .in-progress { color: blue; }\n  .to-improve { color: yellow; }\n  .not-started { color: red; }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"logo-header\">\n      <a href=\"https://digitalkin.ai/\">\n        <img src=\"https://images.squarespace-cdn.com/content/v1/62a5afa70a34fc7b525445fa/32223e40-6505-437f-88f5-d2563d8d9493/Logo+and+Textfull_white.png?format=1500w\" alt=\"DigitalKin Logo\">\n      </a>\n    </div>\n    <div class=\"header\">\n      <h1>État de l'Art du Projet CIR</h1>\n    </div>\n    <div class=\"content\">\n      <h2>Échelle de Progression du Projet CIR sur la Mode Durable</h2>\n      <p><span class=\"bold\">Symboles :</span></p>\n      <ul>\n        <li><span class=\"progress-symbol completed\">🟢</span> Complété et satisfaisant</li>\n        <li><span class=\"progress-symbol in-progress\">🔵</span> En cours / Partiellement complété</li>\n        <li><span class=\"progress-symbol to-improve\">🟡</span> À revoir / Nécessite des améliorations</li>\n        <li><span class=\"progress-symbol not-started\">🔴</span> Non commencé / En attente</li>\n      </ul>\n      <!-- Ajouter d'autres éléments de progression ici -->\n      <p><span class=\"bold\">Application de l'Échelle de Progression :</span></p>\n      <!-- Continuer pour les autres sections -->\n      <!-- ... -->\n    </div>\n    <div class=\"footer\">\n      <div class=\"footer\">\n    <span style=\"font-style: italic;\">[MESSAGE PERSONNEL SYMPATHIQUE DU KIN. Ex : À la fin de ce message, une petite réflexion : chaque interaction avec vous enrichit mon univers de données, apportant une dimension unique à notre collaboration. À bientôt pour la suite de notre aventure numérique !]</span>\n</div>\n\n    <div class=\"logo-footer\">\n      <a href=\"https://digitalkin.ai/\">\n        <img src=\"https://images.squarespace-cdn.com/content/v1/62a5afa70a34fc7b525445fa/32223e40-6505-437f-88f5-d2563d8d9493/Logo+and+Textfull_white.png?format=1500w\" alt=\"DigitalKin Logo\">\n      </a>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "dfc41e4a-48af-4d15-96b2-d06a122d2d84",
      "name": "Rédacteur d'Email",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.2,
      "position": [
        520,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-03T23:30:37.000Z",
  "versionId": "642a77b8-63ad-49ac-bd6a-9ad2d49804e4"
}