workflows/rescritCIR v1.0 (PROD).json
{
  "active": true,
  "connections": {
    "CHERCHEUR SCIENTIFIQUE": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Acquéreur de Citations": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur d'Etudes": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de Documents": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rédacteur de Document": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ScratchPad": {
      "ai_tool": [
        [
          {
            "node": "Rédacteur de Programme R&D",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escape Markdown": {
      "main": [
        [
          {
            "node": "Envoi de notification Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nico reçoit un email": {
      "main": [
        [
          {
            "node": "IF est une commande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF est une commande": {
      "main": [
        [
          {
            "node": "Get existing document (init)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data": {
      "main": [
        [
          {
            "node": "Update Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data1": {
      "main": [
        [
          {
            "node": "thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "thread": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sortie": {
      "main": [
        [
          {
            "node": "Convert to/from binary data",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF MISSION ACCOMPLIE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree email": {
      "main": [
        [
          {
            "node": "Rédacteur d'Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing document": {
      "main": [
        [
          {
            "node": "Get Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Document n'existe pas": {
      "main": [
        [
          {
            "node": "Get InitEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF MISSION ACCOMPLIE": {
      "main": [
        [
          {
            "node": "entree email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data2": {
      "main": [
        [
          {
            "node": "Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mission": {
      "main": [
        [
          {
            "node": "Get Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "missionInit": {
      "main": [
        [
          {
            "node": "Convert to/from binary data2",
            "type": "main",
            "index": 0
          },
          {
            "node": "mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "main": [
        [
          {
            "node": "Get existing document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get InitEmail": {
      "main": [
        [
          {
            "node": "missionInit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get InitEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document": {
      "main": [
        [
          {
            "node": "Convert to/from binary data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing document (init)": {
      "main": [
        [
          {
            "node": "IF Document n'existe pas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Escape Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "sortie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-04T09:01:58.335Z",
  "id": "KQiqbfxmbpqOIIi2",
  "meta": null,
  "name": "rescritCIR v1.0 (PROD)",
  "nodes": [
    {
      "parameters": {
        "name": "redacteur_de_document",
        "description": "Rédige une version améliorée d'un passage du document demandé à partir d'une demande détaillée",
        "workflowId": "0T67aHjuqQEnrTN0",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"thread\"].json) }}"
            }
          ]
        }
      },
      "id": "a392b981-4d4b-47ae-a919-5981bb401bd5",
      "name": "Rédacteur de Document",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4620,
        760
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "questionneur_de_documents",
        "description": "Donne une réponse précise issue du document demandé à partir d'un besoin informationnel.",
        "workflowId": "ebLHEt0swZVT9tks",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"thread\"].json) }}"
            }
          ]
        }
      },
      "id": "0322290b-c1e2-493f-827b-933ceb126e00",
      "name": "Questionneur de Documents",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4460,
        760
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "scratchpad",
        "description": "Crée une copie temporaire de toi même, sans les accès aux fonctions, afin de pouvoir répondre aux demandes de génération textuelles et de reflexion (exemples : prendre le temps de rédiger, faire plusieurs itérations pour améliorer un texte, etc.), à partir d'une demande précise et détaillée donnée en entrée.",
        "workflowId": "wTbd0CgnGrumh0qf",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"thread\"].json) }}"
            }
          ]
        }
      },
      "id": "9851a274-9161-4d1b-9a68-608d450e43df",
      "name": "ScratchPad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4740,
        760
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# OUTILS STANDARD",
        "height": 224.32004875594802,
        "width": 447.22204993824914
      },
      "id": "c1b30c20-aa37-4331-86fc-fc452d3c9f22",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4420,
        680
      ]
    },
    {
      "parameters": {
        "name": "questionneur_d_etudes",
        "description": "Le Questionneur d'études retourne une réponse issue d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle détaillée.\n\nPour bien l'utiliser, il faut rédiger un paragraphe de demande détaillée en Anglais, contenant :\n- Les informations que tu cherche, avec les mots clés et éléments de contexte.\n- L'intention d'usage :où tu en es dans les instructions et ce que tu souhaites faire.\n- Le format de réponse désiré.\n",
        "workflowId": "yQ79P9nuVKhkwZpD",
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ JSON.stringify($node[\"mission\"].json.mission) }}"
            }
          ]
        }
      },
      "id": "c5ebcaa5-4e90-4bdb-905f-ef98ded033cc",
      "name": "Questionneur d'Etudes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4180,
        880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "acquereur_de_citations",
        "description": "Retourne des citations précises issues d'études pertinentes à partir d'un objectif à démontrer ou une demande informationnelle.",
        "workflowId": "It2FPpnGNxaxojxY",
        "fields": {
          "values": [
            {
              "name": "thread",
              "stringValue": "={{ $node[\"thread\"].json.thread }} "
            },
            {
              "name": "mission",
              "stringValue": "={{ $node[\"mission\"].json.mission }}"
            }
          ]
        }
      },
      "id": "73aa4a69-0acc-4f79-bb98-a772aaf7a8c1",
      "name": "Acquéreur de Citations",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        4020,
        860
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# OUTILS SPECIFIQUES",
        "height": 413.4919569863578,
        "width": 468.47826732357714
      },
      "id": "338ad49e-7088-4102-a466-e58f947e4c50",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3920,
        680
      ]
    },
    {
      "parameters": {
        "content": "# COLLABORATEURS",
        "height": 224.32004875594802,
        "width": 355.66820106337036
      },
      "id": "4bd77f36-87f7-48d8-bc35-0b441498e7b0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3540,
        680
      ]
    },
    {
      "parameters": {
        "name": "chercheur_scientifique",
        "description": "Donne une réponse précise issues d'études pertinentes à partir d'une demande informationnelle.",
        "workflowId": "f4z3JUKhsFgmKRgZ",
        "responsePropertyName": "message",
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ JSON.stringify($node[\"thread\"].json) }}"
            }
          ]
        }
      },
      "id": "90dfc6e8-6ef6-49ed-8a53-922b3b99a6ff",
      "name": "CHERCHEUR SCIENTIFIQUE",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        3740,
        760
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Accès DB Etudes",
        "height": 272.5167132732499,
        "width": 391.3636040958942
      },
      "id": "83d77815-0625-4ba9-bb1c-febc9a932005",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3960,
        780
      ]
    },
    {
      "parameters": {
        "chatId": "=-1002105587743",
        "text": "={{ $json.escapedText.substring($json.escapedText.length - 4000) }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "512c2aa8-9635-45f4-8438-d77ae067ac20",
      "name": "Envoi de notification Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4980,
        -60
      ],
      "credentials": {
        "telegramApi": {
          "id": "lCt7ijUIUZl2RYIR",
          "name": "KinCIR Dynergie"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function escapeMarkdownV2(text) {\n    return text.replace(/[_*\\[\\]()~`>#\\+=\\-{}\\.!|]/g, match => '\\\\' + match)\n               .replace(/(\\n```)([a-z]*\\n[\\s\\S]+?\\n```)/g, (match, p1, p2) => p1.replace('\\n', '') + p2);\n}\n\nlet originalText = '';\nif ($json.output != null) {\n  originalText = $json.output;\n} else {\n  originalText = $json.text;\n}\n\nconst escapedText = escapeMarkdownV2(originalText);\n\nreturn {\"json\":{\"escapedText\":escapedText}};\n"
      },
      "id": "82dfe884-2b09-4ad9-bd7d-9638ad31e06e",
      "name": "Escape Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        -60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 3,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "id": "c4621011-170b-4137-a186-cb5f770b163a",
      "name": "Nico reçoit un email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        2360,
        -240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.To.toLowerCase() }}",
              "operation": "contains",
              "value2": "rescritcir@digitalkin.ai"
            },
            {
              "value1": "={{ $json.From }}",
              "operation": "notContains",
              "value2": "l.reynolds@digitalkin.ai"
            }
          ]
        }
      },
      "id": "7805e0e9-0a54-4334-9a1b-3803cfe6fa34",
      "name": "IF est une commande",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2600,
        -240
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "thread",
        "destinationKey": "thread",
        "options": {
          "fileName": "kinCIR.md",
          "mimeType": "text/markdown",
          "useRawData": true
        }
      },
      "id": "5cce7c8d-afe4-477c-acee-2beb61da45bc",
      "name": "Convert to/from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        4980,
        140
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Get existing document\"].json.id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "thread",
        "options": {}
      },
      "id": "02758d93-4963-4183-b5cd-b90aa477a8f5",
      "name": "Update Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5200,
        140
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "590de38b-79d0-45bb-b9cc-ac993be5b847",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2380,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": "rr8aeSM8QYyY8Po4"
      },
      "id": "fa91af8c-009a-4390-978c-45916862bae7",
      "name": "Rédacteur d'Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5420,
        320
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "thread",
        "destinationKey": "thread",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "fc785107-768b-486e-8531-c42b7334ad8c",
      "name": "Convert to/from binary data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        3980,
        140
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_K25pMgsChtj1PKEenv0pM8LZ",
        "text": "=\n# CONVERSATION\n\n{{ $json.thread }}",
        "nativeTools": [
          "code_interpreter",
          "retrieval"
        ],
        "options": {}
      },
      "id": "423ad70b-1176-4b38-9793-4bf05b5efe91",
      "name": "Rédacteur de Programme R&D",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        4400,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let entireThread = $json.thread;\nlet thread = $json.thread;\nlet instructions = $node[\"mission\"].json.instructions;\nconst MAX_LENGTH = 24500;\n\nif (thread.length > MAX_LENGTH) {\n    thread = \"[...]\" + thread.substring(thread.length - MAX_LENGTH);\n    remainingThread = entireThread.substring(0, entireThread.length - MAX_LENGTH);\n} else {\n    remainingThread = \"\"; // Aucun contenu restant si la longueur du fil est inférieure à MAX_LENGTH\n}\n\nreturn {\"thread\": thread, \"entireThread\": entireThread, \"remainingThread\": remainingThread, \"instructions\": instructions};"
      },
      "id": "5692a76e-3208-4e93-b8ba-71e76bfbd446",
      "name": "thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let sortie = $node[\"thread\"].json.entireThread.replace(/^([\"]+)|([\"]+)$/g, '');\nlet output = $json.output?$json.output:$json.text;\nlet instructions = '';\n\n// Enlever toutes les lignes qui contiennent les instructions\nsortie = sortie.replace(/.*Prochaine étape.*$/gmi, '');\nsortie = sortie.replace(/.*Étape suivante.*$/gmi, '');\nsortie = sortie.replace(/^.*niveau de boucle.*$/gmi, '');\nsortie = sortie.replace(/``.*``/gmi, '');\n\n\nsortie += '\\n\\n' + output.replace(/^([\"]+)|([\"]+)$/g, ''); \ninstructions = output.match(/``.*``/gmi, '');\ninstructions = instructions ? instructions.join('\\n') : '';\n\n// Failsafe TODOLIST\nif (instructions == '') {\n  var cleanOutput = output.replace(/`/g, \"\");\n  \n  // Trouver la dernière occurrence de \"TODOLIST\"\n  var lastIndex =  cleanOutput.lastIndexOf(\"TODOLIST\");\n\n    // Si \"TODOLIST\" n'est pas trouvé, renvoyer une chaîne vide\n    if (lastIndex !== -1) {\n        // Extraire et retourner le texte après la dernière occurrence de \"TODOLIST\"\n        instructions =  cleanOutput.substring(lastIndex + \"TODOLIST\".length);\n        instrcutions = \"``\" + instructions + \"``\";\n    } \n}\n\n// Failsafe Étape\nif (instructions == '') {\n  var cleanOutput = output.replace(/`/g, \"\");\n  \n  // Trouver la dernière occurrence de \"TODOLIST\"\n  var lastIndex =  cleanOutput.lastIndexOf(\"Étape\");\n\n    // Si \"TODOLIST\" n'est pas trouvé, renvoyer une chaîne vide\n    if (lastIndex !== -1) {\n        // Extraire et retourner le texte après la dernière occurrence de \"TODOLIST\"\n        instructions =  cleanOutput.substring(lastIndex + \"TODOLIST\".length);\n        instrcutions = \"``\" + instructions + \"``\";\n    } \n}\n\n// Corriger le \\n\nsortie = sortie.replace('\\n', '\\r\\n');\n\nreturn {\"mission\": $node[\"mission\"].json.mission,\"thread\":sortie, \"instructions\" : instructions, \"mailId\": $node[\"Get Email\"].json.id};"
      },
      "id": "26e08663-a1b3-437e-9cdb-ea9296a0cdaf",
      "name": "sortie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "=# MISSION GLOBALE\n\n{{ $json.snippet }}"
            },
            {
              "name": "thread",
              "stringValue": "={{ $json.thread }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "a437fa26-e645-415e-b5e2-e0c614e55833",
      "name": "mission1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3000,
        1080
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "=# MISSION GLOBALE\n\n{{ $json.snippet }}"
            },
            {
              "name": "thread",
              "stringValue": "={{ $json.thread }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "ffa3d919-94d9-4758-a6c7-f43ac1c6c095",
      "name": "mission2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3180,
        1080
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "=# MISSION GLOBALE\n\n{{ $json.snippet }}"
            },
            {
              "name": "thread",
              "stringValue": "={{ $json.thread }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "11bbd430-3d50-4c44-b9cf-d2f50b666771",
      "name": "mission3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2800,
        1080
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let infosMail = $node[\"Get Email\"].json;\nlet createdDocument = $node[\"Get existing document\"].json;\nlet sortie = $node[\"sortie\"].json;\n\n\nreturn {\n  \"infosMail\": infosMail,\n  \"createdDocument\": createdDocument,\n  \"sortie\": sortie\n};"
      },
      "id": "fc5b9ab7-1859-42d4-9096-a7f4d6ffa54d",
      "name": "entree email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "=# MISSION GLOBALE\n\n{{ $json.text }}"
            },
            {
              "name": "titre",
              "stringValue": "={{ $json.subject.replace(/[\\\\/:*?\"<>|\\x00-\\x1F]/g, '-') }}"
            },
            {
              "name": "thread",
              "stringValue": "Accomplis la mission. Continue à partir de l'étape à réaliser."
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "cc6396d1-ae64-4f0a-83bd-58011ab74914",
      "name": "mission4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2620,
        1080
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "=properties has { key='mailId' and value='{{ $json.id }}' }",
        "limit": 1,
        "options": {}
      },
      "name": "Get existing document",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3540,
        140
      ],
      "typeVersion": 1,
      "id": "0b3e4948-0598-432b-a82c-0ac70326f8fe",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json).length === 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ba22346c-f1eb-43fa-9990-1d15912da033",
      "name": "IF Document n'existe pas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3080,
        -240
      ]
    },
    {
      "parameters": {
        "workflowId": "KQiqbfxmbpqOIIi2"
      },
      "id": "b1c3dde3-b7ac-4871-b477-84381fd188fc",
      "name": "Loop",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5200,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"sortie\"].json.thread.toLowerCase() }}",
              "operation": "contains",
              "value2": "[mission accomplie]"
            }
          ]
        }
      },
      "id": "acf3ff93-9e44-45f2-8840-636d79744ae4",
      "name": "IF MISSION ACCOMPLIE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4980,
        340
      ]
    },
    {
      "parameters": {},
      "id": "6a7e37f6-0088-4fe2-9724-a17ae3c09675",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2840,
        140
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "instructions",
        "destinationKey": "instructions",
        "options": {
          "fileName": "={{ $json.titre }}.md",
          "mimeType": "text/markdown",
          "useRawData": true
        }
      },
      "id": "7219520f-31a2-43db-adc5-c5a23e5501b0",
      "name": "Convert to/from binary data2",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        3080,
        -40
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "instructions",
        "name": "={{ $node[\"missionInit\"].json.titre.replace(/[\\\\/:*?\"<>|\\x00-\\x1F]/g, '-') }}_{{ new Intl.DateTimeFormat('fr-FR', { dateStyle: 'full', timeStyle: 'long' }).format($now) }}.md",
        "parents": [
          "1PFOpdripUGox5KdYPQUbw7MxIA5C9a0F"
        ],
        "options": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "mailId",
                "value": "={{ $json.mailId?$json.mailId:$node[\"Nico reçoit un email\"].json.id }}"
              }
            ]
          }
        }
      },
      "name": "Create Document",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3300,
        -40
      ],
      "typeVersion": 1,
      "id": "a721ea06-6aed-4c0e-b82d-10d7dfb7f796",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ $json.mission }}"
            },
            {
              "name": "instructions",
              "stringValue": "={{ $json.instructions }}"
            },
            {
              "name": "mailId",
              "stringValue": "={{ $json.mailId }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "874d6963-388a-4f97-bc70-5d01df80b373",
      "name": "mission",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3080,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mission",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "titre",
              "stringValue": "={{ $json.subject.replace(/[\\\\/:*?\"<>|\\x00-\\x1F]/g, '-') }}"
            },
            {
              "name": "instructions",
              "stringValue": "=``Accomplis la mission à partir du début.``"
            },
            {
              "name": "mailId",
              "stringValue": "={{ $json.mailId?$json.mailId:$node[\"Nico reçoit un email\"].json.id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1fb563ca-46e9-4718-b2a0-e5ca1043241e",
      "name": "missionInit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2840,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.mailId }}",
        "simple": false,
        "options": {}
      },
      "id": "de6b372d-a2e5-49fa-aa8f-44c9cf9cf25a",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3300,
        140
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.mailId?$json.mailId:$node[\"Nico reçoit un email\"].json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "d866279b-f78a-4ec4-bc3a-52224f3372a4",
      "name": "Get InitEmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2600,
        -40
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "iPrbr6qZiWHu93N9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Get existing document\"].json.id }}",
          "mode": "id"
        },
        "binaryPropertyName": "thread",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/rtf"
            }
          }
        }
      },
      "name": "Get Document",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3760,
        140
      ],
      "typeVersion": 1,
      "id": "aaeda673-7a71-4ac5-ae93-168907ff040d",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "=properties has { key='mailId' and value='{{ $json.id }}' }",
        "limit": 1,
        "options": {}
      },
      "name": "Get existing document (init)",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2840,
        -240
      ],
      "typeVersion": 1,
      "id": "5b3e1cb9-be9e-4fda-9dfe-00fd7aa3be4a",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4-1106-preview",
        "options": {
          "timeout": 600000
        }
      },
      "id": "e77f2205-ff8b-4163-a3fb-eee4e5790db1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4400,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "Accomplis la prochaine étape de la mission.",
        "messages": {
          "messageValues": [
            {
              "message": "=# MISSION GLOBALE\n\n{{ $node[\"mission\"].json.mission }}\n\n# CONTEXTE DE L’ENTREPRISE\nL’ENTREPRISE dont on parle\n\nLe CONTEXTE (ce dont on parle) : \n\nOBJECTIVE GLOBAL DE L’ENTREPRISE (ce que l’entreprise cherche à changer dans le monde)\nExemple : Augmenter la part de mode durable\n\n# CONTEXTE DES RECHERCHES\n\nPRINCIPALE QUESTION DE RECHERCHE (La question dont la réponse permet d’atteindre l’objectif de recherche :\nExemple : Comment influencer la consommation et la production d'articles de mode responsable et éthique. \n\nPRINCIPAL OBJECTIF DE RECHERCHE (Ce que les travaux de R&D cherchent à rendre possible, et qui contribuera à l’objectif global) : \nExemple : Parvenir à influencer la consommation et la production d’articles de mode responsable et éthique. \n\n# STRUCTURE DE L’INFORMATION\n\nOBJECTIF DE RECHERCHE / QUESTION DE RECHERCHE\nUne QUESTION DE RECHERCHE correspond à un OBJECTIF DE RECHERCHE : répondre à la QUESTION DE RECHERCHE permet d’atteindre l’OBJECTIF DE RECHERCHE. Pour atteindre l’OBJECTIF DE RECHERCHE il faut poser la QUESTION DE RECHERCHE correspondante.\n\nTHÉMATIQUE DE RECHERCHE / OBJECTIF DE RECHERCHE \nUne THÉMATIQUE DE RECHERCHE contribue à répondre à une QUESTION DE RECHERCHE, de sorte à se rapprocher d’un OBJECTIF DE RECHERCHE. Une THÉMATIQUE DE RECHERCHE peut contribuer à répondre à plusieurs QUESTION DE RECHERCHE, et donc à l’atteinte de plusieurs OBJECTIF DE RECHERCHE\n\nDOMAINE SCIENTIFIQUE / THÉMATIQUE DE RECHERCHE :\nUne THÉMATIQUE DE RECHERCHE peut s’appuyer sur plusieurs domaines scientifiques pour atteindre ses OBJECTIFS DE RECHERCHE. Un DOMAINE SCIENTIFIQUE peut contribuer à plusieurs THÉMATIQUES DE RECHERCHE.\n\nUne THÉMATIQUE DE RECHERCHE : \n- Pose des QUESTIONS DE RECHERCHE\n- Vise à atteindre des OBJECTIFS DE RECHERCHE\n- Mobilise différents DOMAINES SCIENTIFIQUES\n- Cherche à lever des VERROUS TECHNOLOGIQUES\n- Cherche à comprendre des INCERTITUDES SCIENTIFIQUES\n- Regroupe des TRAVAUX DE RECHERCHE\n\nDOMAINE SCIENTIFIQUE\nLes connaissances et capacités d'un DOMAINE SCIENTIFIQUE sont décrites par son ÉTAT DE L’ART, qui regroupe CE QUE L’ON SAIT et CE QUE L’ON SAIT FAIRE dans le DOMAINE SCIENTIFIQUE. \n\nTRAVAUX DE RECHERCHE / THÉMATIQUE DE RECHERCHE\nDes TRAVAUX DE RECHERCHE s’inscrivent dans une THÉMATIQUE DE RECHERCHE. Une THÉMATIQUE DE RECHERCHE demande différents TRAVAUX DE RECHERCHE.\n\nVERROUS TECHNOLOGIQUE / THÉMATIQUE DE RECHERCHE\nUne THÉMATIQUE DE RECHERCHE cherche à solutionner des VERROUS TECHNOLOGIQUES. Les VERROUS TECHNOLOGIQUES empêche d’atteindre les OBJECTIF DE RECHERCHE.\n\nINCERTITUDES SCIENTIFIQUES / THÉMATIQUE DE RECHERCHE\nUne THÉMATIQUE DE RECHERCHE cherche à comprendre des INCERTITUDES SCIENTIFIQUES. Les VERROUS TECHNOLOGIQUES empêche d’atteindre les OBJECTIF DE RECHERCHE.\n\n# STYLE DE REDACTION\nQuand tu rédiges, tu insères habilement des extraits des articles scientifiques, toujours entre guillemets, et en citant ta source conformément aux bonnes pratique de citation en rédaction scientifique . Tu n'utilises pas non plus de liens dynamique. Tu considères que le support de ton texte sera du papier.\n\nTu utilises les bonnes pratiques de citations scientifique courte : (nom auteur principal, année de publication). Exemple : (Yan et al., 2020) ou Yan et al., (2020)\n\nTu ne cites jamais le nom du fichier, ni le nombre de références.\n\n# INSTRUCTIONS\n\nInstructions globales :\n- Si tu souhaites écrire des informations qui ne seront pas dans le document final (type instructions, réflexions, notes), ajoute les toujours entre deux paires de backticks (``).\n- Une seule étape à la fois : attends avant de continuer.\n\n1) Rédaction de la partie Présentation du programme de R&D :\n- Affiche le  titre  \"# Présentation du programme de R&D\"\n- Affiche  le sous titre  \"## Présentation de l'entreprise\" + le nom de l'entreprise\n- Rédige en texte une brève présentation de l'entreprise, de son but, et de ses activités. \n- Affiche \"``Étape Suivante : 2) Rédaction de la partie Contexte scientifique et économique``\".\n\n2) Rédaction de la partie Contexte scientifique et économique :\n- Affiche le titre : \"## Contexte scientifique et économique\" + le SUJET\n- Rédige une introduction sur le SUJET dont parlent les recherches, en soulignant les besoins d'évolutions vers l'objectif de recherche, les enjeux si nous ne parvenons pas à atteindre ces objectifs. Introduit également les éléments bloquants dans la situation actuelle qui font que l'objectif n'est pas du tout atteint à ce jour.\n- Donne ensuite des exemples de démarches similaires entreprises par d'autres acteurs.\n- Conclus en espérant que les travaux pourront servir à faire évoluer la situation.\n- Affiche \"``Étape Suivante : 3) Choix des thématiques de recherche``\".\n\n3) Choix des thématiques de recherche :\n- Affiche le titre \"## Présentation des thématiques de recherche\"\n- Utilise les informations dont tu dispose sur l'entreprise et tes connaissances pour choisir 3 thématiques de recherche \"A\", \"B\", et \"C\" appropriées pour l'entreprise (La réduction des cots ne peut pas faire directement l'objet d'une thématique de recherche).\n- Affiche \"``Étape Suivante : 4) Précisions sur les 3 thématiques de recherche``\".\n\n4) Précisions sur les 3 thématiques de recherche :\n- Pour chacune des THEMATIQUES DE RECHERCHE, liste 3 DOMAINES SCIENTIFIQUES qu'elle mobilise. \n- Pour chaque DOMAINE SCIENTIFIQUE  mobilisé pour la THEMATIQUE DE RECHERCHE, détermine :\n   - [APPORTS ATTENDUS]  du domaine sur la thématique et spécifiquement ce qui l'apportera\n   - [IMPORTANCE] de ces apports pour l'avancement de la thématique.\n   - [EXISTANTS] en termes de capacités et connaissances du domaine nécessaire pour  l'avancement de la thématique. Liste au moins 3 existants.\n   - [VERROUS] en termes de capacités et connaissances manquantes pour permettre l'atteinte de l'objectif de la thématique.\n   - [STATUT] : \"BLOQUANT, TRAVAUX R&D NÉCESSAIRES\" si les objectifs sont impossibles à atteindre avec l'existant ou \"EXISTANT SUFFISANT\", si l'existant permet déjà les apports attendus.\n   - [PÉRIMÈTRE] : \"RÉALISABLE EN INTERNE\" si ce domaine scientifique peut entrer dans le PÉRIMÈTRE DES RECHERCHES DE L’ENTREPRISE .\n-> Sois spécifique et précise des détails. Il peut y avoir plusieurs points par élément. Procède étape par étape.\n- Pour chacune des thématiques de recherche, présente ensuite en un petit texte  :\n   - Son nom, ses objectifs de recherche, ses questions de recherche, les domaines scientifiques qu'elle mobilise pour atteindre ses objectifs, avec pour chacun de ses domaines :\n      - les apports attendus, les existants et  les verrous.\n- Affiche le titre :  \"## État de l'art\",\n- Affiche \"``Étape Suivante : 5) Tableau de la Thématique A``\".\n\n5) Réalisation du Tableau de la thématique demandée:\n- Affiche le titre  ### Etat de l'art sur la thématique [A/B/C] - Nom de la Thématique\n- Génère un tableau structuré en markdown, avec les domaines scientifiques numérotés listés en lignes, et la première thématique de recherche en colonne, précédés de \"Thématique : \", suivie d'une colonne \"Besoin de R&D Interne ?\".\n- Dans chaque case du tableau, à partir des informations sur le domaine pour la thématique,  insère les apports attendus du domaine pour la thématique, l'importance de ces apports, les existants déjà disponibles, les verrous restant à lever, et l'intégralité du statut.\n- Si le statut est \"BLOQUANT, TRAVAUX R&D NÉCESSAIRES\", et que le périmètre est \"RÉALISABLE EN INTERNE\" insère dans la case suivante de la ligne, \"Travaux de R&D prévus\". Dans les autres cas, insère dans la case suivante de la ligne,  \"Pas de travaux R&D prévus\".\n- Affiche \"``Étape Suivante : 6) Thématique demandée : [A/B/C] - Nom de la Thématique, domaine 1``\".\n\n6) Rédaction de l'état de l'art de la thématique & domaine demandé:\n- Affiche le titre  #### Etat de l'art sur la thématique [A/B/C] - Nom de la Thématique, domaine n° NUMDOMAINE - Nom du domaine.\n-  En te basant sur l'ensemble des informations disponibles, rédige un texte d'au moins 500 mots pour expliquer en quoi l'atteinte des OBJECTIFS de recherche et n'est pas possible sans travaux de recherches dans le DOMAINE, en listant et décrivant spécifiquement les savoirs et des capacités utiles et déjà l'existant du DOMAINE. Traite indépendamment chaque existant, et pour chaque existant, utilise les verrous et incertitudes correspondants pour faire apparaitre les limites de l'existant, au regarde l'atteinte des objectifs. Focalise sur l'existant, les verrous et les incertitudes. Utilise les bonnes pratiques de la rédaction scientifique, et des citations. Rédige à le première personne du plusieurs, \"nous\", et favorise les études postérieures à 2015 pour tes citations. Donne des détails.\n- Affiche \"``Etape complétée : Etat de l'art sur la thématique [A/B/C] - Nom de la Thématique, domaine n° NUMDOMAINE - Nom du domaine.``\"\n- Affiche \"``Étape Suivante : 7) Choix de la prochaine étape``\".\n\n7) Choix de la prochaine étape:\n- Les étapes sont, dans l'ordre:\n\t- Tableau Thématique A,\n\t- Etat de l'art de Thématique A domaine 1,\n\t- Etat de l'art de Thématique A domaine 2,\n\t- Etat de l'art de Thématique A domaine 3,\n\t- Tableau Thématique B,\n\t- Etat de l'art de Thématique B domaine 1,\n\t- Etat de l'art de Thématique B domaine 2,\n\t- Etat de l'art de Thématique B domaine 3,\n\t- Tableau Thématique C,\n\t- Etat de l'art de Thématique C domaine 1,\n\t- Etat de l'art de Thématique C domaine 2,\n\t- Etat de l'art de Thématique C domaine 3.\n\t- Etape 8.\n- A partir des informations données, affiche seulement la prochaine étape à réaliser entre deux paires de backticks (``).\n\n\n8) (seulement une fois les 9 états de l'art écrits) Incertitudes et verrous scientifiques et techniques :\n- Affiche le titre : \"## Incertitudes et verrous scientifiques et techniques\" \n- Par thématique, liste les capacités nécessaires à l'atteinte des objectifs, mais rendues impossible par l'existence de verrous ou de manque de connaissances scientifiques.\n- Pour chaque capacité indisponible, liste les verrous spécifiques et les manques spécifiques de connaissances qui la rende indisponible. - Supprime les titres qui parlent de thématique dans le résultat.\n- Reformule les titres des capacités en commençant soit par \"De la complexité à\" + verbe ou \"De la complexité de\" + nom. Conserve les verrous et manques de connaissances associés.\n\nPour chacune des complexités :\n- Affiche le titre : ### Nom de la complexité\n- Explique en quoi consiste la complexité implique des incertitudes sur la capacité à atteindre les objectifs de recherche. Développe ensuite les incertitudes résultantes de chacun des verrous ou manques associés.  Souligne bien le rapport entre le sujet de complexité, les objectifs de recherche qui pourraient ne pas pouvoir etre atteint, et les effets d'une compréhension insuffisante pour les activités de l'entreprise. Parle à la première personne du pluriel, \"nous\".\n- Affiche \"``Étape Suivante : 9)``\".\n\n9) - Affiche le titre  \"## Travaux de R&D pour lever les verrous et incertitudes\"\n- Regroupe transversalement les manques de connaissances, les incertitudes et les verrous, puis, pour chacun de ces éléments, propose des travaux de recherche qui permettraient de lever les verrous, les incertitudes ou d'acquérir les connaissances. Donne quelques précisions sur le but des travaux.\n- Regroupe et organise ces travaux en workpackages (WP).\n- Affiche \"``Étape Suivante : 10)``\".\n\n10) - Affiche le titre  \"## Bibliographie\" \n- Rédige une bibliographie avec les références détaillées de toutes les citations que tu as utilisées depuis le début. Respecte les bonnes pratiques de bibliographie scientifique.\n- Si la bibliographie est complète, affiche \"``[MISSION ACCOMPLIE]``\"."
            },
            {
              "type": "AIMessagePromptTemplate",
              "message": "={{ $json.remainingThread }}\n"
            },
            {
              "type": "AIMessagePromptTemplate",
              "message": "={{ $json.thread }}"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.instructions }}"
            }
          ]
        }
      },
      "id": "097c3d45-be31-41ce-abde-1992bbf88e4f",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.2,
      "position": [
        4380,
        -320
      ]
    }
  ],
  "pinData": {
    "When clicking \"Execute Workflow\"": [
      {
        "json": {
          "snippet": "# Mission L’entreprise DurableFashion est spécialisée dans la MODE DURABLE ET ÉTHIQUE. Activité : Elle identifie et certifie des fabricants d’articles de mode durable et éthique, fait la promotion de leurs articles soulignant l’aspect durable et éthique, et commercialise leurs articles via internet et ses boutiques. Le but de l’entreprise est d’augmenter la part de mode durable et éthique dans la mode. Le principal objectif de recherche est de parvenir à influencer la consommation, et la production, d’articles de mode responsable et éthique. Les objectifs de recherche sont : Parvenir à influencer les consommateurs à réaliser des achats de vêtements provenant de marques responsables et éthiques. Parvenir à influencer les marques à produire des vêtements responsables et éthiques. Parvenir à montrer l’impact des actions sur la consommation de biens de mode et mesurer cet impact sur l’environnement.",
          "mailId": "18c8903272883d35"
        }
      }
    ],
    "mission1": [
      {
        "json": {
          "mission": "ENTREPRISE : DurableFashion\nCONTEXTE DE L’ENTREPRISE: DurableFashion est spécialisée dans la MODE DURABLE ET ÉTHIQUE.\nActivités de l’entreprise : \nIdentifier et certifier des fabricants d’articles de mode durable et éthique, \nFaire la promotion des articles des fabricants certifiés en soulignant l’aspect durable et éthique,\nCommercialiser les articles des fabricants certifiés via internet et ses boutiques. \nOBJECTIF DE L’ENTREPRISE : L’entreprise désire augmenter la part de mode durable et éthique dans la mode. \nPRINCIPAL OBJECTIF DE RECHERCHE : Le programme de recherche de DurableFashion est de développer ses capacités à influencer la consommation, et la production, d’articles de mode responsable et éthique. \nLes THÉMATIQUES de recherche sont : \nCapacité à influencer les consommateurs à réaliser des achats d’articles de mode responsable et éthique. \nCapacité à influencer les marques à produire des articles de mode responsable et éthique.\nCapacité à mesurer et diffuser l’impact des actions en faveur de la mode durable et éthique sur la consommation et la production.\nPÉRIMÈTRE DES RECHERCHES DE L’ENTREPRISE :\nL’entreprise souhaite focaliser ses travaux de recherche en priorité sur la création de capacités d’influence des consommateurs et des producteurs.\nL’entreprise NE souhaite PAS directement intervenir ni dans l’organisation des supply chain, ni sur les problématiques d’organisation de la production industrielle, ni dans les procédés de conception et de fabrication des textiles."
        }
      }
    ],
    "mission2": [
      {
        "json": {
          "mission": "L'entreprise KANOPEE est spécialisée dans la création de services et solutions innovantes pour le monde de la construction et de l'immobilier. \nActivité : Kanopée pilote la création de startups dans son secteur. Elle réunit régulièrement un grand nombre de décideurs du domaine, pour les faire travailler ensemble à résoudre des problèmes transversaux à la filière. Quand une solution possible est imaginée, Kanopée trouve des porteurs de projet, des premiers clients et des financements pour lancer une startup, et le produit ainsi développé contribue à faire avancer les acteurs du domaine et l'avancement général de l’innovation dans domaine.\nL'objectif de Kanopee est d'accélérer la vitesse d’évolution de la construction et l'immobilier par l’innovation.\nL’objectif de recherche de l’entreprise est de réussir à mieux comprendre et actionner les mécanismes d’émergence, de développement et d’adoption des solutions innovantes.\n\nLes thématiques de recherche sont : \nLa capacité de mobilisation des acteurs pour l’amélioration de la situation actuelle\nLa capacité de conviction des dirigeants pour accélérer l’adoption des innovations existantes et futures\nLa capacité à améliorer les taux de réussite des Innovations dans le secteur par la mutualisation et le partage des expériences sur le sujet \nLa société dispose de plusieurs atouts :\nL'accès à un réseaux important de dirigeants\nLa connaissance détaillée d'un grand nombre de projets de startup dans le secteurs depuis la naissance de ces projets\nUne forte reconnaissance de son expertise en approches coopératives.\nL'influence suffisante pour proposer des démarches communes et fédératives\nLa grande expérience entrepreneuriale de ses 2 fondateurs"
        }
      }
    ],
    "mission3": [
      {
        "json": {
          "mission": "RDLand est une entreprise spécialisée dans la conception de programmes de R&D et le financement de la R&D.\nLe but de l’entreprise est de maximiser les chances de succès de recherches à fort potentiel d’impact, quel que soit le domaine.\nPour celà, l’entreprise accompagne les entreprises dans l’élaboration de leurs programmes de recherche, la définition des grandes thématiques et objectifs, la formalisation de ces programmes et l’obtention de financements permettant de les réaliser.\nL’objectif de recherche de l’entreprise est de réussir à mieux comprendre et actionner les mécanismes de détection, financement et réalisation des recherches à plus fort potentiel d’impact.\n\nLes thématiques de recherche sont : \nLes capacités à maximiser la détection d’opportunités de recherche à fort potentiel d’impact.\nLes capacités de construction des programmes de recherches collaboratifs pour maximiser leur potentiel de succès.\nLes capacités d’optimisation d’obtention de financements publics et privés pour maximiser les taux de concrétisation des recherches.\n\nL’entreprise dispose d’une grande expérience dans son métier, d’un important réseau dans le domaine de la R&D et des financements publics et privés, et d’une importante base de données sur les différents dispositifs de financement."
        }
      }
    ],
    "mission4": [
      {
        "json": {
          "titre": "Programme R&D Boiron",
          "thread": "Accomplis la mission. Continue à partir de l'étape à réaliser.",
          "mission": "# Résumé Exécutif pour Boiron\r\n\r\n## Boiron : Un Tournant Stratégique vers le Cannabis Thérapeutique\r\nBoiron, leader mondial dans la fabrication de produits homéopathiques, réoriente sa stratégie vers la recherche et le développement dans le domaine du cannabis thérapeutique. Cette évolution stratégique s'appuie sur un siècle d'expertise dans la production de médicaments homéopathiques de haute qualité.\r\n\r\n### Vision et Mission :\r\n- Boiron s'engage à maximiser l'impact positif de ses innovations dans le domaine de la santé et du bien-être.\r\n- La société vise à harmoniser l'utilisation de l'homéopathie avec les avancées modernes dans le domaine du cannabis thérapeutique, ouvrant la voie à de nouvelles solutions de santé.\r\n\r\n### Principes Fondateurs :\r\n- Boiron croit fermement à l'intégration de méthodes de traitement naturelles et modernes pour améliorer la qualité de vie.\r\n- La société envisage un avenir où l'homéopathie et le cannabis thérapeutique coexistent, offrant une approche globale du bien-être.\r\n\r\n### Objectifs de Recherche :\r\n- Explorer les propriétés médicinales du cannabis et leur intégration dans des produits de santé innovants.\r\n- Concentrer les efforts de R&D sur le développement de produits combinant les principes de l'homéopathie et les avantages du cannabis.\r\n\r\n### Axes de Recherche :\r\n1. Développement de produits à base de cannabis pour des applications thérapeutiques, en alignement avec les normes homéopathiques.\r\n2. Étude approfondie des interactions entre l'homéopathie et le cannabis pour créer des solutions de santé holistiques.\r\n\r\n### Atouts de Boiron :\r\n- Une expérience centenaire dans la fabrication de produits homéopathiques de haute qualité.\r\n- Une présence forte sur le marché international, avec des opérations dans 59 pays.\r\n- Une équipe dédiée et à la pointe de l'innovation dans le domaine de la santé naturelle.\r\n\r\n### Réorientation Stratégique :\r\n- Réallouer une partie substantielle de l'effectif de Boiron pour se concentrer sur la recherche et le développement du cannabis thérapeutique.\r\n- Adapter les infrastructures existantes aux nouvelles exigences et opportunités offertes par le secteur du cannabis thérapeutique.\r\n\r\n### Engagement pour l'Avenir :\r\n- Boiron reste engagé dans sa mission de fournir des solutions de santé innovantes et responsables.\r\n- La société continue de promouvoir une vision holistique de la santé, qui guérit sans nuire, en intégrant les dernières avancées en matière de cannabis thérapeutique.\r\n"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        14
      ]
    },
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1704883908,
      "possibleDuplicates": [
        "18cf2ffee0ae2b27"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-10T10:54:30.000Z",
  "versionId": "2694354b-050c-4a28-b4be-7bb244f45723"
}