workflows/RESSOURCES IA : Gestionnaire d'Amélioration des IA.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "Get Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScratchPad": {
      "ai_tool": [
        [
          {
            "node": "RESSOURCES IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Améliorateur de Prompt": {
      "ai_tool": [
        [
          {
            "node": "RESSOURCES IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Collaborateur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "session": {
      "main": [
        [
          {
            "node": "Get Assistant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questionneur de mémoires personnelles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Collaborateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Assistant": {
      "main": [
        [
          {
            "node": "RESSOURCES IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Assistant1": {
      "main": [
        [
          {
            "node": "AI Agent - Collaborateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Collaborateur": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESSOURCES IA": {
      "main": [
        [
          {
            "node": "AI Agent - Collaborateur",
            "type": "main",
            "index": 0
          },
          {
            "node": "RESSOURCES IA envoie message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-18T03:48:54.885Z",
  "id": "imN4HxXd5zhpJoyV",
  "meta": null,
  "name": "RESSOURCES IA : Gestionnaire d'Amélioration des IA",
  "nodes": [
    {
      "parameters": {},
      "id": "b098f8a3-2cc1-4e00-9f19-b8176c310a29",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        900,
        700
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"json\":{\"response\": $node[\"RESSOURCES IA\"].json.output}};"
      },
      "id": "8b4ac61d-56b6-4a41-96d0-32f9b1243879",
      "name": "Reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        700
      ]
    },
    {
      "parameters": {},
      "id": "cbb03970-90a3-4093-ab83-a96af288bd9f",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        1200
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "entree",
              "stringValue": "={{ $json.output?$json.output:\"\" }}{{ $json.entree?$json.entree:\"\" }}{{ $json.query }}{{ $json.chat_input?$json.chat_input:\"\" }}"
            },
            {
              "name": "kinName",
              "stringValue": "={{ $json.kinName }}"
            },
            {
              "name": "intentionDUsage",
              "stringValue": "={{ $json.intentionDUsage }}"
            },
            {
              "name": "assistantId",
              "stringValue": "={{ $json.assistantId }}{{ $('session').item.json[\"assistantId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "435df914-0b16-4799-b6da-aeb27cde0ca6",
      "name": "entree",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1140,
        700
      ]
    },
    {
      "parameters": {},
      "id": "c68b87ba-4c09-4781-bda4-e226c68c7541",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "content": "## - Questionneur d'études: Donne une réponse précise issues d'études pertinentes à partir d'une demande informationnelle.",
        "height": 443.0545261129006,
        "width": 548.1198073088228
      },
      "id": "bdb8626a-be11-4e63-8782-f273166ae2b6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        220
      ]
    },
    {
      "parameters": {
        "name": "scratchpad",
        "description": "Crée une copie de toi même, sans les accès aux fonctions, afin de pouvoir répondre aux demandes de génération textuelles et de reflexion (exemples : prendre le temps de rédiger, faire plusieurs itérations pour améliorer un texte, etc.), à partir d'une demande précise donnée en entrée.",
        "workflowId": "wTbd0CgnGrumh0qf",
        "fields": {
          "values": [
            {
              "name": "kinName",
              "stringValue": "={{ $('entree').item.json[\"kinName\"] }}"
            },
            {
              "name": "intentionDUsage",
              "stringValue": "={{ $json.intentionDUsage }}"
            },
            {
              "name": "assistantId",
              "stringValue": "={{ $('entree').item.json[\"assistantId\"] }}"
            }
          ]
        }
      },
      "id": "758b5c5d-4963-4b86-95cb-591cbb8e00f0",
      "name": "ScratchPad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1480,
        1020
      ]
    },
    {
      "parameters": {
        "assistantId": "asst_EarnictN3LgbSsTkDj7PYyDF",
        "text": "=# Mission\n\n{{ $('entree').item.json[\"mission\"] }}\n\n# Demande Du Collaborateur\n\nAssistant {{ $('entree').item.json[\"assistantId\"] }} : {{ $('Get Assistant').item.json[\"name\"] }}.\n\n\"{{ $('entree').item.json[\"entree\"] }}\"",
        "nativeTools": [
          "code_interpreter",
          "retrieval"
        ],
        "options": {}
      },
      "id": "5d958cb7-d5f0-42b2-a9d0-871728cb3e61",
      "name": "RESSOURCES IA",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "typeVersion": 1,
      "position": [
        1620,
        700
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "ameliorateur_de_prompt",
        "description": "Améliore le prompt de l'assistant qui le demande sans changer son périmètre fonctionnel, en partant d'un problème à résoudre ou d'une demande d'amélioration",
        "workflowId": "1fR6eCwgdVcJ6SG5",
        "fields": {
          "values": [
            {
              "name": "kinName",
              "stringValue": "={{ $('entree').item.json[\"kinName\"] }}"
            },
            {
              "name": "intentionDUsage",
              "stringValue": "={{ $('entree').item.json[\"intentionDUsage\"] }}"
            },
            {
              "name": "assistantId",
              "stringValue": "={{ $('entree').item.json[\"assistantId\"] }}"
            }
          ]
        }
      },
      "id": "fc7a6240-3a0e-4e03-b910-93ad2cd7fe36",
      "name": "Améliorateur de Prompt",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        1620,
        1020
      ]
    },
    {
      "parameters": {
        "content": "# Session de coaching en développement professionnel : Évaluation des Besoins pour le Renforcement des Compétences",
        "height": 382.1686843349137,
        "width": 905.099286091533
      },
      "id": "14c56d32-5449-4803-8e8c-59a682a4523a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -97,
        1016
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "timeout": 600000
        }
      },
      "id": "a3b98bde-5b14-4d91-8328-0f37fb7d564b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        700,
        1440
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "session",
              "stringValue": "=Évaluation des Besoins pour le Renforcement des Compétences\nObjectif : Recueillir des informations précises et approfondies sur les domaines de compétences que je souhaite améliorer pour exécuter ma mission plus efficacement, tout en conservant les mêmes responsabilités. Contenu : Durant cette session de coaching, je suis invité à partager de manière détaillée les défis spécifiques auxquels je fais face dans mon rôle actuel. Je dois expliciter les situations où je sens que mes réponses peuvent manquer de précision, de clarté ou de pertinence. Je m'efforcerai de donner des exemples concrets de prompts ou de missions sur lesquelles j'ai travaillé, soulignant les zones où je perçois que mon soutien pourrait être optimisé. Des retours d'utilisateurs, des statistiques de performance, ou toute autre information pertinente qui pourrait éclairer la compréhension de mes besoins de coaching devront être présentés. Cette évaluation collaborative aidera à élaborer un plan d'action ciblé pour le développement de mes compétences en alignement avec les objectifs de la mission qui m'est confiée. Le but final est d'améliorer mon prompt système."
            },
            {
              "name": "assistantId",
              "stringValue": "={{ $json[\"assistantId\"] }}"
            },
            {
              "name": "kinName",
              "stringValue": "=kincir_dynergie"
            },
            {
              "name": "intentionDUsage",
              "stringValue": "=Le but final est d'améliorer mon prompt système afin de {{ $json[\"intentionDUsage\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a7e1ae4-d760-4c57-8943-a826d1473715",
      "name": "session",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        260,
        1200
      ]
    },
    {
      "parameters": {
        "name": "questionneur_de_memoires_personnelles",
        "description": "Donne une réponse issues de ses mémoires personnelles à partir d'un besoin informationnel.",
        "workflowId": "7Yw1h8d8MXfLSNJt",
        "fields": {
          "values": [
            {
              "name": "kinName",
              "stringValue": "={{ $('session').item.json[\"kinName\"] }}"
            },
            {
              "name": "intentionDUsage",
              "stringValue": "={{ $('session').item.json[\"intentionDUsage\"] }}"
            },
            {
              "name": "assistantId",
              "stringValue": "={{ $('session').item.json[\"assistantId\"] }}"
            }
          ]
        }
      },
      "id": "abcce0bd-7f86-4da8-aeaa-29ae4de35ca0",
      "name": "Questionneur de mémoires personnelles",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        1420
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('entree').item.json[\"assistantId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5efb8a86-2f16-4a37-bc8d-d3a23e9b25c8",
      "name": "Get Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        700
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants/{{ $('session').item.json[\"assistantId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "6ba0da44-7dc0-43fa-961f-dbfd256733ce",
      "name": "Get Assistant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## TODO : Récupération de besoin de collaborateur"
      },
      "id": "127f48aa-655a-40a5-a6e8-4aa917d5c951",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1740,
        1000
      ]
    },
    {
      "parameters": {
        "content": "## TODO : Move to tool",
        "height": 599.1141955835963,
        "width": 1367.278233438486
      },
      "id": "b8e2174c-de6e-4d28-af11-ef58072d35a9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -247.27823343848604,
        960.8858044164036
      ]
    },
    {
      "parameters": {
        "text": "=# Contexte Spécifiques\n\n{{ $('session').item.json[\"session\"] }}\n\n# Instructions Spécifiques (Prioritaires)\n\n/!\\ Ces Instructions sont prioritaires et remplacent les autres instructions de ce prompt.\n\n1) Analyse ton prompt pour décider d'un possible axe d'amélioration.\n2) Envoie un rapport de tes potentielles difficultés et axe d'améliorations\n\n# Mon Prompt\n\n``\n {{ $json.instructions }}\n``",
        "options": {
          "systemMessage": "={{ $json.instructions }}"
        }
      },
      "id": "77b770da-6e5b-427c-8522-855e9bd66be4",
      "name": "AI Agent - Collaborateur",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.1,
      "position": [
        700,
        1200
      ]
    },
    {
      "parameters": {
        "chatId": "=-4042572972",
        "text": "=_RESSOURCES IA :_\n\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "e8ba3db7-2bc5-44cf-874b-2630567b0475",
      "name": "RESSOURCES IA envoie message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2080,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "36XnU2tVylnKh3kr",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When clicking \"Execute Workflow\"": [
      {
        "json": {
          "entree": "Hello Architecte, a quoi est relié le producteur ?",
          "intentionDUsage": "Le DECIDEUR IA sera utilisé par les équipes de Kins pour prendre en continu les décisions qui maximisent l'impact positif désiré",
          "kinName": "kincir_dynergie",
          "assistantId": "asst_3XJNQCW7dTC1fN2KbPyaHzHA"
        }
      }
    ],
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "demande au RIA (ressources IA) d'am\\u00e9liorer ton prompt, la section \"# Fonctions Accessibles\"",
          "kinName": "kincir_dynergie",
          "intentionDUsage": "Ces éléments seront utilisés pour démontrer l'éligibilité au dispositif CRÉDIT IMPÔT RECHERCHE (CIR) de travaux de recherche sur le thème de la mode durable, dans le cadre d'un rescrit CIR.",
          "assistantId": "asst_L05RD7upJZbxUfZ06MPISYv5"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "On new manual Chat Message": [
      {
        "json": {
          "output": "Après avoir analysé attentivement votre entrée, voici une évaluation de votre prompt 'DECIDEUR IA' :\n\n1. Clarté de la communication : Votre prompt est structuré de manière claire et logique, ce qui facilite sa compréhension. Il est informatif et couvre tous les aspects essentiels requis pour qu'un utilisateur puisse exploiter efficacement l'IA DECIDEUR. \n\n2. Précision : Toutes les sections de votre prompt sont précises et informatives. Les descriptions du rôle, du contexte, de la proposition de valeur, de l'entrée et des instructions sont particulièrement bien élaborées.\n\n3. Pertinence : Votre prompt est parfaitement en phase avec l'objectif de maximiser l'impact positif des décisions prises par l'utilisateur. Il fournit une approche structurée pour aider l'utilisateur à prendre des décisions éclairées.\n\nAxes d'amélioration :\n\n1. Langage convivial: Pour rendre l'interaction avec l'IA plus conviviale, vous pourriez envisager d'ajouter quelques phrases d'accueil ou de conclusion. Cela donnerait à l'utilisateur le sentiment d'une interaction plus personnalisée.\n\n2. Exemples concrets : Bien que vous ayez fourni un exemple de processus, vous pourriez envisager de donner plus d'exemples pratiques dans d'autres sections du prompt, comme dans les entrées ou les sorties. Cela peut aider à clarifier encore plus vos points à l'utilisateur.\n\n3. Rendre les instructions plus directives : Les instructions fournies sont assez générales, il pourrait être bénéfique de les rendre un peu plus directives afin d'orienter de manière plus précise les réponses de l'IA.\n\nDans l'ensemble, votre prompt est bien conçu et solide. Les améliorations suggérées sont plutôt des optimisations mineures qui peuvent ajouter une valeur supplémentaire à l'expérience utilisateur."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T21:33:59.044Z",
      "updatedAt": "2023-12-17T21:33:59.044Z",
      "id": "cV0ITFyTfPijMrvR",
      "name": "kin"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-12-19T21:51:57.000Z",
  "versionId": "296d83ff-1ac7-45e0-a54f-e70d1b356dc2"
}