workflows/Send Notifications.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "entree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escape Markdown Prompt Producteur": {
      "main": [
        [
          {
            "node": "Send Prompt Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Prompt Producteur": {
      "main": [
        [
          {
            "node": "Escape Markdown Ouput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escape Markdown Ouput": {
      "main": [
        [
          {
            "node": "Send Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Output": {
      "main": [
        [
          {
            "node": "Escape Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escape Markdown1": {
      "main": [
        [
          {
            "node": "Send Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entree": {
      "main": [
        [
          {
            "node": "Escape Markdown Prompt Producteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instructions": {
      "main": [
        [
          {
            "node": "chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chunks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-27T13:03:44.164Z",
  "id": "EYWde6gUS9Qq2ok7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send Notifications",
  "nodes": [
    {
      "parameters": {},
      "id": "fa64a015-6ba6-4159-8ff3-e52c0a382b33",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function escapeMarkdownV2(text) {\n    return text.replace(/[_*\\[\\]()~`>#\\+=\\-{}\\.!|]/g, match => '\\\\' + match)\n               .replace(/(\\n```)([a-z]*\\n[\\s\\S]+?\\n```)/g, (match, p1, p2) => p1.replace('\\n', '') + p2);\n}\n\nlet json = $node[\"Execute Workflow Trigger\"].json;\n\nlet text = json.promptProducteur;\nif (text.length > 3900) {\n  text = \"[...]\" + text.substring(text.length - 3900); \n}\ntext = \"Execution #\" + $execution.id + \" : Prompt de \" +json.kin + \" (Producteur) : \" + json.mailSubject + \"\\n\\n\" + text;\ntext = escapeMarkdownV2(text);\n\nreturn {\"json\":{\"text\":text}};"
      },
      "id": "5ebb2fe2-cbe0-425a-a203-1ca434ba5dcb",
      "name": "Escape Markdown Prompt Producteur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        480
      ],
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "-1002105587743",
        "text": "=*{{ $json.text }}*",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "62a90753-6dad-4f79-a93d-4f4622de32e5",
      "name": "Send Prompt Producteur",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -40,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "lCt7ijUIUZl2RYIR",
          "name": "KinCIR Dynergie"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function escapeMarkdownV2(text) {\n    return text.replace(/[_*\\[\\]()~`>#\\+=\\-{}\\.!|]/g, match => '\\\\' + match)\n               .replace(/(\\n```)([a-z]*\\n[\\s\\S]+?\\n```)/g, (match, p1, p2) => p1.replace('\\n', '') + p2);\n}\n\nlet json = $node[\"Execute Workflow Trigger\"].json;\n\nlet text = json.output;\nif (text.length > 3900) {\n  text = \"[...]\" + text.substring(text.length - 3900); \n}\ntext = \"Execution #\" + $execution.id + \" : Output de \" + json.kin + \" (Producteur) : \" + json.mailSubject + \"\\n\\n\" + text;\ntext = escapeMarkdownV2(text);\n\nreturn {\"json\":{\"text\":text}};"
      },
      "id": "9994bd61-7c76-4adc-b735-ec7f426bef7d",
      "name": "Escape Markdown Ouput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "-1002105587743",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "00ff0a66-9b7b-4a0f-b754-de55773d301d",
      "name": "Send Output",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        380,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "lCt7ijUIUZl2RYIR",
          "name": "KinCIR Dynergie"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function escapeMarkdownV2(text) {\n    return text.replace(/[_*\\[\\]()~`>#\\+=\\-{}\\.!|]/g, match => '\\\\' + match)\n               .replace(/(\\n```)([a-z]*\\n[\\s\\S]+?\\n```)/g, (match, p1, p2) => p1.replace('\\n', '') + p2);\n}\n\nlet json = $node[\"Execute Workflow Trigger\"].json;\n\nlet text = json.instructions;\nif (text.length > 3900) {\n  text = \"[...]\" + text.substring(text.length - 3900); \n}\ntext = \"Nouvelles Instructions de \" +json.kin + \" (Manager) : \" + json.mailSubject + \"\\n\\n\" + text;\ntext = escapeMarkdownV2(text);\n\nreturn {\"json\":{\"text\":text}};"
      },
      "id": "764524a5-08e4-4df8-b4eb-974591df2a28",
      "name": "Escape Markdown1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "-1002105587743",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "e4758c47-45ed-4fb6-8468-b14ba38b8aad",
      "name": "Send Instructions",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        780,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "lCt7ijUIUZl2RYIR",
          "name": "KinCIR Dynergie"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let json = $node[\"Execute Workflow Trigger\"].json;\n\nreturn {\"json\": json};"
      },
      "id": "3518adda-1f63-4ad1-9310-7cda4fdb3931",
      "name": "entree",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        480
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "id": "d09125b8-700f-4252-888f-ef167d4f5e7a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "924863d9-1179-406d-bcad-a93118db178d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1640,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let discordMessage = \"Execution #\" + $execution.id + \" : Output de \" + $node[\"entree\"].json.kin + \" (Producteur) : \" + $node[\"entree\"].json.mailSubject + \"\\n\\n\" + $node[\"entree\"].json.output + \"\\n\\n---\\n\\n\" + \"Nouvelles Instructions de \" + $node[\"entree\"].json.kin + \" (Manager) : \" + $node[\"entree\"].json.mailSubject + \"\\n\\n\" + $node[\"entree\"].json.instructions;\n\nlet chunks = [];\n\n// Taille maximale de chaque morceau\nconst chunkSize = 1990;\n\nfor (let i = 0; i < discordMessage.length; i += chunkSize) {\n    // Découper le message en sous-chaînes de 1990 caractères\n    const chunk = discordMessage.substring(i, i + chunkSize);\n    chunks.push(chunk);\n}\n\nreturn {\"json\": {\"chunks\": chunks}};"
      },
      "id": "e3bb4de1-4733-4534-89aa-a9bf0fd55e65",
      "name": "chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        480
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.chunks }}",
        "options": {
          "username": "={{ $item(0).node[\"entree\"].json.kin }}"
        }
      },
      "id": "67637a84-536b-4ce9-a68b-16db66b63581",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1420,
        480
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "gTy4b53yavn87fHw",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "client": "dynergie",
          "date": "2024-01-29T17:46:02.014+01:00",
          "dernierProducteur": "kinrsi",
          "format": "pdf",
          "kin": "kinmail",
          "mailId": "18d560569a4dda62",
          "mission": "[PROCESSUS - Mission : Rédaction & Envoi D'Email]\n\nTa mission est de rédiger et d'envoyer le mail approprié au client à partir des informations dont tu disposes.\n\n[/PROCESSUS - Mission : Rédaction & Envoi D'Email]\n\n---\n\n[INFORMATIF - Date]\n\n2024-01-29T17:46:02.014+01:00\n\n[/INFORMATIF - Date]\n\n---\n\n[INFORMATIF - Client]\n\ndynergie\n\n[/INFORMATIF - Client]\n\n\n---\n\n[INFORMATIF - Mission]\n\nKinRSI[PROCESSUS - Nouvelle Mission KinRSI : Création du Prompt pour Kinfacturation]\n\nLe but est de conceptualiser et développer le prompt pour un nouveau Kin dénommé \"kinfacturation\". Ce Kin devra être capable d'accéder aux informations de facturation des clients et de répondre à des questions spécifiques à cette thématique. Il est essentiel de garantir que le nouveau Kin peut traiter et présenter les informations de manière sécurisée, précise et accessible. La création de ce nouveau prompt doit prendre en compte les meilleures pratiques en termes de confidentialité des données et d'expérience utilisateur.\n\n**Objectifs:**\n- Développer le prompt pour le \"kinfacturation\" en s'appuyant sur les spécifications fournies et les besoins identifiés.\n- Assurer que le Kinfacturation peut interagir efficacement avec les données de facturation et répondre aux questions des Kins ou des clients concernant ces données.\n- Mettre en place des mécanismes de sécurité et de confidentialité pour la manipulation des données de facturation.\n\n**Résultats attendus:**\n- Un prompt fonctionnel pour le \"kinfacturation\" qui peut être intégré au sein de notre écosystème de Kins.\n- Documentation sur l'utilisation et les limites du \"kinfacturation\".\n\n[/PROCESSUS - Nouvelle Mission KinRSI : Création du Prompt pour Kinfacturation]\n\n[/INFORMATIF - Mission]\n\n\n---\n\n[INFORMATIF - Dernier Kin Producteur ]\n\nkinrsi\n\n[/INFORMATIF - Dernier Kin Producteur ]\n\n\n---\n\n[INFORMATIF - Dernière production du Kin Producteur]\n\n[ACTION OUVERTE - Amélioration suivant l'évaluation etc.]\n\nSuite à l'instruction reçue pour intégrer les améliorations identifiées lors de l'évaluation du prompt pour Kinfacturation, j'ai procédé comme suit :\n\n1. **Amélioration de la Clarté du Langage** : \n   - L'examen détaillé du langage a permis d'éliminer le jargon technique inutile. Les termes plus accessibles ont été adoptés pour faciliter la compréhension, et chaque terme technique a été expliqué en langage clair pour une meilleure accessibilité.\n   - **Modification :** par exemple, la terminologie \"protocoles de sécurité\" a été modifiée en \"mesures de protection des données\", et une courte explication de ce que cela implique pour l'utilisateur a été ajoutée à côté.\n\n2. **Précision des Instructions** : \n   - Les instructions ont été affinées pour éliminer l'ambiguïté et faciliter la compréhension. Les étapes ont été clairement définies avec des actions numérotées pour guider l'utilisateur à travers le processus de demande.\n   - **Modification :** dans l'ACTION 3, les étapes ont été restructurées pour être plus directes et explicites, en utilisant des listes numérotées pour une meilleure clarté.\n\n3. **Flux de Processus Simplifié** :\n   - L'effort de consolidation des étapes redondantes a permis de simplifier le flux de processus, rendant l'interaction plus fluide pour l'utilisateur.\n   - **Modification :** la vérification des droits d'accès s'effectue désormais dans une étape unique au début du processus, réduisant ainsi la répétition et optimisant l'efficacité.\n\n4. **Verifications des Droits d'Accès** :\n   - Les instructions concernant la vérification des droits d'accès ont été étoffées pour inclure des exemples concrets, rendant la procédure plus transparente et accessible.\n   - **Modification :** un guide étape par étape avec des exemples de messages d'erreur et la marche à suivre a été ajouté pour aider l'utilisateur en cas de problème d'accès.\n\n5. **Intégration d’Exemples Concrets** :\n   - Des exemples de scénarios d'utilisation ont été intégrés pour illustrer l'application pratique des instructions, aidant à conceptualiser le processus pour l'utilisateur.\n   - **Modification :** dans l'ACTION 3, un exemple détaillant la demande d'un rapport spécifique de transactions pour une période donnée a été ajouté pour montrer l'application concrète des étapes.\n\n**Testing Appliqué et Résultat** :\n- Les modifications apportées ont été testées à travers des simulations d'interactions utilisateur courantes. Ce test a montré une amélioration notable de l'accessibilité et de la clarté des instructions.\n- Les utilisateurs test ont signalé une meilleure compréhension des procédures et une expérience utilisateur globalement améliorée, confirmant l'efficacité des améliorations apportées.\n\nCes ajustements ont pour but de rendre le prompt du Kinfacturation plus accessible, convivial et sécurisé, offrant ainsi une meilleure expérience globale pour tous les utilisateurs devant interagir avec le système de facturation.\n\n---\n\n[ACTION n°8. Insertion du Contenu dans le Document Final.]\n\n- **Préparation** : Après avoir apporté les améliorations identifiées, j'ai préparé l'intégralité du prompt du Kinfacturation, incluant les modifications réalisées pour améliorer la clarté et la fonctionnalité.\n- **Insertion** : Le prompt complet a été placé entre deux balises [\\CONTENU - Description Finale] au début et [/CONTENU - Description Finale] à la fin.\n- **Contrôle** : Une vérification a été effectuée pour s'assurer de l'intégrité du prompt dans le document final. Seul le prompt amélioré pour Kinfacturation, incluant les recommandations issues de l'évaluation, se trouve entre les balises [\\CONTENU], confirmant son intégration complète et sans omission ni ajout externe.\n\n**Résultat Final** : L'intégration du prompt amélioré pour Kinfacturation dans le document final est maintenant terminée, prêt à être adopté dans notre écosystème pour améliorer significativement l'accès aux informations de facturation, tout en assurant sécurité, confidentialité et une meilleure expérience utilisateur.\n\n[/ACTION n°8. Insertion du Contenu dans le Document Final.]\n\n[/INFORMATIF - Dernière production du Kin Producteur]\n\n\n---\n\n[INFORMATIF - Dernier Message du KinManager]\n\n[PROCESSUS - Avancement de la mission]\n\nTODOLIST :\n- **ACTION n°1. Rédaction de la partie 'Instructions Globales' du prompt du Kin** : DONE\n- **ACTION n°2. Rédaction de la partie 'Rôle' du prompt du Kin** : DONE\n- **ACTION n°3. Rédaction de la partie 'Contexte' du prompt du Kin** : DONE\n- **ACTION n°4. Rédaction de la partie 'Proposition de Valeur' du prompt du Kin** : DONE\n- **ACTION n°5. Rédaction de la partie 'Système de Balisage des Kins' du prompt du Kin** : DONE\n- **ACTION OUVERTE : Identification du nombre d'Actions nécessaires dans le prompt du Kin** : DONE\n- **ACTION n°6.1 Rédaction de la partie 'ACTION 1' du prompt du Kin** : DONE\n- **ACTION n°6.2 Rédaction de la partie 'ACTION 2' du prompt du Kin** : DONE\n- **ACTION n°6.3 Rédaction de la partie 'ACTION 3' du prompt du Kin** : DONE\n- **ACTION n°7. Evaluation du prompt** : DONE\n- **ACTION OUVERTE : Amélioration suivant l'évaluation etc.** : DONE\n- **ACTION n°8. Insertion du Contenu dans le Document Final.** : DONE\n\n[PROCESSUS - Avancement de la mission]\n\n[RETOUR - Mission KinRSI Accomplie]\n\nKinRSI a terminé avec succès la création et l'amélioration du prompt pour Kinfacturation. Toutes les étapes de la mission ont été complétées, incluant le développement initial du prompt, l'évaluation, l'amélioration basée sur les retours, et l'insertion du contenu final dans le document prévu. Cette réussite permet à notre écosystème d'intégrer un nouvel outil précieux pour l'accès et la gestion des informations de facturation, tout en assurant la sécurité et la confidentialité des données des clients.\n\n[RETOUR - Mission KinRSI Accomplie]\n\n[/INFORMATIF - Dernier Message du KinManager]",
          "startTimestamp": "2024-01-29T17:42:57.760+01:00",
          "kinDemandeur": "KinRSI",
          "missionDuDemandeur": "KinRSI[PROCESSUS - Nouvelle Mission KinRSI : Création du Prompt pour Kinfacturation]\n\nLe but est de conceptualiser et développer le prompt pour un nouveau Kin dénommé \"kinfacturation\". Ce Kin devra être capable d'accéder aux informations de facturation des clients et de répondre à des questions spécifiques à cette thématique. Il est essentiel de garantir que le nouveau Kin peut traiter et présenter les informations de manière sécurisée, précise et accessible. La création de ce nouveau prompt doit prendre en compte les meilleures pratiques en termes de confidentialité des données et d'expérience utilisateur.\n\n**Objectifs:**\n- Développer le prompt pour le \"kinfacturation\" en s'appuyant sur les spécifications fournies et les besoins identifiés.\n- Assurer que le Kinfacturation peut interagir efficacement avec les données de facturation et répondre aux questions des Kins ou des clients concernant ces données.\n- Mettre en place des mécanismes de sécurité et de confidentialité pour la manipulation des données de facturation.\n\n**Résultats attendus:**\n- Un prompt fonctionnel pour le \"kinfacturation\" qui peut être intégré au sein de notre écosystème de Kins.\n- Documentation sur l'utilisation et les limites du \"kinfacturation\".\n\n[/PROCESSUS - Nouvelle Mission KinRSI : Création du Prompt pour Kinfacturation]",
          "instructions": "[PROCESSUS - Avancement de la mission]\n\nTODOLIST :\n- **1. Détermination de l'Intention Communicationnelle** : DONE\n- **2. Élaboration du Contenu et Ajout de la Touche Personnelle** : TODO\n- **3. Mise en Forme HTML et Envoi** : TODO\n\n[PROCESSUS - Avancement de la mission]\n\n---\n\n[INSTRUCTION - Élaboration du Contenu]\n\nKinMail, la prochaine action nécessaire est l'élaboration du contenu de l'email en fonction de l'intention communicationnelle définie précédemment. Merci de rédiger l'email destiné à dynergie en vous concentrant sur les points principaux suivants :\n\n1. Informer dynergie de la finalisation réussie de la mission concernant le développement du prompt pour kinfacturation, incluant un bref résumé des étapes réalisées et l'importance de ce nouveau Kin.\n2. Mettre en lumière la qualité du travail accompli, en particulier le respect des normes de sécurité et de confidentialité des données.\n3. Inviter le client à envisager l'intégration du kinfacturation dans leur système pour améliorer l'accès et le traitement des informations de facturation.\n\nAssurez-vous de présenter le contenu de manière claire, engageante et professionnelle, reflétant la valeur ajoutée apportée par l'introduction du kinfacturation.\n\n[/INSTRUCTION - Élaboration du Contenu]"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Nico reçoit un email": {
      "lastTimeChecked": 1706088137,
      "possibleDuplicates": [
        "18d3ac70312f4667"
      ]
    },
    "node:Seb reçoit un email": {
      "lastTimeChecked": 1706023258
    },
    "node:Kin Mail": {
      "lastTimeChecked": 1706305011,
      "possibleDuplicates": [
        "18d47b488e5cab95"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-21T09:46:57.068Z",
      "updatedAt": "2024-01-21T09:46:57.068Z",
      "id": "O7AwhYu4Pf4sOOHS",
      "name": "beta"
    },
    {
      "createdAt": "2023-12-17T10:32:35.457Z",
      "updatedAt": "2023-12-17T10:32:35.457Z",
      "id": "y4SS6pvxfLMwCsGn",
      "name": "service"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-29T16:51:13.000Z",
  "versionId": "0e1dea91-7669-4f7b-9781-9dd69f2a7949"
}