workflows/Service 1 - Insereur d'études dans Pinecone.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Lister les Etudes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer le PDF1": {
      "main": [
        [
          {
            "node": "Read PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extracteur de citation détaillée",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF2": {
      "main": [
        [
          {
            "node": "Extracteur de citation détaillée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Découper en chunks": {
      "main": [
        [
          {
            "node": "Document Inserter Dynergie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Document Inserter Dynergie1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Document Inserter Dynergie1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Lister les Etudes1": {
      "main": [
        [
          {
            "node": "IF PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF PDF": {
      "main": [
        [
          {
            "node": "Récupérer le PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Impact Model": {
      "main": [
        [
          {
            "node": "Read PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracteur de citation détaillée": {
      "main": [
        [
          {
            "node": "Découper en chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-16T11:22:40.713Z",
  "id": "eRT6xb82oqCbX4u2",
  "meta": null,
  "name": "Service 1 - Insereur d'études dans Pinecone",
  "nodes": [
    {
      "parameters": {},
      "id": "ab7c9c5f-4b35-4269-835f-b9a3f8dd8e61",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e3845c45-2a0a-46fb-b6df-abf82165a5d3",
      "name": "Récupérer le PDF1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        920,
        1160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1E0oqQwRg93PO3_Ak_0lhcK0yyzTvKqL9",
            "mode": "list",
            "cachedResultName": "etudes",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1E0oqQwRg93PO3_Ak_0lhcK0yyzTvKqL9"
          }
        },
        "options": {}
      },
      "id": "55f49d43-1c21-4ce9-b3c2-8166c616cc48",
      "name": "Lister les Etudes1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        520,
        1160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4-1106-preview",
        "options": {}
      },
      "id": "579b2379-6864-4564-a61c-b9974e3e30ba",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1320,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function decouperEnSegments(texte) {\n    const TAILLE_SEGMENT = 1000;\n    let segments = [];\n    let data = \"\"\n\n    for (let i = 0; i < texte.length; i += TAILLE_SEGMENT) {\n        let segment = \"# Metadata\\n\\n\" + $json.text + \"# Texte extrait de l'étude\\n\\n\"\n        segment += texte.substring(i, i + TAILLE_SEGMENT);\n        segments.push(segment);\n    }\n\n    return segments;\n}\n\nlet texteLong = $node[\"Read PDF2\"].json.text;\nlet tableauSegments = decouperEnSegments(texteLong);\n\n\n\nreturn {\"json\":{\"chunks\":tableauSegments}};\n"
      },
      "id": "d74f5836-43a8-424c-9c0d-2f9affc9cb21",
      "name": "Découper en chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "33845d9d-b00c-4554-a003-7a734f8a79e0",
      "name": "Read PDF2",
      "type": "n8n-nodes-base.readPDF",
      "typeVersion": 1,
      "position": [
        1120,
        1160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "41fcaa66-b52a-4aeb-9466-198f2b015a33",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1900,
        1380
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "etude"
              }
            ]
          }
        }
      },
      "id": "013de322-444a-4767-ad33-0c544a294dbd",
      "name": "Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1980,
        1520
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 250
      },
      "id": "d02e06ab-d188-45ab-a2f1-022580d87cb5",
      "name": "Recursive Character Text Splitter2",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1980,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name.toLowerCase() }}",
              "operation": "endsWith",
              "value2": "=.pdf"
            }
          ]
        }
      },
      "id": "3a6dc348-4c0f-4927-ac24-18a01e4b341c",
      "name": "IF PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Gkm6QPinh6vijh38R_vgMOly_kF3lrfb",
          "mode": "list",
          "cachedResultName": "Design by Impact - a convergent approach to innovation conception.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Gkm6QPinh6vijh38R_vgMOly_kF3lrfb/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "c8197196-f44b-4300-ac0c-6760a5c99315",
      "name": "Get Impact Model",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        1500
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z5nSsC9JGaYw1Ng3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=# Informations\n\n{{ $json[\"text\"].substring(0,5000); }}\n[...]",
        "messages": {
          "messageValues": [
            {
              "message": "=# Tâche\n\nA partir des informations données, fais de ton mieux pour donner la citation détaillée de l'étude.\n\nRéponds uniquement avec la citation détaillée."
            }
          ]
        }
      },
      "id": "9ea1dfaa-04fd-47ac-86ca-e4744a07a533",
      "name": "Extracteur de citation détaillée",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.2,
      "position": [
        1300,
        1160
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "kins",
          "mode": "list",
          "cachedResultName": "kins"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "=etudes"
        }
      },
      "id": "62d91b73-6bdd-43f8-8559-12caac9f699f",
      "name": "Document Inserter Dynergie1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1900,
        1160
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-17T10:32:35.457Z",
      "updatedAt": "2023-12-17T10:32:35.457Z",
      "id": "y4SS6pvxfLMwCsGn",
      "name": "service"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-12-19T22:04:44.000Z",
  "versionId": "e3f2de07-3ced-420f-80c9-d15c558b00d4"
}