workflows/Service 2 - Synchroniser GitHub -> Pinecone.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Assisstants": {
      "main": [
        [
          {
            "node": "Foreach Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt File": {
      "main": [
        [
          {
            "node": "Convert to/from binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Exists": {
      "main": [
        [
          {
            "node": "IF Different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Prompt File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foreach Assistant": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Synchronisation Globale",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Document Loader1": {
      "ai_document": [
        [
          {
            "node": "Synchronisation Globale",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "GitHub Document Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data": {
      "main": [
        [
          {
            "node": "IF Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Different": {
      "main": [
        [
          {
            "node": "Update Prompt File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Prompt File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Return message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "Get Assisstants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Synchronisation Globale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prompt File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Prompt File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synchronisation Globale": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-17T16:05:00.294Z",
  "id": "d6khXiG3YxUunViW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Service 2 - Synchroniser GitHub -> Pinecone",
  "nodes": [
    {
      "parameters": {},
      "id": "36d325a6-0643-4a2a-b077-edc04e45642e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        3060,
        2760
      ]
    },
    {
      "parameters": {},
      "id": "d3319e45-b948-4e08-b70a-cc567cc3440a",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3060,
        2960
      ]
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/assistants",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "f8b0d281-2916-42f7-ab73-f332b8182d04",
      "name": "Get Assisstants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        2760
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kinCIR",
          "mode": "list",
          "cachedResultName": "kinCIR",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kinCIR"
        },
        "filePath": "=prompts/{{ $node[\"Foreach Assistant\"].json.data.name.replace(/[\\s\\W]+/g, '_').toLowerCase() }}.md",
        "additionalParameters": {}
      },
      "id": "e83c6f8a-00d7-42a0-8d97-6501250d2ee0",
      "name": "Get Prompt File",
      "type": "n8n-nodes-base.github",
      "position": [
        4240,
        2400
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ typeof $json.documentContent === \"undefined\" }}"
            }
          ]
        }
      },
      "id": "7098eb2d-84de-461f-a3e6-a65653a36f35",
      "name": "IF Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4660,
        2400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "df74a044-c7a7-40db-bca0-c22a0f763483",
      "name": "Foreach Assistant",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3740,
        2760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b9174e8a-3cad-400d-a760-fca8a27498d0",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        5720,
        2600
      ],
      "credentials": {
        "openAiApi": {
          "id": "WY3bm7GCb9qfewyS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "repository": "https://github.com/DigitalKin-ai/kinCIR",
        "additionalOptions": {
          "recursive": true
        }
      },
      "id": "a07c3fb4-9e31-43b4-9657-ac50589bb4b2",
      "name": "GitHub Document Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentGithubLoader",
      "typeVersion": 1,
      "position": [
        5740,
        2760
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 8000,
        "chunkOverlap": 800
      },
      "id": "fa13b4d3-31ce-4131-8549-255f24809fd3",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5880,
        2940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Foreach Assistant\"].json.data.instructions }}",
              "operation": "notEqual",
              "value2": "{{ $json.data.instructions }}"
            }
          ]
        }
      },
      "id": "0e2e8c25-5cbf-46aa-8839-01b408369c9a",
      "name": "IF Different",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4820,
        2340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "documentContent",
        "options": {}
      },
      "id": "2af8fd73-cd62-4ae2-a075-551a77bea917",
      "name": "Convert to/from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        4460,
        2400
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "8ff9f68d-fd61-44e1-b20f-176949e75c0c",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6140,
        2380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "017890a5-3123-43ea-9b19-c79031ed9c69",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3980,
        2400
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "fdc2a4a6-fb5d-4c73-8879-2c1e18b9de82",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        5460,
        2380
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "kin",
              "stringValue": "=kincir_dynergie"
            },
            {
              "name": "demandeur",
              "stringValue": "={{ $json.demandeur }}"
            },
            {
              "name": "demandeurId",
              "stringValue": "={{ $json.demandeurId }}"
            },
            {
              "name": "producteurId",
              "stringValue": "={{ $json.producteurId }}"
            },
            {
              "name": "contexte",
              "stringValue": "={{ $json.contexte }}"
            },
            {
              "name": "intentionDUsage",
              "stringValue": "={{ $json.intentionDUsage }}"
            },
            {
              "name": "demande",
              "stringValue": "={{ $json.demande }}"
            },
            {
              "name": "message",
              "stringValue": "=# Contexte\n\n{{ $json.contexte }}\n\n# Intention d'Usage\n\n{{ $json.intentionDUsage }}\n\n# Demande de {{ $json.demandeur }}\n\n{{ $json.demande }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad16881c-43d4-403e-89ae-7fd37373acb4",
      "name": "message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3300,
        2760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"json\": $node[\"message\"].json};"
      },
      "id": "5655a5cf-9d53-4c6e-a852-c36a25778b18",
      "name": "Return message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6360,
        2380
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kinCIR",
          "mode": "list",
          "cachedResultName": "kinCIR",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kinCIR"
        },
        "filePath": "=prompts/{{ $node[\"Foreach Assistant\"].json.data.name.replace(/[\\s\\W]+/g, '_').toLowerCase() }}.md",
        "fileContent": "={{ $node[\"Foreach Assistant\"].json.data.instructions }}",
        "commitMessage": "=Updated prompts/{{ $node[\"Foreach Assistant\"].json.data.name.replace(/[\\s\\W]+/g, '_').toLowerCase() }}.md"
      },
      "id": "32476a17-e14d-4cb7-86f2-dd4ed9d1df78",
      "name": "Update Prompt File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        5060,
        2120
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "DigitalKin-ai",
          "mode": "list",
          "cachedResultName": "DigitalKin-ai",
          "cachedResultUrl": "https://github.com/DigitalKin-ai"
        },
        "repository": {
          "__rl": true,
          "value": "kinCIR",
          "mode": "list",
          "cachedResultName": "kinCIR",
          "cachedResultUrl": "https://github.com/DigitalKin-ai/kinCIR"
        },
        "filePath": "=prompts/{{ $node[\"Foreach Assistant\"].json.data.name.replace(/[\\s\\W]+/g, '_').toLowerCase() }}.md",
        "fileContent": "={{ $node[\"Foreach Assistant\"].json.data.instructions }}",
        "commitMessage": "=n8n"
      },
      "id": "514d3fde-9da1-4989-999f-3148ed10745c",
      "name": "Create Prompt File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        5060,
        2600
      ],
      "credentials": {
        "githubApi": {
          "id": "Q3KiSughyw3eRp87",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## potentiellement :\n\nDécouper manuellement pour avoir les metadatas\n"
      },
      "id": "22e1f9f2-820b-44d8-840e-f0a9a418ef17",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5520,
        2860
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "kins",
          "mode": "list",
          "cachedResultName": "kins"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "=code"
        }
      },
      "id": "32a42944-0df5-4dc5-a309-487cee4373a8",
      "name": "Synchronisation Globale",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        5720,
        2380
      ],
      "credentials": {
        "pineconeApi": {
          "id": "LakE1nni5DFtskNv",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking \"Execute Workflow\"": [
      {
        "json": {
          "query": "Réalise une première version du document en entier",
          "kinName": "kincir_dynergie",
          "demandeur": "KinCIR - Générateur de programme R&D",
          "demandeurId": "asst_PtFkjK3WpkPD5u6ZLc6toZ0q",
          "producteurId": "asst_RMuliVrHho2VxBhfZBG1cnTN",
          "contexte": "L’entreprise WeDressFair est spécialisée dans la mode durable et éthique. \nActivité : Elle identifie et certifie des fabricants d’articles de mode durable et éthique, fait la promotion de leurs articles soulignant l’aspect durable et éthique, et commercialise leurs articles via internet et ses boutiques.\n\nLe but de l’entreprise est d’augmenter la part de mode durable et éthique dans la mode.\nLe principal objectif de recherche est de parvenir à influencer la consommation, et la production, d’articles de mode responsable et éthique.\nLes thématiques de recherche sont :  \nParvenir à influencer les consommateurs à réaliser des achats de vêtements provenant de marques responsables et éthiques.  \nParvenir à influencer les marques à produire des vêtements responsables et éthiques.\nParvenir à montrer l’impact de nos activités sur la consommation de biens de mode et mesurer cet impact sur l’environnement.",
          "intentionDUsage": "Ces éléments seront utilisés pour démontrer l'éligibilité au dispositif CRÉDIT IMPÔT RECHERCHE (CIR) de travaux de recherche sur le thème de la mode durable, dans le cadre d'un rescrit CIR.",
          "demande": "Réalise une première version du document en entier",
          "message": "# Contexte\n\nL’entreprise WeDressFair est spécialisée dans la mode durable et éthique. \nActivité : Elle identifie et certifie des fabricants d’articles de mode durable et éthique, fait la promotion de leurs articles soulignant l’aspect durable et éthique, et commercialise leurs articles via internet et ses boutiques.\n\nLe but de l’entreprise est d’augmenter la part de mode durable et éthique dans la mode.\nLe principal objectif de recherche est de parvenir à influencer la consommation, et la production, d’articles de mode responsable et éthique.\nLes thématiques de recherche sont :  \nParvenir à influencer les consommateurs à réaliser des achats de vêtements provenant de marques responsables et éthiques.  \nParvenir à influencer les marques à produire des vêtements responsables et éthiques.\nParvenir à montrer l’impact de nos activités sur la consommation de biens de mode et mesurer cet impact sur l’environnement.\n\n# Intention d'Usage\n\nCes éléments seront utilisés pour démontrer l'éligibilité au dispositif CRÉDIT IMPÔT RECHERCHE (CIR) de travaux de recherche sur le thème de la mode durable, dans le cadre d'un rescrit CIR.\n\n# Demande de KinCIR - Générateur de programme R&D\n\n"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-21T09:40:49.894Z",
      "updatedAt": "2024-01-21T09:40:49.894Z",
      "id": "HH1XeBJSkgxMCPd3",
      "name": "legacy"
    },
    {
      "createdAt": "2023-12-17T10:32:35.457Z",
      "updatedAt": "2023-12-17T10:32:35.457Z",
      "id": "y4SS6pvxfLMwCsGn",
      "name": "service"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-21T10:04:19.000Z",
  "versionId": "a0da0582-6970-4b68-87db-b01c8f58d35d"
}